{% extends "socialaccount/signup_base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/docsupport/style.css">
  <link rel="stylesheet" href="/static/css/docsupport/prism.css">
<link rel="stylesheet" href="/static/css/chosen.min.css">

<style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop { left: -9000px; }
  </style>

<style typ="text/css">
  body { 
    background: url(http://upload.wikimedia.org/wikipedia/commons/5/5a/Milan_Vegetable_Market.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .panel-default {
  opacity: 0.95;
  margin-top:30px;
  }
  .form-group.last { margin-bottom:0px; }
.typeempty{
  display:none;
}
.error{
  color:red;
  font-size:12px;
}
</style>

    <div class="signup-container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Login</div>
                <div class="panel-body">
                    <form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}" role="form">
                      {% csrf_token %}
                      <!-- {{ form.as_p }} -->

                        <div class="form-group">
                        <label class="error">{{ form.sign_up_as.errors.as_text }}</label>
                        <label for="id_sign_up_as" class="col-sm-3 control-label">
                             Sign up as</label>
                            {{form.sign_up_as.as_hidden}}
                            <div class="col-sm-9">
                          <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                              <input type="radio" name="options" id="option1" onchange="dataradio('Individual')"> Individual
                            </label>

                            <!-- on click show the BUSIENSS TYPE field -->
                            <label class="btn btn-default">
                              <input type="radio" name="options" id="option2" onchange="dataradio('Business')"> Business
                            </label>
                            <label class="btn btn-default">
                              <input type="radio" name="options" id="option3" onchange="dataradio('Organisation')"> Organisation
                            </label>
                          </div>
                        </div>
                        </div>
                            {{form.type_user.as_hidden}}
                    <div class="form-group" id="type_user_id">
                        <label class="error">{{ form.type_user.errors.as_text }}</label>
                        <label for="id_type_user" class="col-sm-3 control-label">Type</label>
                        <div class="col-sm-9">
                        <select data-placeholder="Farm, wholesaler, restaurant, bakery..." style="width:100%;height:30px;" class="chosen-select" multiple>
                        <option value=""></option>
                          {% for each in all_tags %}
                          <optgroup label={{each.node}}>
                          {% if each.childrens %}
                          {% for eachchild in each.childrens %}
                          <option>{{eachchild.node}}</option>
                          {% endfor %}
                    {% else %}
                        <option>{{each.node}}</option>
              {% endif %}
            </optgroup>
            {% endfor %}

          </select>


                        </div>
                    </div>

                    {{form.lat.as_hidden}}
                    {{form.lng.as_hidden}}

                    <div class="form-group">
                    <label class="error">{{ form.address.errors.as_text }}</label>
                        <label for="id_address" class="col-sm-3 control-label">
                            Address</label>
                        <div class="col-sm-9">
                            {{form.address}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="find" type="hidden" value="find" />
                        <p>Please drag and drop the marker to change your location.</p>
                        <div class="map_canvas" style="width: 100%;height: 300px; margin-top:3%;"></div>
                      </div>
                    <div class="form-group">
                        <label class="error">{{ form.username.errors.as_text }}</label>
                        <label for="id_username" class="col-sm-3 control-label">
                            Username</label>
                        <div class="col-sm-9">
                            {{form.username}}
                        </div>
                    </div>
                    <div class="form-group">
                    <label class="error">{{ form.email.errors.as_text }}</label>
                        <label for="id_email" class="col-sm-3 control-label">
                            Email</label>
                        <div class="col-sm-9">
                            {{form.email}}
                        </div>
                    </div>
                               
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                                {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                          {% endif %}
                          <button type="submit" class="btn btn-success btn-sm" onclick="copydata()">
                                    {% trans "Sign Up" %} &raquo;</button>
                                     <button type="reset" class="btn btn-default btn-sm">
                                    Reset</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <small>By signing up you agree to the  <a href="/terms" target="blank">terms of use</a> and <a href="/privacy" target="blank">privacy policy</a>.</small>
                </div>
            </div>
        </div>
    </div>
</div>


    </div><!-- col10 --> 
  <script src="/static/js/chosen.jquery.min.js" type="text/javascript"></script>
  <script src="/static/css/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  // A $( document ).ready() block.
$( document ).ready(function() {
  
    $('#type_user_id').toggleClass('typeempty');
});
function dataradio(value){
    // var result_val = $("input[name=options]:checked").val();
    document.getElementById('id_sign_up_as').value = value;
    if (value == "Business"){

        if ( $('#type_user_id').hasClass('typeempty') ){
          $('#type_user_id').removeClass('typeempty');
        }
    }
    else{
        if ( $('#type_user_id').hasClass('typeempty') ){
          }
        else{
            $('#type_user_id').addClass('typeempty');
        }
    }
}
function copydata(){
var all_values = '';
var elements = document.getElementsByClassName('search-choice');
    for(i=0;i<elements.length;i++){
      if(all_values==''){
        all_values = all_values + elements[i].children[0].innerHTML;  
      }
      else{
      all_values = all_values + ',' + elements[i].children[0].innerHTML;
      }
    }
    document.getElementById('id_type_user').value = all_values;
  }
  </script>
  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
{% endblock %}
