{% extends "account/base.html" %}
{% load staticfiles %}  
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content2 %}
<div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
<h1>{% trans "Sign In" %}</h1>
{% if socialaccount.providers  %}
<p>{% blocktrans with site.name as site_name %}Please sign in with your Twitter account.{% endblocktrans %}</p>

<div id="">
  <div class="login-form" id="login">
<form class="submit_form" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
    
<div class="socialaccount_ballot">

  {% comment %}
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  {% endcomment %}

  <div id="openid-logins">
      

  <a href="{% provider_login_url "twitter" process="login" %}" id = "connect-twitter" >
<button type="button"><img src="/static/images/twitter_login2.png"></button>
  </a></div>
      
      <div class="clear">
      <p class="text-center"><strong>or</strong></p>
    </div>

  {% comment %}
  <div class="login-or">{% trans 'or' %}</div>
  {% endcomment %}
</div>

{% comment %}
{% include "socialaccount/snippets/login_extra.html" %}
{% endcomment %}

{% endif %}

      {% csrf_token %}
      <fieldset class="inlineLabels">
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="buttonHolder">
          <a class="btn-link button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
          <button class="btn btn-info btn-large" id="submit_login" type="submit" />{% trans "Sign In" %}</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

</div>
</div>
</div>

{% endblock %}

