{% extends "tbase.html" %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="col-lg-6 col-sm-6 col-lg-offset-1 col-sm-offset-1">
    <h1>{% trans "Set Password" %}</h1>    
    <form method="POST" action="" class="password_set uniForm">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ password_set_form|bootstrap }}
             <div class="buttonHolder">
                 <input type="submit" name="action" value="{% trans "Set Password" %}"/>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
