{% extends "tbase.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div  style="margin-left:2%; width:50%;">
    <h1>{% trans "Change Password" %}</h1>    
    <form method="POST" action="" class="password_change submit_form">
        {% csrf_token %}
        <fieldset class="inlineLabels">
        <form method="POST" action="" class="password_change submit_form">
            <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
            <fieldset class="inlineLabels">
                <tr>
                    <th><label for="id_oldpassword">Current Password:</label></th>
                    <td><input id="id_oldpassword" name="oldpassword" class="form-control" placeholder="Password" type="password" /></td>
                </tr>
                <tr>
                    <th><label for="id_password1">New Password:</label></th>
                    <td><input id="id_password1" name="password1" placeholder="Password" class="form-control" type="password" /></td>
                </tr>
                <tr>
                    <th><label for="id_password2">New Password (again):</label></th>
                    <td><input id="id_password2" name="password2" placeholder="Password" class="form-control" type="password" /></td>
                </tr>
                <div class = "buttonHolder">
                    <button type="submit" name="action" class="btn btn-info btn-large" style="margin-top:1%;margin-bottom:1%;">Change Password</button>
                </div>
            </fieldset>
        </form>
        </fieldset>
    </form>
</div>
{% endblock %}
