{% extends "tbase.html" %}

{% load i18n %}
{% load bootstrap %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col-lg-6 col-sm-6 col-lg-offset-1 col-sm-offset-1">    
Roshan {{messages}}
{% if request.method == 'POST' %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if forloop.last %}
                        {{ message }}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
{% endif %}

    {% if request.method == 'POST' %}
        {% if messages %}
            <ul class="messages">
                <div class="alert">{{ messages|last }}</div>
            </ul>
        {% endif %}
    {% endif %}

    <h1>{% trans "Change Password" %}</h1>    
    <form method="POST" action="" class="password_change submit_form">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ password_change_form|bootstrap }}
             <div class = "buttonHolder">
                 <button type="submit" name="action" class="btn btn-info btn-large">{% trans "Change Password" %}</button>
            </div>
        </fieldset>
    </form>
</div>
<div class="clearfix"></div>
{% endblock %}
