.menuitem {
    background: #ECE5CE;
    border-left: 2px solid #e6e7e8;
    padding: 5px 0 10px 5px;
    margin: 2px 0;
    border-radius: 2px;
}
.menuitem-description {
    font-style: italic;
    margin: 0px 23px 20px 23px;
}
.add-ingredients {
    margin-left: 18px;
    margin-top: 5px;
    color: #61AE32;
}
.box .ingredient-tree {
    margin: 0;
    padding: 0;
    list-style: none;
}
.box .ingredient-tree > li {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 2px;
    color: #444;
    position: relative;
    margin: 2px 0 0 20px;
    padding: 3px;
    font-weight: normal !important;
    list-style: none;
    clear: both;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.6);
}
.box .ingredient-tree > li:last-of-type {
    margin-bottom: 0;
}
.box .ingredient-tree li a {
    font-weight: bold;
}
.box .ingredient-tree li li a {
    font-weight: normal;
    padding-left: 3px;
}
.box .handle {
    padding: 0 10px 0 0px;
}
.box .ingredient-tree li .handle {
    padding: 0 5px;
}
.box .ingredient-tree li .handle i {
    color: rgba(0, 0, 0, 0.4);
}
.box .ingredient-tree li li .handle i {
    color: rgba(0, 0, 0, 0.2);
}
.box .ingredient-tree li p {
    margin-left: 21px;
}
.box .ingredient-tree ul {
    padding: 0;
    list-style: none;
    display: block;
    margin: 5px 0;
}
.box .ingredient-tree ul li {
    border: 2px solid #fff;
    border-right: 0;
    margin: 2px 0 0 20px;
    padding: 3px 0px 3px 3px;
    font-weight: normal !important;
    list-style: none;
    clear: both;
    background: rgba(255, 255, 255, 0.9);
}
.box .ingredient-tree .tools i {
    color: #3878B3;
}
.box .ingredient-tree ul ul {
    padding: 0;
    list-style: none;
    display: block;
    margin: 5px 0;
}
.box .ingredient-tree ul ul li {
    margin: 2px 0 0 20px;
    padding: 3px 0px 3px 3px;
    font-weight: normal !important;
    list-style: none;
    clear: both;
    background: rgba(255, 255, 255, 0.9);
}
h3 i {
    font-size: 80%;
    color: #ccc;
}
.box h3 {
    margin: 0 0 5px 0;
    float: left;
}
.section_head {
    margin-bottom: 10px;
    margin-top: 30px;
    border-bottom: 3px solid #444;
}
.editable-click, a.editable-click {
    text-decoration: none;
    color: #444;
    border-bottom: 0 !important;
}
a.editable-click:hover {
    text-decoration: underline !important;
    border-bottom: 0;
}
.flagged {
    border: 1px solid;
    padding: 0 3px;
    margin-right: 3px;
    opacity: 0.3;
}
.flagged.active {
    opacity: 1;
    background: inherit;
    color: #fff;
    font-weight: bolder;
}
.flagged.active.meat {
    background: #A30012;
}
.flagged.active.allergen {
    background: #4CAC48;
}
.flagged.active.gluten {
    background: #ED482A;
}
.meat {
    border-color: #A30012;
    color: #A30012;
}
.allergen {
    border-color: #4CAC48;
    color: #4CAC48;
}
.gluten {
    border-color: #ED482A;
    color: #ED482A;
}
.action {
    background: #eee;
    padding: 5px;
    border: 1px solid #aaa;
}
#output {
    background: #fff;
    padding: 0.5em 2em 2em 2em;
    box-shadow: 0 0 10px #444 inset;
}
.dish_wrapper {
  margin: 1em 0; 
}
.dish_name {
  font-size: 20px;
}
#printed #output {
  box-shadow: 0 0 0 #fff;
}

#output * {
    font-family: Georgia; 
    text-align: center;
}
#output p {
    font-size: 1.5em;
}
#output h2 {
    border-bottom: 2px solid;
    padding: 0.5em;
}
#output h3 {
    border-bottom: 1px solid;
    padding: 1em 0 0.3em 0;
    width: 100%;
    margin: 0 auto;
}

.allergen_detail {
    font-size: 18px;
    clear: both;
    display: block;
}
.ingredient_parent {
  color: red;
}
.ingredient_child {
  color: blue;
} 
.has_items, 
.has_children {
  display: inline-block;
}

.ingredient_parent:after {
  content: ", ";
}
.ingredient_parent:last-of-type:after {
    content: "";
}

.has_children:before {
   content: "(";
}
.has_children:after {
   content: ")";
}
.ingredient_child:after {
  content: ", ";
}
.ingredient_child:last-of-type:after {
    content: "";
}


.supplier {
    font-weight: bold;
}
.produce {
    font-style: italic;
}
#connections .tab-pane {
  min-height: 300px;
}
#connectionsList h4 {
    font-weight: bold;
    border-bottom: 1px solid;
}
#connectionsList ul {
    padding: 0;
    list-style: none;
}
li.divider {
    background: #666;
    height: 2px;
}
.pull-right label {
    margin-left: 10px;
}
.new {
    background: #ffc;
}
.produce_tags a:after {
    content: ",";
}
.produce_tags a:hover {
    text-decoration: underline;
    color: #444;
}
table th {
    text-transform: uppercase;
    background: #3878B3;
    color: #fff;
}
body > .header .logo {
    font-family: 'Source Sans Pro', cursive;
    font-weight: 900;
    background: #61AE32;
}
a.text-muted {
    color: #666 !important;
}
.lockscreen {
    background: url(../img/home.jpg) fixed center top;
    background-size: cover;
}
.form-box .header {
    background: #61AE32;
}
.bg-olive {
    background-color: #61AE32 !important;
}
.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
    font-size: 1em !important;
    text-transform: capitalize;
    border-bottom: 1px solid #eee !important;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #61AE32 !important;
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
/*
OL { counter-reset: item }
LI { display: block }
LI:before { content: counters(item, ".") " "; counter-increment: item }*/

.del {
  display: inline-block;
  
}
.delete-btn {
  color: red;
  margin: 0 10px;
}
.delete-btn:hover {
  background-color: red;
  color: #fff;
}