<li data-dish-id="" data-ingredient-id="" class="ingredient-item hidden ingredient-item-new">
    <span class="handle">
    <i class="fa fa-navicon"></i> 
  </span>
    <span class="ingredient">
    <a class="ingredient-item-name" data-pk="" data-name=""></a>
  </span>

    <span class="tools">
        <a data-id="" data-url={% url 'menu_delete_ingredient' %} data-name='' class="delete-btn" data-toggle="tooltip" title="Remove this ingredient">
            <i class="fa fa-trash-o"></i>
        </a> 
        <a href="#" data-toggle="modal" title="Add nutrition info" data-target="#nutrition" class="nutrition">
            <i class="fa fa-heart"></i>
        </a> 
        <a data-dish-id="" data-parent-name="" class="add-sub-ingredients" title="Add sub-ingredient">
            <i class="fa fa-plus-circle"></i> 
        </a>
    </span>

    <div class="mag btn-group btn-group-sm pull-right mag-toggle" data-toggle="buttons">
        <label class="btn btn-allergen">
            <input type="checkbox" autocomplete="off"> Allergen
        </label>
        <label class="btn btn-meat">
            <input type="checkbox" autocomplete="off"> Meat
        </label>
        <label class="btn btn-gluten">
            <input type="checkbox" autocomplete="off"> Gluten
        </label>
    </div>
    <ul></ul>
</li>
