<div id="ingredientsModal" style="display:none;">
    <li class="ingredient-item ingredient-empty ingredient-empty" data-ingredient-name="eggs" data-dish-id="">
        <span class="handle">
            <i class="fa fa-ellipsis-v"></i>
            <i class="fa fa-ellipsis-v"></i>
        </span>
        <span class="ingredient parent">
            <a data-name="" data-pk="" class="ingredient-item-name editable editable-click"></a>
        </span>
        <div class="del">
            <div class="tools hidden">  
                <span>
                    <a class="add-sub-ingredients" data-parent-name="eggs" data-dish-id="">Add sub-ingredient</a>
                </span>
                <a class="delete-btn" data-name="eggs" data-url="/delete/ingredient/" data-id="">Delete</a>
            </div>
        </div>
        <div class="pull-right">
            <span class="allergen flagged"></span>
            <span class="meat flagged "></span>
            <span class="gluten flagged "></span>
        </div>  
    </li>
</div>
