<div id="ingredientsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">Add ingredients</h2>
            </div>
            <div class="modal-body">
                <form method="post" role="form" id="add_ingredients_form" action="{% url 'menu_create_ingredient' %}">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="ingredientsName">Name</label>
                            <input name="name"  class="form-control" id="ingredientsName" placeholder="Enter ingredients Name" type="text">
                        </div>
                        <div class="form-group" style="display:none">
                            <label for="dish">Dish</label>
                            <input name="dish" class="form-control" id="dishId" placeholder="Enter Dish Id" type="text" value="">
                        </div>
                        <div class="form-group" style="display:none">
                            <label for="parent">Parent Ingredients</label>
                            <input name="parent" class="form-control" id="parentIngredientsId" placeholder="Enter parent ingredients Id" type="text" value="null">
                        </div>
                        <div class="form-group" style="display:none">
                            <label for="order">Ingredients Order</label>
                            <input name="order" class="form-control" id="ingredientsOrderId" placeholder="Enter order" type="text" value="1">
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary btn-submit-ingredients">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>