<li data-dish-id="" data-ingredient-id="" class="ingredient-item hidden ingredient-item-new">
  <span class="handle">
    <i class="fa fa-ellipsis-v"></i>
    <i class="fa fa-ellipsis-v"></i>
  </span>
  <span class="ingredient">
    <a class="ingredient-item-name" data-pk="" data-name=""></a>
  </span>

  <div class="del">
    <div class="tools hidden">
      <span><a data-dish-id="" data-parent-name="" class="add-sub-ingredients">Add sub-ingredient</a>
      </span>
      <a data-id="" data-url={% url 'menu_delete_ingredient' %} data-name='' class="delete-btn">Delete</a>
    </div>
  </div>

  <div class="btn-group btn-group-sm pull-right" id="mag" data-toggle="buttons">
    <label class="btn btn-allergen active ">
      <input type="checkbox" autocomplete="off" checked> Allergen
    </label>
    <label class="btn btn-meat">
      <input type="checkbox" autocomplete="off"> Meat
    </label>
    <label class="btn btn-gluten">
      <input type="checkbox" autocomplete="off"> Gluten
    </label>
  </div>
  <ul></ul>
</li>
