<div id="comingsoon" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">Coming soon</h2>
            </div>
            <div class="modal-body">
                <form>
                    <div class="box-body lead">
                        <p>
                            Hi! Thanks for your enthusiasm but this part isn't working just yet. It will be soon though and we'll let you know just as soon as it does!
                        </p>
                        <p>
                            Meantime please keep clicking around!
                        </p>
                    </div>
                    <!-- /.box-body -->


                </form>
            </div>
            <div class="modal-footer">
                <a href="https://foodtrade.uservoice.com" data-uv-trigger="contact" id="support" class="btn btn-warning btn-lg  pull-left"><i class="fa fa-lightbulb-o fa-fw fa-lg"></i>  I've an idea I'd like to share</a>
                <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Keep using the site</button>
            </div>
        </div>
    </div>
</div>
