<div id="contact" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title"><i class="fa fa-user fa-fw"></i> Contact us - we're friendly!</h2>
            </div>
            <div class="modal-body">

                <div class="box-body lead strong ">
                    <div class="text-center">
                        <img src="http://www.reactiongifs.com/r/fgwv.gif" />
                    </div>
                    <div style="padding: 20px 80px;">
                        <p>
                            <i class="fa fa-phone fa-fw"></i> 0203 290 8650
                        </p>
                        <p>
                            <a href="mailto:hello@foodtrade.com" style="text-decoration: none;">
                                <i class="fa fa-envelope fa-fw"></i> hello@foodtrade.com
                            </a>
                        </p>
                        <p>
                            <a href="https://foodtrade.uservoice.com" data-uv-trigger="contact" id="support" style="text-decoration: none;"><i class="fa fa-lightbulb-o fa-fw fa-lg"></i>I'd like to share an idea</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Got it, thanks!</button>
            </div>
        </div>
    </div>
</div>
