<div id="editSectionModal" class="modal fade">
    <div class="modal-dialog">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-th fa-fw"></i> Edit section</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only">Name</label>
                        <input name="name" class="form-control" placeholder="What this section for?" type="text">
                        <p class="help-block">eg soup, starters, desserts, wraps, mains...
                    </div>
                    <div class="form-group">
                        <input name="menu" class="form-control" type="hidden" value="">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-submit-menu" data-dismiss="modal">Edit section</button>
                </div>
            </div>
        </form>
    </div>
</div>