{% extends "base.html" %}
{% load i18n %}

{% block content %}

<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>

<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<p>Roshan Bhandari is testing this page</p>
<form method="post" action=".">
   {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
