#bizSummary {

  .avatar {
    width: 60px;
    border: 1px solid #ccc;
    .rounded(5px);
    padding: 0;
    @media (max-width: 768px) {
        width: 30px;
        border: 0
      }
  }

  h2 {
    @media (max-width: 768px) {
        font-size: 18px;
        font-weight: bold;
      } 
  }

  p {
    margin-top: 10px;
    @media (max-width: 768px) {
        line-height: 1.2;
        font-size: 12px; 
      }
  }



} // bizSummary