{% extends "djstripe/base.html" %}

{% block title %}Payment History{% endblock title %}

{% block content %}
<div class="col-md-6 col-sm-7  {% if not user.is_authenticated %} col-md-offset-1 {% endif %}" id="single">



<form role="form" method="post">

 {% csrf_token %}
  <div class="form-group">
    <label for="coupon_id">Coupon ID</label>
    {{form.coupon_id}}
  </div> 

  <div class="form-group">
    <label for="percent_off">Percentage discount</label>
    {{form.percent_off}}
  </div>

  <div class="form-group">
    <label for="duration">Duration</label>
   {{form.duration}}
   <p class="help-block">How long the coupon will last once applied to the customer</p>
  </div>

   <div class="form-group" id="hide_show">
    <label for="months">Duration in months</label>
    {{form.duration_in_months}}
   <p class="help-block text-danger">Only applies if duration=repeating!!</p>
  </div>

   <div class="form-group">
    <label for="months">Max redemptions</label>
    {{form.max_redemptions}}
  </div>

   <div class="form-group">
    <label for="months">Redeem by</label>
    {{form.redeem_by}}
  </div>


  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock content %}

{% block javascript %}

<script type="text/javascript">
    $("#hide_show").hide();
  $("#id_duration").change(function(){
  var current_val = $(this).val();
  if(current_val == "repeating")
  {
  $("#hide_show").show();
  }
  else
  {
      $("#hide_show").hide();
  }
});
</script>

{% endblock javascript %}
