{% extends "djstripe/base.html" %}

{% block title %}Payment History{% endblock title %}

{% block content %}
<div class="col-md-6 col-sm-7  {% if not user.is_authenticated %} col-md-offset-1 {% endif %}" id="single">
<div class="panel panel-success">
  <!-- Default panel contents -->
  
  <div class="panel-heading">
  <div class="row form-horizontal">

         
  <p> List of active coupons </p>
           


    </div>
  </div>

  <div class="panel-body">

<div class="table-responsive">
<table class="table table-hover table-striped">
 <thead>
        <tr>
          <th>#</th>
          <th>Coupon Id</th>
          <th>Percent OFF</th>
          <th>Duration</th>
          <th>Duration in months</th>
          <th>Created On</th>
        </tr>
      </thead>
      <tbody>

{% for coupon in coupons %}

<tr>
          <td>{{forloop.counter}}</td>
          <td>{{coupon.coupon_id}}</td>
          <td>{{coupon.percent_off}}</td>
          <td>{{coupon.duration}}</td>
          <td>{{coupon.duration_in_months}}</td>
          <td>{{coupon.created}}</td>
        </tr>
{% endfor %}
</tbody>
</table>
<a href="/payments/coupon/add">Add a Coupon</a>
</div>
</div>
</div>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
