{% extends "djstripe/base.html" %}
{% load static djstripe_tags %}

{% block title %}Choose a Subscription{% endblock title %}

{% block content %}
{{ block.super }}
<div class="col-sm-10" id="pricing">
 
<div class="container-responsive">

{% if error %}
    <div class="alert alert-error">{{ error }}</div>
{% endif %}
{% if view.error %}
    <div class="alert alert-error">{{ view.error }}</div>
{% endif %}


<div class="alert alert-info" style="margin-top: 20px;">
  <a href="/" class="pull-right btn btn-info btn-lg" style="margin: 5px  30px 0 0;" > Continue free &raquo;</a>
  <h3 style="margin-top:0;"><strong>Not ready to subscribe?</strong> </h3>
  <p>Click on your picture at the top right of the screen to come back here later. </p>
</div>


 
    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-4 ">
            <div class="panel panel-success">
                <div class="panel-heading" style="background-color: # ;">
                    <h3 class="panel-title">
                        Starter</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                           Free <span class="subscript">forever</span></h1>
                        <small>Get started with FoodTrade</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                Basic business profile with contact details
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                List all your products, with <acronym rel="tooltip" title="Think of it as 'facebook likes' for good food." style="border-bottom: 1px dotted #444;">public vouching</acronym>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               One free <acronym rel="tooltip" title="Post wants and offers to be shared with relevant businesses on the site, in newsletters, and on twitter" style="border-bottom: 1px dotted #444;">status update</acronym> every 7 days<span class="text-danger"><em><br />(website only <i class="fa fa-frown-o"></i> )</em></span>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Showcase up to 40 stockists or suppliers
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                Limited to 10 results per search
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                {% if prof_subscribed %}
                    <a href="#" class="btn btn-success btn-lg" disabled role="button">Select</a>
                {% else %}
                    <a href="#" class="btn btn-success btn-lg" disabled role="button">Your current plan </a>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-primary">
                <div class="cnrflash hidden">
                    <div class="cnrflash-inner">
                        <span class="cnrflash-label">BEST
                            <br>
                            FOR YOU</span>
                    </div>
                </div>
                <div class="panel-heading" style="background-color: # ;">
                    <h3 class="panel-title">
                        Basic</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            &pound;3.75 <span class="subscript">/ month</span></h1>
                        <small>Perfect for most small business</small>
                    </div>
                    <table class="table">
                        <tr>
                          <td>
                            "<acronym rel="tooltip" title="Just include '@foodtradeHQ' in your tweet and we'll  push it to  relevant businesses" style="border-bottom: 1px dotted #444;">Tweet to Trade</acronym>" in real-time  
                          </td>
                        </tr>
                        <tr class="active">
                            <td>
                              Add <acronym rel="tooltip" title="Not just 'apples' but 'Ashton Bitters, great for cider, and 100% organically grown in rural Dorset'" style="border-bottom: 1px dotted #444;">produce details</acronym>, photos,  and tags
                            </td>
                        </tr>
                        <tr >
                            <td>
                              Customers <acronym rel="tooltip" title="Think of it as 'facebook likes' for good food. Customers can recommend your produce - great proof to encourage more business sales and improve your margins"> <span style="border: 1px solid #999; padding: 1px 4px 1px 4px; border-radius: 5px;"> <i class="fa fa-thumbs-o-up"></i> vouch</span> and <span style="border-bottom: 1px dotted #444;">share on facebook and twitter</span></acronym>
  
                            </td>
                        </tr>
 
                        <tr class="active">
                          <td> 
                            Unlimited <acronym rel="tooltip" title="Post wants and offers to be shared with relevant businesses on the site, in newsletters, and on twitter" style="border-bottom: 1px dotted #444;">status updates</acronym> 
                          </td>
                        </tr>
                        <tr >
                            <td>
                                   30 results per search 
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Advanced search filters
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Integrate with other apps <br />
                                <small class="text-muted">OpenTable, TripAdvisor etc - coming soon</small>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>  
                               Verfied status
                               <span class="fa-stack verified" rel="tooltip" title="Verified profile">
                                <i class="fa fa-certificate fa-stack-2x" style="color: #1DBD3C;"></i>
                                <i class="fa fa-check fa-stack-1x" style="color: #fff;"></i>
                              </span> 
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer clearfix">
           <!--      {% if prof_subscribed %}
                    <a href="#" class="btn btn-success btn-lg" disabled role="button">Your plan</a>
                {% else %}
                    <a href="/payments/subscribe/" class="btn btn-success btn-lg" role="button">
                      Awesome upgrade
                    </a>
                {% endif %}
 -->
     {% for plan in PLAN_LIST %}
      {% with plan_count=PLAN_LIST|length %}
        <div class="col-xs-{{ 12|djdiv:plan_count|floatformat }}">
      {% endwith %}
            <form
              {% if not customer.current_subscription or customer.current_subscription.status == CurrentSubscription.STATUS_CANCELLED %}
                  action="{% url 'djstripe:subscribe' %}" class="djstripe-subscribe"  
                  data-key="{{ STRIPE_PUBLIC_KEY }}"
                  data-amount="{{ plan.price }}"
                  data-name="{{ plan.name }}"
                  data-description="{{ plan.description }}"
              {% else %}
                  data-stripe-key="{{ STRIPE_PUBLIC_KEY }}" 
                  action="{% url 'djstripe:change_plan' %}" class="djstripe-change-plan"
              {% endif %}
            method="POST">

               
                {% csrf_token %}
                <input type="hidden" name="plan" value="{{ plan.plan }}" />
                <input name="stripe_token" type="hidden" /> 

                <!-- disable this when clicked -->
                <button
                  {% if customer.current_subscription.plan == plan.plan and customer.current_subscription.status != CurrentSubscription.STATUS_CANCELLED %}
                    disabled="true"
                  {% endif %}
                 type="submit" class="btn btn-primary btn-lg">
<!--                   {% with image=plan.image|default:"img/default-plan-image.png" %}
                    <img src="{% static image %}" class="img-thumbnail" />
                  {% endwith %} -->
                  Upgrade -  &pound;<span id="discounted_amt">45</span> / yr
                </button>

              {% if not customer.current_subscription or customer.current_subscription.status == CurrentSubscription.STATUS_CANCELLED %}
                <!-- do nothing -->
              {% elif customer.current_subscription.plan == plan.plan %}
                <h4>Your Current Plan</h4>
              {% elif customer.current_subscription.amount < plan.price|djdiv:100 %}
                <h4>Upgrade</h4>
              {% elif customer.current_subscription.amount > plan.price|djdiv:100 %}
                <h4>Downgrade</h4>
              {% endif %}
            </form>
        </div>
    {% endfor %}

                   
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-success">
                <div class="panel-heading"  style="background-color: #;">
                    <h3 class="panel-title">
                        Advanced <span class="text-muted sm all">- coming soon</span></h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            &pound;12 <span class="subscript">/ month</span></h1>
                        <small>For the growing business</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                Powerful local analytics
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Suggested collaborators
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Saved searches and alerts  
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Map your customers
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Real-time notifications 
                            </td>
                        </tr> 
                    </table>
                </div>
                <div class="panel-footer">
                    
                     <div class="ui-group-buttons" rel="tooltip" title="Coming soon, with free upgrade for all paid users">
                        <a type="button" href="/payments/subscribe/" disabled class="btn btn-success btn-lg">
                          &pound;12 / mo
                        </a>
                        <div class="or or-lg"></div>
                        <a type="button" href="/payments/subscribe/" disabled class="btn btn-success btn-lg"></i>
                          &pound;120 / yr
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

 
   

 

{% if not subscribed %}
<div class="row">
<div class="col-md-12 text-center" style="padding-top:20px;">
<div class="alert alert-info">
<form class="form-inline" method = "post" id ="promo_form" role="form" onsubmit ="return apply_discount()">
  {% csrf_token %}
  <div class="form-group has-info">
    <label class="label-control" for="promo_code"><h3>Got a coupon code?</h3></label><br />
    </div>
     <div class="form-group">
    <input type="text" class="form-control input-lg" name = "promo_code" id="promo_code" placeholder = "Enter it here">
  </div>
    <button type="submit" class="btn btn-info btn-lg">Apply</button>
</form>
<div id="promo_message"></div>
<a href="#" id="form_link" onclick="change_promo()">Change Promo Code</a>

 </div>
 </div>
</div>
{% endif %}


</div>


{% endblock content %}

{% block javascript %}


{{ block.super }}



<script type="text/javascript">
$(document).ready(function(){
 // $("#promo_message").hide();
   $("#form_link").hide();
});
 
function apply_discount()
{
  
  $.post( "/payments/apply_coupon",$("#promo_form").serialize())
  .done(function( data ) {
    var json_data = jQuery.parseJSON(data);
    if(json_data.status=="success")
    {
        $("#promo_form").hide();
        
        $("#form_link").show();
        var amount = parseFloat(45 - 0.45*parseInt(json_data.percent)).toFixed(2);
        $("#discounted_amt").html(amount);
    }
    $("#promo_message").html(json_data.message);
        $("#promo_message").show();
  });
  return false;
}

function change_promo()
{
  $("#promo_form").show();
  $("#promo_message").hide();
  $("#form_link").hide();
}

</script>
<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script text="text/javascript">
    $(function() {
        
        $('body').on("click", '.djstripe-subscribe button[type=submit]', function(e) {
          e.preventDefault();
          var $form = $(".djstripe-subscribe"),
              token = function(res) {
                $form.find("input[name=stripe_token]").val(res.id);
                $("button[type=submit]").attr("disabled", "true");
                $('#in-progress').modal({"keyboard": false})
                $('.progress-bar').animate({width:'+=100%'}, 2000);
                $form.trigger("submit");
              };
          StripeCheckout.open({
            key:         "{{ STRIPE_PUBLIC_KEY }}",
            name:        'Payment Method',
            panelLabel:  'Add Payment Method',
            token:       token
          });

          return false;
        });
        {% if PLAN_LIST|length > 1 %}
          $('.djstripe-change-plan').click(function(e){
              $("button[type=submit]").attr("disabled", "true");
              $('#in-progress').modal({"keyboard": false})
              $('.progress-bar').animate({width:'+=100%'}, 2000);
              var $form = $(this);
              $form.trigger("submit");
          });
        {% endif %}

    });
</script>
{% endblock javascript %}