{% extends "djstripe/base.html" %}
{% load static djstripe_tags %}

{% block title %}Choose a Subscription{% endblock title %}

{% block content %}
{{ block.super }}
<div class="innerAll"  id="pricing">
 
<div class="container-responsive">

{% if error %}
    <div class="alert alert-error">{{ error }}</div>
{% endif %}
{% if view.error %}
    <div class="alert alert-error">{{ view.error }}</div>
{% endif %}
 
{% if not subscribed %} 
<div class="box-generic bg-secondary text-white">
<form class="form-inline" method = "post" id ="promo_form" role="form" onsubmit ="return apply_discount()">
  {% csrf_token %}
  <div class="form-group has-info">
    <label class="label-control text-large text-white" for="promo_code">Got a coupon code?</label><br />
    </div>
     <div class="form-group">
    <input type="text" class="form-control input-lg" name = "promo_code" id="promo_code" placeholder = "Enter it here">
  </div>
    <button type="submit" class="btn btn-info btn-lg pull-right">Apply discount</button>
</form>
<div id="promo_message"></div>
<a href="#" id="form_link" onclick="change_promo()">Change Promo Code</a>

 </div> 
{% endif %}



<div class="innerLR">
                <div class="table-pricing-3">
                    <ul class="list-unstyled row">
                        <li class="col-md-4">
                            <div class="innerAll">
                                <h3>Starter</h3>
                                <div class="body">
                                    <div class="price">
                                        Free
                                    </div>
                                </div>
                                <div class="features">
                                    <ul>
                                        <li>For individuals &amp; small companies</li>
                                        <li>Basic profile with contact details </li>
                                        <li>Weekly Digest with 7 day delay</li>
                                        <li>Update via website only</li>
                                        <li>Limited search results</li> 
                                    </ul>
                                </div>
                                <div class="footer"> 
                                  {% if prof_subscribed %}
                                      <a href="#" class="btn btn-success btn-lg" disabled role="button">Select</a>
                                  {% else %}
                                      <a href="#" class="btn btn-success btn-lg" disabled role="button">Your current plan </a>
                                  {% endif %}
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4 active">
                            <div class="innerAll">
                                <h3>Business</h3>
                                <div class="body">
                                    <div class="price">
                                        <span class="figure">&pound;5</span>
                                        <span class="term">per month</span>
                                    </div>
                                </div>
                                <div class="features">
                                    <ul>
                                        <li>"<acronym rel="tooltip" title="Just include '@foodtradeHQ' in your tweet and we'll  push it to  relevant businesses" style="border-bottom: 1px dotted #444;">Tweet to Trade</acronym>" in real-time</li>
                                        <li>Add <acronym rel="tooltip" title="Not just 'apples' but 'Ashton Bitters, great for cider, and 100% organically grown in rural Dorset'" style="border-bottom: 1px dotted #444;">produce details</acronym></li>

                                        <li>Daily Digests</li> 
                                        <li><acronym rel="tooltip" title="Think of it as 'facebook likes' for good food. Customers can recommend your produce - great proof to encourage more business sales and improve your margins">Vouching</acronym> for produce</li>
                                        <li>Advanced search filters</li>
                                        <li> Verfied status
                                         <span class="fa-stack verified" rel="tooltip" title="Verified profile">
                                          <i class="fa fa-certificate fa-stack-2x" style="color: #1DBD3C;"></i>
                                          <i class="fa fa-check fa-stack-1x" style="color: #fff;"></i>
                                        </span>  </li>
                                    </ul>
                                </div>
                                <div class="footer">
                                   {% for plan in PLAN_LIST %}
                                    {% with plan_count=PLAN_LIST|length %}
                                      <div class="col-xs-{{ 12|djdiv:plan_count|floatformat }}">
                                    {% endwith %}
                                          <form
                                            {% if not customer.current_subscription or customer.current_subscription.status == CurrentSubscription.STATUS_CANCELLED %}
                                                action="{% url 'djstripe:subscribe' %}" class="djstripe-subscribe"  
                                                data-key="{{ STRIPE_PUBLIC_KEY }}"
                                                data-amount="{{ plan.price }}"
                                                data-name="{{ plan.name }}"
                                                data-description="{{ plan.description }}"
                                            {% else %}
                                                data-stripe-key="{{ STRIPE_PUBLIC_KEY }}" 
                                                action="{% url 'djstripe:change_plan' %}" class="djstripe-change-plan"
                                            {% endif %}
                                          method="POST">

                                             
                                              {% csrf_token %}
                                              <input type="hidden" name="plan" value="{{ plan.plan }}" />
                                              <input name="stripe_token" type="hidden" /> 

                                              <!-- disable this when clicked -->
                                              <button
                                                {% if customer.current_subscription.plan == plan.plan and customer.current_subscription.status != CurrentSubscription.STATUS_CANCELLED %}
                                                  disabled="true"
                                                {% endif %}
                                               type="submit" class="btn btn-primary btn-lg">
                              <!--                   {% with image=plan.image|default:"img/default-plan-image.png" %}
                                                  <img src="{% static image %}" class="img-thumbnail" />
                                                {% endwith %} -->
                                                Upgrade -  &pound;<span id="discounted_amt">45</span> / yr
                                              </button>

                                            {% if not customer.current_subscription or customer.current_subscription.status == CurrentSubscription.STATUS_CANCELLED %}
                                              <!-- do nothing -->
                                            {% elif customer.current_subscription.plan == plan.plan %}
                                              <h4>Your Current Plan</h4>
                                            {% elif customer.current_subscription.amount < plan.price|djdiv:100 %}
                                              <h4>Upgrade</h4>
                                            {% elif customer.current_subscription.amount > plan.price|djdiv:100 %}
                                              <h4>Downgrade</h4>
                                            {% endif %}
                                          </form>
                                      </div>
                                  {% endfor %}
                                  <br />
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="innerAll">
                                <h3>Advanced</h3>
                                <div class="body">
                                    <div class="price">
                                        <span class="figure">&pound;25</span>
                                        <span class="term">per month</span>
                                    </div>
                                </div>
                                <div class="features">
                                    <ul>
                                        <li>Powerful local analytics </li>
                                        <li>Dynamic match-making </li>
                                        <li>Real-time notifications </li> 
                                        <li>Unlimited search alerts</li>
                                        <li>Rich customer engagement</li>
                                        <li>Premium Support</li>

                                    </ul>
                                </div>
                                <div class="footer">
                                    <a href="#" class="btn btn-success btn-stroke">Coming soon</a>
                                </div>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                 
            </div>

 
    </div>

 
   
<div class="box-generic text-center">
  <p>Not ready to subscribe? 
    <a href="/" class=" btn btn-default"  > Continue free &raquo;</a>
  </p>
</div>


</div>


{% endblock content %}

{% block javascript %}


{{ block.super }}



<script type="text/javascript">
$(document).ready(function(){
 // $("#promo_message").hide();
   $("#form_link").hide();
});
 
function apply_discount()
{
  
  $.post( "/payments/apply_coupon",$("#promo_form").serialize())
  .done(function( data ) {
    var json_data = jQuery.parseJSON(data);
    if(json_data.status=="success")
    {
        $("#promo_form").hide();
        
        $("#form_link").show();
        var amount = parseFloat(45 - 0.45*parseInt(json_data.percent)).toFixed(2);
        $("#discounted_amt").html(amount);
    }
    $("#promo_message").html(json_data.message);
        $("#promo_message").show();
  });
  return false;
}

function change_promo()
{
  $("#promo_form").show();
  $("#promo_message").hide();
  $("#form_link").hide();
}

</script>
<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script text="text/javascript">
    $(function() {
        
        $('body').on("click", '.djstripe-subscribe button[type=submit]', function(e) {
          e.preventDefault();
          var $form = $(".djstripe-subscribe"),
              token = function(res) {
                $form.find("input[name=stripe_token]").val(res.id);
                $("button[type=submit]").attr("disabled", "true");
                $('#in-progress').modal({"keyboard": false})
                $('.progress-bar').animate({width:'+=100%'}, 2000);
                $form.trigger("submit");
              };
          StripeCheckout.open({
            key:         "{{ STRIPE_PUBLIC_KEY }}",
            name:        'Payment Method',
            panelLabel:  'Add Payment Method',
            token:       token
          });

          return false;
        });
        {% if PLAN_LIST|length > 1 %}
          $('.djstripe-change-plan').click(function(e){
              $("button[type=submit]").attr("disabled", "true");
              $('#in-progress').modal({"keyboard": false})
              $('.progress-bar').animate({width:'+=100%'}, 2000);
              var $form = $(this);
              $form.trigger("submit");
          });
        {% endif %}

    });
</script>
{% endblock javascript %}