{% if "a" == "b" %}
<!-- Modal -->
<div class="modal fade" id="not_logged_in_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center" id="not_logged_in_modal_container">
      <p><strong>Why do I need to sign in?</strong></p>
      <p style="max-width: 450px;">Because FoodTrade is a community which depends on people like you,  sharing what you know and working together for a better, fairer food system. </p>
      
        <a href="/accounts/twitter/login/?process=login" class="btn text-center btn-primary " style="font-size: 1.5em; margin-top: 1em; border: 7px double #fff;"><i class="fa fa-twitter fa-fw"></i> Login to continue
        </a>  
        <p class="small text-muted">It's free, don't worry.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

$("#not_logged_in_modal").on('show.bs.modal', function () {
  $("body").attr("id", "body_blur");
}).on("hide.bs.modal", function () {
  $("body").removeAttr("id");
});


$(document).ready(function(){
  setTimeout(function() {   
    $('#not_logged_in_modal').modal({
  backdrop: 'static',
  keyboard: false
});
      // $('#not_logged_in_modal').modal('show');
    }, 8000); 
});
   // 8 seconds

</script>
{% endif %}