{% if not user.is_authenticated %}
<!-- Modal -->
<div class="modal fade" id="not_logged_in_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
      <p><strong>Why do I need to sign in?</strong></p>
      <p>Because FoodTrade is a community which depends on people like you working together for a better, fairer food system. </p>
      <div class="alert alert-info">
        <a href="/accounts/twitter/login/?process=login" class="btn text-center btn-primary btn-lg" style="font-size: 2em; margin-top: 1em; border: 7px double #fff;"><i class="fa fa-twitter fa-fw"></i> Login to continue
        </a> 
      </div> 
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  setTimeout(function() {   
      $('#not_logged_in_modal').modal('show');
    }, 10000);  // 10 seconds


</script>
{% endif %}