{% if buyers %}
<table id="" class="table table-bordered table-striped dtable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Business type</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        {% for buyer in buyers %}
        <tr>
            <td><strong>{{buyer.connection.BusinessName}}</strong>
            </td>
            <td>{{buyer.connection.BusinessType}}</td>
            <td>{{buyer.connection.Phone}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Business type</th>
            <th>Contact</th>
        </tr>
    </tfoot>
</table>

<form action="" method="POST" role="form" class="form-horizontal well well-sm">

    <div class="form-group">
        <label for="" class="control-label sr-only">Business name</label>
        <div class="col-sm-5">
            <input class="form-control connection" type="text" placeholder="Add another stockist..." style="width: 300px;">
            <input type="hidden" value="2" checked="checked" name="connection-type"> 
        </div>
  
                
   
        <div class="col-sm-3">
            <button type="button" class="btn btn-success add-connection disabled">Add</button>
        </div>
    </div>
</form>

{% else %}
<div class="well text-center">
    <h3>You don't have any stockists yet!</h3>

    <a href="#add" class="btn btn-lg btn-success" data-toggle='tab'><i class="fa fa-lg fa-fw fa-plus-circle"></i> Add a Stockist</a>

</div>
{% endif %}
