<h2>
    Menu&nbsp;
    <button data-toggle="modal" href="#menuModal" class="btn btn-default"><i class="fa fa-list-ul fa-fw"></i> Add Menu</button>
    {% comment %}
    <small>Edit Menu</small>
    {% endcomment %}
</h2>


{% for menu in menus %}

<div class="row">
    <!-- Left col -->
    <section class="col-sm-12">
        <!-- TO DO List -->
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">{{menu.name}}</h3>
                <div class="box-tools pull-right">
                    <ul class="pagination pagination-sm inline">
                        <li>
                            <a data-id={{menu.pk}} data-url={% url 'menu_delete_menu' %} class="btn btn-xs btn-default delete-btn"><i class="fa fa-trash-o fa-fw"></i>Delete Menu</a>
                        </li>
                        <li>
                             <a href="{% url 'menu_print_preview_menu' menu.id %}"><i class="fa fa-fw fa-print"></i> Print preview</a>
                        </li>
                        <li data-toggle="tooltip" title="cat" data-original-title="monkey">
                            <a href="#"><i class="fa  fa-fw fa-download"></i> Generate PDF</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-code"></i> Use on my website</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% for section in menu.get_menu_sections %}
                <div>
                <div class="clearfix section_head">
                    <h3>
                        <span class="handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <a href="#" id="item" class="editable" data-type="text" data-pk="1" data-url="/post" data-title="Edit item">{{section.name}}</a>
                    </h3>
                    <div class="pull-right" id="sectionDish">
                        <!-- Add dish -->
                        <a data-id={{section.pk}} data-url={% url 'menu_delete_menu_section' %} class="delete-btn"> Delete this section</a>
                        <a data-toggle="modal" href="#dishModal" data-menu-section-id ={{ section.id }} class="btn btn-xs btn-default add-dish" data-type="text">
                            <i class="fa fa-list-ul fa-fw"></i>Add Dish
                        </a>
                        <!--<a href="#" id="item" data-lookup-url = {% url 'menu_dish_lookup_name' %} data-menu-section={{ section.id }} class="editable btn btn-xs btn-default add-dish" data-type="text" data-pk="1" data-url="{% url 'menu_create_dish' %}" data-title="Edit item">
                            <i class="fa fa-list-ul fa-fw"></i>Add Dish
                        </a>-->
                    </div>
                </div>
                {% for dish in section.get_section_dishes %}
                    <div class="menuitem">
                        <div class="menutitle">
                            <span class="handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <span>{{ dish.name }} &mdash; &pound;{{ dish.price }}
                            </span>
                            <a data-id={{dish.pk}} data-url={% url 'menu_delete_dish' %} class="delete-btn">Delete</a>
                            <div class="pull-right">

                                <span class="allergen flagged {% if dish.is_allergen %}active{% endif %}" data-toggle="tooltip" title="Allergen" data-original-title="Allergen">A</span>

                                <span class="meat flagged  {% if dish.is_meat %}active{% endif %}" data-toggle="tooltip" title="Meat">M</span>

                                <span class="gluten flagged  {% if dish.is_gluten %}active{% endif %}" data-toggle="tooltip" title="Glutenous">G</span>

                            </div>


                            <p href="#" class="editable menuitem-description" data-type="textarea" data-pk="1" data-url="/post" data-title="Edit item">{{dish.description}}</p>

                        </div>

                        <ul class="ingredient-tree">
                            {% for parent in dish.get_ingredient_tree %}
                            <li data-dish-id="{{dish.pk}}" data-ingredient-name="{{parent.name}}" class="ingredient-item">
                                    <span class="handle">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <i class="fa fa-ellipsis-v"></i>
                                    </span>
                                    <span class="ingredient parent"><a class="ingredient-item-name">{{ parent.name }}</a></span>
                                    <div class="del">
                                        <div class="tools hidden">
                                            <a data-id={{dish.pk}} data-url={% url 'menu_delete_ingredient' %} data-name='{{parent.name}}' class="delete-btn">Delete</a>
                                        </div>
                                    </div>

                                    <div class="pull-right">
                                         <span class="allergen flagged {% if parent.is_allergen %}active{% endif %}" data-toggle="tooltip" title="Allergen" data-original-title="Allergen">A</span>

                                        <span class="meat flagged {% if parent.is_meat %}active{% endif %}" data-toggle="tooltip" title="Meat">M</span>

                                        <span class="gluten flagged {% if parent.is_gluten %}active{% endif %}" data-toggle="tooltip" title="Gluten">G</span>
                                    </div>
                                    <ul>
                                        {% for child in parent.children %}
                                        <li data-dish-id="{{dish.pk}}" data-ingredient-name="{{child.name}}" class="ingredient-item">
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
                                            <span class="ingredient child"><a class="ingredient-item-name">{{ child.name }}</a></span>
                                            <div class="del">
                                                <div class="tools hidden">
                                                    <a data-id={{dish.pk}} data-url={% url 'menu_delete_ingredient' %} data-name='{{child.name}}' class="delete-btn">Delete</a>
                                                </div>
                                            </div>

                                            <div class="pull-right">

                                                <span class="allergen flagged {% if child.is_allergen %}active{% endif %}" data-toggle="tooltip" title="Allergen" data-original-title="Allergen">A</span>

                                                <span class="meat flagged {% if child.is_meat %}active{% endif %}" data-toggle="tooltip" title="Meat">M</span>

                                                <span class="gluten flagged {% if child.is_gluten %}active{% endif %}" data-toggle="tooltip" title="Gluten">G</span>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>

                            <a data-toggle="modal" href="#ingredientsModal" data-dish-id = {{ dish.id }} class="add-ingredients btn btn-default btn-sm"><i class="fa fa-plus-circle fa-fw"></i>  Add an ingredient</a>
                        </div>
                {% endfor %}


                </div>
                {% endfor %}
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                <button data-toggle="modal" data-menu-id = {{ menu.id }} href="#sectionModal" class="btn btn-default add-section"><i class="fa fa-th fa-fw"></i> Add Section</button>
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.Left col -->
</div>

{% endfor %}
