{% extends 'menu_base.html' %}
{% load staticfiles %}
{% load django_static %}
{% block extra_style %}
<link href="{% staticfile '/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_style %}

{% block extra_js %}
<script src="{% staticfile '/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js' %}" type="text/javascript"></script>
<script src="{% staticfile '/js/menu.admin.js' %}"></script>
<script>
    var dishAdminUpdateUrl = "{% url 'menu_admin_dish_detail_update' dish.id %}";
</script>
{% endblock extra_js %}

{% block body_class %}skin-black{% endblock %}

{% block content %}

<h2>
    {{dish.name}}
</h2>


<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-sm-12">
      <table class="table">
      <tbody>
        <tr>
          <th>number of ingredients</th>
          <td>{{dish.get_ingredient_count}}</td>
        </tr>
        <tr>
          <th>created by</th>
          <td>{{dish.menu_section.menu.establishment.user}}</td>
        </tr>
        <tr>
          <th>created on</th>
          <td>{{dish.added_on}}</td>
        </tr>
        <tr>
          <th>name</th>
          <td><a id="name" data-type="text" data-pk="{{dish.id}}" data-url="{% url 'menu_admin_dish_detail_update' dish.id %}" data-title="Enter new name">{{dish.name}}</a></td>
        </tr>
        <tr>
          <th>is public</th>
          <td><input type="checkbox" id="public" {% if dish.is_public %}checked{% endif %}/></td>
        </tr>
        <tr>
          <th>ingredients</th>
          <td>
            <ul>
              {% for i in dish.get_ingredient_names %}
              <li><a href="{% url 'menu_admin_ingredient_detail' i.id %}">{{i.name}}</a></li>
              {% endfor %}
          </ul>
          </td>
        </tr>
      </tbody>
    </table>
    </section>
    <!-- /.Left col -->

</div>
{% endblock content %}
