{% extends 'menu_base.html' %}
{% load staticfiles %}
{% load django_static %}
{% block extra_style %}
<link href="{% staticfile '/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_style %}

{% block extra_js %}
<script src="{% staticfile '/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js' %}" type="text/javascript"></script>
<script src="{% staticfile '/js/menu.admin.js' %}"></script>
<script>
    var dishAdminUpdateUrl = "{% url 'menu_admin_ingredient_detail_update' ingredient.id %}";
</script>
{% endblock extra_js %}

{% block body_class %}skin-black{% endblock %}

{% block content %}

<h2>
    {{ingredient.name}}
</h2>


<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-sm-12">
      <table class="table">
      <tbody>
        <tr>
          <th>Dish</th>
          <td>{% if ingredient.dish.name %}{{ingredient.dish.name}}{% else %}Dish Missing{% endif %}</td>
        </tr>
        <tr>
          <th>name</th>
          <td><a id="ingredient_name" data-type="text" data-pk="{{ingredient.id}}" data-url="{% url 'menu_admin_ingredient_detail_update' ingredient.id %}" data-title="Enter new name">{{ingredient.name}}</a></td>
        </tr>
      </tbody>
    </table>
    </section>
    <!-- /.Left col -->

</div>
{% endblock content %}
