{% extends 'menu_base.html' %}
{% load staticfiles %}
{% load django_static %}
{% block body_class %}skin-black{% endblock %}

{% block content %}

<h2>
    User Admin
</h2>


<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-sm-12">
      <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email / username</th>
          <th>Coupon</th>
          <th>Admin?</th> 
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><a href="{% url 'menu_admin_user_detail' user.id %}"><strong>{{user.last_name|upper}}</strong>, {{user.first_name}}</a></td>
          <td>{{user.username}}</td>
          <td>{% if payment %}{{payment.coupon}}{% else %}NA{% endif %}</td>
          <td>{{user.is_superuser}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

<div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?page={{ users.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ users.number }} of {{ users.paginator.num_pages }}.
        </span>

        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
    </section>
    <!-- /.Left col -->

</div>
{% endblock content %}
