{% extends 'menu_base.html' %}
{% load staticfiles %}

{% block extra_style %}
<link href="{% static "css/connection.css" %}" rel="stylesheet" type="text/css" />
{% endblock extra_style %}

{% block extra_js %}
<script src="{% static 'typeahead.js/dist/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'js/connection.js' %}"></script>
<script>
    var createConnectionUrl = '{% url "menu_create_connection" %}';
</script>
{% endblock extra_js %}

{% block body_class %}skin-black{% endblock %}

{% block content %}
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-sm-12">



        <div class="nav-tabs-custom ">
            <ul class="nav nav-tabs lead">
                <li class="active"><a href="#tab_1" data-toggle="tab" id="tab_1-tab"><i class="fa fa-sign-in"></i> My suppliers</a>
                </li>
                <li><a href="#tab_2" data-toggle="tab" id="tab_2-tab"><i class="fa fa-sign-out"></i> My stockists</a>
                </li>
                <li class="pull-right bg-success "><a href="#tab_3" data-toggle="tab" class="text-success " id="tab_3-tab"><i class="fa fa-plus-circle fa-lg"></i> Add a connection</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    {% include 'includes/_connection_table_seller.html'%}
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    
                </div>
                <!-- /.tab-pane -->


                <div class="tab-pane  clearfix" id="tab_3">

                    <div class="col-sm-10 col-sm-offset-1">
                        <form action="" method="POST" role="form" class="form-horizontal">

                            <div class="form-group">
                                <label for="" class="control-label col-sm-3">Business name</label>
                                <div class="col-sm-9">
                                    <input class="form-control connection" type="text" placeholder="Start typing...">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <label>
                                        <input type="radio" value="1" name="connection-type" checked>We sell to them
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label>
                                        <input type="radio" value="2" name="connection-type">We buy from them
                                    </label>
                                </div>
                            </div>

                            <!--              <div class="form-group">
                                                <label for="" class="control-label col-sm-3">Produce</label>
                                                <div class="col-sm-9">
                                                <code>@JD populate this with a list of produce they sell, if applicable - ajax load in</code>
                                                    <label>
                                                        <input type="checkbox" value=""> Cheese
                                                    </label> 
                                                </div>
                                            </div> -->

                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button type="button" class="btn btn-success add-connection disabled">Add connection</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.tab-pane -->

            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->


    </section>
    <!-- /.Left col -->

</div>
{% endblock content %}
