<form method='post' action='{% url "menu_reset_password" token.id %}'>{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Enter password" name='password1'>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password" name='password2'>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  <div class='error'>{{message}}</div>
</form>
