{% load staticfiles %}
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}

<!DOCTYPE html>
<html lang="en" class="js flexbox flexboxlegacy no-touch rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients   csstransforms csstransforms3d csstransitions fontface generatedcontent">
<title>{% block title %} {% endblock title %}</title>

{% block meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="author" content="FoodTrade">
<meta name="title" content="{% block metatitle %}Home{% endblock %} - FoodTrade" />
<meta name="description" content="{% block metadescription %} FoodTrade is the tool foodies, artisans, and real food businesses have been waiting for. It helps you find your nearest producers and stockists, connect with collaborators, map your local food web, share knowledge about provenance, and trade in real-time. {% endblock %}" />
<meta property="og:site_name" content="FoodTrade" />
<meta property="og:description" content="{% block description %} FoodTrade is the tool foodies, artisans, and real food businesses have been waiting for. It helps you find your nearest producers and stockists, connect with collaborators, map your local food web, share knowledge about provenance, and trade in real-time. {% endblock %}" />
<meta property="og:type" content="{% block ogtype %}website{% endblock %}" />
<meta property="fb:admins" content="732525050" />
<meta property="fb:app_id" content="1400801613504478" />
<meta property="og:url" content="http://{{request.META.HTTP_HOST}}{{request.path}}" />
<meta property="og:image" content="{% block ogimg %}http://{{request.META.HTTP_HOST}}/static/images/foodtrade_og_default.gif{% endblock %}" />
<meta property="og:title" content="{% block titlecontent %}Home{% endblock %} - FoodTrade" />
<meta property="og:latitude" content="{% block fblat %}{{userinfo.lat}}{% endblock %}" />
<meta property="og:longitude" content="{% block fblon %}{{userinfo.lon}}{% endblock %}" />
<meta property="og:postal-code" content="{% block fbzipcode %}{{userinfo.zip_code}}{% endblock %}" />
<meta property="og:country-name" content="{% block fbcountry %}{{userinfo.country}}{% endblock %}" />
{% block extra_meta %}
{% endblock extra_meta %}
{% endblock meta %}

<link rel="shortcut icon" href="/static/images/favicon.ico">

{% block css %}
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static "css/foodtrade.css" %}" />
<link rel="stylesheet" href="{% static "assets/less/admin/module.admin.stylesheet-complete.css" %}" />
{% block extra_css %}
{% endblock extra_css %}
{% endblock css %}

{% block js %}
{% block extra_js %}
{% endblock extra_js %}
{% endblock js %}

<body>
  <div class="container-responsive menu-hidden" id="wrapper">
    <div id="content">
      {% block top_nav %}
      <div class="navbar hidden-print navbar-default navbar-fixed-top box main  hidden-sm hidden-xs" role="navigation" id="topnav" >





        <div class="pull-left" style="margin-right: 10px;">
            <a href="/" class="">
            <img src="{% static 'images/logo_28.png' %}" alt="FoodTrade logo" class="visible-md visible-lg" />
            </a>
        </div>

            <ul class="list-unstyled list-inline navbar-right" id="sociallinks">
              <li>
                <a class="label label-info text-white animated pulse" id="demo" data-toggle="modal" data-target="#myModal" data-local="#myCarousel">Tour</a>
              </li>
              <li>
                <a href="http://www.facebook.com/foodtradeHQ" target="_blank"><i class="fa  fa-lg fa-facebook-square "></i></a></li><li>
                <a href="http://www.twitter.com/foodtradeHQ" target="_blank"><i class="fa  fa-lg fa-twitter-square"></i></a></li><li>
                <a href="http://www.instagram.com/foodtradeHQ" target="_blank"><i class="fa fa-lg fa-instagram "></i></a></li><li>
                <a href="https://plus.google.com/+Foodtrade" target="_blank"><i class="fa  fa-lg fa-google-plus-square"></i></a></li>
                <li><a href="https://foodtrade.uservoice.com" data-uv-trigger="contact" id="support">Contact</a>﻿﻿﻿</li>
                {% if not request.user.is_authenticated %}
                <li><a data-toggle="modal" data-target="#modal_emaillogin">Sign up</a>
                <li>
                  <a class="dropdown-toggle label label-primary text-white" data-toggle="dropdown" href="#">Login
                  </a>
                   <ul class="dropdown-menu pull-right" id="login" style="padding: 15px;min-width: 250px;">
                      <li>
                         <a href="{% provider_login_url "twitter" process="login" %}"><button class="btn btn-primary btn-block" style="background: #5398D8; border-color: #4B80B5;" id="sign-in-twitter" value="Sign In with Twitter">Sign In with Twitter</button></a>
                      </li>
                      <li class="divider"></li>
                      <li>
                         <div class="row">
                            <div class="col-md-12">
                               <form class="form" role="form" method="post" action="/accounts/login/" accept-charset="UTF-8" id="login-nav">{% csrf_token %}
                                  <div class="form-group">
                                     <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                     <input type="email" class="form-control" id="exampleInputEmail2" name="login" placeholder="Email address" required>
                                  </div>
                                  <div class="form-group">
                                     <label class="sr-only" for="exampleInputPassword2">Password</label>
                                     <input type="password" class="form-control" id="exampleInputPassword2" name="password" placeholder="Password" required>
                                  </div>
                                  <div class="checkbox">
                                     <label>
                                     <input type="checkbox" name="remember"> Remember me
                                     </label>
                                  </div>
                                  <a class="help-block" href="/accounts/password/reset/"/>Forgot Password?</a>
                                  <div class="form-group">
                                     <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                  </div>
                                </form>
                            </div>
                         </div>
                      </li>
                   </ul>
                </li>
                {% endif %}
            </ul>


            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown"><a href="/" class="dropdown-toggle">Near me</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produce <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/activity/?q=sausages">Sausages</a></li>
                  <li><a href="/activity/?q=chicken">Chicken</a></li>
                  <li><a href="/activity/?q=bread">Bread</a></li>
                  <li><a href="/activity/?q=brownie">Brownies</a></li>
                  <li><a href="/activity/?q=salad">Salad</a></li>
                  <li><hr /></li>
                  <li><a href="/activity/?q=cider">Cider</a></li>
                  <li><a href="/activity/?q=beer">Beer</a></li>
                  <li><a href="/activity/?q=juice">Juice</a></li>
                  <li><a href="/activity/?q=porter">Porter</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Types <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/activity/?b=Livestock%20Farm">Livestock farm</a></li>
                  <li><a href="/activity/?q=Baker">Baker</a></li>
                  <li><a href="/activity/?q=Food%20Stall">Food Stall</a></li>
                  <li><a href="/activity/?q=Box%20Scheme">Box Scheme</a></li>
                  <li><a href="/activity/?q=Food%20Manufacturer">Manufacturer</a></li>
                  <li><a href="/activity/?q=Grower">Grower</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cities <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/activity?tab=profile&stype=produce&pwant=all&plng=-2.6174926757812496&plat=51.45529052633677&put=all&porg=[]&pbiz=[]&mwant=all&mlng=-2.6241509&mlat=51.4530491&mut=all&morg=[]&mbiz=[]">Bristol</a></li>
                  <li><a href="/activity?tab=profile&stype=produce&pwant=all&plng=-0.12908935546875&plat=51.47796179607124&put=all&porg=[]&pbiz=[]&mwant=all&mlng=-2.6241509&mlat=51.4530491&mut=all&morg=[]&mbiz=[]">London</a></li>
                  <li><a href="/activity?tab=profile&stype=produce&pwant=all&plng=-3.188266999999996&plat=55.953252&put=all&porg=[]&pbiz=[]&mwant=all&mlng=-2.6241509&mlat=51.4530491&mut=all&morg=[]&mbiz=[]">Edinburgh</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Organisations <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/slowfooduk">
                  <span class="result-container" style="white-space: nowrap;">
                  <span class="result-img"><img height="22px" width="22px" src="http://pbs.twimg.com/profile_images/1690823879/Screen_shot_2011-12-13_at_12.21.20_bigger.png"></span>
                  <span>Slow Food UK</span>
                  </span></a></li>
              <!--     <li><a href="/soilassociation">
                  <span class="result-container" style="white-space: nowrap;">
                  <span class="result-img"><img height="22px" width="22px" src="http://pbs.twimg.com/profile_images/478576050532655105/5nrVkyw9_bigger.jpeg"></span>
                  <span>Soil Association</span>

                  </span>
                  </a>
                  </li> -->
                  <li><a href="/RBSTrarebreeds">
                  <span class="result-container" style="white-space: nowrap;">
                  <span class="result-img"><img height="22px" width="22px" src="http://pbs.twimg.com/profile_images/425306987270664193/Xy6t5Spk_bigger.jpeg"></span>
                  <span>Rare Breeds Survival Trust</span>
                  </span></a></li>


                  <li><a href="/FairtradeUK">
                  <span class="result-container" style="white-space: nowrap;">
                  <span class="result-img"><img height="22px" width="22px" src="http://pbs.twimg.com/profile_images/490164578051833856/7m-a0uuW_bigger.jpeg"></span>
                  <span>Fairtrade Foundation</span>
                  </span></a></li>

                  <li><a href="/farmdrop">
                  <span class="result-container" style="white-space: nowrap;">
                  <span class="result-img"><img height="22px" width="22px" src="http://pbs.twimg.com/profile_images/446219768450650112/ELiLvM6E_bigger.jpeg"></span>
                  <span>FarmDrop</span>
                  </span></a></li>

                  <li><a href="/slowfoodlondon">
                  <span class="result-container" style="white-space: nowrap;">
                  <span class="result-img"><img height="22px" width="22px" src="http://pbs.twimg.com/profile_images/3376104397/9edf0480e8b1a610b54a62e50e619156_bigger.png"></span>
                  <span>Slow Food London</span>
                  </span></a></li>
                </ul>
              </li>
            </ul>


      <!--   <div class="input-group pull-left border0  visible-md visible-lg" id="socialShare">

      <a href="https://twitter.com/foodtradeHQ" class="btn btn-info btn-xs btn-stroke"><i class="fa fa-twitter fa-fw fa-lg twitter"></i></a>
      <a href="https://facebook.com/foodtradeHQ" class="btn btn-info facebook btn-xs btn-stroke"><i class="fa fa-facebook fa-fw fa-lg "></i></a>

          <a href="https://twitter.com/foodtradeHQ" class="twitter-follow-button " data-show-count="false"> @foodtradeHQ</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

          <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2FfoodtradeHQ&amp;width=80&amp;layout=button&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=1400801613504478" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;width:80px" allowTransparency="true"></iframe>

        </div>
       -->

      </div>
      {% endblock top_nav %}

      {% block new_post_form %}
      <div class="collapse clearfix" id="newtwitterpost" tabindex="-1" role="dialog" aria-labelledby="newtwitterpost" aria-hidden="true">
        <div class="innerAll
        col-md-6 col-md-offset-3
        col-sm-12
        col-xs-12
         ">

          <div id="structured_postu pdate" class="">

            <form action="r" method="post" id="structured_input_form" accept-charset="utf-8" onsubmit="generate_update(); $('#newtwitterpost').addClass('collapse')" class="form" role="form">


            <div class="row" style="margin-bottom:0;">

              <div class="col-xs-12">   <!-- unclosed -->

                <div class="btn-group" id="post_for"  >
                  <button type="button"  disabled="disabled" class="btn btn-default btn-sm text-black normal hidden-xs" style="background: #fff; color: #222; "> I'd like to</button>
                  <button type="button" onclick="show_small_structure();$('#price').show();"  class="btn btn-default btn-sm" value="buy" ><i class="fa fa-sign-in fa-fw"></i> buy</button>
                  <button type="button" onclick="show_small_structure();$('#price').show();" class="btn btn-default  btn-sm" value="sell" ><i class="fa fa-sign-out fa-fw"></i> sell</button>
                  <button type="button" onclick="show_small_structure();$('#price').hide();"   class="btn btn-default   btn-sm" value="offer surplus"  ><i class="fa fa-random fa-fw"></i> offer surplus</button>
                  <button type="button" onclick="switch_update_form()"   class="btn btn-default btn-sm" value="offer surplus"  ><i class="fa fa-rocket fa-fw"></i> go freestyle</button>
                </div>


                <div class=" " id="structured_hidden_block">
                    <div class="row" style="margin-top: 10px;">
                      <div class="col-xs-6">
                        <input type="text" name="produce" value="" class="form-control" placeholder="What?"  />
                        <p class="help-block">eg 'apples', 'veg curry'</p>
                      </div>
                      <div class="col-xs-6">
                        <div class="row">
                          <div class="col-xs-7" style="padding-right:0;">
                            <input type="text" name="qty" value="" class="form-control" placeholder="Qty"  />
                          </div>
                          <div class="col-xs-5" style="padding-left: 0;">
                            <select id="qtyUnit" class="form-control btn-sm selectpicker">
                              <option value="">Select unit</option>
                              <option value="Pieces">Pieces</option>
                              <option value="20' Container">20' Container</option>
                              <option value="40' Container">40' Container</option>
                              <option value="Acre/Acres">Acre(s)</option>
                              <option value="Bags">Bags</option>
                              <option value="Barrel/Barrels">Barrel(s)</option>
                              <option value="Boxes">Boxes</option>
                              <option value="Bushel/Bushels">Bushel(s)</option>
                              <option value="Case/Cases">Case(s)</option>
                              <option value="Centimeter/Centimeters">Centimeter(s)</option>
                              <option value="Cubic Meter/Cubic Meters">Cubic Meter(s)</option>
                              <option value="cubic yards">Cubic Yard(s)</option>
                              <option value="doz">Dozen</option>
                              <option value="gall">Gallon(s)</option>
                              <option value="ha">Hectare(s)</option>
                              <option selected="selected" value="Kg">kg(s)</option>
                              <option value="l">Litre(s)</option>
                              <option value="m">Meter(s)</option>
                              <option value="pallet(s)">Pallet(s)</option>
                              <option value="pint(s)">Pint(s)</option>
                              <option value="pound(s)">Pound(s)</option>
                              <option value="roll(s)">Roll(s)</option>
                              <option value="sets">Sets</option>
                              <option value="sheet(s)">Sheet(s)</option>
                              <option value="stone">Stone(s)</option>
                              <option value="ton(s)">Ton(s)</option>
                              <option value="tray(s)">Tray(s)</option>
                              <option value="unit(s)">Unit(s)</option>
                              <option value="yard(s)">Yard(s)</option>
                            </select>
                          </div>
                        </div>

                            <p class="help-block">Weight / vol / size</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6" id="price">
                        <input type="text" name="Price" value="" class="form-control" placeholder="Price"  />
                        <p class="help-block">Total, or per unit. Inc &pound;/$/&euro;</p>
                      </div>
                      <div class="col-xs-6">
                        <input type="text" class="form-control" name="date_val" id="expire_on" placeholder="When?">
                        <p class="help-block" id="date_help">try 'next Friday', '8 sept 17'</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12">
                        <textarea class="form-control" onkeyup="check_limit1()" id="update_description" rows="3" placeholder="Add detail (optional)  "></textarea>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-7">
                        <p class="help-block">eg. quality, variety, grade, packaging...</p>
                      </div>
                      <div class="col-xs-5 text-right">
                        <span class="small text-muted counted" id="charsRem1">
                          120 characters remaining
                        </span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-7">
                    {% if userinfo.email_registration == 0 %}
                        <ul class="list-inline small" style="margin-bottom:0;">
                          <li class="">Also post this to my twitter  </li>
                          <li>
                            <label>
                              <input type="checkbox" id="structured_post_to_twitter" name="post_to_twitter" value="1" checked="checked"> <i class="fa fa-twitter-square fa-lg tw"></i>
                            </label>
                          </li>
                        </ul>
                      {% endif %}
                      </div>

                      <div class="col-xs-5 text-right">
                        {% if not user.is_authenticated %}
                          <a href="/payments" class="btn btn-success pull-right"  rel="tooltip" title="Join free to post an upate">LOGIN TO POST
                          <br />
                          <span class="small">Get started free</span></a>
                        {% else %}
                          <button type="button" id="btn_update_activity" class="btn btn-sm btn-success pull-right" rel="tooltip"  {% if not user.is_authenticated %}  title="Please login to use this feature." {% endif %} onclick="generate_update();"><i class="fa fa-bullhorn fa-lg"></i> Post this</button>
                        {% endif %}
                      </div>
                    </div>
            </form>


                </div><!--structured_hidden_block-->


                    <div id="update-big" class="clearfix hidden">
                      <form class="form-horizontal">
                        <div class="row" style="margin-top:10px;">
                          <div class="col-xs-12">
                            <textarea class="form-control col-xs-12 counted" onkeyup="check_limit()" rows="3" name="q" id="newstatus" {% if not user.is_authenticated %}  onfocus="login_redirect()" title="Please login to use this feature." {% endif %} placeholder="What would you like? Eg '300kg #surplus conference #pears for #sale or #surplus' or 'I want to  #buy organic #honey for my farm shop.' "></textarea>
                          </div>
                        </div>

                      <div class="row">
                        <div class="col-xs-7">
                          <ul class="list-inline small" style="margin-bottom:0;">
                            <li class="">Also post this to my twitter   </li>
                            <li>
                              <label>
                                <input type="checkbox" id="structured_post_to_twitter" name="post_to_twitter" value="1" checked="checked"> <i class="fa fa-twitter-square fa-lg tw"></i>
                              </label>
                            </li>
                          </ul>
                        </div>

                        <div class="col-xs-5 text-right">
                          <span class="small text-muted counted" id="charsRem">
                            120 characters remaining
                          </span>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12">
                          {% if not user.is_authenticated %}
                            <a href="/payments" class="btn btn-success pull-right"  rel="tooltip" title="Join free to post an upate">LOGIN TO POST
                            <br />
                            <span class="small">Get started free</span></a>
                          {% else %}
                            <button type="button" id="btn_update_activity" class="btn btn-sm btn-success pull-right" {% if not user.is_authenticated %}  title="Please login to use this feature." {% endif %} onclick="post_new_status();"> <i class="fa fa-bullhorn fa-lg"></i> Post this</button></button>
                          {% endif %}
                        </div>
                      </div>
                    </form>
                    </div>

          </div>




      </div>
      </div>
      </div>
      </div>
      {% endblock new_post_form %}

      {% block search_nav %}
      <nav class="navbar   navbar-default" role="navigation" id="nav2">
        <div class="container-responsive">

          <div class="pull-left" style="margin-right: 10px;">
            <a href="/" class="">
            <img src="{% static 'images/logo_sm.png' %}" alt="FoodTrade logo" class="visible-xs visible-sm" />
            </a>
          </div>

          <div class="" id="">
          <form action="/activity" onsubmit="return start_search()" class="navbar-form navbar-left col-sm-6" id="searchform">
            <div class="input-group border0">
              <input type="hidden" name="stype" value="produce" id="search_stype">
              <input type="text" class="form-control pull-left" name="q" id="search_query" placeholder="eg 'apples'">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default" id="searchSubmit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
          </form>
          </div>
      <!--     <ul class="nav navbar-nav navbar-left">
            <li><a href="/activity/#profiles"><i class="fa fa-map-marker"></i> Near me</a></li>
            <li><a href="/activity/#mktplace"><i class="fa fa-bullhorn"></i> Marketplace</a></li>
          </ul> -->
          <ul class="nav navbar-nav navbar-right pull-right">

          <li class="">


                  {% if request.user.is_authenticated %}
                      <button type="button" class="btn btn-primary btn-sm hidden-xs" data-toggle="collapse" data-target="#newtwitterpost" style="font-weight: normal; margin-top:14px;" onclick="window.scrollTo(0,0);">
                        <i class="fa fa-bullhorn  fa-fw"></i>
                        Post an update
                      </button>

                      <a class="hidden-sm hidden-md hidden-lg " data-toggle="collapse" data-target="#newtwitterpost" style="font-weight: normal; position: relative; top: 2px;">
                        <i class="fa fa-edit fa-lg text-primary "></i>
                      </a>
                  {% endif %}
          </li>

             {% if request.user.is_authenticated %}
             <li id="notifications">
                <a href="/inbox/"><i class="notif-block fa fa-envelope-o fa-lg fa-fw"></i>{% if userinfo.notification_count != 0 %}
                  <span id="spanInbox" class="pull-number label label-success">{{userinfo.notification_count}}</span>
                  {% endif %}
                  </a>
            </li>

        {% endif %}

            {% if request.user.is_authenticated %}
              <li class="dropdown username pull-left">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <span class="media margin-none">
                          <span class="pull-left">
                              <img src="{{userinfo.profileimg}}" alt="{{userinfo.full_name}}"
                              class="img-rounded" id="avatar">
                          </span>
                          <span class="media-body">
                              <span class="caret"></span>
                          </span>
                      </span>
                  </a>
                  <ul class="dropdown-menu pull-right">
                      <li><a href="/visitors">My visitors</a></li>
                      <li><a href="/editprofile/me">Edit my profile</a></li>
                      <li><a href="/me">View my profile</a></li>
                      <li><a href="/payments">Account &amp; billing</a></li>
                      <li><a href="/accounts/password/change/">Change Password</a></li>
                      <li><a href="/accounts/logout">Logout</a>
                      </li>
                  </ul>
                </li>
            {% endif %}

          </ul>
        </div>
      </nav>
      {% endblock search_nav %}

      {% block search_section %}
      <span id="reload_warning" class="hidden"> </span>

      {% if not request.user.is_authenticated %}
      <div class="row" id="notLoggedIn">
        <div class="col-md-12">
          <div class=" ">
          <p>
          <a href="{% provider_login_url "twitter" process="login" %}">Sign in</a> to see richer profiles, save favourites, contact people, and more.</p>
          </p>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="row row-merge"  style="height: 100%;">
        <!-- <div class="{% if not request.user.is_authenticated %} col-xs-12 {% else %} col-md-10  {% endif %}"> -->
        <div class=" col-xs-12  ">
              <div class="container-fluid menu-hidden" id="main_page" style="padding-bottom: 0;">
                    <div class="row row-merge">
                          <div class="col-md-12">
                           {% block search_section_content %}

                           {% endblock search_section_content %}
                          </div><!-- 12 -->
                    </div><!-- row -->
              </div><!-- container -->
        </div><!-- col 10 -->
        <!-- <div class="  {% if not request.user.is_authenticated %} hidden {% else %} col-md-2  {% endif %} hidden-sm hidden-xs" id="updatesContainer"> -->
        <div class="hidden" id="updatesContainer">
        <div class="fixed">

        <h4><i class="fa fa-bullhorn"></i> Marketplace updates</h4>

          <div class="mCustomScrollbar" id="updateScroller">
            <div id="updates" class="">
            </div><!-- updates -->
          </div>


          <div id="didyouknow" class="carousel slide">
              <!-- Items -->
              <div class="carousel-inner">
                  <!-- Item -->
                  <div class="item active">

                      <span class="pull-left media-object innerLR half">
                          <i class="fa fa-fw fa-question-circle"></i>
                      </span>
                      <div class="media-body text-left">
                          If you would like to find or offer surplus or gluts, just use as <a href="/activity/?q=surplus">#surplus</a> to your message.  <a href="/activity/?q=surplus" class="text-white">Check it out</a>
                      </div>
                  </div>
                  <!-- // Item END -->
                  <!-- Item -->
                  <div class="item">

                      <span class="pull-left media-object innerLR half">
                          <i class="fa fa-fw fa-question-circle"></i>
                      </span>
                      <div class="media-body text-left">
                        You can  post updates from anywhere! Just tweet your message to @foodtradeHQ and we'll push your message to local businesses!
                      </div>
                  </div>
                  <div class="item">

                      <span class="pull-left media-object innerLR half">
                          <i class="fa fa-fw fa-question-circle"></i>
                      </span>
                      <div class="media-body text-left">
                        See who's checking you out by clicking on your account icon at the top of the page and selecting "Who's visited my profile"
                      </div>
                  </div>

              </div>
          </div>

        </div>
        </div>

      </div>

      {% endblock search_section %}
    </div>
  </div>
</body>
</html>
