{% extends 'search_base.html' %}
{% load staticfiles %}
{% load activity_tags %}

{% block title %}Search{% endblock title %}

{% block search_section_content %}
<div class="container-responsive block-center" id="activity">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="form-group">
          <label id="profile-type-label" style="display:none"></label>
          <select id="profile-type-select" style="display:none"></select>
        </div>
      </div>
      <div class="row">
        <div class="innerAll mCustomScrollbar _mCS_1 mCS_no_scrollbar" id="profile_results" style="height: 394px;">
          <h4>As you type search results will start showing here !</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6"><div id="map"></div></div>
  </div>
</div>

{% endblock search_section_content %}
