{% extends 'tbase.html' %}
{% load staticfiles %}
{% load mail_errors %}
{% block titlemain %}Ooops there's an  error{% endblock %}
{% block content %} 

<div class="col-sm-10  {% if not user.is_authenticated %} col-md-offset-1 {% endif %}">

<div class="container-responsive block-center  ">


    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">



        <img class="img-responsive" style="margin-top: 100px;" src="http://upload.wikimedia.org/wikipedia/commons/d/d0/Chocolate-chip-cookie-crumbs-on-plate.png" />

 
		<h1 style="font-size: 100px;" class="text-center">Oh crumbs. </h1>
		<p class="lead">
			
			Sorry, we can't find what you're looking for. Check it's not a typo in the address?
		We've been notified of the error and will fix the problem if we can. If you have time, <a href="https://foodtrade.uservoice.com/" target="_blank">please get in touch to tell us more</a>. 
</p>
		</div>


</div>
</div> 
</div>
</div><!-- col10 --> {% endblock %}