{% extends 'tbase.html' %}
{% load staticfiles %}

{% block content %}
 
<div class="col-md-10  {% if not user.is_authenticated %} col-md-offset-1 {% endif %}" id="pricing">

<div class="container-responsive block-center showcase">

<div class="row hero white" style="background-image: url('/static/images/pot.jpg'); padding: 80px 0;">
  <div class="col-sm-12 text-center">
  

    <h1>About FoodTrade</h1> 
    <h3 class="text-center">Our mission, our allies, our people.</h3> 
  </div>
</div> 
<div class="text-right small photocredit white">Photo credit: <a href="http://kirstymorris.com/" target="_blank">Kirsty Morris</a></div>


<div class="container-responsive">

<div class="row"> 
    <div class="page-header">
     <h1>Our mission</h1>
    </div>
  <div class="col-md-6 lead">
 
   <p><strong>FoodTrade</strong> helps your food enterprise create networks, share information, boost your reputation, collaborate on bids, and find new customers and suppliers.
</p><p>
We are a social enterprise working with the mission of <strong>good food, for everyone, forever. </strong> 
</p><p>
<strong>Why?</strong> Because everything is secondary to food. Make a change here, and everything else changes. It's a great place to push if you want to help the planet thrive.
<p>
<strong> And if not now, when?</strong></p>
  </div>
  <div class="col-md-6">
  <iframe width="100%" height="300px" src="//www.youtube.com/embed/2i9Srf_6RAc" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


<div class="row"> 
  <div class="col-md-12"> 
    <div class="page-header">
        <h1 id="timeline">Roadmap</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Idea formed</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> September 2011</small></p>
            </div>
            <div class="timeline-body">
              <p></p>
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espirit
              <ul>
<li>Introducing peer-to-peer payments (eg paypal, Dwolla, Ripple, Bitcoin..)</li>
<li>Analysing your network for synergies (eg sharing deliveries)</li>
<li>Promotion into public sector and larger contracts</li>
<li>Local area trade reports</li>
<li>Linking to more open data</li>
<li>Discounted membership to other organisations</li>
</ul>nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Covered by BBC Food Programme</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> September 2011</small></p>
            </div>
            <div class="timeline-body">
              <p>premaute, but exciting - people loved it</p>
              <p>no money - fundairdisingi.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Got funding</h4>
            </div>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> September 2012</small></p>
            <div class="timeline-body">
              <p>Wayra / geovation / made mistakes.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Summer 2013</small></p>
            <div class="timeline-body">
              <p>Interns, better crack. Ideas, development</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Spreading the word</h4>
            </div>
            <div class="timeline-body">
              <p>TED, HRH</p
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Better, stronger, faster</h4>
            </div>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> January 2014</small></p>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois div is.</p> 
            </div>
          </div>
        </li> 
    </ul>
  </div> 
</div>


<section id="partners" class="row"> 
  <div class="col-md-12">
    <div class="page-header">
      <h1>Our allies</h1>
    </div>
    <a href="########" target="_blank" class="thumbnail">
      <img src="/static/images/allies/supporter_slowfood.png" class="img-thumbnail">
    </a>  
     
    <a href="########" target="_blank" class="thumbnail">
      <img src="/static/images/allies/feeding5klogo.png" class="img-thumbnail">
    </a>  
     
    <a href="########" target="_blank" class="thumbnail">
      <img src="/static/images/allies/bga.png" class="img-thumbnail">
    </a>  
     
    <a href="########" target="_blank" class="thumbnail">
      <img src="/static/images/allies/thinkeatdrink.png" class="img-thumbnail">
    </a>  
     
    <a href="########" target="_blank" class="thumbnail">
      <img src="/static/images/allies/buckybox.png" class="img-thumbnail">
    </a>  
     
    <a href="########" target="_blank" class="thumbnail">
      <img src="/static/images/allies/supporter_o2.png" class="img-thumbnail">
    </a> 
    <a href="########" target="_blank" class="thumbnail">
      <img src="/static/images/allies/supporter_geovation.png" class="img-thumbnail">
    </a> 
    <a href="########" target="_blank" class="thumbnail">
      <img src="/static/images/allies/supporter_wayra.png" class="img-thumbnail">
    </a>   
  </div> 
</section>

 

 
          

<div class="row"> 
  <div class="col-md-8">
    <div class="page-header">
     <h1>Open data</h1>
    </div>
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="col-md-4">
  pic
  </div>
</div>

<div class="row"> 
  <div class="col-md-8">
    <div class="page-header">
   <h1>Our people</h1>
   </div>
   <h3>Team</h3>

   <h3>Advisory board</h3>

   <h3>Backers</h3>
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="col-md-4">
  pic
  </div>
</div>


 
 
    
  </div>

  <div class="col-md-6">
   
 
  </div>

</div><!-- row -->

<div class="row">
<div class="col-md-12">
<h1>Open data / GODAN</h1>

<p>
We believe that if we have the right information, clearly presented at the right time then we’ll accelerate the change towards responsibly produced food and drink.
</p><p>
This means putting data online so it’s available on computers and smartphones, but we can go further. We can make it work with other programmes and services, too. That way not only do we help drive more business to you, we can help accelerate the change still faster.
</p><p>
So far we are signed up with Global Open Data for Agriculture and Nutrition, the Open Data Institute; and we’re actively seeking new partners.
</p>

<hr />

<p>The Global Open Data for Agriculture and Nutrition (GODAN) initiative seeks to support global efforts to make agricultural and nutritionally relevant data available, accessible, and usable for unrestricted use worldwide. The initiative focuses on building high-level policy and public and private institutional support for open data. The initiative encourages collaboration and cooperation among existing agriculture and open data activities, without duplication, and brings together all stakeholders to solve long-standing global problems.</p>
<p> Open access to research, and open publication of data, are vital resources for food security and nutrition, driven by farmers, farmer organizations, researchers, extension experts, policy makers, governments, and other private sector and civil society stakeholders participating in ‘innovation systems’ and along value chains. Lack of institutional, national, and international policies and openness of data limit the effectiveness of agricultural and nutritional data from research and innovation. Making open data work for agriculture and nutrition requires a shared agenda to increase the supply, quality, and interoperability of data, alongside action to build capacity for the use of data by all stakeholders.</p>
<p> The GODAN initiative is a voluntary association brought together around a shared purpose. Launched in October 2013, the initiative welcomes all those who share this purpose to join as members and to participate in shaping coordinated activities that can deliver on the potential of open data for agriculture and nutrition. Together, initiative partners seek to support this initiative through the following guidelines and principles.</p>
<p> In line with global movements for open data and open access, the initiative seeks to:</p>
<ul><li>advocate for open data and open access policies by default, in both public and private sectors, whilst respecting and working to balance openness with legitimate concerns in relation to privacy, security, community rights and commercial interests;</li><li>advocate for the release and re-usability of data in support of Innovation and Economic Growth, Improved Service Delivery and Effective Governance, and Improved Environmental and Social Outcomes;</li></ul>
<p>With a focus on open data for agriculture and nutrition, the initiative seeks to:</p>
<ul><li>advocate for new and existing open data initiatives to set a core focus on agriculture and nutrition data;</li><li>encourage the agreement on and release of a common set of agricultural and nutrition data;</li><li>by increasing widespread awareness of ongoing activities, innovations, and good practices;</li><li>advocate for collaborative efforts on future agriculture and nutrition open data endeavors; and,</li><li>advocate programs, good practices, and lessons learned that enable the use of open data particularly by and for the rural and urban poor.</li></ul>


</div>
</div>


<div class='row'>
  <div class='col-md-12'>
    <div class="well  clearfix ">
    As featured in 
    The Grocer,
    Wired,
    BBC Food Programme,
    Modern Farmer,
    http://modernfarmer.com/2013/11/food-hub-org/
    Fast Company
    Financial Times,
    Virgin Unite,
    &amp; the Huffington Post.
    <br><small>Amongst others.</small>
 
    </div>
  </div>
</div>
 
</div><!-- container -->



</div><!-- col10 --> 


  {% endblock %}  