{% extends 'tbase.html' %}
{% load staticfiles %} 
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}

{% block content %} 


<div class="container-responsive innerAll inner-2x"> 
 


 

<h2 class="text-center"> <strong>FoodTrade</strong>  &mdash; who we are and what we want</h2>
<div class="ftstrip"></div>

  
<div class="row innerAll inner-2x ">    
  <div class="col-md-6 lead col-md-offset-1"> 
   <p><strong>FoodTrade</strong> helps your food enterprise create networks, share information, boost your reputation, collaborate on bids, and find new customers and suppliers.
</p><p>
We are a social enterprise working with the mission of <strong>good food, for everyone, forever. </strong> 
</p><p>
<strong>Why?</strong> Because everything is secondary to food. Make a change here, and everything else changes. It's a great place to push if you want to help the planet thrive.</p>
<p><strong> And if not now, when?</strong></p>
  </div>

  <div class="col-md-5 col-md-offset-1">
  <iframe width="100%" height="300px" src="//www.youtube.com/embed/2i9Srf_6RAc" frameborder="0" allowfullscreen></iframe>
  </div>
 
</div>


  
<div class="row showcase innerAll inner-2x equal">
    
    <!-- Column -->
    <div class="col-md-4">
      <div class="thumbnail widget-thumbnail">
        <img alt="Ed Dowding" src="/static/images/team/eddowding.jpg" /> 
        <div class="caption">
          <h4>Ed Dowding</h4>
          <p>Ed Dowding is the founder of FoodTrade. He's previously created big-data and social collaboration systems for the insurance industry and London's emergency services. He knows that the world has to change, and wants to make sure it changes for good.</p>
          <p>He sits on the London Food Board, has been a judge for the organic food awards, done a TED talk on the food system, and enjoys nothing more than being out on his bike or thinking up new ways to make progress go faster.</p>
          <div class="text-center">
             <a href="http://twitter.com/eddowding" class="btn btn-info btn-stroke"><i class="fa fa-fw fa-twitter"></i>@eddowding</a> 
           </div>
        </div>
      </div> 
    </div>
    <!-- // Column END -->

    <!-- Column -->
    <div class="col-md-4">
      <div class="thumbnail widget-thumbnail">
        <img alt="Lyndsey Knight" src="/static/images/team/lyndsey.jpg" /> 
        <div class="caption">
          <h4>Lyndsey Knight</h4>
          <p>Lyndsey’s all about about good food culture, and loves nothing better than bringing folk together over a hearty meal. Having worked her magic in Oxford, Melbourne, Edinburgh and London, Lyndsey now takes care of communications and community at FoodTrade in Bristol.</p><p> When she’s not spreading the good food love, you’ll find her growing stuff, riding her orange bicycle, or dancing to 90’s trip hop.</p>
          <div class="text-center">
             <a href="http://twitter.com/lyndseyrknight" class="btn btn-info btn-stroke"><i class="fa fa-fw fa-twitter"></i>@lyndseyrknight</a> 
           </div>
        </div>
      </div> 
    </div>
    <!-- // Column END -->


    <!-- Column -->
    <div class="col-md-4">
      <div class="thumbnail widget-thumbnail">
        <img alt="Team Phunka" src="/static/images/team/phunka.jpg" /> 
        <div class="caption">
          <h4>Team Phunka</h4>
          <p>Our kick-ass Nepalese web team. These guys 'get' big-data and social change, which is what attracted us - they've been hacking public data to work out which roads are dangerous, where schools should be built, and setting up services to protect abused women. Totally rocking it.  Their ability to deliver brilliant ideas, quickly, professionally, and calmly is second to none.  </p>
          <div class="text-center">
             <a href="http://twitter.com/phunkatech" class="btn btn-info btn-stroke"><i class="fa fa-fw fa-twitter"></i>@phunkatech</a> 
           </div>
        </div>
      </div> 
    </div>
    <!-- // Column END --> 
     
    
  </div>


 


<div class="row"> 
<div class="box-generic clearfix hidden">
  <div class="col-md-12"> 
    <div class="page-header">
        <h1 id="timeline">Roadmap</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Idea formed</h4>
              <p><small ><i class="glyphicon glyphicon-time"></i> September 2011</small></p>
            </div>
            <div class="timeline-body">
              <p>Having created the collaboration system used by London's emergency services, and developing a global risk analysis application for the insurance industry, founded Ed Dowding wanted to solve a <em>really</em> important problem. </p>
              <p>After a lot of thinking and research and talking, he realised that the food system is humanity's most important - yes most vulnerable and most destructive - asset. </p>

           
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-volume-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Covered by BBC at the ORFC</h4>
              <p><small ><i class="glyphicon glyphicon-lightbulb"></i> January 2012</small></p>
            </div>
            <div class="timeline-body">
              <p>Launched a basic version of the site and presented it at the <a href="http://www.oxfordrealfarmingconference.org/" target="_blank">Oxford Real Farming Conference</a>. People love the idea and we were covered by the <a href="http://www.bbc.co.uk/programmes/b019rd9c" target="_blank">BBC Food programme</a>.</p>
              <p>Time to go and raise money!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-certificate"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Prizes and funding</h4>
            </div>
            <p><small ><i class="glyphicon glyphicon-time"></i> Autumn 2012 - Spring 2013</small></p>
            <div class="timeline-body">
              <p>A good and busy summer. We won <a href="https://www.geovation.org.uk/" target="_blank">GeoVation</a>, and backing from <a href="http://wayra.org/" target="_blank">Wayra</a> and a number of wonderful impact investors. 
              <p>Then we made some stupid mistakes. Motto: careful what you wish for. </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted"> 
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><i class="glyphicon glyphicon-volume-up"></i> Spreading the word</h4>
            </div>
            <p><small ><i class="glyphicon glyphicon-time"></i> Summer 2013</small></p>
            <div class="timeline-body">
              <p>Even though we're not doing quite what we want to do with our service, we're developing credibility as a place to find ideas about food system innovation, tech, and the power of big &amp; open data.</p>
              <p>We were invited by HRH Prince of Wales to present at a private conference on <a href="http://www.langenburg-forum.de/?page_id=94" target="_blank">Sustainable Regional Food Systems</a> in Germany, and presented at TED (video above).</p>
            </div>
          </div>
        </li>
         
        <li class="timeline-inverted">
          <div class="timeline-badge info"><i class="glyphicon glyphicon-road"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Better, stronger, faster</h4>
            </div>
            <p><small ><i class="glyphicon glyphicon-time"></i> January 2014</small></p>
            <div class="timeline-body">
              <p>Launch of Version-3 of the site. This is the version we always wanted to build, plus two years of learning. Here's some of the things we'll want to do this year. </p> 
                 <ul>
                  <li>Add peer-to-peer payments to make it even easier to trade.</li>
                  <li>Local area &amp; personalised reports to highlight opportunities</li>
                  <li>Promotion into public sector and larger contracts</li> 
                  <li>Helping create buying groups</li> 
                  <li><a href="https://foodtrade.uservoice.com/forums/231923-general" target="_blank">...and much more &raquo;</a></li>
                </ul>
                <p>But we don't be able to do any of them unless you sign up!</p>
            </div>
          </div>
        </li> 
    </ul>
  </div> 
</div> 
</div>

 

 
          <h2 class="text-center">Open data</h2>
<div class="row innerAll inner-2x"> 
<div class="box-generic clearfix">
  <div class="col-md-8 lead">

   
    <p>
    We believe that if we have the right information, clearly presented at the right time then we’ll accelerate the change towards responsibly produced food and drink.
    </p><p>
    This means putting data online so it’s available on computers and smartphones, but we can go further. We can make it work with other programmes and services, too. That way not only do we help drive more business to you, we can help accelerate the change still faster.
    </p><p>
    We are founding signatories of the <a href="http://godan.info" rel="tooltip" target="_blank" title="The Global Open Data for Agriculture and Nutrition (GODAN) initiative seeks to support global efforts to make agricultural and nutritionally relevant data available, accessible, and usable for unrestricted use worldwide."> Global Open Data for Agriculture and Nutrition</a> the <a href="http://theodi.org/" target="_blank">Open Data Institute</a>. 
    </p> 
  </div>
  <div class="col-md-2 col-md-offset-1">
    <img src="/static/images/network_opendata.png" class="img-responsive block-center">
  </div> 
</div>

  
 


</div><!-- container -->
</div><!-- col10 --> 


  {% endblock %}  