{% extends 'tbase.html' %}
{% load staticfiles %}

{% block content %}
 
<div class="col-md-10  {% if not user.is_authenticated %} col-md-offset-1 {% endif %}" id="pricing">

<div class="container-responsive block-center showcase">

<div class='row'>
  <div class="col-md-12 hero" style="background-image: url('http://farm3.staticflickr.com/2088/2540412429_b5f2ab371b_o.jpg');">
    <h1>About FoodTrade </h1> 
    <h3>Her ambition, her history, and her people.</h3>
  </div>
</div>
  
<div class="container-responsive">

<div class="row"> 
  <div class="col-md-6">
   
   <h3>Our promise to you</h3>
   <ul class="tick_green lead">
    <li>FoodTrade is, and will remain, completely free for individuals</li>
    <li>FoodTrade empowers you to improve your food system, and so enrich your community, environment, and economy</li>
    <li>FoodTrade works for you – guaranteed</li>
   </ul>

<h3>Roadmap</h3>
<ul>
<li>Introducing peer-to-peer payments (eg paypal, Dwolla, Ripple, Bitcoin..)</li>
<li>Analysing your network for synergies (eg sharing deliveries)</li>
<li>Promotion into public sector and larger contracts</li>
<li>Local area trade reports</li>
<li>Linking to more open data</li>
<li>Discounted membership to other organisations</li>
</ul>
 
    
  </div>

  <div class="col-md-6">
  <h3>Common</h3> 
  <h4>  Will FoodTrade include more features in the future?</h4>
  <p>
Yes. We will continuously develop features, for both Pro and standard customers. Pro users actually help us shape the roadmap for future developments by suggesting and voting on feature requests.</p>

<h4>Will you continue to invest in the free version of FoodTrade?</h4>
<p>
Of course. We will continue to add new features for both paid and standard accounts. Having the paid version is a way to give early access to specific features for and give our community makes us more sustainable and enables us to innovate faster.</p>

<h4>Can I ask for a refund?</h4>
<p>Yes. If you try FoodTrade and are not satisfied, you have 30 days to ask for a refund. Refunds are not available on the 'Snack' plan. </p>

<strong>How can we make this better?</strong>
<p>We created this trade network because we want to help make sure responsible businesses earn a fair return. If you have ideas about how we can do this better, please drop us a line.</p>
 
  </div>

</div><!-- row -->

<div class="row">
<div class="col-md-12">
<h1>Open data / GODAN</h1>

<p>
We believe that if we have the right information, clearly presented at the right time then we’ll accelerate the change towards responsibly produced food and drink.
</p><p>
This means putting data online so it’s available on computers and smartphones, but we can go further. We can make it work with other programmes and services, too. That way not only do we help drive more business to you, we can help accelerate the change still faster.
</p><p>
So far we are signed up with Global Open Data for Agriculture and Nutrition, the Open Data Institute; and we’re actively seeking new partners.
</p>

<hr />

<p>The Global Open Data for Agriculture and Nutrition (GODAN) initiative seeks to support global efforts to make agricultural and nutritionally relevant data available, accessible, and usable for unrestricted use worldwide. The initiative focuses on building high-level policy and public and private institutional support for open data. The initiative encourages collaboration and cooperation among existing agriculture and open data activities, without duplication, and brings together all stakeholders to solve long-standing global problems.</p>
<p> Open access to research, and open publication of data, are vital resources for food security and nutrition, driven by farmers, farmer organizations, researchers, extension experts, policy makers, governments, and other private sector and civil society stakeholders participating in ‘innovation systems’ and along value chains. Lack of institutional, national, and international policies and openness of data limit the effectiveness of agricultural and nutritional data from research and innovation. Making open data work for agriculture and nutrition requires a shared agenda to increase the supply, quality, and interoperability of data, alongside action to build capacity for the use of data by all stakeholders.</p>
<p> The GODAN initiative is a voluntary association brought together around a shared purpose. Launched in October 2013, the initiative welcomes all those who share this purpose to join as members and to participate in shaping coordinated activities that can deliver on the potential of open data for agriculture and nutrition. Together, initiative partners seek to support this initiative through the following guidelines and principles.</p>
<p> In line with global movements for open data and open access, the initiative seeks to:</p>
<ul><li>advocate for open data and open access policies by default, in both public and private sectors, whilst respecting and working to balance openness with legitimate concerns in relation to privacy, security, community rights and commercial interests;</li><li>advocate for the release and re-usability of data in support of Innovation and Economic Growth, Improved Service Delivery and Effective Governance, and Improved Environmental and Social Outcomes;</li></ul>
<p>With a focus on open data for agriculture and nutrition, the initiative seeks to:</p>
<ul><li>advocate for new and existing open data initiatives to set a core focus on agriculture and nutrition data;</li><li>encourage the agreement on and release of a common set of agricultural and nutrition data;</li><li>by increasing widespread awareness of ongoing activities, innovations, and good practices;</li><li>advocate for collaborative efforts on future agriculture and nutrition open data endeavors; and,</li><li>advocate programs, good practices, and lessons learned that enable the use of open data particularly by and for the rural and urban poor.</li></ul>


</div>
</div>

<div class='row'>
  <div class='col-md-12'>

  <div class="col-md-3 ">
  <div class="thumbnail">
      <p>The sustainable alternative to the UK’s food network — Together [small companies] are able to enjoy the same advantages as big agri-business.</p>
<p><img class="alignright size-full wp-image-5023" alt="wired" src="http://foodtrade.com/wp-content/uploads/2013/10/264x54xwired.png.pagespeed.ic.PHJlPo-jPC.jpg" width="264" height="54" pagespeed_url_hash="3184154382"></p>

</div>
</div>
  <div class="col-md-3 ">
  <div class="thumbnail">

      <p>Numerous industries have been radically transformed by ‘disruptive technology’, but to date there has been little technology innovation in the grocery industry which can be considered truly disruptive. That may all be about to change…<br>
<img class="size-full wp-image-5025 alignright" alt="grocer" src="http://foodtrade.com/wp-content/uploads/2013/10/264x54xgrocer.png.pagespeed.ic.52CPNeyH2n.jpg" width="264" height="54" pagespeed_url_hash="2406920671"></p>

</div>
</div>
  <div class="col-md-3 ">
  <div class="thumbnail">

      <p>The ‘dating site for food’, connects food producers with local businesses to foster communities and help small farms exist whilst in competition with the big supermarkets.</p>
<p><img class="alignright size-full wp-image-5022" alt="huffpo" src="http://foodtrade.com/wp-content/uploads/2013/10/264x54xhuffpo.png.pagespeed.ic.hZ_X0nTf7q.png" width="264" height="54" pagespeed_url_hash="873157195"></p>

</div>
</div>
  <div class="col-md-3 ">
  <div class="thumbnail">

      <p>More jobs. More money in the local economy. More resilient supply chains. Better food. Less CO2, and other pollution.. the answer is a social media platform that helps local people collaborate, and do business.</p>
<p><img class="alignright size-full wp-image-5024" alt="fastcompany" src="http://foodtrade.com/wp-content/uploads/2013/10/264x54xfastcompany.png.pagespeed.ic.tK890tqMEd.jpg" width="264" height="54" pagespeed_url_hash="1618865448"></p>

</div>
</div>

  </div>
</div>

</div><!-- container -->



</div><!-- col10 --> 


  {% endblock %}