{% load activity_tags %}
{% if results_updates_count == 0 and results_business_count == 0 and results_organisation_count == 0 %}
<div class="alert alert-warning text-center">
  <p><strong>Sorry, we've found nothing for this search... yet!</strong></p>
  <p>More produce, businesses, and organisations are signing up every day so check back soon.</p>
</div>
{% endif %}
        <ul class="chat">

 

{% if results %}

{% for result in results %}
{% if result.user.username != result.result_type and result.sign_up_as == "Business" %}
{% single_activity userinfo result "profile" "main" %}
    
    {% endif %}
  {% endfor %}
    {% endif %}
</ul> 