{% extends 'tbase.html' %}
{% load staticfiles %}
{% block content %}
    <div id="activity_single" class="container">

      

    <div class="col-md-10" id="single">

    <div class="container-responsive">
    <div id="header_box" class="clearfix">


      <div class="col-md-2" id="avatar">
        <img class="img-thumbnail center-block" src="{{parent_tweet.user.profile_img}}"  />
      </div>
     
      <div class="col-md-7">

         <p style="font-size: 20px; font-weight: 200; padding-top: 20px;">
          {{parent_tweet.status}}</p>        

 <hr />

         <h1><a href="#">{{parent_tweet.user.name}}</a></h1>

        {% if parent_tweet.type_user|length == 0 or parent_tweet.type_user|first == '' %}
          {% else %}
          <div class="tags tags-biztype  ">  
            {% for eachtype in parent_tweet.type_user %}
           <a href="/activity/?b={{eachtype}}">{{eachtype}}</a>
           {% endfor %}
          </div> {% endif %}

          <!-- <div class="tags tags-biztype  ">  
           <a href="/type/livestock-farm">Bakery</a>
           <a href="/type/buther">Wholesale</a>  
           <a href="/type/buther">Distribution</a>  
           <a href="/type/buther">Livestock Farm</a>  
          </div>  -->
   
     
         <div class="meta small text-muted">
            <i class="fa fa-map-marker"></i> <a href="http://maps.google.com/maps?saddr={{userinfo.lat}},{{userinfo.lon}}&daddr={{parent_tweet.location.coordinates.1}},{{parent_tweet.location.coordinates.0}}" target="_blank" data-placement="top" data-toggle="tooltip" title="Get directions" class="text-muted">{{parent_tweet.user.address}}</a>  
            
            <!-- if logged in or you've allows html5 browser location -->
            <i class="fa fa-location-arrow" style="margin-left: 20px;"></i> {{parent_tweet.distance_text}} miles  

  
         </div> <!-- meta -->
  
      </div><!-- end header middle -->
{% comment %}
      <div id="contact_info" class="col-md-3">
 
      <!-- if logged in users = individual --> 
      <button class="btn btn-default btn-block" data-toggle="modal" data-target="#modal_customer">
        <i class="fa fa-smile-o text-muted"></i> I am a customer
      </button> 

      <!-- if logged in users = business --> 
      <div class="btn-group btn-block" data-toggle="buttons">
        <label class="btn btn-default" style="width:50%;" title="LOGGEDINUSER buys from PROFILENAME">
          <input type="checkbox"> Buy from
        </label>
        <!-- showing active mode if button is selected -->
        <label class="btn btn-success" style="width:50%;" title="LOGGEDINUSER sells to PROFILENAME">
          <input type="checkbox"> Sell to
        </label> 
      </div>
 

      <!-- Button trigger modal -->
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_contact">
        Contact
      </button>   
 

      <button class="btn btn-default btn-block" data-toggle="modal" data-target="#sharer">
        <i class="fa fa-share-square-o text-muted"></i> Share
      </button>

      <!--SHARER  Modal -->
      <div class="modal fade" id="sharer" tabindex="-1" role="dialog" aria-labelledby="sharer" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body"> 



        <div class="container-responsive">
          <div class="row">
            <div class="col-sm-6">

              <a href="#" class="btn btn-block  btn-social btn-facebook" onclick="window.open(
                    'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('URL') +'&amp;t=' + encodeURIComponent('TITLE'), 
                    'facebook-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">
                <i class="fa fa-facebook"></i>  Share on Facebook
              </a>

              <a href="#" class="btn btn-block  btn-social btn-twitter" onclick="window.open(
                    'https://twitter.com/share?url='+encodeURIComponent('URL')+'&amp;text='+encodeURIComponent('@THEIRNAME on @foodtradeHQ') + '&amp;count=none/', 
                    'twitter-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">
                <i class="fa fa-twitter"></i>  Share on Twitter
              </a>
  
              <a class="btn  btn-block  btn-social btn-pinterest" href="http://pinterest.com/pin/create/button/?url={URI-encoded URL of the page to pin}&media={URI-encoded URL of the image to pin}&description={optional URI-encoded description}" class="pin-it-button" count-layout="horizontal">
                <i class="fa fa-pinterest"></i>
                Share on Pinterest
              </a>
            </div>
            <div class="col-sm-6">
              <a  class="btn btn-social btn-block btn-google-plus" href="https://plus.google.com/share?url=myline">
                <i class="fa fa-google-plus"></i>
                Share on Google+
              </a>

              <a  class="btn btn-block btn-social btn-tumblr" href="http://www.tumblr.com/share" title="Share on Tumblr">
                <i class="fa fa-tumblr"></i>
                Share on Tumblr
              </a>
                 
              <a  class="btn btn-block  btn-social btn-bitbucket" href="http://www.linkedin.com/shareArticle?mini=true&url=THEURL&title=TITLE&summary=SUMMARY&source=">
                <i class="fa fa-linkedin"></i>
                Share on LinkedIn
              </a>
            </div>
            </div>
            </div>
              <script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>

            </div> 
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <div class="icons text-center" style="font-size:25px">
        <a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-twitter-square"></i></a> 
        <a href="#"><i class="fa fa-phone-square"></i></a> 
        <a href="#"><i class="fa fa-rss-square"></i></a> 
        <a href="#"><i class="fa fa-envelope"></i></a> 
        <a href="#"><i class="fa fa-globe"></i></a> 
        <a href="#"><i class="fa fa-youtube"></i></a> 
        <a href="#"><i class="fa fa-linkedin-square"></i></a> 
      </div> 


      


 
      </div><!-- end header last -->
{% endcomment %}
    </div>
    </div> 

    <div class="row" style="margin-top: 30px;">
      <div class="col-md-6">

        <div id="update" class="well  ">
          
              <div class="input-group"> 
                <input class="form-control input-sm enterhandler" data-tweet-id = "{{parent_tweet.tweetuid}}" data-main = "main"   {% if not user.is_authenticated %} rel="tooltip" title="Please login to use this feature." {% endif %} type="text" id="replyid" placeholder="Reply to @{{parent_tweet.user.username}}" onfocus="ShowReply('replyid', '@{{parent_tweet.user.username}}')" onblur="BlurReply('replyid', '@{{parent_tweet.user.username}}')">

                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success"> Post</button>
                </span>
              </div>
          
        </div> 

        <div class="container-responsive clearfix">
          <div id="activity"> 
           
<ul class="chat">

   {% if results %}

{% for result in results %}
{% if result.user.username == result.result_type %}
    <li class="left clearfix {{result.result_class}}" id="{{result.uid.id}}"><span class="chat-img pull-left">
    <img src="{{result.user.profile_img}}" alt="{{result.user.name}}" class="img-thumbnail" />
    </span>
        <div class="chat-body clearfix">
 

        <div class="btn-group pull-right" style="margin-left: 5px;">
            <button type="button" class="btn btn-default dropdown-toggle btn-xs pull-left" data-toggle="dropdown">
              <i class="fa fa-share fa-large text-muted"></i>
                
            </button> 
            <ul class="dropdown-menu" role="menu">
              <li><a href="http://www.facebook.com/sharer/sharer.php?u=SINGLE_PERMALINK" target="_blank"><i class="fa fa-facebook fa-fw"></i> Share on Facebook</a></li>
              <li><a href="http://twitter.com/home?status=SINGLE_PERMALINK" target="_blank"><i class="fa fa-twitter fa-fw"></i> Share on Twitter</a></li>
              <li class="divider"></li>
              {%  if userinfo.user_type == "Business" and result.sign_up_as == "Business" and result.user.username != userinfo.username %}
              <li><a href="#" onclick="click_activity('buyFrom','{{result.useruid}}')">I buy from</a></li>
              <li><a href="#"onclick="click_activity('sellTo','{{result.useruid}}')">I sell to</a></li> 
              <li class="divider"></li>
              {% endif %}
              {% if result.sign_up_as == "Organisation" %}
              <li><a href="#" onclick="click_activity('markMember', '{{result.useruid}}')">I'm a member</a></li>
              {% endif %}
              {% if userinfo.user_type == "Individual" and result.sign_up_as == "Business" %}
              <li><a href="#" onclick="click_activity('markCustomer', '{{result.user.username}}')">I'm a customer</a></li>
              {% endif %}
              <li class="divider"></li>
              {% ifequal result.user.username userinfo.username %}
              <li><a href="#" onclick="click_activity('delete','{{result.tweetuid}}')">Delete</a></li>
              {% endifequal %}
              {% if result.user.username != userinfo.username %}
              <li><a href="#" onclick="click_activity('spam','{{result.uid.id}}')">Flag as spam</a></li>
              <li><a href="#" onclick="click_activity('follow','{{result.user.username}}')">Follow on Twitter</a></li>
              {% endif %}
              <li><a href="/profile/{{result.user.username}}/">View full profile</a></li> 
            </ul>
          </div>  


            <div class="header">
                <strong class="pull-left" style="margin-right: 10px;"><a href="/profile/{{result.user.username}}">{{result.user.name}}</a></strong> 

          {% if type_user|length == 0 or type_user|first == '' %}
          {% else %}
          {% if result.sign_up_as == "Business" %}
            <div class="tags tags-biztype">  
              {% for tag in result.type_user  %}
                <a href="/activity/?b={{tag}}">{{tag}}</a>
              {% endfor %}
            </div> 
            {% endif %}
          {% endif %}
            </div>

            <p>
                {{result.status}}
            </p>

              <div class="meta small text-muted">
               <i class="fa fa-map-marker"></i>
                {{result.user.address}}

                 <!-- if logged in or you've allows html5 browser location -->
                 <a href="http://maps.google.com/maps?saddr={{userinfo.lat}},{{userinfo.lon}}&daddr={{result.location.coordinates.1}},{{result.location.coordinates.0}}" 
                    target="_blank" data-placement="top" data-toggle="tooltip" 
                    class="text-muted" 
                    rel="tooltip" 
                    title="Get directions"> 
                 <i class="fa fa-location-arrow"></i> {{result.distance_text}}  
                 </a>
                <!--  // if logged in or you've allows html5 browser location -->

                <span class="pull-right time_ago">
                   <a href="/profile/{{result.user.username}}/" class="text-muted"><i class="fa fa-clock-o"></i> {{result.time_elapsed}}</a> 
                </span>
              </div> 

        </div>

        <div class="reply well well-sm" style="margin:0;"> 
          <input class="form-control input-sm enterhandler" data-tweet-id = "{{result.tweetuid}}" data-main = "main"   {% if not user.is_authenticated %} rel="tooltip" title="Please login to use this feature." {% endif %} type="text" id="replyid_{{forloop.counter}}" placeholder="Reply to @{{result.user.username}}" onfocus="ShowReply('replyid_{{forloop.counter}}', '@{{result.user.username}}')" onblur="BlurReply('replyid_{{forloop.counter}}', '@{{result.user.username}}')">
        </div>
    </li>






     <li>
      <ul>
      {% for reply_result in result.replies %}

          <li class="left clearfix activity_reply {{reply_result.result_class}}" id="{{reply_result.uid.id}}"><span class="chat-img pull-left">
    <img src="{{reply_result.user.profile_img}}" alt="{{reply_result.user.name}}" class="img-thumbnail" />
    </span>
        <div class="chat-body clearfix">
 

        <div class="btn-group pull-right" style="margin-left: 5px;">
            <button type="button" class="btn btn-default dropdown-toggle btn-xs pull-left" data-toggle="dropdown">
              <i class="fa fa-share fa-large text-muted"></i>
                
            </button> 
            <ul class="dropdown-menu" role="menu">
              <li><a href="http://www.facebook.com/sharer/sharer.php?u=SINGLE_PERMALINK" target="_blank"><i class="fa fa-facebook fa-fw"></i> Share on Facebook</a></li>
              <li><a href="http://twitter.com/home?status=SINGLE_PERMALINK" target="_blank"><i class="fa fa-twitter fa-fw"></i> Share on Twitter</a></li>
              <li class="divider"></li>
              {%  if userinfo.user_type == "Business" and reply_result.sign_up_as == "Business" and reply_result.user.username != userinfo.username %}
              <li><a href="#" onclick="click_activity('buyFrom','{{reply_result.useruid}}')">I buy from</a></li>
              <li><a href="#"onclick="click_activity('sellTo','{{reply_result.useruid}}')">I sell to</a></li> 
              <li class="divider"></li>
              {% endif %}
              {% if reply_result.sign_up_as == "Organisation" %}
              <li><a href="#" onclick="click_activity('markMember', '{{reply_result.useruid}}')">I'm a member</a></li>
              {% endif %}
              {% if userinfo.user_type == "Individual" and reply_result.sign_up_as == "Business" %}
              <li><a href="#" onclick="click_activity('markCustomer', '{{reply_result.user.username}}')">I'm a customer</a></li>
              {% endif %}
              <li class="divider"></li>
              {% ifequal reply_result.user.username userinfo.username %}
              <li><a href="#" onclick="click_activity('delete','{{reply_result.tweetuid}}')">Delete</a></li>
              {% endifequal %}
              {% if reply_result.user.username != userinfo.username %}
              <li><a href="#" onclick="click_activity('spam','{{reply_result.uid.id}}')">Flag as spam</a></li>
              <li><a href="#" onclick="click_activity('follow','{{reply_result.user.username}}')">Follow on Twitter</a></li>
              {% endif %}
              <li><a href="/profile/{{reply_result.user.username}}/">View full profile</a></li> 
            </ul>
          </div>  


            <div class="header">
                <strong class="pull-left" style="margin-right: 10px;"><a href="/profile/{{reply_result.user.username}}">{{reply_result.user.name}}</a></strong> 

          {% if type_user|length == 0 or type_user|first == '' %}
          {% else %}
          {% if reply_result.sign_up_as == "Business" %}
            <div class="tags tags-biztype">  
              {% for tag in reply_result.type_user  %}
                <a href="/activity/?b={{tag}}">{{tag}}</a>
              {% endfor %}
            </div> 
            {% endif %}
          {% endif %}
            </div>

            <p>
                {{reply_result.status}}
            </p>

              <div class="meta small text-muted">
               <i class="fa fa-map-marker"></i>
                {{reply_result.user.address}}

                 <!-- if logged in or you've allows html5 browser location -->
                 <a href="http://maps.google.com/maps?saddr={{userinfo.lat}},{{userinfo.lon}}&daddr={{reply_result.location.coordinates.1}},{{reply_result.location.coordinates.0}}" 
                    target="_blank" data-placement="top" data-toggle="tooltip" 
                    class="text-muted" 
                    rel="tooltip" 
                    title="Get directions"> 
                 <i class="fa fa-location-arrow"></i> {{reply_result.distance_text}}  
                 </a>
                <!--  // if logged in or you've allows html5 browser location -->

                <span class="pull-right time_ago">
                   <a href="/profile/{{reply_result.user.username}}/" class="text-muted"><i class="fa fa-clock-o"></i> {{reply_result.time_elapsed}}</a> 
                </span>
              </div> 

        </div>

        <div class="reply well well-sm" style="margin:0;"> 
          <input class="form-control input-sm enterhandler" data-tweet-id = "{{reply_result.tweetuid}}" data-main = "reply" {% if not user.is_authenticated %} rel="tooltip" title="Please login to use this feature." {% endif %} type="text" id="replyid_{{reply_result.tweetuid}}" placeholder="Reply to @{{result.user.username}} {{reply_result.mentions}}" onfocus="ShowReply('replyid_{{reply_result.tweetuid}}', '@{{result.user.username}} {{reply_result.mentions}}')" onblur="BlurReply('replyid_{{reply_result.tweetuid}}', '@{{result.user.username}} {{reply_result.mentions}}')">
        </div>
    </li>

         {% endfor %}
        
</ul>
</li>

{% endif %}
  {% endfor %}
    {% endif %}

</ul>


          </div> 
         </div>
      </div><!-- end col8 --> 


      <div class="col-md-6">
        <img src="map.png" style="width: 100%;" />

        <div class="alert alert-warning">
          <p>This map shows 
          Customers as points
          Stockist as organge lines and 
          Supplieras as purple lines</p>

          <p>There are radius lines at 15, 30, and 100 miles.</p>
        </div>


      </div><!-- end col4 -->

    </div><!-- row -->

   


        


    </div><!-- col10 --> 

   {% endblock %}