{% load activity_tags %}

{% if results_updates_count == 0 and results_individual_count == 0 and results_business_count == 0 and results_organisation_count == 0 %}
<div class="alert alert-info text-center" style="margin-top: 30px;">
  <p><strong>Sorry, we've found nothing for this search... yet!</strong></p>
  <p>More produce, businesses, and organisations are signing up every day so check back soon.</p>
  <p>You can really help speed up this process, but spreading the word, posting links on facebook and twitter, and inviting your favourite businesses to sign up to get good food on their shelves and menus!</p>
</div>
{% endif %}

<ul class="timeline-activity marketplace list-unstyled " id="updates">

{% if results %}

  {% for result in results %}
    {% if result.user.username == result.result_type %}

      {% single_activity userinfo result "status" "main" %}
    
    {% endif %}
  {% endfor %}

{% endif %}
</ul>

<script type="text/javascript">  
  {% if results %}
    connections = {{json_data | safe}};
  {% endif %}
</script>