{% load recognise_name %}
<h1 style="text-align:center">Foodtrade activities going around you</h1>
{% for result in results %}

    <li class="left clearfix singleresult" data-id="{% if result_type == "status" %}{{result.tweetuid}} {% else %}{{result.user.username}}{% endif %}">
    <span class="chat-img float: left !important;">
    <img src="{{result.user.profile_img}}" alt="{{result.user.name}}" class="img-thumbnail" />
    </span>
        <div class="chat-body clearfix">  
            <div class="header">
                <strong class="pull-left" style="margin-right: 10px;"><a href="http://foodtrade.com/profile/{{result.user.username}}">{{result.user.name}}</a></strong> 

          {% if type_user|length == 0 or type_user|first == '' %}
          {% else %}
          {% if result.sign_up_as == "Business" %}
            <div class="tags tags-biztype">  
              {% for tag in result.type_user  %}
                <a href="http://foodtrade.com/activity/?b={{tag}}">{{tag}}</a>
              {% endfor %}
            </div> 
            {% endif %}
          {% endif %}
            </div>

            <p>
                {{result.status|recognise_name|safe}}
            </p>

              <div class="meta small text-muted">
                <span class="hidden-sm hidden-xs">
                  <i class="fa fa-map-marker"></i>
                  {{result.user.address}}
                </span>
                <!--  // if logged in or you've allows html5 browser location -->
                {% if result_type == "status" %}
                <span class="pull-right time_ago">
                   <a href="http://foodtrade.com/{{result.user.username}}/post/{{result.tweetuid}}" class="text-muted"><i class="fa fa-clock-o"></i> {{result.time_elapsed}}</a> 
                </span>
                {% endif %}
              </div> 
        </div>
    </li>
{% endfor %}
