{% load activity_tags %}
{% if results_updates_count == 0 and results_individual_count == 0 and results_business_count == 0 and results_organisation_count == 0 %}
<div class="alert alert-info text-center">
  <p><strong>Sorry, we've found nothing for this search... yet!</strong></p>
  <p>More produce, businesses, and organisations are signing up every day so check back soon.</p>
</div>
{% endif %}

<ul class="timeline-activity marketplace list-unstyled clearfix isotope js-isotope" data-isotope-options='{ "itemSelector": ".singleresult", "masonry": { "columnWidth": ".grid-sizer", "gutter": ".gutter-sizer" } }' id="cards">

  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
 

{% if results %}

{% for result in results %}
{% if result.user.username != result.result_type and result.sign_up_as == "Individual" %}
{% single_activity userinfo result "profile" "main" %}
    
    {% endif %}
  {% endfor %}
    {% endif %}
</ul> 