{% extends 'tbase.html' %}
{% load staticfiles %}
{% load activity_tags %}
{% block head %}

{% endblock %}
{% block content %}
  <script src="https://rawgithub.com/kartena/Proj4Leaflet/master/lib/proj4-compressed.js"></script><!-- proj4js -->
  <script src="https://rawgithub.com/kartena/Proj4Leaflet/master/src/proj4leaflet.js"></script><!-- proj4leaflet -->
  <script src="https://rawgithub.com/rob-murray/os-leaflet/master/src/osopenspace.js"></script><!-- OS OpenSpace layer -->


<div class="container-responsive block-center">

<div class="row row-merge">

<div class="col-xs-12 col-sm-4" id="activity_switcher" >


 
<div class="widget hidden" style="width:100%;">
  <div class="padding-none"> 
    <div class="input-group"  style="width:100%;">
    {% comment %}
      <textarea class="form-control"  {% if not user.is_authenticated %}  onfocus="login_redirect()" title="Please login to use this feature." {% else %} {% if not can_tweet %} data-toggle="modal" data-target="#newtwitterpost" {% else %} rel="tooltip" title="Please upgrade your account to post." {% endif %}{% endif %} style="width:100%;">What #food do you have to #buy, #sell, or #surplus?  </textarea> 
    {% endcomment %}
      <textarea class="form-control"  {% if not user.is_authenticated %}  onfocus="login_redirect()" title="Please login to use this feature." {% else %}  data-toggle="modal" data-target="#newtwitterpost" {% endif %} style="width:100%;">What #food do you have to #buy, #sell, or #surplus?  </textarea> 
    </div>
  </div>
</div>


 
<div class="container-responsive" id="searchfilters">

<div class="widget widget-tabs widget-tabs-double widget-tabs-responsive" style="background: #F5F8FA;   margin: 0 !important; padding-top: 10px;">
  <!-- Tabs Heading -->
  <div class="widget-head  "  id="result_tabs" style="background: #F2F6F8;">
    <ul> 
      <li class="active " style="">
        <a href="#mktplace" class="glyphicons bullhorn" id="mkt_tab" data-toggle="tab"><i></i><span class="strong">Market place</span><span>Real-time trading</span></a>
      </li>
      <li class="" style="">
        <a href="#profiles" class="glyphicons shop" id="profile_tab" data-toggle="tab"><i></i><span class="strong">Profiles</span><span class="dotdotdot">People &amp; places</span></a>
      </li>
    </ul>
  </div>
</div>

  <div class="widget-body innerAll" style="margin:0; background-color: #FFF;">

    <div class="tab-content">
      <!-- Tab content --> 
      <div class="tab-pane active" id="mktplace">

    <form action="/activity" onsubmit="return formSubmit(this);"  role="search" data-step="1" data-intro="Search for anyhing, anywhere" class="form-horizontal">

      <div class="form-group clearfix">
        <label for="companyType" class="col-sm-3 control-label">Find by keyword</label>
        <div class="col-sm-9">
            <div class="btn-group " data-toggle="buttons-radio">
                <button class="btn btn-default  btn-sm" >#buy</button>
                <button class="btn btn-default  btn-sm ">#sell</button>
                <button class="btn btn-default  btn-sm ">#surplus</button>
                <button class="btn btn-default  btn-sm ">#job</button>
            </div> 
        </div>
      </div>
  
      <div class="form-group clearfix" style="background: rgba(200,200,200,0.1);">
        <label for="companyType" class="col-sm-3 control-label">User type</label>
        <div class="col-sm-9">
            <div class="btn-group " data-toggle="buttons-radio">
                <button class="btn btn-default btn-sm active" data-toggle="collapse" data-target="#companygroup" >Companies</button>
                <button class="btn btn-default btn-sm ">Individuals</button>
            </div>
        </div>
      </div>

      <div class="text-center innerAll">
        <a data-toggle="collapse" data-target="#filters2" class="btn btn-default btn-sm"><i class="fa fa-sliders"></i> Advanced filters</a>
      </div>

      <div id="filters2" class="innerAll collapse"> 
        <div class="form-group" id="locationgroup">
          <label for="loc" class="col-sm-3 control-label">Location</label>
          <div class="col-sm-9">
            <div class="input-group  input-group-sm">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <input type="text" name="location" id="pac-input" value="{% if search %}{{ search.place }}{% endif %}{% if not search %}{{userinfo.zip_code}}{% endif %}" class="pac-input form-control  " placeholder="Where?">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
            <input type="hidden" name="lon" id="lon" value="{{search.lon}}"/>
            <input type="hidden" name="lat" id="lat" value="{{search.lat}}"/> 
          </div>
        </div>
        
        <div class="form-group" id="organisationgroup">
          <label for="filterOrg" class="col-sm-3 control-label">Organisation</label>
          <div class="col-sm-9">
            <select class="selectpicker show-tick" data-live-search="true" multiple data-selected-text-format="count>2" title="Filter by organisation" name="filterOrg"   data-style="btn-default">
              <option>Soil Association</option><option>
              Pasture Fed LIvestock </option><option>
              Fetc</option> 
          </select>
          </div>
        </div>

        <div class="form-group" id="companygroup">
          <label for="companyType" class="col-sm-3 control-label">Company type</label>
          <div class="col-sm-9">
          <select class="selectpicker show-tick"   data-live-search="true" multiple data-selected-text-format="count>2" title="Filter by company type" name="companyType"  data-style="btn-default">
            <optgroup label="Production">
              <option >Grower</option><option>
              Cafe / coffee shop</option><option>
              Food manufacturer</option><option>
              Food Stall</option><option>
              Restaurant / Pub / Bar</option><option>
              Ready meals</option><option>
              Farm Shop</option><option>
              Health food</option>
            </optgroup>
            <optgroup label="Last mile">
             <option> Drinks manufacturer</option><option>
              Butcher</option><option>
              Marketing</option><option>
              Baker</option><option>
              Arable Farm</option><option>
              Chef / Catering</option><option>
              Individual</option>
            </optgroup> 
          </select>
          </div>
        </div>
      </div><!-- filters -->

    </form> 


<h1>MARKETPLACE RESULT EXAMPLE</h1>


 <div class="box-generic">

            <div class="timeline-top-info   border-bottom clearfix">
            
              <div class="pull-right" style="margin-left: 5px;">
    
                <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-fw fa-cog text-muted"></i>
                  <span class="sr-only">Toggle Dropdown</span>
                </a>
                 
                <a type="button" class="btn btn-primary btn-xs" href="/CoconutChilli/post/476663147080974336">
                  <i class="fa fa-arrow-right " style="color:#fff;"></i> 
                </a>

                <ul class="dropdown-menu" role="menu">  
                  <li><a href="http://www.facebook.com/sharer/sharer.php?u=http://foodtrade.com/CoconutChilli/post/476663147080974336" target="_blank"><i class="fa fa-facebook fa-fw facebook"></i> Share on Facebook</a></li>
                  <li><a href="http://twitter.com/home?status=%40foodtradeHQ%20Did%20u%20read%20shocking%20%40guardian%20story%202ay%20about%20human%20slavery%20on%20boats%20catching%20shrimps%3F%20Truly%20horrific%20http%3A//t.co/SIXbWohPT6%20http://foodtrade.com/CoconutChilli/post/476663147080974336" target="_blank"><i class="fa fa-twitter fa-fw twitter "></i> Share on Twitter</a></li>
                  <li><a type="button" href="/profile/CoconutChilli/">
                  <i class="fa fa-info-circle fa-lg fa-fw"></i> View profile</a></li>   
                  
                  <li><a href="#" onclick="click_activity('follow','CoconutChilli')"><i class="fa fa-star-o fa-fw"></i>  Follow on Twitter</a></li>
                  
                  <li><a href="#" class="deletetweet" data-tweet-id="476663147080974336"><i class="fa fa-trash-o fa-fw flag"></i> Delete</a></li>
                  
                  <li><a href="#" onclick="click_activity('spam','476663147080974336 ')" class=" "><i class="fa fa-flag-o flag fa-fw"></i> Report</a></li>
                </ul>  

            </div>  
  
                <img src="http://pbs.twimg.com/profile_images/378800000758195057/d2854e6f4990ed71465136f9ba9f5af5_normal.jpeg" alt="Navina Bartlett" class="img-responsive pull-left" style="width:40px; margin-right: 5px;">
                <h4 class="margin0"><a href="/profile/CoconutChilli" class="text-inverse"> 
                      <strong>  Coconut Chilli  </strong> </a> </h4>
                    <a href="/activity/?b=Ready meals" class="innerR half small">Ready meals</a>
                
               
            </div>

            <!-- status --> 
            <div class="media margin-none status">   
              <div class="innerTB ">
                <a href="/profile/foodtradeHQ/">@foodtradeHQ</a> Did u read shocking @guardian story 2ay about human slavery on boats catching shrimps? Truly horrific <a href="http://t.co/SIXbWohPT6" target="_blank">http://t.co/SIXbWohPT6</a>
              </div>

            </div> 

            <div class="timeline-bottom small border-top clearfix">

              
               <a href="http://maps.google.com/maps?saddr=51.4529956141,-2.62451568043&amp;daddr=51.454513,-2.58791" target="_blank" data-placement="top" data-toggle="tooltip" class="pull-right" rel="tooltip" title="" data-original-title="Get directions"> 
               <span class="hidden-sm hidden-xs truncate100 address">
                <i class="fa fa-map-marker fa-fw"></i>
                Bristol, City of Bristol, UK
              </span>
              
               </a> 
               
                 <a href="/CoconutChilli/post/476663147080974336">
                   <i class="fa fa-calendar  fa-fw"></i> 2 days ago
                 </a>
            
            </div>  


            <div class="innerAll half border-top bg-gray "> 
                <input class="form-control input-sm enterhandler reply_input" data-tweet-id="476663147080974336" data-main="main" type="text" placeholder="Reply to @CoconutChilli" data-mentions="@CoconutChilli"> 
            </div>
        </div>



<h1>PROFILE RESULT </h1>

   <script type="text/javascript">
// function get_box_profile(user)
// {
//   var content = "";

// content += '<div class="box-generic">';
// content += '<div class="timeline-top-info border-bottom clearfix">';
// content += '<div class="pull-right" style="margin-left: 5px;">';
// content += '<a type="button" class="dropdown-toggle" data-toggle="dropdown">';
// content += '<i class="fa fa-fw fa-cog text-muted"></i>';
// content += '<span class="sr-only">Toggle Dropdown</span>';
// content += '</a>';
// content += '<a type="button" class="btn btn-primary btn-xs" href="/wallfishbristol">';
// content += '<i class="fa fa-arrow-right fa-lg" style="color:#fff;"></i> ';
// content += '</a>';
// content += '<ul class="dropdown-menu" role="menu">  ';
// content += '<li><a href="http://www.facebook.com/sharer/sharer.php?u=http://foodtrade.com/profile/wallfishbristol" target="_blank"><i class="fa fa-facebook fa-fw facebook"></i> Share on Facebook</a></li>';
// content += '<li><a href="http://twitter.com/home?status=We%20are%20now%20open%20and%20taking%20bookings.%20Owned%20and%20run%20by%20staff%20who%20have%20done%20time%20with%20Hix%2C%20River%20Cottage%2C%20Le%20Caf%C3%A9%20Anglais%20and%20Ducksoup%20http://foodtrade.com/profile/wallfishbristol" target="_blank"><i class="fa fa-twitter fa-fw twitter "></i> Share on Twitter</a></li>';
// content += '<li><a type="button" href="/profile/wallfishbristol/">';
// content += '<i class="fa fa-info-circle fa-lg fa-fw"></i> View profile</a></li> ';
// content += '<li><a href="#" onclick="click_activity(\'follow\',\'wallfishbristol\')"><i class="fa fa-star-o fa-fw"></i>  Follow on Twitter</a></li>';
// content += '<li><a href="#" class="deletetweet" data-tweet-id="[]"><i class="fa fa-trash-o fa-fw flag"></i> Delete</a></li>';
// content += '<li><a href="#" onclick="click_activity(\'spam\',\'wallfishbristol\')" class=" "><i class="fa fa-flag-o flag fa-fw"></i> Report</a></li>';
// content += '</ul>  ';
// content += '</div>  ';
// content += '<img src="http://pbs.twimg.com/profile_images/378800000020683174/ac7a5c15da2a2a167f2251cd95c4fa31_normal.png" alt="The Wallfish Bistro" class="img-responsive pull-left" style="width:50px; margin-right: 5px;">';

// content += '<h4 class="margin0"><a href="/profile/wallfishbristol" class="text-inverse">';
// content += 'The Wallfish Bistro';
// content += '</a></h4> ';
// content += '<a href="/activity/?b=Restaurant / Pub / Bar" class="  small">Restaurant / Pub / Bar</a> ';
// content += '</div>';
// content += '<div class="media margin-none status">  ';
// content += '<div class="content">';
// content += '<div class="text  innerAll half"> ';
// content += '<p class="">We are now open and taking bookings. Owned and run by staff who have done time with Hix, River Cottage, Le Café Anglais and Ducksoup</p>';
// content += '</div>';
// content += '<div class="innerTB half border-top border-bottom"> ';
// content += '<span class="label label-default"><i class="fa fa-sign-in fa-fw"></i>BUYS</span> <b>Carrots</b> &amp; 18 more <br />';
// content += '<span class="label label-default"><i class="fa fa-sign-out fa-fw"></i>SELLS:</span> Fish <-- this is the name of the matching item';
// content += '</div> ';
// content += '<div class="innerTB half clearfix"> ';
// content += '<img src="http://pbs.twimg.com/profile_images/1690823879/Screen_shot_2011-12-13_at_12.21.20_bigger.png" alt="The Wallfish Bistro" class="img-responsive pull-left" style="width:40px; margin-right: 5px;">';
// content += '<img src="http://pbs.twimg.com/profile_images/1690823879/Screen_shot_2011-12-13_at_12.21.20_bigger.png" alt="The Wallfish Bistro" class="img-responsive pull-left" style="width:40px; margin-right: 5px;">';
// content += '<img src="http://pbs.twimg.com/profile_images/1690823879/Screen_shot_2011-12-13_at_12.21.20_bigger.png" alt="The Wallfish Bistro" class="img-responsive pull-left" style="width:40px; margin-right: 5px;">';
// content += '<img src="http://pbs.twimg.com/profile_images/1690823879/Screen_shot_2011-12-13_at_12.21.20_bigger.png" alt="The Wallfish Bistro" class="img-responsive pull-left" style="width:40px; margin-right: 5px;">';
// content += '</div> ';
// content += '</div>   ';
// content += '</div> ';
// content += '<div class="timeline-bottom innerTB half small border-top clearfix">';
// content += '<a href="http://maps.google.com/maps?saddr=51.4529956141,-2.62451568043&amp;daddr=51.454513,-2.58791" target="_blank" data-placement="top" data-toggle="tooltip" class="pull-left" rel="tooltip" title="" data-original-title="Get directions"> ';
// content += '<span class="hidden-sm hidden-xs truncate100 address">';
// content += '<i class="fa fa-map-marker fa-fw"></i>';
// content += 'Bristol, City of Bristol, UK';
// content += '</span>';
// content += '</a> ';
// content += '<a href="http://maps.google.com/maps?saddr=51.4529956141,-2.62451568043&amp;daddr=51.4536248,-2.6241012" target="_blank" data-placement="top" data-toggle="tooltip" class="pull-right" rel="tooltip" title="" data-original-title="Get directions"> ';
// content += '<i class="fa fa-location-arrow fa-fw"></i> 0.0 miles  ';
// content += '</a>';
// content += '</div>  ';
// content += '<div class="innerAll border-top bg-gray  reply" style="display: none;"> ';
// content += '<input class="form-control input-sm enterhandler reply_input" data-main="main" type="text" placeholder="Reply to @wallfishbristol" data-mentions="@wallfishbristol"> ';
// content += '</div>';
// content += '</div>';
// return content;

// }
// document.write(get_box_profile(2));
   </script>






        </div> 
        <!-- // Tab content END -->
        <!-- Tab content -->
        <div class="tab-pane" id="profiles"> 

          <form action="/activity" onsubmit="return formSubmit(this);"  role="search" data-step="1" data-intro="Search for anyhing, anywhere" class="form-horizontal">

            <div class="form-group clearfix">
              <label for="companyType" class="col-sm-3 control-label">I want to</label>
              <div class="col-sm-9">
                  <div class="btn-group " data-toggle="buttons-radio">
                      <button class="btn btn-default btn-pwant btn-sm active" >Buy</button>
                      <button class="btn btn-default btn-pwant btn-sm ">Sell</button>
                  </div> 
              </div>
            </div> 

            <div class="form-group clearfix" style="background: rgba(200,200,200,0.1);">
              <label for="companyType" class="col-sm-3 control-label">User type</label>
              <div class="col-sm-9">
                  <div class="btn-group " data-toggle="buttons-radio">
                      <button class="btn btn-default btn-sm active" data-toggle="collapse" data-target="#companygroup" >Companies</button>
                      <button class="btn btn-default btn-sm ">Individuals</button>
                  </div>
              </div>
            </div>

            <div class="text-center innerAll">
              <a data-toggle="collapse" data-target="#filters1" class="btn btn-default btn-sm filters1"><i class="fa fa-sliders"></i> Advanced filters</a>
            </div>

            <div id="filters1" class="innerAll collapse"> 
              <div class="form-group" id="locationgroup">
                <label for="loc" class="col-sm-3 control-label">Location</label>
                <div class="col-sm-9">
                  <div class="input-group  input-group-sm">
             f       <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" name="location" id="pac-input" value="{% if search %}{{ search.place }}{% endif %}{% if not search %}{{userinfo.zip_code}}{% endif %}" class="pac-input form-control  " placeholder="Where?">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                  </div>
                  <input type="hidden" name="lon" id="lon" value="{{search.lon}}"/>
                  <input type="hidden" name="lat" id="lat" value="{{search.lat}}"/>  
                </div>
              </div>
              
              <div class="form-group" id="organisationgroup">
                <label for="filterOrg" class="col-sm-3 control-label">Organisation</label>
                <div class="col-sm-9">
                  <select class="selectpicker show-tick" data-live-search="true" multiple data-selected-text-format="count>2" title="Filter by organisation" name="filterOrg"   data-style="btn-default">
                  <optgroup label="Production">
                    <option>Grower</option><option>
                    Cafe / coffee shop</option><option>
                    Food manufacturer</option><option>
                    Food Stall</option><option>
                    Restaurant / Pub / Bar</option><option>
                    Ready meals</option><option>
                    Farm Shop</option><option>
                    Health food</option>
                  </optgroup>
                  <optgroup label="Last mile">
                   <option> Drinks manufacturer</option><option>
                    Butcher</option><option>
                    Marketing</option><option>
                    Baker</option><option>
                    Arable Farm</option><option>
                    Chef / Catering</option><option>
                    Individual</option>
                  </optgroup> 
                </select>
                </div>
              </div>

              <div class="form-group" id="companygroup">
                <label for="companyType" class="col-sm-3 control-label">Company type</label>
                <div class="col-sm-9">
                <select class="selectpicker show-tick"   data-live-search="true" multiple data-selected-text-format="count>2" title="Filter by company type" name="companyType"  data-style="btn-default">
                  <optgroup label="Production">
                    <option >Grower</option><option>
                    Cafe / coffee shop</option><option>
                    Food manufacturer</option><option>
                    Food Stall</option><option>
                    Restaurant / Pub / Bar</option><option>
                    Ready meals</option><option>
                    Farm Shop</option><option>
                    Health food</option>
                  </optgroup>
                  <optgroup label="Last mile">
                   <option> Drinks manufacturer</option><option>
                    Butcher</option><option>
                    Marketing</option><option>
                    Baker</option><option>
                    Arable Farm</option><option>
                    Chef / Catering</option><option>
                    Individual</option>
                  </optgroup> 
                </select>
                </div>
              </div>
            </div><!-- filters -->

          </form> 

          <div id="profile_results"></div>
        </div>
        <!-- // Tab content END -->


    </div>

 </div> <!-- widget -->
 


     
    </div><!-- closes main col -->
    </div>


      <div class="col-sm-8 col-xs-12 fill"  style="  right:0px;">
        <div id="map" style=" position: fixed; width:100%; height: 100%; top: 56px;"></div>
      </div>
    </div>

</div>

    <script type="text/javascript">
    var result_object = {{result|safe}};

      map_lat=result_object.center[1];
      map_lon = result_object.center[0];

      // food_filters = {{foods_filter |safe}};
      // business_filters = {{business_filter |safe}};
      // organisation_filters = {{organisation_filter |safe}}; 

      function swith_update_form()
        {
          switch_text_area();
          $("#structured_postupdate").hide();
          $("#update-big").show();
        }






    </script>
      

  {% endblock %}


  {% block footer %}
    {% include "includes/not_logged_in_modal.html" %}
     <script src="{% static "js/activity.js" %}"></script>
     

 {% endblock %}
 {% block javascript %}
 <script type="text/javascript">
      // show_food_filters(food_filters, 0);
      // show_organisation_filters(organisation_filters, 0);
      // show_business_filters(business_filters, 0);
</script>

 <script src="{% static "js/activity-map.js" %}"></script>
 <script src="{% static "js/functions.js" %}"></script>
 <script src="{% static "js/search.js" %}"></script>

              <script type="text/javascript">

              function get_time_text(time)
              {

                var time_elapsed = Date.now()/1000 - parseInt(time); 
                var time_text = "";
                if (time_elapsed<60)
                    time_text = parseInt(time_elapsed) + ' seconds';

                else if(time_elapsed < 3600)
                {

                    var minutes = time_elapsed/60;
                    time_text = parseInt(minutes) + ' minutes';
                  }
                else if(time_elapsed < 3600*24)
                {
                    var hours = time_elapsed/3600;
                    time_text = parseInt(hours) + ' hours';
                  }
                else if(time_elapsed < 3600*24*365)
                {
                    var days = time_elapsed/3600/24;
                    time_text = parseInt(days) + ' days';
                  }
                else
                {
                    var years = time_elapsed/3600/24/365;
                    time_text = parseInt(years) + ' years';
                  }
                return time_text;
              }

              function update_latest_updates(data)
                {
                    feeds = jQuery.parseJSON(data);
                    var updates  = "";
                    for(var i = 0;i<feeds.length;i++)
                    {
                      var item = feeds[i];
                      updates +='<div class="update" data-toggle="popover" data-trigger="click" data-container="body" data-placement="left" data-original-title="" title="" data-title="Aww shucks!!"  data-html="true"  data-content="<div class=\'text-center\'><p class=\'\'>'+item.updates.status+'</p><a href=\'#\' class=\'btn btn-primary\'>Upgrade</a></div>" >';
                      updates += '<img src="'+item.profile_img+'" class="pull-left" style="width:25px; margin-right: 10px;" /><p class="margin-image-left-small">'+item.updates.status+'<br /><small class="text-muted">'+get_time_text(item.updates.time_stamp)+'</small> </p></div>';


                    }
                    $("#updates").html(updates);
                }


              $(document).ready(function(){
                ajax_request("get_latest_updates", 'update_latest_updates',{});
                
                
              });




              </script>
              <
{% endblock %}