{% load activity_tags %}
{% if results_updates_count == 0 and results_individual_count == 0 and results_business_count == 0 and results_organisation_count == 0 %}
<div class="alert alert-warning text-center">
  <p><strong>Sorry, we've found nothing for this search... yet!</strong></p>
  <p>More produce, businesses, and organisations are signing up every day so check back soon.</p>
</div>
{% endif %}

        <ul class="chat">

 

{% if results %}

{% for result in results %}
{% if result.user.username == result.result_type %}

{% single_activity userinfo result "status" "main" %}


     <li class="replies">
      <ul>
      {% for reply_result in result.replies %}

{% single_activity userinfo reply_result "status" "main" %}

         {% endfor %}
        
</ul>
</li>

{% endif %}
  {% endfor %}
    {% endif %}
</ul>
<script type="text/javascript">
  
{% if results %}
connections = {{json_data | safe}};
    {% endif %}
</script>