{% extends 'tbase.html' %}
{% load staticfiles %}
{% load recognise_name %}

{% block ogtype %}{% if parent_tweet.sign_up_as == "Business" %}business.business{%endif%}{% if parent_tweet.sign_up_as == "Individual" %}Profile{%endif%}{% if parent_tweet.sign_up_as == "Organisation" %}business.business{%endif%}{% endblock %}

{% block titlemain %}{{parent_tweet.status}} {{parent_tweet.user.name}}{% endblock %}
{% block titlecontent %}{{parent_tweet.user.name}}{% endblock %}
{% block metadescription %}{{parent_tweet.status}}{% endblock %}
{% block metatitle %}{{parent_tweet.status}} -{{parent_tweet.user.name}}{% endblock %}

{% block description %}{{parent_tweet.status}}{% endblock %}
{% block fblat %}{{parent_tweet.location.coordinates.1}}{% endblock %}
{% block fblon %}{{parent_tweet.location.coordinates.0}}{% endblock %}
{% block fbzipcode %}{{parent_tweet.zip_code}}{% endblock %}
{% block fbcountry %}{{tweet_country}}{% endblock %}
{% block ogimg %}{{parent_tweet.user.profile_img}}{% endblock %}


{% block contact %}
  {% if parent_tweet.sign_up_as == 'Business' or parent_tweet.sign_up_as == 'Organisation'%}
  <meta property="business:contact_data:street_address" content="{{parent_tweet.user.address}}" /> 
  <meta property="business:contact_data:locality"       content="{{parent_tweet.user.address}}" /> 
  <meta property="business:contact_data:postal_code"    content="{{parent_tweet.zip_code}}" /> 
  <meta property="business:contact_data:country_name"   content="{{tweet_country}}" /> 
  {% endif %}
{% endblock %}

{% block content %}
{% load activity_tags %}
  <div id="activity_single">
    <div class="col-sm-10 {% if not user.is_authenticated %} col-md-offset-1 {% endif %}" id="single">

    <div class="container-responsive">
    <div id="header_box" class="clearfix">


      <div class="col-md-2 hidden-sm hidden-xs" id="avatar">
        <img class="img-thumbnail center-block" src="{{parent_tweet.user.profile_img}}"  />
      </div>

     
      <div class="col-md-7 col-xs-8">
          {% if parent_tweet.subscribed %}
          <span class="fa-stack fa-lg pull-right" id="verified" rel="tooltip" title="Verified profile">
            <i class="fa fa-certificate fa-stack-2x" style="color: #1DBD3C;"></i>
            <i class="fa fa-check fa-stack-1x" style="color: #fff;"></i>
          </span>
          {% endif %}

           <h1 style="font-size: 26px;"><a href="/profile/{{parent_tweet.user.username}}">
                  
                {% ifequal parent_tweet.user.business_org_name None %}
                    {{parent_tweet.user.name}}
                {% else %}
                    {% if parent_tweet.sign_up_as == "Business" and parent_tweet.user.business_org_name != '' or parent_tweet.sign_up_as == "Organisation" and parent_tweet.user.business_org_name != '' %}
                      {{parent_tweet.user.business_org_name}}
                    {% else %}
                      {{parent_tweet.user.name}}
                    {% endif %}  
                {% endifequal %}

        </a></h1>



         <div class="ftstrip ftstrip-mini"></div>

         <p class="lead" style="padding: 20px 0 0 0;">
          {{parent_tweet.status|recognise_name|safe}}
         </p>

         <div class="ftstrip ftstrip-mini"></div>

        {% if parent_tweet.type_user|length == 0 or parent_tweet.type_user|first == '' %}
          {% else %}
          <div class="tags tags-biztype" style="padding: 20px 0 0 0;">  
            {% for eachtype in parent_tweet.type_user %}
           <a href="/activity/?b={{eachtype}}">{{eachtype}}</a>
           {% endfor %}
          </div> 
        {% endif %}

   
     
         <div class="meta small text-muted">
          {% if parent_tweet.location.coordinates.1 == -82.86275189999999 and parent_tweet.location.coordinates.0 == -135.10000000000002 %}
              <i class="fa fa-map-marker"></i> <a > NA</a>
              <i class="fa fa-location-arrow" style="margin-left: 20px;"></i> NA
            {% else %}
            <i class="fa fa-map-marker"></i> <a href="http://maps.google.com/maps?saddr={{userinfo.lat}},{{userinfo.lon}}&daddr={{parent_tweet.location.coordinates.1}},{{parent_tweet.location.coordinates.0}}" target="_blank" data-placement="top" data-toggle="tooltip" title="Get directions" class="text-muted">
              {{parent_tweet.user.address}}
          </a>  
            
            <!-- if logged in or you've allows html5 browser location -->
            <span class="pull-right">
            <i class="fa fa-location-arrow" style="margin-left: 20px;"></i> {{parent_tweet.distance_text}}  
            </span>
            {% endif %}

            

  
         </div> <!-- meta -->
  
      </div><!-- end header middle -->

      <div id="contact_info" class="col-md-3  col-xs-4">
 {% comment %}
      <!-- if logged in users = individual --> 
      <button class="btn btn-default btn-block" data-toggle="modal" data-target="#modal_customer">
        <i class="fa fa-smile-o text-muted"></i> I am a customer
      </button> 

      <!-- if logged in users = business --> 
      <div class="btn-group btn-block" data-toggle="buttons">
        <label class="btn btn-default" style="width:50%;" title="LOGGEDINUSER buys from PROFILENAME">
          <input type="checkbox"> Buy from
        </label>
        <!-- showing active mode if button is selected -->
        <label class="btn btn-success" style="width:50%;" title="LOGGEDINUSER sells to PROFILENAME">
          <input type="checkbox"> Sell to
        </label> 
      </div>
 
{% endcomment %}
      <!-- Button trigger modal -->
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_contact">
        Contact
      </button>   
 

      <button class="btn btn-default btn-block" data-toggle="modal" data-target="#sharer">
        <i class="fa fa-share-square-o text-muted"></i> Share
      </button>

       <!-- modal_contact -->
      <div class="modal fade" id="modal_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Contact {{userinfo.name}}</h4>
            </div>
            <div class="modal-body">
            <div class="container-responsive">
              <div class="row">
                <div class="col-sm-4">
             
                  <address>
                    
          <a href="mailto:{{email}}" class="dotdotdot" target="_blank"><i class="fa fa-envelope text-muted fa-fw"></i> {{s_userinfo.email}} </a><br />
          <a href="http://twitter.com/{{screen_name}}"  target="_blank"><i class="fa fa-twitter text-muted fa-fw"></i> {{s_userinfo.twitter_user}}</a><br />
          {% if s_userinfo.phone_number %}
          <a href="callto:{{phone_number}}"><i class="fa fa-phone text-muted fa-fw"></i> {{phone_number}}</a>
          {% endif %}
                  </address>
                </div>
                
                <div class="col-sm-8 contact-form">
                  <form id="contact" method="post" class="form" role="form">
                    <div class="row">
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_name" name="name" placeholder="Name" type="text" required autofocus value = "{{userinfo.full_name}}"/>
                      </div>
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_email" name="email" placeholder="Email" type="email" required value = "{{userinfo.email}}" />
                      </div>
                    </div> 
                    <textarea class="form-control" id="email_message" placeholder="Type in your message" rows="5"></textarea>
                    <h6 class="pull-right" id="contact_counter">120 characters remaining</h6>
                     
                  </form>
                </div>
              </div>
            </div>
 
   
            </div>
            <div class="modal-footer"> 
              <button type="button" id="contact_tweet" class="btn btn-info" onclick="post_contact_tweet('{{screen_name}}')"><i class="fa fa-fw fa-twitter"></i> Tweet it</button>
              <button type="button" class="btn btn-success" onclick="send_email('{{email}}')"><i class="fa fa-envelope fa-fw"></i> Email it</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->




      <!--SHARER  Modal -->
      <div class="modal fade" id="sharer" tabindex="-1" role="dialog" aria-labelledby="sharer" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body"> 
        <div class="container-responsive">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="btn btn-block  btn-social btn-facebook" onclick="window.open(
              'https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;p[images][0]='+encodeURIComponent('{{parent_tweet.user.profile_img}}')+'&amp;p[title]='+encodeURIComponent('{{parent_tweet.user.name}} on FoodTrade')+'&amp;p[summary]={{parent_tweet.status|urlencode}}&amp;u='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;t='+encodeURIComponent('{{parent_tweet.user.name}} on FoodTrade'),
                    'facebook-share-dialog',
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">

                <i class="fa fa-facebook"></i>  Share on Facebook
              </a>
              <a href="#" class="btn btn-block  btn-social btn-twitter" onclick="window.open(
                    'https://twitter.com/share?url='+encodeURIComponent('{{ request.build_absolute_uri }}')+'&amp;text={{parent_tweet.status |urlencode}} %40{{parent_tweet.user.username|urlencode}}&amp;count=none/', 
                    'twitter-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">
                <i class="fa fa-twitter"></i>  Share on Twitter
              </a>
  
              <a class="btn  btn-block  btn-social btn-pinterest" href="http://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri|urlencode }}&media={{parent_tweet.user.profile_img|urlencode}}&description={{parent_tweet.status|urlencode}}{{'#FoodTrade'|urlencode}}" class="pin-it-button" count-layout="horizontal">
                <i class="fa fa-pinterest"></i>
                Share on Pinterest
              </a>
            </div>
            <div class="col-sm-6">
              <a  class="btn btn-social btn-block btn-google-plus" href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}">
                <i class="fa fa-google-plus"></i>
                Share on Google+
              </a>
              <a  class="btn btn-block btn-social btn-tumblr" href="http://www.tumblr.com/share" title="Share on Tumblr">
                <i class="fa fa-tumblr"></i>
                Share on Tumblr
              </a>
                 
              <a  class="btn btn-block  btn-social btn-bitbucket" href="http://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|urlencode}}&title={{parent_tweet.user.username}} on FoodTrade&summary={{parent_tweet.status}}&source=">
                <i class="fa fa-linkedin"></i>
                Share on LinkedIn
              </a>
            </div>
            </div>
            </div>
              <script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
            </div> 
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
{% comment %}
      <div class="icons text-center" style="font-size:25px">
        <a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-twitter-square"></i></a> 
        <a href="#"><i class="fa fa-phone-square"></i></a> 
        <a href="#"><i class="fa fa-rss-square"></i></a> 
        <a href="#"><i class="fa fa-envelope"></i></a> 
        <a href="#"><i class="fa fa-globe"></i></a> 
        <a href="#"><i class="fa fa-youtube"></i></a> 
        <a href="#"><i class="fa fa-linkedin-square"></i></a> 
      </div> 

{% endcomment %}
      


 
      </div><!-- end header last -->

    </div>
    </div> 

    <div class="row" style="margin-top: 30px;">
      <div class="col-md-6 col-xs-8 reply_text" id="single_post_content">

        <div id="update" class="well well-sm">
          
              <div class="input-group"> 
               <input id="main_post_input" class="form-control reply_input" data-tweet-id="{{parent_tweet.tweetuid}}" data-main="{{position}}"   {% if not userinfo.username %} data-toggle="tooltip" data-placement="top" title="Please login to use this feature." {% endif %}  type="text" placeholder="Reply to @{{parent_tweet.user.username}}" data-mentions="@{{parent_tweet.user.username}}">


           

                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success" onclick="single_post_content_new_post()"> Post</button>
                </span>
              </div>
          
        </div> 

        <div class="container-responsive clearfix">
          <div id="activity"> 
           
        <ul class="chat" id ="update_content">

 

{% if results %}

{% for result in results %}
{% if result.user.username == result.result_type %}

{% single_activity userinfo result "status" "main" %}

     <li>
      <ul>
      {% for reply_result in result.replies %}

{% single_activity userinfo reply_result "status" "main" %}

         {% endfor %}
        
</ul>
</li>

{% endif %}
  {% endfor %}
    {% endif %}
</ul> 


          </div> 
         </div>
      </div><!-- end col8 --> 


      <div class="col-md-6 col-xs-4">
       <div id="map" >

        <div class="alert alert-warning">
          <p>This map shows 
          Customers as points
          Stockist as organge lines and 
          Supplieras as purple lines</p>

          <p>There are radius lines at 15, 30, and 100 miles.</p>
        </div>
        </div>


      </div><!-- end col4 -->

    </div><!-- row -->

   


        


    </div><!-- col10 --> 
    {% include "includes/not_logged_in_modal.html" %}
        <script type="text/javascript">
    map_lat={{parent_tweet.location.coordinates.1}};
    map_lon = {{parent_tweet.location.coordinates.0}};
    self_info = {{parent_json |safe}};



connections = {% if results %}{{json_data | safe}}{% else %} [];
{% endif %}
   
    </script>
     <script src="{% static "js/singlepost-map.js" %}"></script>

   {% endblock %}


          {% block footer %}
           <script src="{% static "js/activity.js" %}"></script>
           <script type="text/javascript">
$( document ).ready(function() {
    tweetlistener('email_message', 'contact_counter', 'contact_tweet');
});
</script>
 {% endblock %}