{% load recognise_name %}
<h2 style="text-align:center">What's happening hear you?</h2>
<table style="border:0;" cellpadding="2" >

{% for result in results %}
<tr>
    <td valign="top" data-id="{% if result_type == "status" %}{{result.tweetuid}} {% else %}{{result.user.username}}{% endif %}">
      <span class="chat-img">
      <img src="{{result.user.profile_img}}" alt="{{result.user.name}}" style="padding: 0px; width: 50px; margin-right: 4px;"  />
      </span>
    </td>
    <td>  
      <strong style="margin-right: 10px;"><a href="http://foodtrade.com/profile/{{result.user.username}}" style="color: #6C7F40; text-decoration: none;">{{result.user.name}}</a></strong> 

      {% if type_user|length == 0 or type_user|first == '' %}
      {% else %}
      {% if result.sign_up_as == "Business" %}
        <div class="tags tags-biztype">  
          {% for tag in result.type_user  %}
            <a href="http://foodtrade.com/activity/?b={{tag}}" style="text-decoration: none; color: #999; border: 1px solid #ccc; padding: 2px; font-size: 11px; ">{{tag}}</a>
          {% endfor %}
        </div> 
        {% endif %}
      {% endif %}

      <div style="color: #444; margin: 2px 0 2px 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 21px; font-weight: 200;">
          {{result.status|recognise_name|safe}}
      </div>

              <p style="font-size:12px; color: #999;">
                <span style="color: #999;"> 
                  {{result.user.address}}
                </span>
                <span style="color: #999; float:right;" > 
                  {{result.distance|floatformat:2}} miles away.
                </span>
                
                <!--  // if logged in or you've allows html5 browser location -->
                {% if result_type == "status" %}
                <span style="float:right; color: #999;">
                   <a href="http://foodtrade.com/{{result.user.username}}/post/{{result.tweetuid}}" class="text-muted"> {{result.time_elapsed}}</a> 
                </span>
                {% endif %}
              </p> 
    </td>
  </tr>
{% endfor %}
</table>
