 {% extends 'tbase.html' %}
{% load staticfiles %}

{% block content %}


    <div class="col-md-5">
 
 
 

  <div id="update" class="well well-sm">
    <form action="#" method="get">
        <div class="input-group"> 
          <input class="form-control" name="q" id="newstatus"  placeholder="What #food do you have to #buy, #sell, or #surplus?">
          <span class="input-group-btn">
              <button type="button" class="btn btn-success" onclick="UpdateActivity('newstatus');"> Post</button>
          </span>
        </div>
    </form>
    <div class="help-block small">
    <ul>
    <li>300kg #surplus conference #pears for #sale or #surplus</li>
    <li>I want to  #buy organic #honey for my farm shop.</li>
    </ul>
    </div>
  </div> 

 
  <div id="activity"> 
        <ul class="chat">





{% if results %}

{% for result in results %}

    <li class="left clearfix"><span class="chat-img pull-left">
    <img src="{{result.user.profile_img}}" alt="{{result.user.name}}" class="img-thumbnail" />
    </span>
        <div class="chat-body clearfix">
 

        <div class="btn-group pull-right" style="margin-left: 5px;">
            <button type="button" class="btn btn-default dropdown-toggle btn-xs pull-left" data-toggle="dropdown">
              <i class="fa fa-link fa-large text-muted"></i>
                <span class="caret text-muted"></span>
            </button> 
            <ul class="dropdown-menu" role="menu">
            {% if userinfo.user_type == "Business" and result.sign_up_as == "Business" %}
              <li><a href="#">I buy from</a></li>
              <li><a href="#">I sell to</a></li> 
              <li class="divider"></li>
              {% endif %}
              {% if result.sign_up_as == "Organisation" %}
              <li><a href="#">I'm a member</a></li>
              {% endif %}
              {% if userinfo.user_type == "Individual" and result.sign_up_as == "Business" %}
              <li><a href="#">I'm a customer</a></li>
              {% endif %}
              <li class="divider"></li>
              <li><a href="#">Delete</a></li>
              <li><a href="#">Flag as spam</a></li>
              <li><a href="#">Follow on Twitter</a></li>
              <li><a href="#">View full profile</a></li> 
            </ul>
          </div>  


            <div class="header">
                <strong class="pull-left" style="margin-right: 10px;"><a href="/profile/{{result.user.username}}">{{result.user.name}}</a></strong> 

                <div class="tags tags-biztype">
                {% for tag in result.type_user  %}
                  <a href="/activity/?q={{tag}}">{{tag}}</a>
                  {% endfor %}
                </div>
            </div>

            <p>
                {{result.status}}
            </p>

              <div class="meta small text-muted">
               <i class="fa fa-map-marker"></i>
                {{result.user.place}}   

                 <!-- if logged in or you've allows html5 browser location -->

                 <a href="http://maps.google.com/maps?saddr=current+location&daddr={{result.user.place}}" 
                    target="_blank" data-placement="top" data-toggle="tooltip" 
                    class="text-muted" 
                    title="Get directions"> 
                 <i class="fa fa-location-arrow"></i> {{result.distance_text}}  
                 </a>
                <!--  // if logged in or you've allows html5 browser location -->

                <span class="pull-right">
                   <a href="/profile/{{result.user.username}}/" class="text-muted"><i class="fa fa-clock-o"></i> {{result.time_elapsed}}</a> 
                </span>
              </div> 

        </div>

        <div class="reply well well-sm" style="margin:0;"> 
          <input class="form-control input-sm enterhandler" type="text" id="replyid_{{forloop.counter}}" placeholder="Reply to @{{result.user.username}}" onfocus="ShowReply('replyid_{{forloop.counter}}', '@{{result.user.username}}')" onblur="BlurReply('replyid_{{forloop.counter}}', '@{{result.user.username}}')">
        </div>
    </li>
  {% endfor %}
    {% endif %}


</ul> 
  </div>



     
    </div><!-- closes 5 -->

    <div class="col-md-5">

    <!-- FIX THE MAP POSITION SO IT DOES NOT SCROLL --> 
      <div style="width:100%; height: 1000px; " id="map"  data-spy="affix" data-offset-top="30">
        

        <div class="alert alert-warning">
          <p>This map shows 
          Customers as points
          Stockist as organge lines and 
          Supplieras as purple lines</p>

          <p>There are radius lines at 15, 30, and 100 miles.</p>
        </div>

      </div>
    </div>
    <script type="text/javascript">
    map_lat={{ search.lat }};
    map_lon = {{ search.lon }};


{% if results %}
connections = {{json_data | safe}};
    {% endif %}
    </script>
     <script src="{% static "js/activity-map.js" %}"></script>

<span id="status_template" style="visibility: hidden;">
  <li class="left clearfix"><span class="chat-img pull-left">
    <img src="{{userinfo.profileimg}}" alt="{{result.user.name}}" class="img-thumbnail" />
    </span>
        <div class="chat-body clearfix">
 

        <div class="btn-group pull-right" style="margin-left: 5px;">
            <button type="button" class="btn btn-default dropdown-toggle btn-xs pull-left" data-toggle="dropdown">
              <i class="fa fa-link fa-large text-muted"></i>
                <span class="caret text-muted"></span>
            </button> 
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">I buy from</a></li>
              <li><a href="#">I sell to</a></li> 
              <li class="divider"></li>
              <li><a href="#">I'm a member</a></li>
              <li><a href="#">I'm a customer</a></li>
              <li class="divider"></li>
              <li><a href="#">Delete</a></li>
              <li><a href="#">Flag as spam</a></li>
              <li><a href="#">dsf</a></li> 
              <li><a href="#">Follow on Twitter</a></li>
              <li><a href="#">View full profile</a></li> 
            </ul>
          </div>  


            <div class="header">
                <strong class="pull-left" style="margin-right: 10px;">{{userinfo.full_name}}</strong> 

                <div class="tags tags-biztype">  
                  <a href="/type/livestock-farm">Bakery</a>
                  <a href="/type/buther">Wholesale</a>  
                </div>
            </div>

            <p>
                ===status===
            </p>

              <div class="meta small text-muted">
               <i class="fa fa-map-marker"></i>
               London, UK 

                 <!-- if logged in or you've allows html5 browser location -->

                 <a href="http://maps.google.com/maps?saddr=current+location&daddr=Sydney+Opera+House,+Sydney+Opera+House,+Bennelong+Point,+Sydney+NSW+2000,+Australia" 
                    target="_blank" data-placement="top" data-toggle="tooltip" 
                    class="text-muted" 
                    title="Get directions"> 
                 <i class="fa fa-location-arrow"></i> 0m  
                 </a>
                <!--  // if logged in or you've allows html5 browser location -->

                <span class="pull-right">
                   <a href="activity_single.php" class="text-muted"><i class="fa fa-clock-o"></i> 21m</a> 
                </span>
              </div> 

        </div>

        <div class="reply well well-sm" style="margin:0;"> 
          <input class="form-control input-sm enterhandler" type="text" id="replyid_{{forloop.counter}}" placeholder="Reply to @{{result.user.username}}" onfocus="ShowReply('replyid_{{forloop.counter}}', '@{{result.user.username}}')" onblur="BlurReply('replyid_{{forloop.counter}}', '@{{result.user.username}}')">
        </div>
    </li>

</span>



  {% endblock %}