 {% extends 'tbase.html' %}
{% load staticfiles %}

{% block content %}
 <div class="container">
 
  <div class="col-md-2 sidebar hidden-xs">
     
        <!-- show the logged in users account --> 
        <div id="account_info">
        
        <div class="clearfix" style="margin-bottom: 10px;">
          <!-- twitter 78px image - 'large' -->
          <!--https://dev.twitter.com/docs/user-profile-images-and-banners -->
          <img class="pull-left img-rounded" style="margin:0 8px 0 0; width:30px"  src="http://a0.twimg.com/profile_images/2596092158/afpecvf41m8f0juql78p_normal.png"  />

          <div class="content">
            <h4 style="margin:0;">Fonz Fonzarelli</h4>
            <small><a href="#" class="text-muted">Edit your profile</a></small>
          </div>
        </div>
         
        <p><a href="#">Trade connections <span class="badge pull-right">42</span></a></p>
        <p><a href="#">Foods <span class="badge pull-right">35</span></a></p>
        <p><a href="#">Organisations <span class="badge pull-right">4</span></a></p> 
        
          
          <!-- PUT EMPTY ONES AT THE BOTTOM OF THE LIST -->
          <!-- if ZERO ON ANY OF THESE -->
        
        <div class="alert alert-info small"> 
          <p><b>Want a great profile?</b></p> 
         
            <a href="#">Add Foods </a>
            <br />
            <a href="#">Add Organisations</a>
        </div>
         
        </div><!-- /account_info -->
 
 
    <hr /> 

      <h4>Who's nearby</h4>
 

        <p><a href="#">Individuals <span class="badge pull-right">273</span></a></p>
        <p><a href="#">Businesses <span class="badge pull-right">38</span></a></p> 

    
    
    
    </div>

  
      <div class="col-md-10">
   <pre>

DEVELOPER NOTES

- Use nexted sortable: http://johnny.github.io/jquery-sortable/
- Note there's a hidden div on the tag lists 

We'll add merge tags later, I'm just adding the icon since I'm here. 
   </pre>

<form  role="form" class="well">
      <div class="row">
        <div class="col-md-6">

          <div class="form-group"> 
            <input type="text" class="form-control" id="termInput"  placeholder="Terms">
          </div> 

  <button type="button" class="btn btn-sm btn-success" onclick="AddTerm()">Add term</button>

        </div><!-- col md 5 -->
        <div class="col-md-6">

          <div class="form-group"> 
            <textarea class="form-control" rows="3" disabled="disabled" placeholder="Description" ></textarea> 
          </div> 
          <div class="form-group"> 
            <input type="file" class="form-control" disabled="disabled" id="file">
          </div>

        </div><!-- col md 5 -->
      </div>
</form>
   
 
<hr > 
   <ul class="tag_admin">


   <!-- tag item --> 
<li class="tag_item_admin"> <i class="fa fa-arrows text-muted"></i> <input type="checkbox"> 
 <span>Fish</span><span class="pull-right"> <i class="fa fa-edit"></i> <i class="fa fa-trash-o" onclick="RemoveTag(this)"></i> <i class="fa fa-compress" title="Merge selected"> </i> </span><!-- show this form on edit --> <div class="hidden"><form role="form"><div class="form-group"> <input type="text" class="form-control" id="tag1" value="Fish"> </div> <div class="form-group"> <textarea class="form-control" rows="3" placeholder="Description" disabled="disabled"></textarea> </div> <div class="form-group"> <input type="text" class="form-control" id="tag1" disabled="disabled" placeholder="http://www.link.com"> </div>  <div class="form-group"> <label for="image">Image</label> <input type="file" class="form-control" disabled="disabled" id="file"> </div><button type="submit" class="btn btn-sm btn-success">Save</button></form> </div><ul></ul></li>



    </ul>


       
      </div><!-- closes 10 -->
 
    </div> 

    
  {% endblock %}





  {% block footer %}
      <script src="{% static "js/jquery-sortable.js" %}"></script>
  <script type="text/javascript">


var oldContainer
$("ul.tag_admin").sortable({
  group: 'nested',
  afterMove: function (placeholder, container) {
    if(oldContainer != container){
      if(oldContainer)
        oldContainer.el.removeClass("active")
      container.el.addClass("active")
      
      oldContainer = container
    }
  },
  onDrop: function (item, container, _super) {
    container.el.removeClass("active")
    _super(item)
  }
});


function AddTerm()
{
  input_val = $("#termInput").val();
  if(input_val=="")
  {
    alert("You cannot add an empty term");
    return;
  }

  list_input = '<li class="tag_item_admin"> <i class="fa fa-arrows text-muted"></i> <input type="checkbox"> ';
  list_input += ' <span>'+ input_val+'</span><span class="pull-right"> <i class="fa fa-edit"></i> <i class="fa fa-trash-o" onclick="RemoveTag(this)"></i> <i class="fa fa-compress" title="Merge selected"> </i> </span><!-- show this form on edit --> <div class="hidden"><form role="form"><div class="form-group"> <input type="text" class="form-control" id="tag1" value="Fish"> </div> <div class="form-group"> <textarea class="form-control" rows="3" placeholder="Description" disabled="disabled"></textarea> </div> <div class="form-group"> <input type="text" class="form-control" id="tag1" disabled="disabled" placeholder="http://www.link.com"> </div>  <div class="form-group"> <label for="image">Image</label> <input type="file" class="form-control" disabled="disabled" id="file"> </div><button type="submit" class="btn btn-sm btn-success">Save</button></form> </div><ul></ul></li>';
    $("ul.tag_admin").prepend(list_input);

  // $("ol.tag_admin").


}
function RemoveTag(my_this){
my_this.parentElement.parentElement.remove();
}




function SaveTagAdmin()
{
   $('ul.tag_admin').children('li');


}


function GetTags(tags, parentid)
{
  for(i=0;i<tags.length;i++)
  {
    tag_value = tags[i].children[2].innerHTML;
  }
}

// $(".switch-container").on("click", ".switch", function  (e) {
//   var method = $(this).hasClass("active") ? "enable" : "disable"
//   $(e.delegateTarget).dfnext().sortable(method)
// })
     </script>
     {% endblock %}