{% for eachfood in all_foods %}
              <tr id="row{{forloop.counter}}">
                  <td>

                  <div class="clearfix">   
          

                <a href="/activity/?f={{eachfood.food_name}}" >  
                  
                  {{eachfood.food_name}}
                </a>   

                  </div>
 
                  </td>
 
                  <td nowrap="nowrap">  
                   <div class="pull-right">

                   {% ifequal profile_id user_id %}

                     <a href="" data-toggle="modal" data-target="#modal_food_detail" class="btn btn-sm btn-default" data-container="body" onClick="get_food_detail('{{profile_id}}', '{{eachfood.food_name}}', '{{eachfood.description}}', '{{eachfood.food_tags}}', '{{eachfood.photo_url}}')"><i class="fa fa-edit" title="Edit" ></i></a>

                     <a class="btn btn-danger btn-sm"><i class="fa fa-trash-o" title="Delete" onClick="delete_food({{profile_id}}, '{{eachfood.food_name}}', this)"></i></a>

                   {% endifequal %}


                   {% if user.is_authenticated %}

                     {% ifnotequal profile_id user_id %}
                      <a class="btn btn-default btn-sm" title="Recommend this to others" onclick="recommend_food({{user_id}}, '{{eachfood.food_name}}', {{profile_id}}, '{{screen_name}}'); return null;" data-toggle="modal" data-target="#modal_tweet_recomm">
                        <i class="fa fa-thumbs-o-up tltip" >
                        </i>
                      </a> 

                     {% endifnotequal %}
                   {% endif %}
                     
                   
                   </div>
                   
                   {% for eachdet in eachfood.recomm_details %}
                    <div class="pull-right">
                      <img class="pull-left tltip" style="margin:3px 4px 0 0; width:25px" src={{eachdet.photo}} title="{{eachdet.name}}"/>
                    </div>
                   {% endfor %}
                 {% ifnotequal eachfood.vouch_count 0 %}
                   <div class="pull-right">
                     <span class="badge badge-default tltip" style="margin:6px 4px 0 0;" title="{{eachfood.vouch_count}} recommendations on {{eachfood.food_name}}">{{eachfood.vouch_count}}</span>
                  </div>
                  {% endifnotequal %}
              

                   </div>
                  </td>  
              </tr> 

              {% if eachfood.description %}
              <tr>
                <td colspan="3">
                  <div class="produce_detail">  
                    <img src="{{eachfood.photo_url}}" alt="{{eachfood.food_name}}" class="img-rounded img-responsive produce_large img-thumbnail " /> 

                    <span class="text-muted   ">{{eachfood.description}}</span>
                  </div> 
                </td>
              </tr>
              {% endif %} 

              {% endfor %}