{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}
  
    {% if user.is_authenticated %}
    {% else %}
      <p class=""><a href="{% provider_login_url "twitter" process="login" %}" class="">Login</a> or <a href="{% provider_login_url "twitter" process="login" %}" class="">sign up free</a> to see a complete list of groups. </p>
    {% endif %}

    {% for each in organisations %}  
      <div class="groupItem clearfix" id="orgGroupItem{{each.username}}">
        <div class="text-center">
          <a href="/profile/{{each.username}}"><img src="{{each.photo}}" alt="{{each.name}}"
          class="img-thumbnail img-responsive img-circle" style="width:73px; height:73px;" /></a>
          <strong class="clearfix"><a href="/profile/{{each.username}}" class="text-black">{{each.name}}</a></strong> 
        </div>
        <p class='small'>{{each.description|truncatechars:80}}</p>
       
        {% ifequal profile_id user_id %} 
        <button type="button" class="btn btn-danger btn-xs pull-right" aria-hidden="true" onclick="del_org_from_biz( {{profile_id}}, {{each.id}})"><i class="fa-trash-o fa"></i> Remove</button> 
        {% endif %}
         
      </div>  
        }
    {% endfor %}  
  