{% for each_mem in members %}
                        <div class="card card-business">
                  
                     
                          
                          <div class="content" style="background:url('{{each_mem.banner_url}}');">
                            <div class="text-center">
                              <img src="{{each_mem.photo}}" alt="{{each_mem.name}}"
                              class="img-thumbnail img-responsive" style="width:73px; height:73px;" /> 
                      
                            </div>
                            <div class="text">
                              {% if user.is_superuser or userinfo.name == screen_name %}
                            <button type="button" class="close" aria-hidden="true" onclick="add_member({{profile_id}}, {{each_mem.id}}, 'third_delete')">&times;</button>
                            {% endif %}
                              <h5><a href="/profile/{{each_mem.username}}">{{each_mem.name}}</a> 
                              </h5>  
                              <p class="small">{{each_mem.description}}</p>
                            </div>
                          </div>  
                          
                           <div class="row row-merge border-top">

                            <!-- number of foods sold -->
                            <div class="col-xs-3">
                              <a href="" class="innerAll half text-center display-block text-muted" data-original-title="{{each_mem.food_no}} foods" rel="tooltip"><i class="fa fa-fw fa fa-cutlery"></i> {{each_mem.food_no}}</a>
                            </div>

                            <!-- number of vouches across all produce --> 
                            <div class="col-xs-3">
                              <a href=""  rel="tooltip" title="{{each_mem.total_vouches}} of vouches for all produce"  class="innerAll half text-center display-block text-muted"><i class="fa fa-fw fa-thumbs-o-up"></i> {{each_mem.total_vouches}}</a>
                            </div> 

                            <!-- number of trade connections --> 
                            <div class="col-xs-3">
                              <a href=""  rel="tooltip" title="{{each_mem.trade_conn_no}} of trade connections" class="innerAll half text-center display-block text-muted"><i class="fa fa-fw fa-link"></i> {{each_mem.trade_conn_no}}</a>
                            </div>

                            <!-- number of group membershpis -->  
                            <div class="col-xs-3">
                              <a href=""  rel="tooltip" title="Member of {{each_mem.org_conn_no}} groups or organisations"  class="innerAll half text-center display-block text-muted"><i class="fa fa-fw fa-group"></i> {{each_mem.org_conn_no}}</a>
                            </div> 

                          </div> 


           

                          {% if each_mem.type|length == 0 or each_mem.type|first == '' %}
                          {% else %}
                          <div class="bg-gray border-top innerAll half text-center">  
                            {% for e in each_mem.type %}
                           <a href="/activity/?q={{e}}">{{e}}</a>
                           {% endfor %}
                          </div>
                          {% endif %}
 

                        </div> 
                        {% endfor %}