
            <tr id="trMember{{member_added.id}}">
            <td width="40">
              <a href="/profile/{{member_added.username}}">
                <img src="{{member_added.photo}}" alt="{{member_added.name}}" class="img-responsive" style="width:40px" />
              </a>
            </td>
            <td > 
              {% if user.is_superuser or userinfo.name == screen_name %}
                <button type="button" class="close" aria-hidden="true" onclick="add_member({{profile_id}}, {{member_added.id}}, 'third_delete')">&times;</button>
                {% endif %}  

              <a href="/profile/{{member_added.username}}" class="black"><strong>{{member_added.name}}</strong></a> 
            </td>
            <td>
              <p class="">{{member_added.description}}</p>
            </td>
            <td>

              {% if member_added.type|length == 0 or member_added.type|first == '' %}
                {% else %} 
                <p class="ellipsis  margin0">
                 {% for e in member_added.type %}
                 <a href="/activity/?b={{e}}" class="label label-default label-stroke label-tag">{{e}}</a>
                 {% endfor %} 
                 </p>
               {% endif %} 
            
            </td>
            
            <td>
            {% if member_added.banner_url %}
              <img src='{{member_added.banner_url}}' title='{{member_added.username}}' class='img-responsive'>
            {% endif %}  
            </td>


            <td>
              <div class='row row-merge border-top'>
                <!-- number of foods sold -->
                <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                  <a href="/profile/{{member_added.username}}" class="innerAll half text-center display-block " data-original-title="{{member_added.food_no}} foods" rel="tooltip"><i class="fa fa-fw fa fa-cutlery"></i> {{member_added.food_no}}</a>
                </div>

                <!-- number of vouches across all produce --> 
                <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                  <a href="/profile/{{member_added.username}}"  rel="tooltip" title="{{member_added.total_vouches}} of vouches for all produce"  class="innerAll half text-center display-block "><i class="fa fa-fw fa-thumbs-o-up"></i> {{member_added.total_vouches}}</a>
                </div> 

                <!-- number of trade connections --> 
                <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                  <a href="/profile/{{member_added.username}}"  rel="tooltip" title="{{member_added.trade_conn_no}} of trade connections" class="innerAll half text-center display-block "><i class="fa fa-fw fa-link"></i> {{member_added.trade_conn_no}}</a>
                </div>

                <!-- number of group membershpis -->  
                <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                  <a href="/profile/{{member_added.username}}"  rel="tooltip" title="Member of {{member_added.org_conn_no}} groups or organisations"  class="innerAll half text-center display-block "><i class="fa fa-fw fa-group"></i> {{member_added.org_conn_no}}</a>
                </div> 
              </div>  
            </td>
            <td>
            </td>

          </tr>
    <!-- MEMBERS -->