{% extends 'tbase.html' %}
{% load staticfiles %} 
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}

{% block content %}

<div class="col-md-10  {% if not user.is_authenticated %} col-md-offset-1 {% endif %}">

<div class="container-responsive block-center showcase">


<div class="row" style="padding:10px 0 0 0;">
    <h1 class="text-center wel l well-sm handwriting" style="font-size: 35px; margin-bottom: 0px; padding: 30px 0; line-height: 1.3;">"If you buy or sell food, join FoodTrade."</h1> 
    <div class="ftstrip ftstr ip-mini" style=" margin-bottom: 20px;"></div>
  <div class="col-sm-4 block-vertical text-left">         
  <div class="lead">
  <p> 
We help food businesses be found, connect, and trade.
</p><p>
We use <acronym rel="tooltip" title="hello">technology</acronym> to rebalance things in favour of small food businesses. We help you <acronym rel="tooltip" title="hello">find a new trade partners</acronym>, <acronym rel="tooltip" title="hello">re-localise</acronym>, and access <acronym rel="tooltip" title="hello">real-time opportunities</acronym>.
</p><p>
It's a professional network serving <acronym rel="tooltip" title="hello">every type of the business</acronym>, from farm to fork, and <acronym rel="tooltip" title="hello">every scale and turnover</acronym>.
</p><p><b>
This is your food trade network.</b>
</p><p> 
  </p>

    <a href="accounts/twitter/login/?process=login" class="btn btn-success btn-lg lead" style="font-size: 26px;">Join now &raquo;</a>

 <!--  <p class="text-center">
    <a href="accounts/twitter/login/?process=login" class="btn btn-danger btn-lg lead text-center" style="font-size: 26px;">Get Started Now &raquo;</a>
    </p> -->

    </div>
  </div>
  
  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/ft_packshot.gif" class="img-responsive"> 
  </div>
</div>
 

<div class="row hidden" style="padding:30px 0 0 0;">
  <div class="col-sm-8 block-vertical text-left">         
    <h1 style="font-size: 70px;">Connecting the food web.</h1> 
  <p class="lead" style="color: #999">Using the power of networks to build viable trade networks, and healthier a food systems.  From farm to fork, smallholder to supermarket, we help you trade smarter.</p>
    <a href="#" class="btn btn-success btn-lg lead" style="font-size: 26px;">Join instantly, for free &raquo;</a>
  </div>
  
  <div class="col-sm-4 block-vertical text-center">
    <img src="/static/images/ft_packshot.gif" class="img-responsive"> 
  </div>
</div>
 
<div class="row" style="padding:0;">   
  <ul class="nav nav-tabs nav-justified lead ">
    <li class="active"><a href="#business" data-toggle="tab"><b>For Business</b></a></li>
    <li><a href="#organisations" data-toggle="tab"><b>For Organisations</b></a></li>
    <li><a href="#individuals" data-toggle="tab"><b>For Everyone</b></a></li>
    <li><a href="#foodwaste" data-toggle="tab"><b>For Food Surplus</b></a></li>
  </ul> 
</div>

<div class="tab-content">
  <div class="tab-pane active" id="business">

<p class="lead"><strong>Take the hassle out of finding trade partners - discover, connect, and grow with more great businesses.</strong></p>

<div class="row">
  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/search.png" class="img-responsive" />
  </div>


  <div class="col-sm-6">        
    <h1>The Food and drink search engine</h1>
    <h3>"Like Google, but for carrots and things"</h3>
    <p class="lead">Finding responsibly sourced produce shouldn't have to be a hassle. Food trade helps you find your nearest producer, and <em>their</em> nearest stockist. FoodTrade takes the hassle out of sourcing &amp; selling.</p>
  </div>
</div>

<div class="row"> 
  <div class="col-sm-6 text-right">        
    <h1>Why isn't selling  as easy as tweeting?</h1>
    <h3>Oh.. wait.. it is!</h3>
    <p class="lead">You're busy and don't want to spend ages online updating websites. We get it. So  <a href="#" target="_blank" rel="tooltip" title="Registered users can just tweet @FoodTradeHQ, and the message appears on the maps and timeline, search engine, and in regular personalised newsletters">just tweet @foodtradeHQ</a> and we'll spread the word.</p><p class="lead">And from later this year you'll be able to add a price and  <acronym rel="tooltip" title="We're not going to take a penny. You earned it, you keep it."><strong><u>accept direct payments</u></strong></acronym>, too.
  </div>
  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/tweet_to_sell.png" class="img-responsive img-thumbnail" />
  </div>
</div>

  

{% if not user.is_authenticated %}   
<div class="ftstrip ftstrip-mid"></div>
<div style="padding: 20px 0;" class="text-center">

  <span class="lead" style="position: relative;
top: 5px;
margin-right: 20px;"><strong>Already seen enough?</strong></span>
  <a type="button" class="btn btn-success btn-lg" href="{% provider_login_url "twitter" process="login" %}" style="margin-right: 15px;">
    <i class="fa fa-user fa-fw"></i> <strong>Sign up is Free</strong>
  </a>
  <span class="lead" style="position: relative;
top: 5px;">and premium plans start at just £45 per year.</p>

</div>
<div class="ftstrip ftstrip-mid"></div>
{% endif %}
 

<div class="row">
  <div class="col-sm-6 text-right">         
    <h1><span style="border: 3px solid #ccc; padding: 3px 6px 0 6px; border-radius: 5px;"> <i class="fa fa-thumbs-o-up"></i> vouch</span> = Social selling</h1>
    <h3>Let your customers help you go further</h3>
    <p class="lead">Nothing sells your produce like other people talking about it. Vouching for produce helps everyone chamption great food to their social networks.</p>
  </div>
  <div class="col-sm-6 block-center">
    <img src="/static/images/vouch.png" class="img-responsive img-thumbnail" />
  </div>

</div>

<div class="row">
   
  <div class="col-sm-5 block-vertical text-center">
    <img src="/static/images/stockists.png" class="img-responsive img-thumbnail" />
  </div>

  <div class="col-sm-7 block-vertical ">        
    <h1>If you've got it, <br />flaunt it. </h1>
    <h3>Showcase your stockists and suppliers. </h3>
    <p class="lead">The food system of the 21st century is about trust, responsibility, and resilience. That's why FoodTrade makes it easy to showcase your trade partners, connect with the best people for the job, and trade with a diverse range of people.</p>
  </div> 
</div>






<div class="row hero white" style="background-image: url('/static/images/cows.jpg');">
  <div class="col-sm-12 text-center">
    <blockquote>The sustainable alternative to the UK’s food network — Together [small companies] are able to enjoy the same advantages as big agri-business.</blockquote>
    <cite><img class="img-thumbnail" src="/static/images/logos/wired.jpg" /></cite>
  </div>
</div> 
<div class="text-right small photocredit white">Photo credit: <a href="http://kirstymorris.com/" target="_blank">Kirsty Morris</a></div>

<div class="row">
  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/together.jpg" class="img-responsive img-thumbnail" />
  <div class="text-right small photocredit white" style="position:relative; left: -20px; top: -50px;">Photo credits: <a href="https://twitter.com/GoldhillOrganic" target="_blank">@goldhillorganics</a> <br />&amp; <a href="http://kirstymorris.com/" target="_blank">Kirsty Morris</a></div>
  </div>
  <div class="col-sm-6 ">        
    <h1>Let's do more with the food system.</h1>
    <h3>Healthy people, healthy planet, healthy economy.</h3>
    <p class="lead"><strong>The time is ripe for a renaissance in the food system.</strong> The unintended consequences of supermarkets and 'big ag' on the health and environment are too big to ignore; and <strong>the  benefits of a better system are more obvious than ever</strong>. We give you the information you need to work together to save costs and improve quality. </p>
  </div>


</div>


<div class="row hero white" style="background-image: url('/static/images/apples2.jpg');">
  <div class="col-sm-12 text-center">
    <blockquote> Numerous industries have been radically transformed by ‘disruptive technology’, but to date there has been little technology innovation in the grocery industry which can be considered truly disruptive. That may all be about to change... </blockquote>
    <cite><img class="img-thumbnail" src="/static/images/logos/grocer.jpg" /></cite>
  </div>
</div> 
<div class="text-right small photocredit white">Photo credit: <a href="http://kirstymorris.com/" target="_blank">Kirsty Morris</a></div>


<div class="row">
  <div class="col-sm-6 text-right">        
    <h1>Connecting you to better, directly</h1>
    <h3>We don't want a cut of your sales</h3>
    <p class="lead">We work like a dating site, giving you a profile to look good, and then help you connect directly to the people you want to talk to.</p>
  </div>

  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/contact.png" class="img-responsive img-thumbnail" />
  </div>
</div>


{% if not user.is_authenticated %}   
<div class="ftstrip ftstrip-mid"></div>
<div style="padding: 20px 0;" class="text-center">

 
  <a type="button" class="btn btn-success btn-lg" href="{% provider_login_url "twitter" process="login" %}" style="margin-right: 15px;">
     <strong>Get started &raquo;</strong>
  </a>

</div>
<div class="ftstrip ftstrip-mid"></div>
{% endif %}

<div class="row">
  <div class="col-sm-6 block-vertical text-center">
    <img src="http://farm5.staticflickr.com/4032/4620044329_dd3bc8cca1_o.jpg" class="img-responsive img-thumbnail" />
    <div class="text-right small photocredit white">Photo credit: <a href="http://www.flickr.com/photos/psbikes/4620044329/" target="_blank">Peter Santos</a></div>
  </div>



  <div class="col-sm-6">        
    <h1>Online, on the farm, in the kitchen, on the road</h1>
    <h3>we're with you every step of the way</h3>
    <p class="lead">FoodTrade is as easy as a status update, whether you're tweeting from the polytunnel, or busy in the kitchens whilst spotting a great deal on surplus fruit. Optimised for mobile and tablets it's perfect for any scale of business, anywhere.</p>
  </div>
</div>


 

<div class="row">


  <div class="col-sm-6 text-right">        
    <h1>we all want better food</h1>
    <h3>Share what you know so that others can benefit</h3>
    <p class="lead">FoodTrade invites you to add what foods are sold where, and who trade what with who, so that we can all make smarter decisions for a fairer, better food system.</p>
  </div>

  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/wiki.png" class="img-responsive img-thumbnail" />
  </div>
</div>


 
<div class="row hero white" style="background-image: url('http://e5bakehouse.com/wp-content/uploads/2013/08/growing-community.jpg');" >
  <div class="col-sm-12 text-center" >
    <blockquote>The ‘dating site for food’, connects food producers with local businesses to foster communities and help small farms exist whilst in competition with the big supermarkets.
    </blockquote>
    <cite><img class="img-thumbnail" src="/static/images/logos/huffpo.png"</cite>
  </div>
</div> 


{% if not user.is_authenticated %}   
<div class="ftstrip ftstrip-mid" style="  margin-top: 50px;" ></div>
<div style="padding: 20px 0; " class="text-center">

  <span class="lead" style="position: relative;
top: 5px;
margin-right: 0px;">You made it this far, it would seem silly not to</span>
  <a type="button" class="btn btn-success btn-lg" href="{% provider_login_url "twitter" process="login" %}"  >  <strong>sign up now &raquo;</strong>
  </a>

</div>
<div class="ftstrip ftstrip-mid"></div>
{% endif %}

  </div><!-- /business pane -->
  <div class="tab-pane" id="organisations">

<div class="row hero white" style="background-image: url('/static/images/clifton.jpg');">
  <div class="col-sm-12 text-center">
    <blockquote>"There is currently no other mechanism that provides us with this information - which will greatly increase our data on local Fairtrade providers, and therefore our capacity to increase sales of Fairtrade products."</blockquote>
    <cite><img class="img-thumbnail" src="/static/images/logos/fairtrade.png" /></cite>
  </div>
</div> 
<div class="text-right small photocredit white">Photo credit: <a href="http://en.wikipedia.org/wiki/Bristol" target="_blank">Wikipedia</a></div>

<!-- 

 SHOW MEMBERS 
 SHOW TEAM
 SHARE UPDATES
 FIND PPL
  -->
 


<div class="row">
  <div class="col-sm-5 block-center">
    <img src="/static/images/vouch.png" class="img-responsive img-thumbnail" />
  </div>

  <div class="col-sm-7">        
    <h1>Make it easy to find your members' produce</h1>
    <h3>Instantly search all produce from all your members</h3>
    <p class="lead">Nothing helps sell your produce like other people talking about it, FoodTrade encourages users to find, vouch for, and share your members' produce. It's 2014, social selling is where it's at.</p>
  </div>
</div>


<div class="row">
   
  <div class="col-sm-6 block-vertical text-right">        
    <h1>Demonstrate your impact</h1>
    <h3>Map your members, and where they trade</h3>
    <p class="lead">The food system of the 21st century is about trust, responsibility, and resilience. That's why FoodTrade makes it easy to showcase your trade partners, connect with the best people for the job, and trade with a diverse range of people.</p>
  </div>

  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/stockists.png" class="img-responsive img-thumbnail" />
  </div>

</div>



<div class="row hero white" style="background-image: url('/static/images/apples2.jpg');">
  <div class="col-sm-12 text-center">
    <blockquote>Numerous industries have been radically transformed by ‘disruptive technology’, but to date there has been little technology innovation in the grocery industry which can be considered truly disruptive. That may all be about to change…</blockquote>
    <cite><img class="img-thumbnail" src="/static/images/logos/grocer.jpg" /></cite>
  </div>
</div> 
<div class="text-right small photocredit white">Photo credit: <a href="http://kirstymorris.com/" target="_blank">Kirsty Morris</a></div>

<div class="row">
  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/search.png" class="img-responsive img-thumbnail" />
  </div>


  <div class="col-sm-6">        
    <h1>Like Google, but for carrots and things</h1>
    <h3>Be right there in the search</h3>
    <p class="lead">We want to help more of us buy great produce from great people. And that means certifiers, groups, campaigns, and .. everyone! We want you to be right there in the search when people are making decisions about who to but from.  </p>
  </div>
</div>
  


<div class="row">
   

  <div class="col-sm-6 text-right">        
    <h1>Eventually, everything connects</h1>
    <h3>Or.. at least we hope so.</h3>
    <p class="lead">We connect you directly to the people you need to talk to, never getting in the way for a second. (We'd say something about getting it straight from the horse's mouth, but we wouldn't want to rub it in...)</p>
  </div>

  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/contact.png" class="img-responsive img-thumbnail" />
  </div>
</div>

<div class="row hero white" style="background-image: url('/static/images/cows.jpg');">
  <div class="col-sm-12 text-center">
    <blockquote>The sustainable alternative to the UK’s food network — Together [small companies] are able to enjoy the same advantages as big agri-business.</blockquote>
    <cite><img class="img-thumbnail" src="/static/images/logos/wired.jpg"</cite>
  </div>
</div> 
<div class="text-right small photocredit white">Photo credit: <a href="http://kirstymorris.com/" target="_blank">Kirsty Morris</a></div>


<div class="row">
  <div class="col-sm-6 block-vertical text-center">
    <img src="http://farm5.staticflickr.com/4032/4620044329_dd3bc8cca1_o.jpg" class="img-responsive img-thumbnail" />
    <div class="text-right small photocredit white">Photo credit: <a href="http://www.flickr.com/photos/psbikes/4620044329/" target="_blank">Peter Santos</a></div>
  </div>



  <div class="col-sm-6">        
    <h1>Online, on the farm, in the kitchen, on the road</h1>
    <h3>We're with you every step of the way</h3>
    <p class="lead">Using FoodTrade is as easy as a status update, so whether your members are tweeting from the polytunnel, or busy in the kitchens whilst spotting a great deal on surplus fruit, it's perfect for any scale of business, anywhere.</p>
  </div>
</div>

<div class="ftstrip ftstrip-mid"></div>
<div style="padding: 20px 0;" class="text-center">
<p class="lead" style="margin: 0;">Don't forget to see everything we can do for your <a href="/pages/business" target="_blank">trade</a> and <a href="/pages/individuals" target="_blank">individual</a> members.</p>
</div>
<div class="ftstrip ftstrip-mid"></div>
 

<div class="row">

  <div class="col-sm-6 text-right">        
    <h1>Wiki..foodia?</h1>
    <h3>Share what you know so that others can benefit</h3>
    <p class="lead">FoodTrade invites users to add what foods are sold where, and who trade what with who, so that we can all make smarter decisions for a fairer, better food system.</p>
  </div>

  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/wiki.png" class="img-responsive img-thumbnail" />
  </div>
</div>


 
<div class="row hero white" style="background-image: url('http://e5bakehouse.com/wp-content/uploads/2013/08/growing-community.jpg');" >
  <div class="col-sm-12 text-center" >
    <blockquote>The ‘dating site for food’, connects food producers with local businesses to foster communities and help small farms exist whilst in competition with the big supermarkets.
    </blockquote>
    <cite><img class="img-thumbnail" src="/static/images/logos/huffpo.png"</cite>
  </div>
</div> 

  </div><!-- /orgs pane -->
  <div class="tab-pane" id="individuals">
    
 
<div class="row hero white" style="background-image: url('http://e5bakehouse.com/wp-content/uploads/2013/08/growing-community.jpg');" >
  <div class="col-sm-12 text-center" >
    <blockquote>The ‘dating site for food’, connects food producers with local businesses to foster communities and help small farms exist whilst in competition with the big supermarkets.
    </blockquote>
    <cite><img class="img-thumbnail" src="/static/images/logos/huffpo.png"</cite>
  </div>
</div> 


<div class="row">
  <div class="col-sm-5 block-vertical text-center">
    <img src="/static/images/search.png" class="img-responsive " />
  </div>


  <div class="col-sm-7 block-vertical">  
    <h1>The real food search engine</h1>
    <h3>Does for tummies what Google does for brains</h3>  
    <p class="lead">Finding responsibly sourced produce shouldn't have to be a hassle. FoodTrade helps you find your nearest producer, and the people who stock their produce. </p><p class="lead">We take the hassle out of finding real food.</p>
  </div>
</div>

 
<div class="row">
   
  <div class="col-sm-7 block-vertical text-right">        
    <h1>Find your nearest stockist </h1>
    <h3>We show stockists and suppliers so you know what's what. </h3>
    <p class="lead">The food system of the 21st century is about trust, responsibility, and resilience. That's why FoodTrade makes it easy to find the foods you love, sold by the people you trust.</p>
  </div>

  <div class="col-sm-5 block-vertical text-center">
    <img src="/static/images/stockists.png" class="img-responsive img-thumbnail" />
  </div>

</div>

  
{% if not user.is_authenticated %}   
<div class="ftstrip ftstrip-mid"></div>
<div style="padding: 20px 0;" class="text-center">

  <span class="lead" style="position: relative;
top: 5px;
margin-right: 20px;"><strong>Already seen enough?</strong></span>
  <a type="button" class="btn btn-success btn-lg" href="{% provider_login_url "twitter" process="login" %}" style="margin-right: 15px;">
    <i class="fa fa-user fa-fw"></i> <strong>Sign up now</strong>
  </a>
  <span class="lead" style="position: relative;
top: 5px;">&mdash; it's free for individuals. Forever.</p>

</div>
<div class="ftstrip ftstrip-mid"></div>
{% endif %}
 
<div class="row">

  <div class="col-sm-6 block-center">
    <img src="/static/images/vouch.png" class="img-responsive img-thumbnail" />
  </div>
  <div class="col-sm-6">        
    <h1> <span style="border: 3px solid #ccc; padding: 3px 6px 0 6px; border-radius: 5px;"> <i class="fa fa-thumbs-o-up"></i> vouch</span> for great food</h1>
    <h3>Share great taste, support what you love</h3>
    <p class="lead">Everyone loves a bit of appreciation. Whether it's bacon from Park Farm, apple juice from Stream Farm, or pork belly from Poco, showing your appreciation makes it easier for great food to get on to more shelves and menus.</p>
  </div>
</div>



  

<div class="row hero white" style="background-image: url('/static/images/cows.jpg');">
  <div class="col-sm-12 text-center">
    <blockquote>More jobs. More money in the local economy. More resilient supply chains. Better food. Less CO2... the answer is a social media platform that helps local people collaborate with local business.</blockquote>
    <cite><img class="img-thumbnail" src="/static/images/logos/fastcompany.jpg" /></cite>
  </div>
</div> 
<div class="text-right small photocredit white">Photo credit: <a href="http://kirstymorris.com/" target="_blank">Kirsty Morris</a></div>


<div class="row">

  <div class="col-sm-6 text-right">        
    <h1>Let's map the food web</h1>
    <h3>Share what you know so that others can benefit</h3>
    <p class="lead">FoodTrade invites users to add what foods are sold where, and who trade what with who, so that we can all make smarter decisions for a fairer, better food system.</p>
  </div>

  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/wiki.png" class="img-responsive img-thumbnail" />
  </div>
</div>

<div class="row">
  <div class="col-sm-6 block-vertical text-center">
    <img src="/static/images/contact.png" class="img-responsive img-thumbnail" />
  </div>
    
  <div class="col-sm-6">        
    <h1>Connecting you to better</h1>
    <h3>Think of us like a dating site.</h3>
    <p class="lead">We connect you directly to the people you want to talk to, never getting in the way for a second. (We'd say something about getting it straight from the horse's mouth, but we wouldn't want to rub it in...)</p>
  </div>

</div>
 

<div class="row hero white" style="background-image: url('/static/images/pot.jpg');">
  <div class="col-sm-12 text-center">
    <blockquote>Local food is about getting the freshest and best tasting food. It’s also also about connecting to and strengthening your community. The more that you buy locally, the more you contribute to the health of your local economy. <cite>&mdash; <a href="https://twitter.com/annalappe" target="_blank">Anna Lappé</a></cite></blockquote>
  </div>
</div>  
<div class="text-right small photocredit white">Photo credit: <a href="http://kirstymorris.com/" target="_blank">Kirsty Morris</a></div>


{% if not user.is_authenticated %}   
<div class="ftstrip ftstrip-mid" style="  margin-top: 50px;" ></div>
<div style="padding: 20px 0; " class="text-center">

  <span class="lead" style="position: relative;
top: 5px;
margin-right: 0px;">You made it this far, it would seem silly not to</span>
  <a type="button" class="btn btn-success btn-lg" href="{% provider_login_url "twitter" process="login" %}"  >  <strong>sign up now &raquo;</strong>
  </a>

</div>
<div class="ftstrip ftstrip-mid"></div>
{% endif %}

  </div><!-- /individuals pane -->

  <div class="tab-pane active" id="foodwaste">

<div class="row">  
  <div class="col-md-7 lead">
 
     <h1>1. Tweet us your surplus</h1>
     
      <p class="lead">You're busy and don't want to spend ages online updating websites or making calls. So  <a href="#" target="_blank" rel="tooltip" title="" data-original-title="Registered users can just tweet @FoodTradeHQ, and the message appears on the maps and timeline, search engine, and in regular personalised newsletters">just tweet @foodtradeHQ including '#surplus'</a> and we'll spread the word.</p>
 
  </div>
  <div class="col-md-5   text-center">
    <img src="/static/images/tweet_to_sell.png" class="img-responsive img-thumbnail" />
  </div>
</div>

<div class="row"> 
  <div class="col-md-4  ">
    <img src="/static/images/search.png" class="img-responsive   img-thumbnail" />
  </div> 
  <div class="col-md-8 lead   ">
 
     <h1>2. We'll match you to local projects &amp; businesses</h1>
   <p>We're building a database of who can use what, where. And it's not just community projects who can use surplus.<strong> Startup businesses can turn surplus into livelihoods and healthy food, too.</strong> 
</p>You can:
- say who you're working with
- tweet in requests, Or responded to local opportunities
- engage new members and businesses
- subscribe for updates (actually that's coming soon)
- put yourself on the map with a profile </p>
  </div>
</div> 
 

<div class="row">  
  <div class="col-md-8 lead">
     <h1>3. In real time, brilliantly</h1>
    <p>
    And because it's connected to the rest of the FoodTrade database for real-time food trading, we can help streamline logistics, distribute large volumes between many people, and unlock more potential. 
    </p>  
  </div>
  <div class="col-sm-4  text-center">
    <img src="/static/images/stockists.png" class="img-responsive img-thumbnail" />
  </div>
</div>
  
<div class="row hero white" style="background-image: url('/static/images/apples2.jpg');">
  <div class="col-sm-12 text-center">
    <blockquote>Numerous industries have been radically transformed by ‘disruptive technology’, but to date there has been little technology innovation in the grocery industry which can be considered truly disruptive. That may all be about to change…</blockquote>
    <cite><img class="img-thumbnail" src="/static/images/logos/grocer.jpg"></cite>
  </div>
</div>
 
{% if not user.is_authenticated %}   
<div class="ftstrip ftstrip-mid" style="  margin-top: 50px;" ></div>
<div style="padding: 20px 0; " class="text-center">

  <span class="lead" style="position: relative;
top: 5px;
margin-right: 0px;">You're obviously interested. You should definitely </span>
  <a type="button" class="btn btn-success btn-lg" href="{% provider_login_url "twitter" process="login" %}"  >  <strong>sign up now &raquo;</strong>
  </a>

</div>
<div class="ftstrip ftstrip-mid"></div>
{% endif %}
 

  </div>
</div><!-- tab-content pane holder -->


<div style="margin-bottom: 100px;"></div>


 



 
</div>
</div><!-- col10 --> {% endblock %}