<div class="clearfix">
          <h4>We buy from <small>these suppliers</small></h4>
          <hr /> 
           <div class="pull-left" id="buyers-cards">
          {% for each in connections %}
              {% if each.relation == "buyer" or each.relation == "both" %}
                  <div class="card card-business">
                    <div class="content">
                      
                      <div class="text-center">
                        <img src="{{each.photo}}" alt="{{each_mem.name}}"
                        class="img-thumbnail img-responsive" style="width:73px; height:73px;" /> 
                
                      </div>
                      <div class="text">
                      {% ifequal profile_id user_id %}
                      <button type="button" class="close" aria-hidden="true" onclick="conn_handler('close_buy_from', {{profile_id}}, {{each.id}})">&times;</button>
                      
                      <!-- <button type="button" class="close" aria-hidden="true">&times;</button> -->
                      {% endifequal %}
                        <h5><a href="/profile/{{each.username}}">{{each.name}}</a> 
                        </h5>  
                        <p class="small">{{each.description|truncatechars:80}}</p>
                      </div>
                    </div>
                    <div class="numbers clearfix">   
                      <p class="small text-center">
                        <a href="#" class="pull-left" title="{{each.food_no}} Foods"><i class="fa fa-cutlery"></i> {{each.food_no}}</a>
                        <a href="#" title="{{each.trade_conn_no}} conn"><i class="fa fa-link"></i> {{each.trade_conn_no}}</a>
                        <a href="#" class="pull-right" title="{{each.org_conn_no}} Organisations"><i class="fa fa-group"></i> {{each.org_conn_no}}</a> 
                      </p>
                    </div>
                    {% if each.type|length == 0 or each.type|first == '' %}
                    {% else %}
                    <div class="numbers type text-center clearfix">
                      <div class="tags tags-biztype pull-lef t">  
                        {% for e in each.type %}
                       <a href="/activity/?b={{e}}">{{e}}</a>
                       {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                  </div> 

                    
                  {% endif %}
                  {% endfor %}
                </div>
          </div>

          <div class="clearfix">
          <h4>We sell to <small>these stockists</small></h4> 
          <hr /> 
           <div class="pull-left" id="seller-cards">
          {% for each in connections %}
              {% if each.relation == "seller" or each.relation == "both" %}
                  <div class="card card-business">
                    <div class="content">
                      <div class="text-center">
                        <img src="{{each.photo}}" alt="{{each.name}}"
                        class="img-thumbnail img-responsive" style="width:73px; height:73px;" /> 
                
                      </div>
                      <div class="text">
                      {% ifequal profile_id user_id %}
                      <button type="button" class="close" aria-hidden="true" onclick="conn_handler('close_sell_to', {{profile_id}}, {{each.id}})">&times;</button>
                      
                      <!-- <button type="button" class="close" aria-hidden="true">&times;</button> -->
                      {% endifequal %}
                        <h5><a href="/profile/{{each.username}}">{{each.name}}</a> 
                        </h5>  
                        <p class="small">{{each.description|truncatechars:80}}</p>
                      </div>
                    </div>
                    <div class="numbers clearfix"> 
                      <p class="small text-center">
                        <a href="#" class="pull-left" title="{{each.food_no}} Foods"><i class="fa fa-cutlery"></i> {{each.food_no}}</a>
                        <a href="#" title="{{each.trade_conn_no}} conn"><i class="fa fa-link"></i> {{each.trade_conn_no}}</a>
                        <a href="#" class="pull-right" title="{{each.org_conn_no}} Organisations"><i class="fa fa-group"></i> {{each.org_conn_no}}</a> 
                      </p>
                    </div>

                    {% if each.type|length == 0 or each.type|first == '' %}
                    {% else %}
                    <div class="numbers type text-center clearfix">
                      <div class="tags tags-biztype pull-lef t">  
                        {% for e in each.type %}
                       <a href="/activity/?b={{e}}">{{e}}</a>
                       {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                  </div> 
                  {% endif %}
                  {% endfor %}
                </div></div>
<script type="text/javascript">
var new_connections = {{connections_str|safe}};
</script>