<tr data-toggle="collapse" data-target="#{{each.id}}" class="accordion-toggle {% if request.user.id == each.id %}self_conn{% endif %}">
 
<td width="15">
  <a class="act" data-toggle="collapse"  data-target="#{{each.id}}">
      <i class="fa fa-caret-down"></i>
  </a>
</td> 
<td width="40">
  <a href="/profile/{{each.username}}">
    <img src="{{each.photo}}" alt="{{each.name}}" class="img-responsive" style="width:40px" />
  </a>
</td>

<td > 
  {% if request.user.is_superuser or profile_id == user_id %}
    <button type="button" class="close" aria-hidden="true" data-content="{{profile_id}}, {{each.id}}">&times;</button> 
  {% endif %}
  <a href="/profile/{{each.username}}" class="black"><strong>{{each.name}}</strong></a> 
</td>

<td>
  {% if each.type|length == 0 or each.type|first == '' %}
    {% else %} 
    <p class="ellipsis  margin0">
     {% for e in each.type %}
     <a href="/activity/?b={{e}}" class="label label-default label-stroke label-tag">{{e}}</a>
     {% endfor %} 
     </p>
   {% endif %} 
</td>

</tr>

<tr>
  <td colspan="4" class="hiddenRow">
    <div class="accordian-body collapse innerAll" id="{{each.id}}">

      <p class="">{{each.description}}</p>

      <div class='row row-merge border-top'>
        <!-- number of foods sold -->
        <div class='{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}'>
          <a href='' class='innerAll half text-center display-block ' data-original-title='{{each.food_no}} foods' rel='tooltip'><i class='fa fa-fw fa fa-cutlery'></i> {{each.food_no}}</a>
        </div>
        <!-- number of vouches across all produce --> 
        <div class='{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}'>
          <a href=''  rel='tooltip' title='{{each.total_vouches}} of vouches for all produce'  class='innerAll half text-center display-block '><i class='fa fa-fw fa-thumbs-o-up'></i> {{each.total_vouches}}</a>
        </div> 
        <!-- number of trade connections --> 
        <div class='{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}'>
          <a href=''  rel='tooltip' title='{{each.trade_conn_no}} of trade connections' class='innerAll half text-center display-block'><i class='fa fa-fw fa-link'></i> {{each.trade_conn_no}}</a>
        </div>
        <!-- number of group membershpis -->  
        <div class='{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}'>
          <a href=''  rel='tooltip' title='Member of {{each.org_conn_no}} groups or organisations'  class='innerAll half text-center display-block'><i class='fa fa-fw fa-group'></i> {{each.org_conn_no}}</a>
        </div> 
      </div>  


    </div> 
  </td> 
</tr>