{% extends 'tbase.html' %}
{% load staticfiles %}

{% block content %}

<h1>We'd love to hear from you.</h1> 


<h3>Support</h3>
<a href="help@foodtrade.com">help@foodtrade.com</a>
<p>
For all things technical and app related.</p>

<h3>Partnerships</h3>
<a href="help@foodtrade.com">partners@foodtrade.com</a>
<p>
Interested in partnering with FoodTrade?</p>

<h3>Comments / Ideas</h3>
<a href="help@foodtrade.com">ideas@foodtrade.com</a>
<p>
We’re always open to your ideas to make FoodTrade better.</p>

<h3>Press</h3>
<a href="help@foodtrade.com">press@foodtrade.com</a>
<p>
Interested in including FoodTrade in your next article or blog?</p>



  {% endblock %}