{% extends 'tbase.html' %}
{% load staticfiles %}
{% block head %}

<link rel="stylesheet" href="/static/css/docsupport/prism.css">
<link rel="stylesheet" href="/static/css/chosen.min.css">

<style type="text/css" media="all">
    /* fix rtl for demo */
  .chosen-rtl .chosen-drop { left: -9000px; }
  .typeempty{
  display:none;
  }
  .form-margin{
    margin-top: 1%;
  }
  .email-margin{
    margin-top: 0.5%;
  }
.email-warning{
  color:red;
}
.email-go{
  color: green;
}
</style>

{% endblock %}

{% block content %}




<div class="col-xs-12"> 

<div class="widget">
<div class="widget-body clearfix">


  <form class="form-horizontal form-margin" name="myform" role="form" onsubmit="return validate_business_type()" method="POST" action=".">
  {% csrf_token %}
 
    <div class="form-group">
      <label for="display_name_txt" class="col-sm-2 control-label">Your Name</label>
      <div class="col-sm-5">
        <input type="text" id="display_name_txt" class="form-control" placeholder="Display Name" value="{{display_name}}" name="display_name">
      </div>
    </div> 
    
    

    <div class="form-group">
      <label for="id_sign_up_as" class="col-sm-2 control-label">Sign up as</label>
        {{form.sign_up_as.as_hidden}}
      <div class="col-sm-5">

        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default {% ifequal sign_up_as 'Individual' %}active{% endifequal %}"> 
              <input type="radio" {% ifequal sign_up_as 'Individual' %} checked="checked" {% endifequal %} name="sign_up_as" id="option1" value="Individual" onchange="dataradio('Individual')"> Individual 
          </label> 
          <label class="btn btn-default {% ifequal sign_up_as 'Business' %}active{% endifequal %}">  
              <input type="radio" {% ifequal sign_up_as 'Business' %} checked="checked" {% endifequal %} name="sign_up_as"  id="option2" value="Business" onchange="dataradio('Business')"> Business 
          </label>
          <label class="btn btn-default {% ifequal sign_up_as 'Organisation' %}active{% endifequal %}">
              <input type="radio" {% ifequal sign_up_as 'Organisation' %} checked="checked" {% endifequal %} name="sign_up_as" id="option3" value="Organisation" onchange="dataradio('Organisation')"> Organisation
          </label>
        </div>

        <input type="hidden" id= "hidden_type" name="type">

      </div>

      </div>
      <div class="form-group" id="buss_org_group">
      <label for="buss_org_name_txt" id="buss_org_label" class="col-sm-2 control-label">Business Name</label>
      <div class="col-sm-5">
        <input type="text" id="buss_org_name_txt" class="form-control" placeholder="Business Name" value="{{business_org_name}}" name="business_org_name">
      </div>
    </div>
      <div class="form-group" id="type_user_id"> 
        <label for="id_type_user" class="col-sm-2 control-label">Business type</label>
        <div class="col-sm-5">
          <select id= "dropdown3" data-placeholder="Farm, wholesaler, restaurant..." multiple  class="chosen-select" tabindex="6">
              <option value=""></option>
              {% for each in all_tags %}
              <optgroup label={{each.node}}>
                {% if each.childrens %}
                  {% for eachchild in each.childrens %}
                  <option>{{eachchild.node}}</option>
                  {% endfor %}
                {% else %}
                <option>{{each.node}}</option>
                {% endif %}
              </optgroup>
              {% endfor %}
            </select>
        </div>
      </div>


    <div class="form-group">
      <label for="user_desc_txt" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-5">
        <textarea class="form-control" id="user_desc_txt" name="description" rows="5">{{description}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Contact email</label>
      <div class="col-sm-5">
        <input type="email" id="email" class="form-control" value="{{email}}" name="email" '{% if not superuser_edit_other %}' required onblur="validate_email()" '{% endif %}'>
      </div>

      <div id="notification_email">
        <div class="hidden" id="email-ok">
          <span class="glyphicon glyphicon-ok email-margin  email-go"></span> OK
        </div>

        <div class="hidden" id='email-nok'>
          <span class="glyphicon glyphicon-remove email-margin email-warning" ></span> Not Available
        </div>
      </div>
    </div>

    <div class="form-group" id="website_group">
      <label for="website_txt" class="col-sm-2 control-label">Website</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="website_txt" name="website_url" value="{{website_url}}" placeholder="Enter the whole thing, eg http://www.foodtrade.com."></input>
      </div>
    </div>


    <div class="form-group">
      <label for="phone" class="col-sm-2 control-label">Phone</label>
      <div class="col-sm-5">
        <input  id="phone" type="tel" class="form-control" placeholder="Phone number" value="{{phone}}" name="phone"  onblur="validateFeedback()" reqired="required">
      </div>
      <div id="notification_phone">
        <div class="hidden" id="phone-ok">
          <span class="glyphicon glyphicon-ok email-margin  email-go"></span> OK
        </div>
        <div class="hidden" id='phone-nok'>
          <span class="glyphicon glyphicon-remove email-margin email-warning" ></span> Not Valid
        </div>
      </div>
    </div>


    <div class="form-group" id="fb_page_group">
      <label for="facebook_page_txt" class="col-sm-2 control-label">Facebook</label>
      <div class="col-sm-5"> 
        <input type="text" class="form-control" id="facebook_page_txt" name="facebook_page" placeholder="Your page or group on facebook, eg http://facebook.com/foodtradeHQ." value="{{facebook_page}}"></input>
      </div>
    </div>
    
    <div class="form-group" id="company_charity">
      <label for="company_num_txt" class="col-sm-2 control-label">Company Number</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="company_num_txt" name="company_num" rows="5" placeholder="Your govt issued company or number." value="{{company_num}}"></input>
      </div>
    </div>

    {% if sign_up_as == 'Individual' or sign_up_as == 'Business' %}
    <div class="form-group" id="food_tab_group">
      <label for="food_tab_txt" class="col-sm-2 control-label">Show produce for sale</label>
      <div class="col-sm-5">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default {% if show_foods %} active {% endif %}"> 
              <input type="radio" {% if show_foods %} checked="checked" {% endif %} name="show_foods" id="show_foods_1" value="Yes"> Yes
          </label> 
          <label class="btn btn-default {% if not show_foods %} active {% endif %}"> 
              <input type="radio" {% if not show_foods %} checked="checked" {% endif %} name="show_foods" id="show_foods_2" value="No"> No 
          </label> 
        </div>


      </div>
    </div>
    {% endif %}
<div class="form-group" id="deliverables_group">
      <label for="deliverables_txt" class="col-sm-2 control-label">Deliveries</label>
      <div class="col-sm-5">
        <textarea class="form-control" id="deliverables_txt" name="deliverables" placeholder="How do you deliver? Where? How often? Any guide prices?" rows="5">{{deliverables}}</textarea>
      </div>
    </div>


<div class="form-group" id="video_group">
      <label for="video_txt" class="col-sm-2 control-label">Video URL</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="video_txt" name="video_url" placeholder="URL of your short introductory video" rows="5" value="{{video_url}}"></input>
        <p class="help-block small">Supports most video provider websites like Youtube, Vimeo, Vine, Metacafe, Daily Motion. See complete list <a href="http://embed.ly/embed/features/providers">here</a>.
        </p>
      </div>
    </div>

<div class="form-group" id="we_buy_group">
      <label for="we_buy_txt" class="col-sm-2 control-label">Show my shopping list</label>
      <div class="col-sm-5">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default {% if we_buy %} active {% endif %}"> 
              <input type="radio" {% if we_buy %} checked="checked" {% endif %} name="we_buy" id="we_buy_1" value="Yes"> Yes
          </label> 
          <label class="btn btn-default {% if not we_buy %} active {% endif %}"> 
              <input type="radio" {% if not we_buy %} checked="checked" {% endif %} name="we_buy" id="we_buy_2" value="No"> No 
          </label> 
        </div>


      </div>
    </div>
    
<div class="form-group">
      <label for="newsletter_freq_txt" class="col-sm-2 control-label">Local activity newsletter</label>
      <div class="col-sm-5">

<select id="newsletter_freq_txt" class="form-control" name="newsletter_freq" tabindex="6">
              <option value="Never">Never</option>
              <option value="Monthly">Monthly</option>
              <option value="Weekly">Weekly {% if not subscribed %}(7 day delay){% endif %}</option>
              {% if subscribed %}
              <option value="Daily">Daily</option>
              {% else %}
              <option value="Daily" disabled>Daily (subscribers only)</option>
              {% endif %}
            </select>
            {% if not subscribed %}
            <p class="help-block small">We'll email you all the local activity near you so you never miss a thing. <a href="/payments" style="text-decoration:underline;">Upgrade</a> for daily updates.</p>
            {% endif %}
        <!-- <input type="text" id="newsletter_freq_txt" class="form-control" value="{{newsletter_freq}}" name="newsletter_freq"> -->
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="col-sm-2 control-label">Address</label>
      <div class="col-sm-5">
      <input type="text" id="address" required class="form-control" placeholder="Enter your address" value="{{address}}" name="address">
      <input id="find" type="hidden" value="find" />
      <p>Please drag and drop the marker to change your location.</p>
      <div class="map_canvas" style="width: 100%;height: 300px; margin-top:3%;"></div>
      <input name="lat" type="hidden" value=""  class="form-control">
      <input name="lng" type="hidden" value=""  class="form-control">
      <input name="formatted_address" type="hidden" value="" id="formatted_address" class="form-control">
      </div>
    </div>
      <div class="form-group" style="margin-bottom: 70px;">
        <div class="col-sm-offset-2 col-sm-5">
          <button type="submit" class="btn btn-primary" onclick="copydata()">Update</button>
        </div>
      </div> 

  </form>
</div> 

</div>
</div>
{% endblock %}

{% block footer %}

  <script src="/static/js/chosen.jquery.min.js" type="text/javascript"></script>
  <script src="/static/css/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
  

<script type="text/javascript">
  var selVals = String('{{type_user}}').split(',');
  for (var i=0; i < selVals.length; i++){
    $("select optgroup option").filter(function() {
        return $(this).text() == selVals[i];
    }).prop('selected', true);
  }

var business_type = '{{sign_up_as}}';
$( document ).ready(function() {


    $("#newsletter_freq_txt").val("{{newsletter_freq|safe}}");

  if('{{sign_up_as}}'=="Individual"){
    $('#type_user_id').toggleClass('typeempty');
    $('#company_charity').toggleClass('typeempty');
    $('#website_group').toggleClass('typeempty');
    $('#fb_page_group').toggleClass('typeempty');
    $('#deliverables_group').toggleClass('typeempty');
    $('#buss_org_group').toggleClass('typeempty');
    $('#video_group').toggleClass('typeempty');

    /*$('#dropdown3').attr('required','flase');*/
    /*$('#dropdown3').removeAttr('required');*/
    }
  else if('{{sign_up_as}}'=="Organisation"){
    $('#type_user_id').toggleClass('typeempty');
    $('#deliverables_group').toggleClass('typeempty');
    $('#buss_org_label').text('Organisation Name');
    $('#buss_org_name_txt').prop('placeholder', 'Organisation Name');
    $('#video_group').toggleClass('typeempty');

    /*$('#dropdown3').attr('required','true');*/
  }
  else{
    $('#buss_org_label').text('Business Name');
    $('#buss_org_name_txt').prop('placeholder', 'Business Name');
  }
});


function dataradio(value){
    // var result_val = $("input[name=options]:checked").val();
    business_type = value;
    if (value == "Business"){
        if ( $('#type_user_id').hasClass('typeempty') ){
          $('#type_user_id').removeClass('typeempty');
        }
        if ( $('#company_charity').hasClass('typeempty') ){
          $('#company_charity').removeClass('typeempty');
        }
        if ( $('#website_group').hasClass('typeempty') ){
          $('#website_group').removeClass('typeempty');
        }
        if ( $('#deliverables_group').hasClass('typeempty') ){
          $('#deliverables_group').removeClass('typeempty');
        }
        if ( $('#fb_page_group').hasClass('typeempty') ){
          $('#fb_page_group').removeClass('typeempty');
        }
        if ( $('#buss_org_group').hasClass('typeempty') ){
          $('#buss_org_group').removeClass('typeempty');
        }
        if ( $('#video_group').hasClass('typeempty') ){
          $('#video_group').removeClass('typeempty');
        }

        $('#buss_org_label').text('Business Name');
        $('#buss_org_name_txt').prop('placeholder', 'Business Name');
    }
    else if (value == "Organisation"){
        if (!($('#type_user_id').hasClass('typeempty'))){
          $('#type_user_id').addClass('typeempty');
        }
        if (!($('#deliverables_group').hasClass('typeempty'))){
          $('#deliverables_group').addClass('typeempty');
        }
        if (!($('#video_group').hasClass('typeempty'))){
          $('#video_group').addClass('typeempty');
        }

        if ( $('#company_charity').hasClass('typeempty') ){
          $('#company_charity').removeClass('typeempty');
        }
        if ( $('#website_group').hasClass('typeempty') ){
          $('#website_group').removeClass('typeempty');
        }
        if ( $('#fb_page_group').hasClass('typeempty') ){
          $('#fb_page_group').removeClass('typeempty');
        }
        if ( $('#buss_org_group').hasClass('typeempty') ){
          $('#buss_org_group').removeClass('typeempty');
        }
        $('#buss_org_label').text('Organisation Name');
        $('#buss_org_name_txt').prop('placeholder', 'Organisation Name');
    }
    else{
        if (!($('#type_user_id').hasClass('typeempty'))){
          $('#type_user_id').addClass('typeempty');
        }
        if (!($('#deliverables_group').hasClass('typeempty'))){
          $('#deliverables_group').addClass('typeempty');
        }
        if (!($('#company_charity').hasClass('typeempty'))){
          $('#company_charity').addClass('typeempty');
        }
        if (!($('#website_group').hasClass('typeempty'))){
          $('#website_group').addClass('typeempty');
        }
        if (!($('#fb_page_group').hasClass('typeempty'))){
          $('#fb_page_group').addClass('typeempty');
        }
        if (!($('#buss_org_group').hasClass('typeempty'))){
          $('#buss_org_group').addClass('typeempty');
        }
        if (!($('#video_group').hasClass('typeempty'))){
          $('#video_group').addClass('typeempty');
        }
        /*$('#dropdown3').removeAttr('required');*/
    }
}
var config = {
      '.chosen-select'           : {max_selected_options: 3},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"350px"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
    $('#dropdown3').chosen().ready(function(){
      $('.search-field input').attr('style', 'width:192px;height:30px;');
    });
function validateFeedback(){
    var phone = document.getElementById("phone");
    var RE = /[0-9]+/;
    var ph = String(phone.value).replace(' ','');
        ph = String(ph.value).replace('-','');
        ph = String(ph.value).replace('x','');
        ph = String(ph.value).replace('+','');
    if(!RE.test(phone.value))
    {
        
        $('#phone-nok').removeClass('hidden');
        return false;
    }
    $('#phone-nok').addClass('hidden');
    return true;
}

  function copydata(){
    var all_values = '';
    var elements = document.getElementsByClassName('search-choice');
    for(i=0;i<elements.length;i++){
      if(all_values==''){
        all_values = all_values + elements[i].children[0].innerHTML;  
      }
      else{
      all_values = all_values + ',' + elements[i].children[0].innerHTML;
      }
    }
    document.getElementById('hidden_type').value = all_values;
    }

  var email_valid;
  var username= '{{username|safe}}';
  function validate_email(){
    email = document.getElementById("email").value;
    ajax_request('check_email_address', 'success_validate_email',{'email':email,'username':username});
  }
  function success_validate_email(data){
    data = jQuery.parseJSON(data);
    email_valid = data;
    if (data['status'] == 1 && data['valid'] == 'yes'){
     $('#email-nok').removeClass('active'); 
     $('#email-nok').addClass('hidden');
     $('#email-ok').removeClass('hidden');
     $('#email-ok').addClass('active');
    }
    else{
     $('#email-nok').removeClass('hidden'); 
     $('#email-nok').addClass('active');
     $('#email-ok').removeClass('active');
     $('#email-ok').addClass('hidden');
    }
  }


function validate_business_type(){
    validate_email();
    var s_edit = '{{superuser_edit_other %}';
    if (s_edit == 'True'){     
        if(email_valid['status'] = 1 && email_valid['valid'] =='yes'){

        }
        else{
          return false;
        } 
    }

    if (business_type == 'Business' && $('#hidden_type').val().length == 0){
      alert("Please select atleast one Business Type!");
      return false;
    }
  }

  $(function(){
      $("#address").geocomplete({
        map: ".map_canvas",
        details: "form ",
        markerOptions: {
          draggable: true
        }
      });
      
      $("#address").bind("geocode:dragged", function(event, latLng){
          lat = latLng.lat();
          lng = latLng.lng();

          $("input[name=lat]").val(lat);
          $("input[name=lng]").val(lng);
          $("#reset").show();

          var mylatlng = new google.maps.LatLng(lat,lng);
          geo_code(mylatlng);
      });
      
      
      $("#find").click(function(){
        $("#address").trigger("geocode");
      }).click();

    });

 function geo_code(latlng){
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({'latLng': latlng}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              if (results[0]) {
                var formatted_address = results[0].formatted_address;
                $('#address').val('');
                $('#address').val(formatted_address);
                $('#formatted_address').val(formatted_address);
              } 
            } 
          });
}

</script>
{% endblock %}