

<div class="modal fade" id="modal_emaillogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content"> 
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Sign in</h4>
            </div>
           
            <div class="modal-body">
           <div class="row"> 
            <div class="col-sm-8 col-sm-offset-2">



              <div class="row"> 
                  <div class="col-sm-12 text-center clearfix">
                      <a href="/accounts/twitter/login/?process=login"><button type="button" class="btn btn-block btn-info" style="font-size: 20px;"><i class="fa fa-twitter fa-lg"></i> Sign in with Twitter</button></a>
                  </div>
              </div>

              <div class="or-box"> 
                  <span class="or">OR</span>
              </div>
              

              <form class="signup form-horizontal text-center" method="POST" id="main_login_form" action="/accounts/login/">
              {% csrf_token %}


              <p><b>Sign in with your username and password:</b></p>

              <div id="login_error_message"></div>

 

                <div class="form-group text-center">
                  <div class="col-sm-8 col-sm-offset-2">
                    <input autofocus id="id_login" name="login" placeholder="Username or e-mail" type="text"  class="form-control">
                  </div>
                </div>
                <div class="form-group text-center"> 
                  <div class="col-sm-8 col-sm-offset-2">
                    <input id="id_password" name="password" placeholder="Password"  class="form-control" type="password" required>

                    <label class="checkbox text-left"> 
                      <input id="id_remember" name="remember" type="checkbox">
                      Keep me signed in
                  </label>
                  </div>
                </div> 
                
                <div class=" col-sm-8 col-sm-offset-2">
                  <button class="btn btn-default btn-block " type="submit">
                    Sign in</button>
                </div>
                 <br />
                 <br />
 
                  <a class="small text-muted" href="/accounts/password/reset/">Forgot Password?</a>
              </form>  
               
 
            </div>

            </div>
            </div>
            <div class="modal-footer"> 


             <a class="btn btn-primary btn-stroke text-black normal pull-left" class="close" data-dismiss="modal" data-toggle="modal" data-target="#modal_signup" >  Create an account</a>
              
                
              
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
// 	$("#main_login_form").submit(function() {
//         $.post($(this).attr("action"), $(this).serialize(), "json") //Serialize looks good name=textInNameInput&&telefon=textInPhoneInput---etc
//         .done(function(data) {
//            if(data.status == "ok")
//            {
//            		window.location = data.location;

//            }
//            if(data.status == "error")
//            {
//            	$("#login_error_message").html(data.message);
//            }
//         });
//         return false;
//     })
// });
</script>



