 {% extends 'tbase.html' %}
{% load staticfiles %}

{% block content %}
 <div class="container">
 
 

  
      <div class="col-md-10">
<!--    <pre>

DEVELOPER NOTES

- Use nexted sortable: http://johnny.github.io/jquery-sortable/
- Note there's a hidden div on the tag lists 

We'll add merge tags later, I'm just adding the icon since I'm here. 
   </pre> -->

<form  role="form" class="well" on>
      <div class="row">
        <div class="col-md-6">

          <div class="form-group"> 
            <input type="text" class="form-control" id="termInput"  placeholder="Terms">
          </div> 

  <button type="button" class="btn btn-sm btn-success" onclick="AddTerm('termInput')">Add food</button>

        </div><!-- col md 5 -->
        <div class="col-md-6">

          <div class="form-group"> 
            <textarea class="form-control" rows="3" disabled="disabled" placeholder="Description" ></textarea> 
          </div> 
          <div class="form-group"> 
            <input type="file" class="form-control" disabled="disabled" id="file">
          </div>

        </div><!-- col md 5 -->
      </div>
</form>
<div class="row">
  <div class="col-md-6"><h3>Unapproved Foods</h3>
    <p class="help-block small">Click to approve.</p>
{% for each in unapproved_foods %}
<button id="newfood_{{forloop.counter}}" class="btn btn-info" value="{{each.food_name}}" onClick="approve_food('newfood_{{forloop.counter}}', '{{each.useruid}}')">{{each.food_name}}</button>
{% empty %}
    <p>Sorry, no unapproved foods.</p>
{% endfor %}
</div> <!-- end col-md-6 -->

    <div class="col-md-6">
        <h3>Food Tags</h3>
        <p class="help-block small">Click to approve/disapprove.</p>
        {% for each in tags_and_foods %}
          <p><strong><h4>{{each.food_name}}: </h4></strong></p>
            <div>
          {% for key, value in each.results.items %}

              <div class="pull-left" data-toggle="buttons">

                {% ifequal value "approved" %}
                <label class="btn btn-default btn-sm active">
              <input type="checkbox" checked="checked" id="tag_{{forloop.parentloop.counter}}_{{forloop.counter}}" onchange="approve_tags('{{each.food_name}}', '{{key}}', 'tag_{{forloop.parentloop.counter}}_{{forloop.counter}}')">{{key}}</label>
              {% else %}
              <label class="btn btn-default btn-sm">
              <input type="checkbox" id="tag_{{forloop.parentloop.counter}}_{{forloop.counter}}" onchange="approve_tags('{{each.food_name}}', '{{key}}', 'tag_{{forloop.parentloop.counter}}_{{forloop.counter}}')">{{key}}</label>
              {% endifequal %}
            </div>
            
          {% endfor %}
        </div>
        <div class="clear" style="clear:both;"></div>
        {% endfor %}
      </div>

</div> <!-- row -->

 <div class="row">
  <div class="col-md-6"><h3>All Foods</h3></div>
  <div class="col-md-6"><button type="button"  style="float:right;" class="btn btn-sm btn-success" onclick="SaveTagAdmin()">Save Foods</button></div> 
  </div> 
  

<hr > 
   <ul class="tag_admin">


    </ul>


       
      </div><!-- closes 10 -->
 
    </div> 

    
  {% endblock %}





  {% block footer %}
      <script src="{% static "js/jquery-sortable.js" %}"></script>
  <script type="text/javascript">

unapproved_food_list = [];

var oldContainer
$("ul.tag_admin").sortable({
  group: 'nested',
  afterMove: function (placeholder, container) {
    if(oldContainer != container){
      if(oldContainer)
        oldContainer.el.removeClass("active")
      container.el.addClass("active")
      
      oldContainer = container
    }
  },
  onDrop: function (item, container, _super) {
    container.el.removeClass("active");
    _super(item);

ZebraStrip();
  }
});
function approve_food(input, useruid){
  input_val = $("#" + input).val();
  data = {useruid: useruid, food_name: input_val}
  unapproved_food_list.push(data);
  AddTerm(input);
}

// function approve_tags(food_name, id_list, tag, tag_element){
  function approve_tags(food_name, tags, tag_element){
    console.log(food_name);
    console.log(tags);
    console.log(tag_element);
// console.log(food_name, id_list, tag, tag_element);
  if($('#'+ tag_element).prop('checked')){
    data = {food_name: food_name, tags: tags, status: 'add'}
  }
  else{
   data = {food_name: food_name, tags: tags, status: 'delete'} 
  }
  ajax_request("approve_tag", 'empty', {data: JSON.stringify(data)});
  // $('#'+tag_element).remove();
  // id_list = jQuery.parseJSON(id_list);
  // for(i=0;i<id_list.length;i++){
  //   data = {food_name: food_name, useruid: id_list[i], approved_food_tags: tag};
  //   ajax_request("approve_tag", 'empty', {data: JSON.stringify(data)});
  // }
}
function AddTerm(termInput)
{
  
  input_val = $("#" + termInput).val();
  if(input_val=="")
  {
    alert("You cannot add an empty term");
    return;
  }

  var list_input = '<li class="tag_item_admin"> <i class="fa fa-arrows text-muted"></i> <input type="checkbox"> ';
  list_input += ' <span>'+ input_val+'</span><span class="pull-right"> <i class="fa fa-edit" onclick="EditTag(this)"></i> <i class="fa fa-trash-o" onclick="RemoveTag(this)"></i> <i class="fa fa-compress" title="Merge selected"> </i> </span><!-- show this form on edit --> <div class="hidden"><form role="form"><div class="form-group"> <input type="text" class="form-control" id="tag1" value="Fish"> </div> <div class="form-group"> <textarea class="form-control" rows="3" placeholder="Description" disabled="disabled"></textarea> </div> <div class="form-group"> <input type="text" class="form-control" id="tag1" disabled="disabled" placeholder="http://www.link.com"> </div>  <div class="form-group"> <label for="image">Image</label> <input type="file" class="form-control" disabled="disabled" id="file"> </div><button type="submit" class="btn btn-sm btn-success">Save</button></form> </div><ul></ul></li>';
    $("ul.tag_admin").prepend(list_input);
     $("#termInput").val('');

  // $("ol.tag_admin").
    if(termInput.indexOf('newfood')!=-1){
      $('#'+termInput).remove();
    }
}
function RemoveTag(my_this){
that = my_this;
$(my_this).parent().parent().remove();
}
function tags_saved(data)
{
  if(data==1)
  {
    alert("Tags Saved");
  }
}
function EditTag(my_this){
  $("ul.tag_admin").sortable("disable");
  var old_value = my_this.parentElement.parentElement.getElementsByTagName("span")[0].innerHTML;
  my_this.parentElement.parentElement.getElementsByTagName("span")[0].innerHTML = "<input type='text' id='current_tag_edit' value='"+old_value+"' onblur='SaveEdit()'>";
  $('#current_tag_edit').focus();
// my_this.parentElement.parentElement.remove();
}

function SaveEdit()
{
  $("ul.tag_admin").sortable("enable");
  if($("#current_tag_edit").length>0){

  document.getElementById('current_tag_edit').parentElement.innerHTML = document.getElementById('current_tag_edit').value;
  }


}

function SaveTagAdmin()
{
  SaveEdit();
   parent_tags = $('ul.tag_admin').children('li');
   h_tags = GetTags(parent_tags,0);
   ajax_request("save_adminfoods", 'tags_saved', {tags:JSON.stringify(h_tags)});
   // remove the new foods from unapproved
   console.log(unapproved_food_list);
   for(i=0;i<unapproved_food_list.length;i++){
     ajax_request("delete_unapproved_food", 'empty', {data: JSON.stringify(unapproved_food_list[i])});
   }
}
function GetTags(tags, parentid)
{
  var result_array = [];
  for(var i=0;i<tags.length;i++)
  {
    var tag_children = tags[i].children;
    var tag_value = tag_children[2].innerHTML;
    var tags_sub_children = tag_children[tag_children.length-1].children;

    if(tags_sub_children.length>0)
    {

      var childrens = GetTags(tags_sub_children,0);
      result_array.push({ node : tag_value, childrens:childrens}); 
    }
    else
    {
      result_array.push({ node : tag_value});
    }



  }
  return result_array;
}

function get_old_tags(tags)
{
  var list_input='';
  for(var i=0;i<tags.length;i++)
  {
    var current_tag = tags[i];
    list_input += '<li class="tag_item_admin"> <i class="fa fa-arrows text-muted"></i> <input type="checkbox"> ';
  list_input += ' <span>'+ current_tag['node']+'</span><span class="pull-right"> <i class="fa fa-edit" onclick="EditTag(this)"></i> <i class="fa fa-trash-o" onclick="RemoveTag(this)"></i> <i class="fa fa-compress" title="Merge selected"> </i> </span><!-- show this form on edit --> <div class="hidden"><form role="form"><div class="form-group"> <input type="text" class="form-control" id="tag1" value="Fish"> </div> <div class="form-group"> <textarea class="form-control" rows="3" placeholder="Description" disabled="disabled"></textarea> </div> <div class="form-group"> <input type="text" class="form-control" id="tag1" disabled="disabled" placeholder="http://www.link.com"> </div>  <div class="form-group"> <label for="image">Image</label> <input type="file" class="form-control" disabled="disabled" id="file"> </div><button type="submit" class="btn btn-sm btn-success">Save</button></form> </div>';
  if(current_tag['childrens']==null)
  {
      list_input += '<ul></ul></li>';

  }
  else
  {
    list_input += '<ul>'+ get_old_tags(current_tag['childrens'])+'</ul></li>';
    
  }

  }
  console.log(tags.length);
  return list_input;

}
var old_tags = {{ tags | safe}};
$("ul.tag_admin").html(get_old_tags(old_tags));


function ZebraStrip()
{
  var list_items = $('.tag_admin li');
  var colors = [];
  colors.push("#fefefe");
  colors.push("#ffffff");
  for(var i = 0;i<list_items.length; i++)
  {
      list_items[i].style.background = colors[i%2];
  }

  var list_items = $('.tag_admin ul');
  for(var i = 0;i<list_items.length; i++)
  {
      list_items[i].style.background = "white";
  }
}

ZebraStrip();

// $(".switch-container").on("click", ".switch", function  (e) {
//   var method = $(this).hasClass("active") ? "enable" : "disable"
//   $(e.delegateTarget).dfnext().sortable(method)
// })
     </script>
     {% endblock %}