{% extends 'tbase.html' %}
{% load staticfiles %}

{% block content %}

 
<div class="col-md-10  {% if not user.is_authenticated %} col-md-offset-1 {% endif %}">

<div class="container-responsive block-center  ">
 


 <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media" style="margin-top: 30px ; margin-bottom: 30px;">
        <div class="carousel-inner">
          

          <div class="item  active">
            <div class='row'>
  <div class="col-md-12 hero text-center" style="background-image: url('/static/images/apples.jpg');">
     
    <div class="text-center"> 
   
      <h1>The simpler way<br /> to find better food.</h1> 
      
      <p><a href="/accounts/twitter/login/?process=login" class="btn text-center btn-primary btn-lg" style="font-size: 2em; margin-top: 1em; border: 7px double #fff;"><i class="fa fa-twitter fa-fw"></i> Get started &raquo;</a></p> <br />
      <p class="lea d"><a href="#notwitter" class="white">Don't have a twitter account?</a></p>
    </div> 
  </div>
</div>

          </div>  
          <div class="item">
            <div class='row'>
  <div class="col-md-12 hero text-center" style="background-image: url('/static/images/vegboxes.jpg');">
     
    <div class=""> 
      <h1>Trade with a simple update</h1>  
      <h3>There's a great deal nearer than you think.</h3>
      <p><a href="/accounts/twitter/login/?process=login" class="btn text-center btn-primary btn-lg" style="font-size: 2em; margin-top: 1em; border: 7px double #fff;"><i class="fa fa-twitter fa-fw"></i> Get started for free &raquo;
      </a></p>
    </div> 
  </div>
</div>

          </div>  
          <div class="item">
           <div class='row'>
  <div class="col-md-12 hero text-center black whiteshadow" style="background-image: url('/static/images/foodweb2.jpg');">
     
    <div class=""> 
      <h1>"This technology could transform the way food networks operate." </h1> 
      <h3 class="text-center">&mdash; HRH Prince Charles</h3>
    </div> 
  </div>
</div>

          </div>  


        </div> 
      </div>                          
    </div>
  </div> 

  

<div class='row'>

  <div class="col-sm-4 text-center">
    <a href="/pages/individuals">  
      <img alt="" class="img-thumbnail center" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c41.41.518.518/s160x160/15202_10152750860890051_592474866_n.jpg" style="max-height: 120px;">
    </a>
    <h4>
      <a  href="/pages/individuals"> 
        For everyone &raquo;
      </a>
    </h5>
    <p>Find &amp; support the businesses who produce the foods you love, in the way you value.</p>
  </div><!-- col -->

  <div class="col-sm-4 text-center">
    <a href="/pages/business">  
      <img alt="" class="img-thumbnail center" src="https://pbs.twimg.com/profile_images/378800000510461570/2e8436740f730dc785435c27de270f5a.jpeg" style="max-height: 120px;">
    </a>
    <h4>
      <a  href="/pages/individuals"> 
        For business &raquo;
      </a>
    </h5>
    <p>Take the hassle out of finding trade partners - discover, connect, and grow with more great businesses. </p>
  </div><!-- col -->

  <div class="col-sm-4 text-center">
    <a href="/pages/organisations">  
      <img alt="" class="img-thumbnail center" src="https://pbs.twimg.com/profile_images/1690823879/Screen_shot_2011-12-13_at_12.21.20.png" style="max-height: 120px;">
    </a>
    <h4>
      <a  href="/pages/individuals"> 
        For organisations &raquo;
      </a>
    </h5>
    <p>Showcase your members, visualise your reach &amp; impact, and find new supporters.</p>
  </div><!-- col -->

</div><!-- row --> 
 
 


<div class="row">
  <div class="col-md-12">
  <hr />
  <p class="text-center ">Please <a href="mailto:ed@foodtrade.com">get in touch</a> to learn about the services we provide for cities, regions, and application developers.</p>  
  </div>
</div> 
 
<a name="notwitter"></a>

<div class='row'>
  <div class='col-md-12'>
    <div class="well  clearfix ">
    As featured in 
    The Grocer,
    Wired,
    BBC Food Programme,
    Modern Farmer,
    Fast Company
    Financial Times,
    Virgin Unite,
    &amp; the Huffington Post.
    <br><small>Amongst others.</small>
 
    </div>
  </div>
</div>


<div class='row'>
  <div class='col-md-12'>
    <div class="well  clearfix ">

<div class="col-sm-6">
<p>We'll be adding more features every month. Sign up to the newsletter and you'll be first to know.</p>
</div>
<div class="col-sm-6">
 <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://sustaination.us2.list-manage1.com/subscribe/post?u=79e1467c02512dbd83bddab5f&amp;id=eeea3ac4c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="input-group"> 
      <input type="email" value="" name="EMAIL"  class="form-control required" name="q"  id="mce-EMAIL"  placeholder="Email Address">
      <span class="input-group-btn">
          <button type="submit" class="btn btn-success"> Subscribe</button>
      </span>
    </div>
      <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_79e1467c02512dbd83bddab5f_eeea3ac4c6" value=""></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
</form>    
<!--End mc_embed_signup-->   
</div>

    </div>
  </div>
</div>


<div class='row'>
  <div class='col-md-12'>

  <div class="col-md-3 ">
  <div class="thumbnail"> 
<p><img class="alignright size-full wp-image-5023" alt="wired" src="http://foodtrade.com/wp-content/uploads/2013/10/264x54xwired.png.pagespeed.ic.PHJlPo-jPC.jpg" width="264" height="54" pagespeed_url_hash="3184154382"></p>

</div>
</div>
  <div class="col-md-3 ">
  <div class="thumbnail">
 
<img class="size-full wp-image-5025 alignright" alt="grocer" src="http://foodtrade.com/wp-content/uploads/2013/10/264x54xgrocer.png.pagespeed.ic.52CPNeyH2n.jpg" width="264" height="54" pagespeed_url_hash="2406920671"></p>

</div>
</div>
  <div class="col-md-3 ">
  <div class="thumbnail">
 
<p><img class="alignright size-full wp-image-5022" alt="huffpo" src="http://foodtrade.com/wp-content/uploads/2013/10/264x54xhuffpo.png.pagespeed.ic.hZ_X0nTf7q.png" width="264" height="54" pagespeed_url_hash="873157195"></p>

</div>
</div>
  <div class="col-md-3 ">
  <div class="thumbnail"> 
<p><img class="alignright size-full wp-image-5024" alt="fastcompany" src="http://foodtrade.com/wp-content/uploads/2013/10/264x54xfastcompany.png.pagespeed.ic.tK890tqMEd.jpg" width="264" height="54" pagespeed_url_hash="1618865448"></p>

</div>
</div>

  </div>
</div>


</div>

</div><!-- col10 --> {% endblock %}


      <script type="text/javascript">
    map_lat='50';
    map_lon = "0";
 
    </script>
     <script src="{% static "js/business-map.js" %}"></script>
