{% extends 'tbase.html' %}
{% load staticfiles %}
{% block head %}
	<style type="text/css">    
	    .panel-body input[type=checkbox]:checked + label { 
	        color: #c00; 
	    } 
	    .mymargin{
	    	margin-top:2.5%;
	    }
	    .newmargin{
	    	margin-right: 1.5%;
	    }
	</style>
{% endblock %}



{% block content %}


<div class="col-md-10" >
	<div class="panel panel-default">
	<div class="panel-heading clearfix">
	<button id="btnSendTweet1" onclick="send_invite()" class="btn btn-primary pull-right newmargin">Send invites</button>
			<div class="col-md-6">
	          <div class="input-group">
	            <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
	            <input class="form-control" id="inputFindFriends" name="q" placeholder="Search for" required>
	            <span class="input-group-btn">
	                <button  type="submit" id="btnFindFriends" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
	            </span>
	          </div>
    		</div>

 	<div class="panel-body mymargin">

    <div class="form-group"> 
 	<textarea id="tweetMessage1"  onkeyup="check_limit()" class="form-control counted" name="message" placeholder="Type in your message" rows="3" >You'll love www.foodtrade.com, </textarea>
 	</div>
 	<button id="btnSendTweet2" onclick="send_invite()" class="btn btn-primary pull-right">Send invites</button>
      <h6 id="charsRem" class="pull-left" id="counter">140 characters remaining</h6> 
 	</div>

	<ul class="list-group"> 
	  <ul class="list-group-item" id ="myFriendsLi">
	   {% for each in friend %}
	    <li id= "li{{forloop.counter}}" class="list-group-item">
	      <!-- only show this if checkbox selected --> 
	      <div class="checkbox">
	        <input type="checkbox" id="checkbox{{forloop.counter}}" onclick="validate_tweets('{{each.friends.screen_name}}', {{forloop.counter}})" />
	        <label for="checkbox{{forloop.counter}}">
	          <img src="{{each.friends.profile_image_url}}" title="{{each.friends.name}}" class="img-responsive pull-left" style="width:20px; margin-right: 5px;" /> 
	          {{each.friends.name}} &nbsp;<span class="text-muted small">@{{each.friends.screen_name}}</span>
	          </label>
	      </div>
	    </li>   
	    {% endfor %}
	  </ul>

	  <li class="list-group-item clearfix" style="background: #eee;">
		<ul class="pagination pull-left mymargin">
		</ul>	  
        <button id="btnSendTweet3" onclick="send_invite()" class="btn btn-primary pull-right mymargin">Send invites</button>
      </li>

	  </ul> 
</div>
</div>
<script src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript">
var invite_id = String('{{invite_id}}');
var tweet = 'You\'ll love foodtrade. Join here:- http://localhost:8000/invitation/' + invite_id + '/' ;
var countVal = 0;
var send_list = [];
var users = [];
$(document).ready(function(){
	$('#tweetMessage1').html(tweet);
})
function validate_tweets (argument, count) {
	tweet = $('#tweetMessage1').val();
	var len = tweet.length;
	var chkbx_status = document.getElementById('checkbox' + String(count)).checked;
	if(chkbx_status == false){
			tweet = tweet.replace(' @' + String(argument)+' ','');
			send_list.pop(count);
			users.pop('@' + argument);
			$('#tweetMessage1').val(tweet);
			countVal = countVal - 1;
			$('#btnSendTweet1').html("Send " + String(countVal) + ' invites');
			$('#btnSendTweet2').html("Send " + String(countVal) + ' invites');
			$('#btnSendTweet3').html("Send " + String(countVal) + ' invites');
			$('#charsRem').html(String(140-tweet.length) + ' characters remaining.')
	}
	else{
		if (argument.length + len < 140 ) {
			tweet = tweet + ' ' + '@' + String(argument) +' ';
			countVal = countVal + 1;
			send_list.push(count);
			users.push('@' + argument);
			$('#tweetMessage1').val(tweet);
			$('#btnSendTweet1').html("Send " + String(countVal) + ' invites');
			$('#btnSendTweet2').html("Send " + String(countVal) + ' invites');
			$('#btnSendTweet3').html("Send " + String(countVal) + ' invites');
			$('#charsRem').html(String(140-tweet.length) + ' characters remaining.')			
		}
		else{
			alert('Character Length 140 of Tweets exceeded');
			document.getElementById('checkbox' + String(count)).checked = false;
		}		
	}
}
function invites_handler (data) {
	data = jQuery.parseJSON(data);
	if(data['status'] == '1'){
		invite_id = String(data['new_invite_id']);
		/*alert(invite_id);*/
		$('#charsRem').html(String(140) + ' characters remaining.');
		$('#btnSendTweet1').html("Send invites");
		$('#btnSendTweet2').html("Send invites");			
		$('#btnSendTweet3').html("Send invites");
		tweet = 'You\'ll love foodtrade. Join here:- http://localhost:8000/invitation/' + invite_id + '/' ;
		$('#tweetMessage1').val(tweet);
		/*$('#btnSendTweet1').html('');*/		
		for (var val in send_list){
			$('#li' + String(send_list[val])).hide();
			tweet = tweet.replace(users[val], '');
		}
	}
}
function send_invite () {
	if (countVal == 0){
		alert('Please select someone to invite');
	}
	else{
		countVal = 0;
		ajax_request(
			'post_tweet',
			'invites_handler',
			{'message':tweet, 
			'invite':'true', 
			'to':String(users), 
			'invite_id':'{{invite_id|safe}}', 
			'noappend':'noappend'
		});
	}
}
function check_limit(){
	tweet = $('#tweetMessage1').val();
	if(tweet.len > 140){
		$('#charsRem').html( 'Max of 140 characters exceeded.');
	}
	else{
		$('#charsRem').html(String(140-tweet.length) + ' characters remaining.');
	}
}

var mx_count = 5;
var mn_count = 0;
/*var pg_count = {{page_count}};*/
var pg_count = {{page_count|safe}};
$(document).ready(function(){
	var str = '<li><a id="invite_page_dec" onclick="update_ul_invites_dec()">&laquo;</a></li>';
	for (var i =0; i<5; i++){
		str = str + '<li id=\"pg_'+ String(i+1) +'\"><a id="invite_page_' + String(i+1) + '"onclick="update_ul_invites('+ String(i+1) + ')">' + String(i+1) + '</a></li>';
	}
	str = str + '<li><a id="invite_page_inc" onclick="update_ul_invites_inc()">&raquo;</a></li>';
	$('.pagination').html(str);

});

function update_ul_invites_dec(){
	if(mn_count !=0 ){
		$('.pagination').html('');
		var str = '<li><a id="invite_page_dec" onclick="update_ul_invites_dec()">&laquo;</a></li>';
		for (var i =mn_count-1; i<mn_count+4; i++){
			str = str + '<li id=\"pg_'+ String(i+1) +'\"><a id="invite_page_' + String(i+1) + '"onclick="update_ul_invites('+ String(i+1) + ')">' + String(i+1) + '</a></li>';
		}
		str = str + '<li><a id="invite_page_inc" onclick="update_ul_invites_inc()">&raquo;</a></li>';
		$('.pagination').html(str);
		mn_count = mn_count - 1;
		mx_count = mx_count - 1;
	}
}
function update_ul_invites_inc(){
	if(mx_count != pg_count){
		$('.pagination').html('');
		var str = '<li><a id="invite_page_dec" onclick="update_ul_invites_dec()">&laquo;</a></li>';
		for (var i =mn_count+1; i<mn_count+6; i++){
			str = str + '<li id=\"pg_'+ String(i+1) +'\"><a id="invite_page_' + 
			String(i+1) + '" onclick="update_ul_invites(' +  
				String(i+1) + ')">' + String(i+1) + '</a></li>';
		}
		str = str + '<li><a id="invite_page_inc" onclick="update_ul_invites_inc()">&raquo;</a></li>';
		$('.pagination').html(str);
		mn_count = mn_count + 1;
		mx_count = mx_count + 1;
	}
}

function parse_friends_ajax(data){
	friends = jQuery.parseJSON(data);
	/*alert(friends);*/
	var str ='';
	$('#myFriendsLi').html('');
	for (var i=0; i<friends.length; i++){
	    str = str + '<li id= "li' + String(i+1)+ '" class="list-group-item">';
	      str = str + '<div class="checkbox">';
	        str = str + '<input type=\"checkbox\" id=\"checkbox'+ String(i+1) +'\"'+ ' onclick=\"validate_tweets(' + '\'' + String(friends[i]['friends']['screen_name']) + '\',\'' + String(i+1) + '\')\"' + '/>';
	        str = str + '<label for="checkbox">';
	          str = str + '<img src="' + String(friends[i]['friends']['profile_image_url']) + '" alt="THEIRNAME" class="img-responsive pull-left" style="width:20px; margin-right: 5px;" />'; 
	          str = str + String(friends[i]['friends'].name) + '<span class="text-muted small">@' + String(friends[i]['friends']['screen_name'])+'</span>';
	          str = str + '</label>';
	      str = str + '</div>';
	    str = str + '</li>';
	}
	$('#myFriendsLi').html(str);
}

var old=0;
function update_ul_invites(cur_page){
	$('#pg_' +String(old)).removeClass('active');
	$('#pg_' +String(cur_page)).addClass('active');
	old = cur_page;
	ajax_request('get_friends_paginated', 'parse_friends_ajax',{'pgnum':cur_page});
}

$('#btnFindFriends').click(function(){
	query = $('#inputFindFriends').val();
	ajax_request('search_friend','parse_friends_ajax',{'query':query});
});

$('#inputFindFriends').bind('keypress', function(e) {
	if(validate_login()['status'] == '1'){
		var code = e.keyCode || e.which;
		 if(code == 13) {
		   status_msg = this.value;
		   if(status_msg==""){
		   		alert('Please add some search term !!!');
		   }
		   else{
			query = $('#inputFindFriends').val();
			ajax_request('search_friend','parse_friends_ajax',{'query':query});
		   }
		 }
	}
	else{
		  window.location = '/accounts/twitter/login/?process=login';
	}
});

</script>
{% endblock %}
