{% extends 'tbase.html' %}
{% load staticfiles %}
{% block head %} 
	<style type="text/css">
	  .my-width{
      		width:70%;
    	}

	</style>
{% endblock %}

{% block content %}

<div class="col-sm-10" >
  <div class="alert alert-success lead"><strong>You earn one free month for everyone you invite that subscribes to FoodTrade</strong>. It's our way of saying 'thank you' for creating a revolution in food trade.</div>
  <div class="panel panel-default"> 
  <div class="panel-heading">
   <div class="clearfix">
      <div class="alert alert-success" style="display:none" id="successDiv"><strong>Cool! Your invitations have been sent, thank you! Why not invite some more? Together we can rewire the food system.</strong> </div> 

      <div class="form-group"> 
        <textarea id="tweetMessage1"  onkeyup="check_limit()" class="form-control counted-invite" name="message" placeholder="Type in your message" rows="3" >Join the #realfood search engine:  </textarea>
      </div>

        <button id="btnSendTweet2" onclick="send_invite()" class="btn btn-primary pull-right">Send invites</button>

        <h6 id="charsRem" class="pull-left" id="counter">140 characters remaining</h6> 
  </div>
    <div class="input-group col-sm-4" style="margin-top: 10px;"> 
      <input class="form-control " id="inputFindFriends" name="q" placeholder="Search your followers..." required>
      <span class="input-group-btn">
        <button type="submit" id="btnFindFriends" class="btn btn-default">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>
    </div>
  </div>  
 	
 
	  <ul class="list-group-item" id ="myFriendsLi">

	   {% for each in friend %}
	    <li id= "li{{forloop.counter}}" class="list-group-item">
	      <!-- only show this if checkbox selected --> 
	      <div class="checkbox">
	        <input type="checkbox" id="checkbox{{forloop.counter}}" onclick="validate_tweets('{{each.friends.screen_name}}', {{forloop.counter}})" />
	        <label for="checkbox{{forloop.counter}}">
	          <img src="{{each.friends.profile_image_url}}" title="{{each.friends.name}}" class="img-responsive pull-left" style="width:20px; margin-right: 5px;" /> 
	          <a href="/{{each.friends.screen_name}}/">{{each.friends.name}} &nbsp;<span class="text-muted small">@{{each.friends.screen_name}}</a></span>
	          </label>
	      </div>
	    </li>   
	    {% endfor %}
	  </ul>
    

  <div class="panel-footer clearfix">

  <button id="btnSendTweet3" onclick="send_invite()" class="btn btn-primary pull-right mymargin">Send invites</button>

  <ul class="pagination pu ll-left">
  </ul>   
  </div>

	</div>
	
	  </ul>
    </div> 
</div>
</div>


{% endblock %}

{% block footer %}
<script src="/static/js/chosen.jquery.min.js" type="text/javascript"></script>
  <script src="/static/css/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
var invite_id = String('{{invite_id|safe}}');
var search =0;
var domain = document.domain;
var tweet = String('{{invite_tweet|safe}}');
var countVal = {{friend_count|safe}};
var send_list = [];
var users = [];
var pg_count = {{page_count|safe}};
var CURRENT = {{current_page_number|safe}};
var pg_clicked = 1;
var for_page_counter = 0;

$(document).ready(function(){
  $('#tweetMessage1').html(tweet);
});
function validate_tweets (argument, count) {
	tweet = $('#tweetMessage1').val();
	var len = tweet.length;
	var chkbx_status = document.getElementById('checkbox' + String(count)).checked;
	if(chkbx_status == false){
			countVal = countVal + 1;
			tweet = tweet.replace('@' + String(argument) + ' ','');
			send_list.pop(count);
			users.pop('@' + argument);
			$('#tweetMessage1').val(tweet);
			for_page_counter = for_page_counter - 1;
			$('#btnSendTweet1').html("Send " + "selected" + ' invites');
			$('#btnSendTweet2').html("Send " + "selected" + ' invites');
			$('#btnSendTweet3').html("Send " + "selected" + ' invites');
			$('#charsRem').html(String(140-tweet.length) + ' characters remaining.')
	}
	else{
		countVal = countVal - 1;
		if (argument.length + len < 140 ) {
			if(users.length == 0){
				tweet = tweet + ' ' + '@' + String(argument) +' ';	
			}
			else{
				tweet = tweet + '@' + String(argument) +' ';
			}
			
			for_page_counter = for_page_counter + 1;
			send_list.push(count);
			users.push('@' + argument);
			$('#tweetMessage1').val(tweet);
			$('#btnSendTweet1').html("Send " + "selected" + ' invites');
			$('#btnSendTweet2').html("Send " + "selected" + ' invites');
			$('#btnSendTweet3').html("Send " + "selected" + ' invites');
			$('#charsRem').html(String(140-tweet.length) + ' characters remaining.')			
		}
		else{
			countVal = countVal + 1;
			document.getElementById('checkbox' + String(count)).checked = false;
			alert('Character Length 140 of Tweets exceeded');
		}		
	}
}

function invites_handler (data) {
	data = jQuery.parseJSON(data);
	if(data['status'] == '1'){
		invite_id = String(data['new_invite_id']);
		new_invite_tweet = String(data['new_invite_tweet']);
		/*alert(new_invite_tweet);*/
		tweet = new_invite_tweet;
		/*alert(invite_id);*/
		$('#charsRem').html(String(140) + ' characters remaining.');
		$('#btnSendTweet1').html("Send invites");
		$('#btnSendTweet2').html("Send invites");			
		$('#btnSendTweet3').html("Send invites");
		$('#tweetMessage1').val(tweet);
		$('#invite_tweeter_user_text').html(tweet);
		/*$('#btnSendTweet1').html('');*/		
		for (var val in send_list){
			$('#li' + String(send_list[val])).hide();
			tweet = tweet.replace(users[val], '');
		}
		
		send_list = []; 
		users = [];
		$('#successDiv').show(2000);
		$('#successDiv').delay(5000).fadeOut('slow');
		if(countVal <= 0){
			window.location='/invite/?page=' +String(CURRENT+1);
		}
	}
}
function send_invite () {
	if (send_list.length == 0){
		alert('Please select someone to invite');
	}
	else{
		ajax_request(
			'post_tweet',
			'invites_handler',
			{'message':tweet, 
			'invite':'true', 
			'to':String(users), 
			'invite_id':invite_id,
			'noappend':'noappend'
		});
	}
}

function check_limit(){
	tweet = $('#tweetMessage1').val();
	if(tweet.len > 140){
		$('#charsRem').html( 'Max of 120 characters exceeded.');
	}
	else{
		$('#charsRem').html(String(140-tweet.length) + ' characters remaining.');
	}
}

var mx_count = 5;
var mn_count = 0;
/*var pg_count = {{page_count}};*/
$(document).ready(function(){
	var str = '<li><a id="invite_page_dec" onclick="update_ul_invites_dec()">&laquo;</a></li>';
	for (var i =0; i<5; i++){
		str = str + '<li id=\"pg_'+ String(i+1) +'\"><a id="invite_page_' + String(i+1) + '"onclick="update_ul_invites('+ String(i+1) + ')">' + String(i+1) + '</a></li>';
	}
	str = str + '<li><a id="invite_page_inc" onclick="update_ul_invites_inc()">&raquo;</a></li>';
	$('.pagination').html(str);

});

function update_ul_invites_dec(){
	if(mn_count !=0 ){
		$('.pagination').html('');
		var str = '<li><a id="invite_page_dec" onclick="update_ul_invites_dec()">&laquo;</a></li>';
		for (var i =mn_count-1; i<mn_count+4; i++){
			str = str + '<li id=\"pg_'+ String(i+1) +'\"><a id="invite_page_' + String(i+1) + '"onclick="update_ul_invites('+ String(i+1) + ')">' + String(i+1) + '</a></li>';
		}
		str = str + '<li><a id="invite_page_inc" onclick="update_ul_invites_inc()">&raquo;</a></li>';
		$('.pagination').html(str);
		mn_count = mn_count - 1;
		mx_count = mx_count - 1;
	}
}
function update_ul_invites_inc(){
	if(mx_count != pg_count){
		$('.pagination').html('');
		var str = '<li><a id="invite_page_dec" onclick="update_ul_invites_dec()">&laquo;</a></li>';
		for (var i =mn_count+1; i<mn_count+6; i++){
			str = str + '<li id=\"pg_'+ String(i+1) +'\"><a id="invite_page_' + 
			String(i+1) + '" onclick="update_ul_invites(' +  
				String(i+1) + ')">' + String(i+1) + '</a></li>';
		}
		str = str + '<li><a id="invite_page_inc" onclick="update_ul_invites_inc()">&raquo;</a></li>';
		$('.pagination').html(str);
		mn_count = mn_count + 1;
		mx_count = mx_count + 1;
	}
}

function parse_friends_ajax(data){
	data = jQuery.parseJSON(data);
	if (search == 1){
		friends = data['result'];
		countVal = data['result_count'];
		CURRENT =1;
	}
	else{
		friends = data;	
	}
	
	/*alert(friends);*/
	var str ='';
	$('#myFriendsLi').html('');
	for (var i=0; i<friends.length; i++){
	    str = str + '<li id= "li' + String(i+1)+ '" class="list-group-item">';
	      str = str + '<div class="checkbox">';
	        str = str + '<input type=\"checkbox\" id=\"checkbox'+ String(i+1) +'\"'+ ' onclick=\"validate_tweets(' + '\'' + String(friends[i]['friends']['screen_name']) + '\',\'' + String(i+1) + '\')\"' + '/>';
	        str = str + '<label for="checkbox">';
	          str = str + '<img src="' + String(friends[i]['friends']['profile_image_url']) + '" alt="THEIRNAME" class="img-responsive pull-left" style="width:20px; margin-right: 5px;" />'; 
	          str = str + String(friends[i]['friends'].name) + '<span class="text-muted small">@' + String(friends[i]['friends']['screen_name'])+'</span>';
	          str = str + '</label>';
	      str = str + '</div>';
	    str = str + '</li>';
	}
	$('#myFriendsLi').html(str);
}

var old=0;
function update_ul_invites(cur_page){
	window.location = '/invite/?page=' +String(cur_page);
	pg_clicked = cur_page;
	$('#pg_' +String(old)).removeClass('active');
	$('#pg_' +String(cur_page)).addClass('active');
	old = cur_page;
	ajax_request('get_friends_paginated', 'parse_friends_ajax',{'pgnum':cur_page});
}

$('#btnFindFriends').click(function(){
	query = $('#inputFindFriends').val();
	ajax_request('search_friend','parse_friends_ajax',{'query':query});
});

$('#inputFindFriends').bind('keypress', function(e) {
	if(validate_login()['status'] == '1'){
		search =1;
		var code = e.keyCode || e.which;
		 if(code == 13) {
		   status_msg = this.value;
		   if(status_msg==""){
		   		alert('Please add some search term !!!');
		   }
		   else{
			query = $('#inputFindFriends').val();
			ajax_request('search_friend','parse_friends_ajax',{'query':query});
		   }
		 }
	}
	else{
		  window.location = '/accounts/twitter/login/?process=login';
	}
});


</script>

  {% endblock %}