{% extends 'tbase.html' %}
{% load staticfiles %}
{% load activity_tags %}
{% block head %}

{% endblock %}
{% block content %}
 
<div class="container-responsive block-center">


    <div class="col-md-5 col-sm-5 {% if not user.is_authenticated %} col-md-offset-1 col-sm-offset-1 {% endif %}" id="activity_switcher">
<div class="panel panel-info">
	<div class="panel-heading">Key Performance Indicators</div>
<table class="table table-condensed">
 <tr class="active">
 	<td>Individual Users</td>
 	<td>{{user_count.individual_count}}</td>
 </tr>

<tr class="success"><td>Business Users</td>
<td>{{user_count.business_count}}</td>
</tr>

<tr class="warning"><td>Organisation Users</td>
<td>{{user_count.organisation_count}}</td>
</tr>

<tr class="danger"><td>Updates</td>
	<td>{{total_activity}}</td>
</tr>

<tr class="info"><td>Replies</td>
<td>{{total_replies}}</td>
</tr>

<tr class="success"><td>Average Connections per Business</td>
<td>{{connections_per_business}}</td></tr>

<tr class="warning"><td>Total Connections</td>
<td>{{total_connections}}</td>
</tr>

</table>
</div>

    </div>

 


  {% endblock %}


          {% block footer %}
 {% endblock %}