{% extends 'tbase.html' %}
{% load staticfiles %}
{% load activity_tags %}
{% block head %}

{% endblock %}
{% block content %}
 
<div class="container-responsive block-center">


  <div class="col-md-10 col-sm-10 {% if not user.is_authenticated %} col-md-offset-1 col-sm-offset-1 {% endif %}" id="activity_switcher" style="margin-top: 50px;"> 


<div class="col-sm-6">
<div class="panel panel-default   ">
  <div class="panel-heading"><h3 style="margin:0"><i class="fa fa-users"></i> Users</h3></div>
  <div class="panel-body">
  <table class="table table-stripe d lead" id="kpi">
   <tr class="">
    <td>Individuals</td>
    <td>{{user_count.individual_count}}</td>
   </tr>

  <tr class="">
    <td>Businesses</td>
    <td>{{user_count.business_count}}</td>
  </tr>

  <tr class=" ">
    <td>Organisations</td>
    <td>{{user_count.organisation_count}}</td>
  </tr>

  <tr class=" ">
    <td>Unknown</td>
    <td>{{user_count.unknown_count}}</td>
  </tr>
  </table>
  </div>
</div>
</div> 

<div class="col-sm-6">

<div class="panel panel-default  ">
  <div class="panel-heading"><h3 style="margin:0"><i class="fa fa-dot-circle-o"></i> Activity</h3></div>
  <div class="panel-body">
<table class="table table-str iped lead" id="kpi">
<tr class="da nger"><td>Updates</td>
  <td>{{total_activity}}</td>
</tr>

<tr class="in fo"><td>Replies</td>
<td>{{total_replies}}</td>
</tr>
</table>
  </div>
</div>

</div>

<div class="col-sm-6">


<div class="panel panel-default ">
  <div class="panel-heading"><h3 style="margin:0"><i class="fa fa-link"></i> Connections</h3></div>
  <div class="panel-body">

  <table class="table ta ble-striped lead" id="kpi">
 
<tr class=""><td>Total Connections</td>
<td>{{total_connections}}</td>
</tr>

<tr class=""><td>Average Connections per business</td>
<td>{{connections_per_business}}</td></tr>

</table>


  </div>
</div>
</div>

</div> 

 


  {% endblock %}


      {% block footer %}
 {% endblock %}