{% load staticfiles %} {% load socialaccount %} {% load url from future %} {% load i18n %}

<!DOCTYPE html>
<html class="{% block html_class %}{% endblock %}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}FoodTrade menu {% block extra_title %}{% endblock %}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'> {% block base_style %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" /> -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />


    <!-- Ionicons -->
    <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <!-- <link href="{% static "menu/css/morris/morris.css" %}" rel="stylesheet" type="text/css" />  -->
    <!-- Date Picker -->
    <!-- <link href="{% static "menu/css/datepicker/datepicker3.css" %}" rel="stylesheet" type="text/css" /> -->
    <!-- Daterange picker -->
    <!-- <link href="{% static "menu/css/daterangepicker/daterangepicker-bs3.css" %}" rel="stylesheet" type="text/css" /> -->
    <!-- Theme style -->
    <link href="{% static "menu/css/AdminLTE.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "menu/css/ftmenu.css" %}" rel="stylesheet" type="text/css" /> 


    {% block extra_style %}{% endblock %} {% endblock %} {% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
 
    <!-- Morris.js charts -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script> -->
    <!-- <script src="{% static "menu/js/plugins/morris/morris.min.js" %}" type="text/javascript"></script>
            <!-- Sparkline -->
    <!-- <script src="{% static "menu/js/plugins/sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script> -->
    <!-- daterangepicker -->
    <!-- <script src="{% static "menu/js/plugins/daterangepicker/daterangepicker.js" %}" type="text/javascript"></script> -->
    <!-- datepicker -->
    <!-- <script src="{% static "menu/js/plugins/datepicker/bootstrap-datepicker.js" %}" type="text/javascript"></script> -->
    <!-- iCheck -->
    <script src="{% static "menu/js/plugins/iCheck/icheck.min.js" %}" type="text/javascript"></script>

    <!-- AdminLTE App -->
    <script src="{% static "menu/js/AdminLTE/app.js" %}" type="text/javascript"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script> -->
    <script src="{% static 'js/csrf.js' %}" type="text/javascript"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
                  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

            <![endif]-->
    {% block extra_js %}{% endblock %} {% endblock %}



</head>

<body class="{% block body_class %}skin-blue{% endblock %}">
    <!-- header logo: style can be found in header.less -->
    {% block header %}
    <header class="header">
        {% block logo %}
        <a href="/menu" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            FoodTrade Menu
        </a>
        {% endblock %}

        <!-- Header Navbar: style can be found in header.less -->

        {% block nav %}
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    {% block nav-messages %}
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="label label-success">2</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 2 messages</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="{% static 'menu/img/avatar3.png' %}" class="img-circle" alt="User Image" />
                                            </div>
                                            <h4>
                                                    Knorr - Tomato Paste
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                            <p>Feature coming soon! </p>
                                        </a>
                                    </li>
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="{% static 'menu/img/avatar3.png' %}" class="img-circle" alt="User Image" />
                                            </div>
                                            <h4>
                                                    Knorr - Stock cubes
                                                    <small><i class="fa fa-clock-o"></i> 7 mins</small>
                                                </h4>
                                            <p>Be alerted to produce changes</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a>
                            </li>
                        </ul>
                    </li>

                    {% endblock %}
                    <!-- Notifications: style can be found in dropdown.less -->

                    {% block nav-notifications %}
                    <li class="dropdown notifications-menu hidden">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-warning"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users warning"></i> 5 new members joined
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="ion ion-ios7-cart success"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion ion-ios7-person danger"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a>
                            </li>
                        </ul>
                    </li>

                    {% endblock %}
                    <!-- Tasks: style can be found in dropdown.less -->

                    {% block nav-task %}

                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i>
                            <span class="label label-danger">3</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 3 tasks <span class="label label-warning"> Feature coming soon</span>
                            </li>


                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <label>
                                                <input type="checkbox"> Add your suppliers
                                            </label>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <label>
                                                <input type="checkbox"> Add your stockists
                                            </label>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <label>
                                                <input type="checkbox"> Add availability to your produce
                                            </label>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>

                    {% endblock %}
                    <!-- User Account: style can be found in dropdown.less -->
                    {% block nav-user %}
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>{{user.first_name}}&nbsp;{{user.last_name}}<i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                <img src="{% static 'menu/img/avatar3.png' %}" class="img-circle" alt="User Image" />
                                <p>
                                    {{user.first_name}}&nbsp;{{user.last_name}}
                                    <small>Member since {{user.date_joined}}</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{% url 'menu_logout' %}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {% endblock %}
                </ul>
            </div>
        </nav>
        {% endblock %}

    </header>

    {% endblock %} {% block main_content %}
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        {% block left_sidebar %}
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->

            <section class="sidebar">
                <!-- Sidebar user panel -->
                {% block left_sidebar_user_panel %}
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{% static 'menu/img/avatar3.png' %}" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>Hello, {{user.first_name}}</p>
                    </div>
                </div>
                {% endblock %}
                <!-- search form -->
                {% block left_sidebar_search %}
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search..." />
                        <span class="input-group-btn">
                                  <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                              </span>
                    </div>
                </form>
                {% endblock %}
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->

                {% block left_sidebar_menu %}

                <ul class="sidebar-menu">
                    <li><a href="/menu/menu"><i class="ion ion-clipboard" style="font-size: 1.4em;"></i> My Menus <small class="badge pull-right bg-green">{{ menus.count }}</small></a>
                    </li>
                    <li><a href="/menu/connection"><i class="fa fa-sign-in"></i> My suppliers<small class="badge pull-right bg-green">{{ sellers.count }}</small></a>
                    </li>
                    <li><a href="/menu/connection"><i class="fa fa-sign-out"></i> My stockists<small class="badge pull-right bg-green">{{ buyers.count }}</small></a>
                    </li>
                    
                    <li class="treeview">
                        <a href="#" data-toggle="modal" data-target="#comingsoon" class="text-muted">
                        <i class="fa fa-cutlery"></i> My produce  
                                  <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="#" data-toggle="modal" data-target="#comingsoon" class="text-muted"><i class="fa fa-sign-out"></i> Suggested<small class="badge pull-right bg-red">3</small></a>
                            </li>
                            <li><a href="#" data-toggle="modal" data-target="#comingsoon" class="text-muted"><i class="fa fa-sign-out"></i> Add an item <small class="badge pull-right bg-green">23</small></a>
                            </li>
                            <li><a href="#" data-toggle="modal" data-target="#comingsoon" class="text-muted"><i class="fa fa-sign-out"></i> All produce<small class="badge pull-right bg-green">23</small></a>
                            </li>
                        </ul>
                    </li>

                    <li class="divider"></li>
                    <li class="">
                        <a href="#" data-toggle="modal" data-target="#comingsoon" class="text-muted">
                            <i class="fa fa-shopping-cart"></i> <span>Offers</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#" data-toggle="modal" data-target="#comingsoon" class="text-muted">
                            <i class="fa fa-list-ul"></i> <span>My shopping list</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#" data-toggle="modal" data-target="#comingsoon" class="text-muted">
                            <i class="fa fa-sliders"></i> <span>How I compare</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#" data-toggle="modal" data-target="#comingsoon" class="text-muted">
                            <i class="fa fa-cogs"></i> <span>Settings</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="">
                        <a href="https://foodtrade.uservoice.com" data-uv-trigger="contact" id="support">
                            <i class="fa fa-envelope"></i> <span>Contact us</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://foodtrade.uservoice.com" data-uv-trigger="contact" id="support">
                            <i class="fa fa-bullhorn"></i> <span>Feedback</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="">
                        <a href="#" data-toggle="modal" data-target="#terms">
                            <i class="fa fa-legal"></i> <span>Terms &amp; conditions</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="divider"></li>
                </ul>
                {% endblock %}
            </section>
            <!-- /.sidebar -->
        </aside>
        {% endblock %}

        <!-- Right side column. Contains the navbar and content of the page -->
        {% block right_panel %}
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            {% block right_panel_header %}
            
            {% endblock %}

            <section class="content">
                {% block content %} {% endblock %}
            </section>
            <!-- /.content -->
        </aside>

        {% endblock %}
        <!-- /.right-side -->
    </div>
    {% endblock %}
    <!-- ./wrapper -->


    {% include 'menu/partials/_comingsoon.html' %}


    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-3315919-37', 'auto');
    ga('require', 'linkid', 'linkid.js');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
    </script>

    <script>
    $(document).ready(function() {

        //Include the UserVoice JavaScript SDK (only needed once on a page)
        UserVoice = window.UserVoice || [];
        (function() {
            var uv = document.createElement('script');
            uv.type = 'text/javascript';
            uv.async = true;
            uv.src = '//widget.uservoice.com/HloB2aRxdk7fbhWMOI5AlQ.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(uv, s)
        })();


        //UserVoice Javascript SDK developer documentation:
        //https://www.uservoice.com/o/javascript-sdk


        //Set colors
        UserVoice.push(['set', {
            accent_color: '#6aba2e',
            trigger_color: 'white',
            trigger_background_color: '#6aba2e'
        }]);

        //Add default trigger to the bottom-right corner of the window:
        // UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'top-right' }]);

        //Or, use your own custom trigger:
        UserVoice.push(['addTrigger', '#support', {
            mode: 'contact'
        }]);

        //Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
        UserVoice.push(['autoprompt', {}]);

    });
    </script>


<div class="modal fade" id="terms">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-black">Terms &amp; conditions</h4>
      </div>
      <div class="modal-body text-black">

<h1>For humans</h1>        
<ul class="lead">
<li>
<strong>Ultimate responsibility lies with you.</strong> We'll do our best to provide a great service, but when it comes down to it, it's your food and your food business so please double check everything. 
</li>
<li>
<strong>Only run a food business you have insurance cover.</strong>
Serving food is a risky business and can have very severe - even fatal - effects if you get it wrong. Because of this you should have good insurance cover already. If you don't, please get it, for your sake even if not ours. If you use this service you are declaring that you have adequate public liabilty cover for allergen errors.
</li>
</ul>


<h1>For lawyers</h1>

<p>
    These terms of use ('Terms of Use') are a legal agreement concluded between you ('User') and Sustaination Ltd of Farthing Corner, West Tytherley, Salisbury, Wilts, SP5 1NR ('FoodTrade') for the online service, FoodTrade Menu ('Service'). Users may make use of the Service subject to agreeing to be bound by these Terms of Use.
</p>
<p>
    Given the critically important nature of the Service, please pay special attention to the disclaimer (Section 5) and limitation of liability (Section 6).
</p>
<p>
    If the User does not agree to the Terms of Use, don't use the Service.
</p>
<ol type="">
    <li>Scope
        <ol>
            <li>
                FoodTrade grants to the User rights to use the Service on these Terms of Use for the duration of payment of fees, unless otherwise terminated.
            </li>
            <li>
                The User may register and use the Service for the User's business purposes.
            </li>
            <li>
                FoodTrade reserves the right to change, suspend, remove, or disable access to the Service at any time without notice. In no event will FoodTrade be liable for loss of Service. Service fees may be refunded pro-rata at our discretion.
            </li>
        </ol>
    </li>
    <li>Consent to use and processing of data
        <br> The User agrees that the FoodTrade may handle personal information in accordance with the Privacy Policy which forms part of these Terms of Use.
    </li>
    <li>Restrictions
        <br> The User shall not:
        <ol>
            <li> duplicate the Service</li>
            <li> sell, re-sell, rent, lease, lend, redistribute or financially exploit the Service</li>
            <li> permit the Service to be combined with or incorporated into any other service or program, unless with prior written consent</li>
            <li>use the Service for illegal activities</li>
            <li>behave fraudulently</li>
        </ol>
    </li><li>
    Intellectual Property
    <ol>
        <li>The User acknowledges that:
            <ol>
                <li>all intellectual property rights in the Service belong to the FoodTrade</li>
                <li>they have no rights in the Service</li>
                <li>they have no right to have access to the Service in source code form</li>
            </ol>
        </li>
        <li>FoodTrade will be responsible for the investigation, defence, or settlement of any intellectual property infringement claim.
        </li>
    </ol>
</li>
<li>No warranty
    <br> The User agrees that use of the Service is at the User's sole risk, and that the entire responsibility for accuracy ends with the User. To the maximum extent permitted by applicable law, the Services are provided without warranty of any kind, and FoodTrade hereby disclaims all warranties and conditions with respect to the Services - either express, implied or statutory - including, but not limited to, the implied warranties and/ or conditions of merchantability, of satisfactory quality, of fitness for a particular purpose, of accuracy, and non-infringement of third party rights. FoodTrade does not warrant that the Service will meet the requirements of the User, that the operation of the Service will be uninterrupted, nor free from errors, nor that defects in the Service will be corrected. No information given by the FoodTrade or its authorised representatives will create a warranty.
</li>
<li>
    Limitation of liability
    <ol>
        <li>
            The User acknowledges that it is their responsibility to ensure that the outputs and functions of the Service meet their requirements. </li>
        <li>FoodTrade is not in any way responsible for the way the User uses the Service. The User understands that risks are inherent in identifying food allergens, and the User assumes sole responsibility for the materials they create using the Service.
        </li>
        <li>
            To the extent allowed under the law, FoodTrade shall not be liable for personal injury, or any incidental, special, indirect, consequential or punitive damages whatsoever, including, without limitation
            <ul>
                <li>loss of profit.</li>
                <li>
                    loss of business,
                </li>
                <li> business interruption,
                </li>
                <li> loss of business opportunity,
                </li>
                <li>loss of data or
                </li>
                <li>any other commercial damages or losses arising out of or related to the User's use or inability to use the Service - even if FoodTrade has been advised of the chance of such damages.
        </li><li>
        FoodTrade's total liability to the User for all damages shall not exceed &pound;100.
    </li><li>
FoodTrade is responsible for addressing any claims including, but not limited to:  product liability, any claim that the Service fails to conform regulatory requirements, and claims arising under consumer protection or similar legislation.
</li>
</ol>
</li>

<li>
Conditions of use
<br />
The User represents and warrants that they are over 18, legally competent, and isn't wanted or opposed by the UK Government as a 'terrorist supporting' country.
</li>
<li>
Termination
<br>
<ol>
<li>
The Service will run until terminated by the User or FoodTrade. 
</li><li>
The User's rights under the Service will end without notice if the User fails to comply with any of the Terms of Use.
</li><li> 
If the User has paid for use of the Service and it is terminated by FoodTrade, FoodTrade shall compensate the User pro rata for their loss.
</li>
</ol>
</li>
<li>
Other terms
<ol>
<li>
FoodTrade may transfer its rights and obligations under these Terms of Use to another person.  Each User must agree these Terms of Use individually.
</li><li>
Each of the conditions of these Terms of Use operates separately. If any court or competent authority decided that any of them are unlawful or unenforceable, the remaining conditions will remain in effect.
</li><li>
To the extent permissisable by applicable law, the courts of England shall have jurisdiction.
</li></ol>
</li>

<li>
Variations
<ol>
<li>
FoodTrade is entitled to revise these Terms of Use at any time.  
</li><li>
If the User does not agree to the revised Terms of Use, he or she will not be bound by them if the User stops using the Service.
</li>
</ol>
</li>
<li>
Disclaimer
<br>
The Service takes no responsibility or liability for the content captured, stored and maintained by the Service. It is the responsibility of the User to ensure the accuracy of the allergen data distributed.
</li>
<li>
Developer name and address
<br>
FoodTrade is solely responsible for the Service and its content. Any questions, complaints or claims with respect to the Service should be directed to:
</li>
<p>
    Sustaination Ltd, Farthing Corner, West Tytherley, Salisbury, Wilts, SP5 1NR </p>
    <p>
E-mail:
<a href="mailto:ed@foodtrade.com">ed@foodtrade.com</a>
</p> 


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>

</html>
