<div style="">
	<p style="">
		A request to create your profile on FoodTrade has been received via {% if register_request_type =='sms'%}SMS{% else %}Twitter{% endif %}. To confirm and make sure that you have requested, Please login with your Twitter Account at:- <a href="http://{{request.META.HTTP_HOST}}" style="">Sign up on FoodTrade.</a>. Also visit  <a href="http://{{request.META.HTTP_HOST}}/profile/{{data.username}}/" style="">Your Profile</a> created on Foodtrade. 

		If you think the request was made by mistake, You can sign in and request to delete your account. 

	</p>
</div>