{% extends 'tbase.html' %}
{% load staticfiles %} 
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}

{% block content %}
 
<div class="innerAll inner-2x"> 


<div class="row" style="background: url('/static/images/clifton.jpg'); background-size: cover;padding: 60px 0 !Important; ">
  <div class="col-sm-12   text-center innerAll inner-2x">
    <h2 class="text-white" style="font-family: georgia; font-style: italic; ">"There is currently no other mechanism that provides us with this information - which will greatly increase our data on local Fairtrade providers, and therefore our capacity to increase sales of Fairtrade products."</h3>

    <img class="img-thumbnail" src="/static/images/logos/fairtrade.png" style="margin-top: 20px; height: 60px;" />
  </div>
</div> 
<div class="text-right small photocredit white">Photo credit: <a href="http://en.wikipedia.org/wiki/Bristol" target="_blank">Wikipedia</a></div>


<div class="row">
<div class="box-generic clearfix">
  <div class="col-sm-6 block-vertical text-right">        
    <h1>Demonstrate your impact</h1>
    <h3>Map your members, and where they trade</h3>
    <p class="lead">You’re doing great work and have a growing membership to be proud of. Invite your supporters to join your group and visually show who’s where and who’s what. It’s a simple way to showcase your mission.</p>
  </div>

  <div class="col-sm-4 col-sm-offset-1 block-vertical text-center">
    <img src="/static/images/stockists.png" class="img-responsive img-thumbnail" />
  </div>
</div>
</div> 


<div class="row">
<div class="box-generic clearfix">
  <div class="col-sm-4 col-sm-offset-1 block-vertical text-center">
    <img src="/static/images/search.png" class="img-responsive" />
  </div>

  <div class="col-sm-5 col-sm-offset-1">        
    <h1>Grow your group</h1>
    <h3>Like Google, but for carrots and things</h3>
    <p class="lead">Our intelligent search tools can find who buys and sells any type of food, so you can cut to the chase and instantly find the right people for your group.  </p>
  </div>
</div>
</div>


<div class="row">
<div class="box-generic clearfix">
<div class="ftstrip ftstrip-mid"></div>
  <div style="padding: 20px 0;" class="text-center">
    <p class="lead" style="margin: 0;">See what we can do for your <a href="/pages/business" class="btn btn-primary" target="_blank">business users</a> and <a href="/pages/individuals" target="_blank" class="btn btn-primary">individual members</a></p>
  </div>
<div class="ftstrip ftstrip-mid"></div>
</div>
</div>


<div class="row">
<div class="box-generic clearfix">
  <div class="col-sm-4 block-center">
    <img src="/static/images/vouch.png" class="img-responsive img-thumbnail" />
  </div>

  <div class="col-sm-7 col-sm-offset-1">        
    <h1>It’s as easy as a tweet</h1>
    <h3>A communication network for your supporters</h3>
    <p class="lead">Members can send instant messages to each other, and offer support, collaboration and resource sharing. Our marketplace will strengthen and connect your community. </p>
  </div>
</div>
</div>






<div class="row" style="background-image: url('/static/images/apples2.jpg'); background-size: cover; ">
  <div class="col-sm-12 text-center innerAll inner-2x " style="background: rgba(0,0,0,0.3); padding: 80px 0 !Important;">
    <h2 class="text-white" style="font-family: georgia; font-style: italic; ">Numerous industries have been radically transformed by ‘disruptive technology’, but to date there has been little technology innovation in the grocery industry which can be considered truly disruptive. That may all be about to change…</h3>

    <img class="img-thumbnail" src="/static/images/logos/grocer.jpg" style="margin-top: 20px; height: 60px;" />
  </div>
</div> 
<div class="text-right small photocredit white">Photo credit: <a href="http://kirstymorris.com/" target="_blank">Kirsty Morris</a></div>


 





<div class="row">
<div class="box-generic clearfix">
  <div class="col-sm-10 col-sm-offset-1 text-center">        
    <h1>We want to work with you </h1>
    <h3>Certifiers, community groups, networks, awards or public sector. </h3>
    <p class="lead">We can offer you the tools you deserve and help connect you with the right people. If you want a little extra support to get the word out, just give us a shout -  there’s lots of ways we can work together. </p>
  </div>
 
</div>
</div>

 

 
<div class="row">
<div class="box-generic clearfix">
<div class="ftstrip ftstrip-mid"></div>
  <div style="padding: 20px 0;" class="text-center">
    <p class="lead" style="margin: 0;">See what we can do for your <a href="/pages/business" class="btn btn-primary" target="_blank">business users</a> and <a href="/pages/individuals" target="_blank" class="btn btn-primary">individual members</a></p>
  </div>
<div class="ftstrip ftstrip-mid"></div>
</div>
</div>
 
 


<div class="row" style="background-image: url('/static/images/cows.jpg'); background-size: cover; ">
  <div class="col-sm-12 text-center innerAll inner-2x " style="background: rgba(0,0,0,0.3); padding: 80px 0 !Important;">
    <h2 class="text-white" style="font-family: georgia; font-style: italic; ">
    The ‘dating site for food’, connects food producers with local businesses to foster communities and help small farms exist whilst in competition with the big supermarkets.
    </h2>

    <img class="img-thumbnail" src="/static/images/logos/huffpo.png" style="margin-top: 20px; height: 60px;" />
  </div>
</div>  


<div style="margin-bottom: 100px;"></div>


 



 
</div> 
    

{% endblock %}
