{% extends 'tbase.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-md-10" id="pricing">

<div class='row'>
  <div class="col-md-12 hero" style="background-image: url('http://farm3.staticflickr.com/2088/2540412429_b5f2ab371b_o.jpg');">
     
    <h1>Keep more of your hard earned money.</h1> 
    <h3>Simple affordable pricing, with no surprises.</h3>
      
  </div>
</div>

<div class='row'>
  <div class="col-md-12">
    <div class="lead" style="margin-top: 30px;">
    <p>
      <strong>FoodTrade works like a dating site.</strong> We make it easy to have a profile to flaunt your brilliance and look good.
   
      <strong>We do</strong> suggest matches, and make it easy to get in touch with each other.
      <strong>We don't</strong> tell you where to meet up, or get involved in anything that goes on between you. That means we don't get in the way, or take a cut of your sales. Instead we charge a simple membership fee. 
    </p>    
    </div>
  </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#biz" data-toggle="tab" style="font-size: 20px;">For Businesses</a></li>
  <li><a href="#org" data-toggle="tab" style="font-size: 20px;">For Organisations</a></li> 
</ul>

<div class="tab-content">
  <div class="tab-pane active fade in" id="biz">


<div class="container-responsive">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: # ;">
                    <h3 class="panel-title">
                        Nibble</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                           Free<span class="subscript"></span></h1>
                        <small>Let people know you exist</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                Complete business profile, showing your phone, email, and social media profiles
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                No activity updates <i class="fa fa-frown-o"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                10 results per search
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                5 products
                            </td>
                        </tr>
                        <tr>
                            <td>
                                20 stockists or suppliers
                            </td>
                        </tr> 
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#" class="btn btn-success" role="button">Try it now <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-success">
                <div class="cnrflash">
                    <div class="cnrflash-inner">
                        <span class="cnrflash-label">SWEET
                            <br>
                            SPOT</span>
                    </div>
                </div>
                <div class="panel-heading" style="background-color: # ;">
                    <h3 class="panel-title">
                        Snack</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            &pound2.50<span class="subscript">/mo</span></h1>
                        <small>Same as a coffee, and waaay more peppy</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                 <strike>Send 30 updates per month</strike> <br />Unlimited updates during beta<br />
                                <small class="text-muted">Tweet updates at photos to @myfoodtrade</small>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                <strike>30 results per search</strike> <br />Unlimited results during beta
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Advanced search filters
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Unlimited products &amp;  <i class="fa fa-thumbs-o-up"></i> vouching
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Integrate with other apps <br />
                                <small class="text-muted">OpenTable, TripAdvisor etc - coming soon</small>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Show your awards
                            </td>
                        </tr>
                        <tr>
                            <td>  
                               <i class="fa fa-rocket"></i> Verfied status 
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                  <a href="#" class="btn btn-success" role="button">
                  <i class="fa fa-shopping-cart"></i>
                  &pound;30 per year 
                  </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading"  style="background-color: #;">
                    <h3 class="panel-title">
                        Feast</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            &pound;12<span class="subscript">/mo</span></h1>
                        <small>All you can eat, and non-fattening</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                Unlimited activity updates <br />
                                <small class="text-muted">Tweet updates at photos to @myfoodtrade</small>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Unlimited searches 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Saved searches and alerts  
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Map your customers
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Daily or weekly email updates<br />
                                <small class="text-muted">Coming soon <i class="fa fa-smile-o"></i>
                                </small>
                            </td>
                        </tr> 
                    </table>
                </div>
                <div class="panel-footer">
                   
                     <div class="ui-group-buttons">
                        <button type="button" class="btn btn-success">
                          &pound;12 per month
                        </button>
                        <div class="or"></div>
                        <button type="button" class="btn btn-success"></i>
                          &pound;100 per year
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div><!-- end biz tab -->

  <div class="tab-pane fade" id="org">
      <p class="lead">Pricing for organisations coming soon. Meantime, please go ahead and sign up!</p>
  </div> <!-- end org tab -->
</div><!-- end tabs -->


<div class='row'>
  <div class="col-md-12">
    <div class="lead alert alert-success" style="margin-top: 30px;">
 
    <h1 style="margin-top: 0;">Our promise to you</h1>
     <ul class="fa-ul lead">
      <li><i class="fa-li fa fa-check"></i> FoodTrade is, and will remain, completely free for individuals</li>
      <li><i class="fa-li fa fa-check"></i>Our ambition for 'good food, for everyone, for ever' <a href="/about">Learn more &raquo;</a></li> 
      <li><i class="fa-li fa fa-check"></i>FoodTrade works for you – guaranteed</li>
     </ul> 

    </div>
  </div>
</div>

<div class="container-responsive">

 
    
<div class="row">  
  <div class="col-md-12"> 

   <h3>Common thoughts right about now</h3> 
  </div>
  <div class="col-md-6">
   
<strong>Can I ask for a refund?</strong>
<p>Yes. If you try FoodTrade and are not satisfied, you have 30 days to ask for a refund. Refunds are not available on the 'Snack' plan. </p>

     <strong>  Will FoodTrade include more features in the future?</strong>
  <p>
Yes. We will continuously develop features, for both Pro and standard customers. Pro users actually help us shape the roadmap for future developments by suggesting and voting on feature requests.</p>

    
  </div>

  <div class="col-md-6">


<strong>Will you continue to invest in the free version of FoodTrade?</strong>
<p>
Of course. We will continue to add new features for both paid and standard accounts. Having the paid version is a way to give early access to specific features for and give our community makes us more sustainable and enables us to innovate faster.</p>

<strong>How can I help you to make this better?</strong>
<p>We created this trade network because we want to help make sure responsible businesses earn a fair return. If you have ideas about how we can do this better, please <a href="/contact">get in touch</a> or use the feedback tab on the right. 
</p>
 
  </div>

</div><!-- row -->

</div><!-- container -->



</div><!-- col10 --> 


  {% endblock %}