{% extends 'tbase.html' %}
{% load staticfiles %}

{% block content %}

<div class=" innerAll inner-2x"  id="pricing">

 



<div class="row" style="background-image: url('http://farm5.staticflickr.com/4060/4568681066_db1d22e3a4_b.jpg'); background-size: cover;  ">
  <div class="col-sm-12 text-center innerAll inner-4x " style="background: rgba(0,0,0,0.3); padding: 120px 0 !Important;">
    <h2 class="text-white" style="font-family: georgia; font-style: italic; margin: 0 60px;">
    Keep a bigger slice  of the pie. <br />Simple affordable pricing, with no surprises.
    </h2> 
 
  </div>
</div>  
<div class="text-right small photocredit white">Photo credit: <a href="http://www.flickr.com/photos/1la/4568681066/in/photostream/" target="_blank">Ilaria</a></div>



<div class='row'>
<div class="box-generic clearfix">
  <div class="col-md-12">
    <div class="lead" style="margin-top: 30px;">
    <p>
      <strong>FoodTrade works like a dating site.</strong> We make it easy to have a profile to flaunt your brilliance and look good.
   </p><p>
      <strong style="color: #73AC17;">We do</strong> suggest matches, and make it easy to get in touch with each other.
      <strong style="color: #AE1A12;">We don't</strong> tell you where to meet up, or get involved in anything that goes on between you. 
      </p><p>
      That means we don't get in the way, or take a cut of your sales. Instead <strong><a href="/payments/" target="_blank">we charge a simple membership fee of &pound;45 per year</a></strong>. 
    </p>    
    </div>
  </div>
</div>
</div>



<div class='row '>
  <div class="col-md-12">

 

<div class="tab-content hidden">
  <div class="tab-pane active fade in" id="biz">


<div class="container-responsive">
    <div class="row">
        <div class="col-xs-4 ">
            <div class="panel panel-success">
                <div class="panel-heading" style="background-color: # ;">
                    <h3 class="panel-title">
                        Starter</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                           Free<span class="subscript"></span></h1>
                        <small>Your business profile, online.</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                Complete business profile, showing your phone, email, and social media profiles
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                No activity updates <i class="fa fa-frown-o"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                10 results per search
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                5 products
                            </td>
                        </tr>
                        <tr>
                            <td>
                                20 stockists or suppliers
                            </td>
                        </tr> 
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#" class="btn btn-success btn-lg" role="button">Try it now <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-primary"> 
                <div class="panel-heading" style="background-color: # ;">
                    <h3 class="panel-title">
                        Basic</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            &pound3.75<span class="subscript">/mo</span></h1>
                        <small>Perfect for most small business</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                30 <acronym title="">posts</acronym> / month on the local 'trade-wall' for wants, offers,  &amp; sharing opportunities. <br />
                                
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                   30 results per search 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Advanced search filters
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                               List unlimited <acronym title="eg carrots, lamb, stilton cheese, cider..">foods &amp; drinks</acronym>, with individual  <acronym title="Customers can recommend your produce - great proof to encourage more business sales and improve your margins">social sharing <i class="fa fa-thumbs-up-o fa-border"></i></acronym> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Integrate with other apps <br />
                                <small class="text-muted">OpenTable, TripAdvisor etc - coming soon</small>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>  
                               <i class="fa fa-rocket"></i> Verfied status 
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                 {% if not user.is_authenticated %} 
          <a type="button" class="btn btn-success btn-lg"data-toggle="modal" data-target="#modal_signup">
           &pound;<span id="discounted_amt">45</span> / yr
          </a>
         {% else %}
          {% if subscribed == 0 %}
                  <a href="/payments/subscribe/" class="btn btn-success btn-lg" role="button">
                  <i class="fa fa-shopping-cart"></i>
                  &pound;45 / yr 
                  </a> 
                   {% else %}
                   <a class="btn btn-success btn-lg" role="button">
                 
                  Your Plan
                  </a>
                   {% endif %}
                  {% endif %}
                </div>
            </div>
        </div>
         
    </div>
</div>

</div><!-- end biz tab -->

  <div class="tab-pane fade" id="org">
      <p class="lead">Pricing for organisations coming soon. Meantime, please go ahead and sign up!</p>
  </div> <!-- end org tab -->
</div><!-- end tabs -->
 



<div class="container-responsive">

 
    
<div class="row">    
<div class="box-generic clearfix">
  <div class="col-md-6">
   
<strong>Can I ask for a refund?</strong>
<p>Yes. If you try FoodTrade and are not satisfied, you have 30 days to ask for a refund. Refunds are not available on the 'Starter' plan. </p>

<strong>Will you continue to invest in the free version of FoodTrade?</strong>
<p>
Of course. We will continue to add new features for both paid and standard accounts. Having the paid version is a way to give early access to specific features for and give our community makes us more sustainable and enables us to innovate faster.</p>
     
    
  </div>

  <div class="col-md-6 ">

<strong>  Will FoodTrade include more features in the future?</strong>
  <p>
Yes. We will continuously develop features, for both Pro and standard customers. Pro users actually help us shape the roadmap for future developments by suggesting and voting on feature requests.</p>



<strong>How can I help you to make this better?</strong>
<p>We created this trade network because we want to help make sure responsible businesses earn a fair return. If you have ideas about how we can do this better, please <a href="http://foodtrade.uservoice.com" target="_blank">get in touch</a> or use the feedback tab below. 
</p>
 
  </div>
</div>
</div><!-- row -->


 

</div><!-- col10 --> 


  {% endblock %}