{% extends 'tbase.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% load activity_tags %}
{% load recognise_name %}
{% load url from future %}
{% load i18n %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}


{% block ogtype %}{% if userprof.user_type == "Business" %}business.business{%endif%}{% if userprof.user_type == "Individual" %}Profile{%endif%}{% if userprof.user_type == "Organisation" %}business.business{%endif%}{% endblock %}

{% block titlecontent %}{{userprof.full_name}}{% endblock %}
{% block description %}{{userprof.description}}{% endblock %}

{% block fblat %}{{userprof.lat}}{% endblock %}
{% block fblon %}{{userprof.lon}}{% endblock %}
{% block fbzipcode %}{{userprof.zip_code}}{% endblock %}
{% block fbcountry %}{{userprof.country}}{% endblock %}
{% block ogimg %}{{userprof.profileimg}}{% endblock %}

{% block titlemain %}{{userprof.full_name}}{% endblock %}
{% block metatitle %}{{userprof.full_name}}{% endblock %}

{% block metadescription %}{{userprof.description}}{% endblock %}

{% block contact %}
{% if userprof.user_type == 'Business' or userprof.user_type == 'Organisation' or userprof.user_type == 'unclaimed' %}
  <meta property="business:contact_data:postal_code"    content="{{userprof.zip_code}}" /> 
  <meta property="business:contact_data:country_name"   content="{{userprof.country}}" /> 
  <meta property="business:contact_data:street_address" content="{{userprof.address}}" /> 
  <meta property="business:contact_data:locality"       content="{{userprof.address}}" /> 
{% endif %}
{% endblock %}

{% block content %}
{% include 'modal_invite.html' %}

    <div  class="container">
    <div class="col-md-10" id="single">

    <div class="container-responsive">
    <div id="header_box" class="clearfix">
      <div class="col-md-2 cell" id="avatar">
        <img class="img-thumbnail center-block" src="{{userprof.profileimg}}"  />
      </div>
     
      <div class="col-md-7 cell" >
         <h1><a href="/{{userprof.username}}/">{{userprof.full_name}}</a></h1>

         <hr />
         <p>{{userprof.description}}</p>        
 
         <hr /> 
     
         <div class="meta small text-muted">
            
            <i class="fa fa-map-marker"></i> <a href="http://maps.google.com/maps?saddr=current+location&daddr={{userprof.address}}" target="_blank" data-placement="top" data-toggle="tooltip" title="Get directions" class="text-muted">{{userprof.address}}</a>  
            
            <!-- if logged in or you've allows html5 browser location -->
            <i class="fa fa-location-arrow" style="margin-left: 20px;"></i> {{distance}} miles  
            <!--  // if logged in or you've allows html5 browser location -->
  
         </div> <!-- meta -->
  
      </div><!-- end header middle -->

      <div id="contact_info" class="col-md-3 cell">
        
      <!-- if they dont't have an account yet --> 
      <button class="btn btn-primary btn-block" style="margin-top:40px;" data-toggle="modal" {% if request.user.is_authenticated %}data-target="#modal_invite" {% else %} rel="tooltip" tite="You must be logged in to use this feature!"{% endif %}>
         Invite to connect
      </button> 
      
      </div><!-- end header last -->

    </div>
    </div>

    <div class="row" style="margin-top: 30px;">
     <div class="col-md-12">

<div class="well well-sm">
  <h3 class="text-center"> Hi! What is @{{userprof.username}} </h3>

<div class="container">
    <div class="row">
      <ul class="thumbnails list-unstyled">
        <li class="col-md-3">
          <div class="thumbnail" style="padding: 0">  
            <div class="modal-header text-center">
              <button type="button" class="btn btn-lg btn-primary" {% if request.user.is_authenticated %} onclick="change_sign_up('Business','{{userprof.username}}')" {% endif %}>Food business</button>
            </div>
            <div class="caption"> 
              <p><span class="help-block">Eg. Farms, restaurants, caterers, bakers, schools, hospitals...</span></p>
              <p>Any business or organisation which buys an sells food for a living. From farm to fork, small holder to supermarket.</p>
              
            </div> 
          </div>
        </li>

        <li class="col-md-3">
          <div class="thumbnail" style="padding: 0">  
            <div class="modal-header text-center">
              <button type="button" class="btn btn-lg btn-primary" {% if request.user.is_authenticated %} onclick="change_sign_up('Organisation','{{userprof.username}}')" {% endif %}>Organisation</button>
            </div>
            <div class="caption"> 
              <p><span class="help-block">Eg. Soil Assocation, Slow Food, LEAF, The SRA, Catering Mark...</span></p>
              <p>Any membership group with an a strong interest in food, agriculture, or nutrition.</p>
              
            </div> 
          </div>
        </li>

        <li class="col-md-3">
          <div class="thumbnail" style="padding: 0">  
            <div class="modal-header text-center">
              <button type="button" class="btn btn-lg btn-primary" {% if request.user.is_authenticated %} onclick="change_sign_up('Individual','{{userprof.username}}')" {% endif %}>Individual</button>
            </div>
            <div class="caption"> 
              <p><span class="help-block">Eg. most of us: customers, chefs, bloggers, consultants... </span></p>
              <p>Did you know that the food system employs just over 400,000 workers in the UK?</p>
              
            </div> 
          </div>
        </li>  
      </ul>
    </div>
</div>
 
  <h4 class="text-center"> <small> <strong>This only shows once!</strong> As soon as we know what it is, others can start adding information to it. </small></h4> 
</div>
</div>
</div>
</div><!-- col10 --> 
<script type="text/javascript">
  function change_sign_up(sign_up_as, username){
    data = {'sign_up_as': sign_up_as, 'username': username};
    ajax_request('convert_unknown', 'empty', {data: JSON.stringify(data)});
    window.location.reload();
  }
</script>
   
{% endblock %}