{% extends 'tbase.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}
{% block content %}
<!-- <link rel="stylesheet" href="/static/css/docsupport/style.css"> -->
  <link rel="stylesheet" href="/static/css/docsupport/prism.css">
  <link rel="stylesheet" href="/static/css/chosen.min.css">

<style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop { left: -9000px; }
  </style>


    <div class="col-md-6" id="single">
    <div class="container-responsive">
    <div id="header_box" class="clearfix">
      <div class="col-md-2" id="avatar">
        <img class="img-thumbnail center-block" src={{pic_url}}  />
      </div>
     
      <div class="col-md-6">
         <h1><a href="#">{{name}}</a></h1>
 
          <div class="tags tags-biztype  ">  
            {% for eachtype in type_user %}
           <a href="/activity/?q={{eachtype}}">{{eachtype}}</a>
           {% endfor %}
           <!-- <a href="/type/buther">Wholesale</a>  
           <a href="/type/buther">Distribution</a>  
           <a href="/type/buther">Livestock Farm</a>   -->
          </div> 
         <hr />
         <p>{{description}}</p>        
          <div class="tags">  
           <a href="/tag/TAG">Box Scheme</a>
           <a href="/tag/TAG">Butcher</a>
           <a href="/tag/TAG">family</a>
           <a href="/tag/TAG">organic</a> 
          </div>
         <hr /> 
     
         <div class="meta small text-muted">
            
            <i class="fa fa-map-marker"></i> <a href="http://maps.google.com/maps?saddr=current+location&daddr=Sydney+Opera+House,+Sydney+Opera+House,+Bennelong+Point,+Sydney+NSW+2000,+Australia" target="_blank" data-placement="top" data-toggle="tooltip" title="Get directions" class="text-muted">{{address}}</a>  
            
            <!-- if logged in or you've allows html5 browser location -->
            <i class="fa fa-location-arrow" style="margin-left: 20px;"></i> 87.2 miles  
            <!--  // if logged in or you've allows html5 browser location -->
            <!-- DISTANCE TO NEAREST TRADER
             <i class="fa fa-bullseye" style="margin-left: 20px;"></i> 20.1 miles -->
  
         </div> <!-- meta -->
  
      </div><!-- end header middle -->
      <div id="contact_info" class="col-md-4">
      {% ifnotequal profile_id user_id %}
      <!-- if they dont't have an account yet -->
      <button class="btn btn-primary btn-block" onclick="invite_connect('{{screen_name}}', '{{userinfo.username}}')">Invite to connect</button>
<!--       <button class="btn btn-primary btn-block alert-message" id="testalert" onclick="createAutoClosingAlert(".alert-message", 2000)">Test Alert</button> -->


{% if user.is_authenticated %}      
      <!-- if logged in users = individual --> 
      {% ifequal loggedin_signupas "Individual" %}
      <button class="btn btn-default btn-block" data-toggle="modal" data-target="#modal_customer">
        <i class="fa fa-smile-o text-muted"></i> I am a customer
      </button> 
      {% endifequal %}
      <!-- if logged in users = business --> 
      {% ifequal loggedin_signupas "Business" %}
      <div class="btn-group btn-block" data-toggle="buttons">
        <label class="btn btn-default" style="width:50%;" title="LOGGEDINUSER buys from PROFILENAME">
          {% ifequal logged_conn "buyer" %}
          
          <input type="checkbox" checked id="buy_from" onchange="conn_handler('buy_from', {{profile_id}})"> Buy from
          {% else %}
          <input type="checkbox" id="buy_from" onchange="conn_handler('buy_from', {{profile_id}})"> Buy from
          {% endifequal %}
          {% comment %}
          
          <input type="checkbox" id="buy_from" onchange="conn_handler('buy_from', {{profile_id}})"> Buy from
          {% endcomment %}

        </label>
        <!-- showing active mode if button is selected -->
        <label class="btn btn-default" style="width:50%;" title="LOGGEDINUSER sells to PROFILENAME" >
          {% ifequal logged_conn "seller" %}
          sss
          <input type="checkbox" checked id="sell_to" onchange="conn_handler('sell_to', {{profile_id}})"> Sell to
          {% else %}
          <input type="checkbox" id="sell_to" onchange="conn_handler('sell_to', {{profile_id}})"> Sell to
          {% endifequal %}
          {% comment %}
          <input type="checkbox" id="sell_to" onchange="conn_handler('sell_to', {{profile_id}})"> Sell to
          {% endcomment %}

        </label> 
      </div>
      {% endifequal %}
 
      <!-- Button trigger modal -->
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_contact">
        Contact
      </button>  
{% else %}
      <!-- if not logged in show login prompt -->
      <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-primary btn-block">Login for more</a>
{% endif %}
      {% endifnotequal %}
      <button class="btn btn-default btn-block" data-toggle="modal" data-target="#sharer">
        <i class="fa fa-share-square-o text-muted"></i> Share
      </button>
      {% include 'modal_share.php' %}
      <div class="icons text-center" style="font-size:25px">
        <a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-twitter-square"></i></a> 
        <a href="#"><i class="fa fa-phone-square"></i></a> 
        <a href="#"><i class="fa fa-rss-square"></i></a> 
        <a href="#"><i class="fa fa-envelope"></i></a> 
        <a href="#"><i class="fa fa-globe"></i></a> 
        <a href="#"><i class="fa fa-youtube"></i></a> 
        <a href="#"><i class="fa fa-linkedin-square"></i></a> 
      </div> 
     <!-- modal_contact -->
      <div class="modal fade" id="modal_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Contact {{userinfo.name}}</h4>
            </div>
            <div class="modal-body">
            <div class="container-responsive">
              <div class="row">
                <div class="col-sm-4">
             
                  <address>
                    
          <a href="mailto:{{email}}" target="_blank"><i class="fa fa-envelope text-muted"></i> {{email}} </a><br />
          <a href="http://twitter.com/{{screen_name}}"  target="_blank"><i class="fa fa-twitter text-muted"></i> {{screen_name}}</a><br />
          <a href="callto:{{phone_number}}"><i class="fa fa-phone text-muted"></i> {{phone_number}}</a>
                  </address>
                </div>
                
                <div class="col-sm-8 contact-form">
                  <form id="contact" method="post" class="form" role="form">
                    <div class="row">
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_name" name="name" placeholder="Name" type="text" required autofocus value = "{{userinfo.full_name}}"/>
                      </div>
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_email" name="email" placeholder="Email" type="email" required value = "{{userinfo.email}}" />
                      </div>
                    </div> 
                    <textarea class="form-control counted" id="email_message" placeholder="Type in your message" rows="5"></textarea>
                    <h6 class="pull-right" id="counter">320 characters remaining</h6>
                     
                  </form>
                </div>
              </div>
            </div>
 
   
            </div>
            <div class="modal-footer"> 
              <button type="button" class="btn btn-primary" onclick="post_contact_tweet('{{screen_name}}')">Tweet it</button>
              <button type="button" class="btn btn-primary" onclick="send_email('{{email}}')">Email it</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- modal_customer -->
      <div class="modal fade" id="modal_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">You're a customer of {{name}}?</h4>
            </div>
            <div class="modal-body">
 
            <p><strong>Thanks!</strong> Knowing where customers are is a win-win. BUSINESS NAME understands how it can better serve you, and in time we'll help them keep you informed about special local offers. </p> 
            <p>Examples might include home deliveries from your local shops, later opening hours, or working together with other local business to make things better. </p>
            <p>We'll show you as being a customer and put a small dot on the map near your location.</p>
   
            </div>
            <div class="modal-footer"> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              {% if user.is_authenticated %}
              <button type="button" class="btn btn-primary" onClick="add_customer({{profile_id}}, {{user_id}})" data-dismiss="modal">Yes, I'm a happy customer!</button>
              {% else %}
              <button type="button" class="btn btn-primary" data-dismiss="modal">Yes, I'm a happy customer!</button>
              {% endif %}
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
 
      </div><!-- end header last -->
    </div>
    </div>

    <div class="row">
     <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#produce" data-toggle="tab">Foods <span class="badge">{{userinfo.food_no}}</span></a></li>
          <li><a href="#connections" data-toggle="tab">Connections <span class="badge">{{userinfo.trade_connections_no}}</span></a> </li>

          <li><a href="#organisations" data-toggle="tab">Organisation</a> <span class="badge"></span></li>
          <li><a href="#customers" data-toggle="tab">Customers <span class="badge">{{customers|length}}</span></a> </li>
          <li><a href="#activity" data-toggle="tab">Updates  <span class="badge">{{userinfo.trade_connections_no}}</span></a></li> 
          <li><a href="#team" data-toggle="tab">Team <span class="badge">{{userinfo.trade_connections_no}}</span></a></li>
        </ul>
     </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="container-responsive clearfix">

        <div class="tab-content">
          <div class="tab-pane active fade in " id="produce">
 
          <div class="row">
          <div class="col-md-12 ">
          <div class=" well well-sm clearfix">
<div class="row">
            <div class="col-md-8">
                    {% if user.is_authenticated %}
                      <div class="input-group">
                      <!-- link this to open food facts --> 
                            <!-- <input class="typeahead form-control" name="addfood" data-source='' data-provide="typeahead" autocomplete="off" id = "addfood_id" style="width:400px;" placeholder="Add foods you can buy here."> -->
                            <select id="myselect" data-placeholder="Add foods you can buy here." style="height:30px; width: 100%" class="chosen-select" onkeypress="return handle(event)" >
                                <option value=""></option>
                                {% for each in food_list %}
                                <optgroup label={{each.node}}>
                                  {% if each.children %}
                                    {% for eachchild in each.children %}
                                    <option>{{eachchild}}</option>
                                    {% endfor %}
                                  {% else %}
                                  <option>{{each.node}}</option>
                                  {% endif %}
                                </optgroup>
                                {% endfor %}

                              </select>


                            <span class="input-group-btn">
                                <button class="btn btn-success" onClick="add_food({{profile_id}})"> Add</button>
                            </span>
                          </div> 
                          {% else %}
                          <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-primary">Login to add foods / see all foods</a>
                          
                          {% endif %}
            </div>

            <div class="col-md-4">
             <form action="#" method="get">
              <div class="input-group">
                  <input class="form-control" id="system-search" name="q" placeholder="Search foods..." required>
                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                  </span>
              </div>
             </form>
            </div>
            </div>

          </div>
          </div>
          </div>


      <table class="table table-list-search table-condensed">
          <tbody id="food_tbody">
            {% for eachfood in all_foods %}
              <tr id="row{{forloop.counter}}">
                  <td>{{eachfood.food_name}}</td>  
                  
                  <td> 
                  <div class="pull-right">



                   <div class="pull-right">

                   {% ifequal profile_id user_id %}
                     <a href="#"  class="btn btn-danger btn-sm"><i class="fa fa-trash-o" title="Delete" onClick="delete_food({{profile_id}}, '{{eachfood.food_name}}', this)"></i></a>

                   {% else %}
                        {% if user.is_authenticated %}
                    <a class="btn btn-default btn-sm">
                      <i class="fa fa-heart-o tltip" title="Recommend this to others" onclick="recommend_food({{user_id}}, '{{eachfood.food_name}}', {{profile_id}}); return null;">
                      </i>
                    </a> {% endif %}
                     
                   {% endifequal %}
                   </div>
                   
                   {% for eachdet in eachfood.recomm_details %}
                    <div class="pull-right">
                      <img class="pull-left tltip" style="margin:3px 4px 0 0; width:25px" src={{eachdet.photo}} title="{{eachdet.name}}"/>
                    </div>
                   {% endfor %}
                 {% ifnotequal eachfood.vouch_count 0 %}
                   <div class="pull-right">
                     <span class="badge badge-default tltip" style="margin:6px 4px 0 0;" title="{{eachfood.vouch_count}} recommendations on {{eachfood.food_name}}">{{eachfood.vouch_count}}</span>
                  </div>
                  {% endifnotequal %}
              

                   </div>
                  </td>  
              </tr> 
              {% endfor %}
          </tbody>
          
      </table>    


          </div> <!-- end produce -->

          <div class="tab-pane fade" id="connections">
            {% if user.is_authenticated %}
            <div class="well well-sm">  
            <form class="form-inline" role="form">
              <div class="form-group">
                 

                 <img 
                 style="width: 35px; margin-right: 5px;" 
                 class="" src={{pic_url}}  />
      
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <input type="checkbox" name="options" id="option1"> Buys from 
                  </label> 
                  <label class="btn btn-default">
                    <input type="checkbox" name="options" id="option2"> Sells to
                  </label> 
                </div> 
              </div> 
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Trade partnter</label>
                <input type="email" class="form-control" style="min-width:250px;" id="trade" placeholder="Type business...">
              </div>
              <button type="submit" class="btn btn-success">Add</button>
            </form>
          </div>
          {% else %}
          <div class="pull-left">  
          <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-primary">Login to add connections / see all connections</a>
        </div>
           {% endif %}
           <div class="pull-left">
          {% for each in connections %}
                  <div class="card card-business">
                    <div class="content">
                      <div class="pull-left">
                        <img src="{{each.photo}}" alt="{{each.name}}"
                        class="img-rounded img-responsive" style="width:40px;" /> 
                
                      </div>
                      <div class="text">
                      <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h5><a href="/profile/{{username}}">{{each.name}}</a> 
                        </h5>  
                        <p class="small">{{each.description}}</p>
                      </div>
                    </div>
                    <div class="numbers clearfix">
                      <div class="tags tags-biztype pull-left">  
                        {% for e in each.type %}
                       <a href="/activity/?q={{e}}">{{e}}</a>
                       {% endfor %}
                      </div>
                      <p class="small pull-right">
                        <a href="#" title="{{each.food_no}} Foods"><i class="fa fa-leaf"></i> {{each.food_no}}</a>
                        <a href="#" title="{{each.trade_conn_no}} conn"><i class="fa fa-link"></i> {{each.trade_conn_no}}</a>
                        <a href="#" title="{{each.org_conn_no}} Organisations"><i class="fa fa-group"></i> {{each.org_conn_no}}</a> 
                      </p>
                    </div>
                  </div> 
                  {% endfor %}
                </div>
          </div> <!--  end connections -->

          <div class="tab-pane fade" id="organisations">
            {% if user.is_authenticated %}
            {% else %}
            <div class="pull-left">  
          <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-primary">Login to see all</a>
        </div>
        {% endif %}
          {% for each in organisations %}
                <div class="card card-organisation">
                  <div class="content">
                    <div class=" pull-left">
                      <img src="{{each.photo}}" alt="{{each.name}}"
                      class="img-rounded img-responsive" style="width:40px;" /> 

                      <span class="label label-danger text-center">Org</span>
                    </div>

                    <div class="text">
                      <h5><a href="/profile/{{each.username}}">{{each.name}}</a> <span class="label label-danger pull-right">2457</span></a></h5> 
                      <p class="small">{{each.description}}</p>
                      <a href="#remove" class="danger">Remove</a>
                    </div>
                  </div>
                </div> 
                {% endfor %}
          </div> <!-- end organisations -->

          <div class="tab-pane fade" id="customers">
        {% if user.is_authenticated %}
            {% else %}
            <div class="pull-left">  
          <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-primary">Login to see all</a>
        </div>
        {% endif %}
<div class="pull-left">
           {% for each in customers %}

              <div class="card card-individual">
                <div class="content">
                  <img src="{{each.photo}}" alt="{{each.name}}"
                  class="img-rounded img-responsive pull-left" style="width:40px;" />
                  <div class="text">
                    <h5><a href="/profile/{{each.username}}">{{each.name}}</a> <span class="label label-info pull-right">27</span></a></h5> 
                    <p class="small">
                    {{each.description}}</p>
                  </div>
                </div>
               
          </div>
          {% endfor %}
          </div>
          </div> <!-- end customers -->

          <div class="tab-pane fade" id="activity">

          <div class="container-responsive">
          <div class="row">
              <div class="col-md-12">
            {% if user.is_authenticated %}
                  <div class="">

                      <!-- if this is the profile of the logged in user -->
                      <div class="well well-sm">
                          <div class="input-group">
                              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Send an update..." />
                              <span class="input-group-btn">
                                  <button class="btn btn-warning btn-sm" id="btn-chat">
                                      Send</button>
                              </span>
                          </div>
                      </div>
                      <!-- // if this is the profile of the logged in user -->

                      <div class="">
                          <ul class="chat">
                              <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="https://pbs.twimg.com/profile_images/378800000141996074/6a363e3c4f2a84a956c3cb27c50b2ca0_normal.png" alt="User Avatar" class="img-thumbnail" />
                              </span>
                                  <div class="chat-body clearfix">
                                      <div class="header">
                                          <strong class="primary-font">Smales Farm</strong> <small class="pull-right text-muted">
                                              <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                      </div>
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                          dolor, quis ullamcorper ligula sodales.
                                      </p>
                                  </div>
                              </li>
                              
                              <li class="left clearfix"><span class="chat-img pull-left">
                              <img src="https://pbs.twimg.com/profile_images/378800000141996074/6a363e3c4f2a84a956c3cb27c50b2ca0_normal.png" alt="User Avatar" class="img-thumbnail" />
                              </span>
                                  <div class="chat-body clearfix">
                                      <div class="header">
                                          <strong class="primary-font">Smales Farm</strong> <small class="pull-right text-muted">
                                              <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                      </div>
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                          dolor, quis ullamcorper ligula sodales.
                                      </p>
                                  </div>
                              </li>
                               
                          </ul>
                      </div>
                  </div>
              {% else %}
                      <div class="pull-left">  
                                <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-primary">Login to see updates</a>
                      </div>
              {% endif %}

              </div>

          </div>

          </div>
        </div>


     <div class="tab-pane fade" id="team">
          {% include 'card_team.php' %}
          {% include 'card_team.php' %}
          {% include 'card_team.php' %}
          {% include 'card_team.php' %}
          {% include 'card_team.php' %}
          </div>


        
      </div>
 
 
        </div><!-- container responsive -->
  
      
 
   
      </div><!-- end col --> 
 
    </div><!-- row -->


   
    </div><!-- col --> 
 

    <div class="col-md-4">
         <div style="width:100%; height: 1000px; " id="map"  data-spy="affix" data-offset-top="30">
           </div> 
           </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="/static/js/chosen.jquery.min.js" type="text/javascript"></script>
  <script src="/static/css/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript">
$( document ).ready(function() {
  
    $('.tltip').tooltip();
});

function handle(e){
        if(e.keyCode === 13){
            alert("Enter was pressed was presses");
        }
    }

function createAutoClosingAlert(selector, delay) {
  alert(selector);
   var alert = $(selector).alert();
   window.setTimeout(function() { alert.alert('close') }, delay);
}


    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>

        <script type="text/javascript">
    map_lat={{ loc.lat }};
    map_lon = {{ loc.lon }};

connections = {{connections_str | safe}};
    </script>
     <script src="{% static "js/business-map.js" %}"></script>
     
   {% endblock %}
   {% block footer %}
<script type="text/javascript">
     $('#addfood_id').typeahead({
     prefetch: '/static/produce.json',
  // remote: '/static/produce.json',                                         
      limit: 10                                                                   
});



     function send_email(receiver)
     {
      var sender_name = $("#sender_name").val();
      var sender_email = $("#sender_email").val();
      var receiver_email = receiver;
      var message = $("#email_message").val();



  ajax_request("send_email", 'close_contact_model', {name:sender_name, receiver:receiver_email, sender:sender_email, message:message});  

     }



     
function post_contact_tweet(mention)
{  
  var sender_name = $("#sender_name").val();
      var sender_email = $("#sender_email").val();
      var receiver_email = "sujitmhj@gmail.com";
      var message = mention+" " + $("#email_message").val();
 
  ajax_request("post_tweet_admin", 'close_contact_model', {message: message});
}

     function close_contact_model(data)
{
 
  $('#modal_contact').modal('hide');
}

     </script>
 {% endblock %}