{% extends 'tbase.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}


{% block ogtype %}{% if userprof.user_type == "Business" %}business.business{%endif%}{% if userprof.user_type == "Individual" %}Profile{%endif%}{% if userprof.user_type == "Organisation" %}business.business{%endif%}{% endblock %}

{% block titlecontent %}{{userprof.full_name}}{% endblock %}
{% block fblat %}{{userprof.lat}}{% endblock %}
{% block fblon %}{{userprof.lon}}{% endblock %}
{% block fbzipcode %}{{userprof.zip_code}}{% endblock %}
{% block fbcountry %}{{userprof.country}}{% endblock %}
{% block ogimg %}{{userprof.profileimg}}{% endblock %}
{% block contact %}
  {% if userprof.user_type == 'Business' or userprof.user_type == 'Organisation'%}
  <meta property="business:contact_data:postal_code"    content="{{userprof.zip_code}}" /> 
  <meta property="business:contact_data:country_name"   content="{{userprof.country}}" /> 
  <meta property="business:contact_data:street_address" content="{{userprof.address}}" /> 
  <meta property="business:contact_data:locality"       content="{{userprof.address}}" /> 
  {% endif %}
{% endblock %}

{% block content %}
{% include 'modal_invite.html' %}
<!-- <link rel="stylesheet" href="/static/css/docsupport/style.css"> -->
  <link rel="stylesheet" href="/static/css/docsupport/prism.css">
  <link rel="stylesheet" href="/static/css/chosen.min.css">

<link href="{% static "css/jquery.tagit.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/tagit.ui-zendesk.css" %}" rel="stylesheet" type="text/css">

<style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop { left: -9000px; } 
</style>


    <div class="col-md-6 col-sm-7 col-xs-12 {% if not user.is_authenticated %} col-md-offset-1 {% endif %}" id="single">
    <div class="container-responsive">

    <div id="header_box" class="clearfix">

      <div class="col-md-2 hidden-sm hidden-xs" id="avatar">
        <img class="img-thumbnail center-block" src="{{pic_url}}"  />
      </div>
     
      <div class="col-md-6 col-sm-8 col-xs-8">

          <!-- certificate -->
          {% if prof_subscribed %}
          <span class="fa-stack fa-lg pull-right" id="verified" rel="tooltip" title="Verified profile">
            <i class="fa fa-certificate fa-stack-2x" style="color: #1DBD3C;"></i>
            <i class="fa fa-check fa-stack-1x" style="color: #fff;"></i>
          </span>
          {% endif %}
          <!-- certificate -->

         <h1>
          <img class="visible-sm visible-xs" style="width: 30px; margin-right: 10px; float:left;" src={{pic_url}}  />
         <a href="#">{{name}}</a></h1>
          {% if type_user|length == 0 or type_user|first == '' %}
          {% else %}
          <div class="tags tags-biztype  ">  
            {% for eachtype in type_user %}
           <a href="/activity/?b={{eachtype}}">{{eachtype}}</a>
           {% endfor %}
          </div> {% endif %}
         <hr />
         <p>{{description}}</p>        
        
     <!--      <div class="tags">  
           <a href="/tag/TAG">tag1</a>
           <a href="/tag/TAG">tag2</a> 
          </div> -->
         <hr /> 
     
         <div class="meta small text-muted">
            
            <i class="fa fa-map-marker"></i> <a href="http://maps.google.com/maps?saddr={{loggedin_coord.lat}},{{loggedin_coord.lon}}&daddr={{loc.lat}},{{loc.lon}}" target="_blank" data-placement="top" data-toggle="tooltip" title="Get directions" class="text-muted">{{address}}</a>  
            
            <!-- if logged in or you've allows html5 browser location -->
            <i class="fa fa-location-arrow" style="margin-left: 20px;"></i> {{distance}} miles  
            <!--  // if logged in or you've allows html5 browser location -->
            <!-- DISTANCE TO NEAREST TRADER
             <i class="fa fa-bullseye" style="margin-left: 20px;"></i> 20.1 miles -->
  
         </div> <!-- meta -->
  
      </div><!-- end header middle -->
      <div id="contact_info" class="col-md-4 col-sm-4  col-xs-4">


     {% ifequal profile_id user_id %}
        <a href="/editprofile/{{userinfo.username}}" class="btn btn-danger btn-block">
           Edit my profile
        </a>
      {% endifequal %}

      {% ifnotequal profile_id user_id %}
      <!-- if they dont't have an account yet -->
      
<!--       {% if not user.is_authenticated %}
      <button class="btn btn-success btn-block" onclick="invite_connect('{{screen_name}}', '{{userinfo.username}}')">Invite to connect</button>
      {% endif %} -->



{% if user.is_authenticated %}      
      <!-- if logged in users = individual --> 
      {% ifequal loggedin_signupas "Individual" %}
      <!-- <button class="btn btn-default btn-block" data-toggle="modal" data-target="#modal_customer">
        <i class="fa fa-smile-o text-muted"></i> I am a customer
      </button>  -->
      <div class="btn-group btn-block" data-toggle="buttons">
  {% if logged_customer %}
      <label class="fa fa-smile-o text-muted btn btn-default btn-block active" style="width:100%;" title="{{userinfo.full_name}} is customer of {{name}}" >
      <input type="checkbox" checked="checked" id="customer-chkbx" onchange="add_customer({{profile_id}}, {{user_id}})">I'm a customer!
      {% else %}
      <label class="fa fa-smile-o text-muted btn btn-default btn-block" style="width:100%;" title="{{userinfo.full_name}} is customer of {{name}}" >
      <input type="checkbox" id="customer-chkbx" onchange="add_customer({{profile_id}}, {{user_id}})">I'm a customer!
  {% endif %}
      </label>      
      </div>
      {% endifequal %}
      <!-- if logged in users = business --> 
      {% ifequal loggedin_signupas "Business" %}
      <div class="btn-group btn-block" data-toggle="buttons">
          {% if logged_conn == "buyer" or logged_conn == "both" %}
          
        <label class="btn btn-default active" style="width:50%;" title="{{userinfo.full_name}} buys from {{name}}">
          <input type="checkbox" checked id="buy_from" onchange="conn_handler('buy_from', {{profile_id}})"> Buy from
          {% else %}
        <label class="btn btn-default" style="width:50%;" title="{{userinfo.full_name}} buys from {{name}}">
          <input type="checkbox" id="buy_from" onchange="conn_handler('buy_from', {{profile_id}})"> Buy from
          {% endif %}

          {% comment %}
          <input type="checkbox" id="buy_from" onchange="conn_handler('buy_from', {{profile_id}})"> Buy from
          {% endcomment %}

        </label>
        <!-- showing active mode if button is selected -->
          {% if logged_conn == "seller"  or logged_conn == "both" %}
        <label class="btn btn-default active" style="width:50%;" title="{{userinfo.full_name}} sells to {{name}}" >
          
          <input type="checkbox" checked id="sell_to" onchange="conn_handler('sell_to', {{profile_id}})"> Sell to
          {% else %}
        <label class="btn btn-default" style="width:50%;" title="{{userinfo.full_name}} sells to {{name}}" >
          <input type="checkbox" id="sell_to" onchange="conn_handler('sell_to', {{profile_id}})"> Sell to
          {% endif %}

          {% comment %}
          <input type="checkbox" id="sell_to" onchange="conn_handler('sell_to', {{profile_id}})"> Sell to
          {% endcomment %}

        </label> 
      </div>
      {% endifequal %}
 
          {% ifequal is_unknown_profile 'false' %}
          <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_contact">Contact</button>
          {% else %}
            <button class="btn btn-primary btn-block" style="margin-top:40px;" data-toggle="modal" data-target="#modal_invite">Invite to connect</button> 
          {% endifequal %}


          {% if user.is_superuser %}
            <a href="/editprofile/{{username}}/" class="btn btn-primary btn-block">Edit</a>
          {% endif %}
           
{% else %}
      <!-- if not logged in show login prompt -->
      <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-success btn-block">Login for more</a>
{% endif %}
      {% endifnotequal %}
      <button class="btn btn-default btn-block" data-toggle="modal" data-target="#sharer">
        <i class="fa fa-share-square-o text-muted"></i> Share
      </button>


      <!--SHARER  Modal -->
      <div class="modal fade" id="sharer" tabindex="-1" role="dialog" aria-labelledby="sharer" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body"> 
        <div class="container-responsive">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="btn btn-block  btn-social btn-facebook" onclick="window.open(
              'https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;p[images][0]='+encodeURIComponent('{{pic_url}}')+'&amp;p[title]='+encodeURIComponent('{{name}} on FoodTrade')+'&amp;p[summary]='+encodeURIComponent('Hey, see my profile on FoodTrade')+'&amp;u='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;t='+encodeURIComponent('{{name}} on FoodTrade'),
                    'facebook-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">

                <i class="fa fa-facebook"></i>  Share on Facebook
              </a>
              <a href="#" class="btn btn-block  btn-social btn-twitter" onclick="window.open(
                    'https://twitter.com/share?url='+encodeURIComponent('{{ request.build_absolute_uri }}')+'&amp;text='+encodeURIComponent('{{screen_name}} on @foodtradeHQ') + '&amp;count=none/', 
                    'twitter-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">
                <i class="fa fa-twitter"></i>  Share on Twitter
              </a>
  
              <a class="btn  btn-block  btn-social btn-pinterest" href="http://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri|urlencode }}&media={{pic_url|urlencode}}&description={{screen_name|urlencode}}{{' on FoodTrade'|urlencode}}" class="pin-it-button" count-layout="horizontal">
                <i class="fa fa-pinterest"></i>
                Share on Pinterest
              </a>
            </div>
            <div class="col-sm-6">
              <a  class="btn btn-social btn-block btn-google-plus" href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}">
                <i class="fa fa-google-plus"></i>
                Share on Google+
              </a>
              <a  class="btn btn-block btn-social btn-tumblr" href="http://www.tumblr.com/share" title="Share on Tumblr">
                <i class="fa fa-tumblr"></i>
                Share on Tumblr
              </a>
                 
              <a  class="btn btn-block  btn-social btn-bitbucket" href="http://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|urlencode}}&title={{screen_name}} on FoodTrade&summary=Hey, view my profile on Foodtrade.&source=">
                <i class="fa fa-linkedin"></i>
                Share on LinkedIn
              </a>
            </div>
            </div>
            </div>
              <script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
            </div> 
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <div class="icons text-center" style="font-size:25px">

      {% if facebook_page %}
        <a href="{{facebook_page}}"><i class="fa fa-facebook-square"></i></a>
      {% endif %} 
      {% if userinfo.username %}
        <a href="http://twitter.com/{{userinfo.username}}"><i class="fa fa-twitter-square"></i></a> 
      {% endif %} 
      {% if phone_number %}
        <a href="callto:{{phone_number}}"><i class="fa fa-phone-square"></i></a>  
      {% endif %}   
      {% if website_url %}
        <a href="{{website_url}}"><i class="fa fa-globe"></i></a>  
      {% endif %} 
      {% if company_num %}
        <a href="https://www.duedil.com/company/{{company_num}}"><i class="fa fa-legal"></i></a>  
      {% endif %} 
 
      </div>  
      
     <!-- modal_contact -->
      <div class="modal fade" id="modal_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Contact {{userinfo.name}}</h4>
            </div>
            <div class="modal-body">
            <div class="container-responsive">
              <div class="row">
                <div class="col-sm-4">
             
                  <address>
                    
          <a href="mailto:{{email}}" class="dotdotdot" target="_blank"><i class="fa fa-envelope text-muted fa-fw"></i> {{email}} </a><br />
          <a href="http://twitter.com/{{screen_name}}"  target="_blank"><i class="fa fa-twitter text-muted fa-fw"></i> {{screen_name}}</a><br />
          {% if phone_number %}
          <a href="callto:{{phone_number}}"><i class="fa fa-phone text-muted fa-fw"></i> {{phone_number}}</a>
          {% endif %}

                  </address>
                </div>
                
                <div class="col-sm-8 contact-form">
                  <form id="contact" method="post" class="form" role="form">
                    <div class="row">
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_name" name="name" placeholder="Name" type="text" required autofocus value = "{{userinfo.full_name}}"/>
                      </div>
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_email" name="email" placeholder="Email" type="email" required value = "{{userinfo.email}}" />
                      </div>
                    </div> 
                    <textarea class="form-control" id="email_message" placeholder="Type in your message" rows="5"></textarea>
                    <h6 class="pull-right" id="contact_counter">120 characters remaining</h6>
                     
                  </form>
                </div>
              </div>
            </div>
 
   
            </div>
            <div class="modal-footer">  
              <button type="button" id="contact_tweet" class="btn btn-info" onclick="post_contact_tweet('{{screen_name}}')"><i class="fa fa-fw fa-twitter"></i> Tweet it</button>
              <button type="button" class="btn btn-success" onclick="send_email('{{email}}')"><i class="fa fa-envelope fa-fw"></i> Email it</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- modal_customer -->
      <div class="modal fade" id="modal_tweet_recomm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Tell others what you have just recommended !</h4>
            </div>
            <div class="modal-body">
               <form accept-charset="UTF-8" action="" method="POST">
                      <textarea id="tweet-recomm" class="form-control counted" name="message" placeholder="Type in your message" rows="5" ></textarea>
                  </form> 
   
            </div>
            <div class="modal-footer"> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              {% if user.is_authenticated %}
              <button type="button" class="btn btn-success" data-dismiss="modal" onclick="UpdateStatus('tweet-recomm', 'noappend')">Tweet</button>
              {% else %}
              <button type="button" class="btn btn-success" data-dismiss="modal">Tweet</button>
              {% endif %}
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
 
<div class="modal fade" id="modal_food_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="food_detail_title">Add details to </h4>
            </div>
            <div class="modal-body">
              <form accept-charset="UTF-8" action="." role="form" method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="row">
                <div class="col-xs-12 col-md-4"> 
                  <a href="#" rel="tooltip" title="Change the photo">
                    <img src="http://placehold.it/100x100&text=Upload an image" class="img-responsive img-thumbnail" id="food_photo" style="width:100px;height:100px;">
                  </a>
                  <!-- show this in another modal? -->
                  <!-- can we use html5 drag and drop to upload? -->
                    <div class="form-group">
                      <label for="food_photo">Upload a photo</label>
                      {{form.food_photo}}
                      {{form.food_name.as_hidden}}
                      {{form.profile_id.as_hidden}}
                {{form.food_tags.as_hidden}}
               {{form.food_duplicate.as_hidden}} 
                    </div>
                  <!-- end code -->
                </div>
                
                <div class="col-xs-12 col-md-8">
                  <div class="form-group">
                    {{form.food_description}}
                  </div>
                  <div class="form-group" id="recommend_main" style="display:none;">
                    <div id="recomm_tags">
                    </div>
                    
                  </div>
                  <div class="form-group">
                  <ul id="myTags">
                  <!-- Existing list items will be pre-added to the tags -->
                  <!-- <li>Tag1</li>
                  <li>Tag2</li> -->
                  </ul>
                  <p class="help-block small">Eg "free range, organic, bramley". Use commas to separate tags.</p>
                  
                  </div>
                </div>
               </div><!-- row -->

               
            </div><!-- modal body -->
            <div class="modal-footer"> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              {% if user.is_authenticated %}
              <button type="submit" class="btn btn-success" onClick="var tags =$('#myTags').tagit('assignedTags'); $('#id_food_tags').val(tags);">Save</button>
              {% else %}
              <button type="submit" class="btn btn-success">Save</button>
              {% endif %}
            </div>
            </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


      </div><!-- end header last -->
    </div>
    </div>

    <div class="row">
     <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#produce" data-toggle="tab">Foods <span class="badge">{{userprof.food_no}}</span></a></li>
          <li><a href="#connections" data-toggle="tab" onclick="set_width()">Links <span class="badge">{{userprof.trade_connections_no}}</span></a> </li>

          <li><a href="#organisations" data-toggle="tab">Orgs <span class="badge">{{userprof.organisation_connection_no}}</span></a></li> 
          <li><a href="#activity" data-toggle="tab">Updates  <span class="badge">{{updates_count}}</span></a></li>  
          <li><a href="#customers" tabindex="-1" data-toggle="tab">Customers <span class="badge">{{customers|length}}</span></a></li>
        </ul>
     </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="container-responsive clearfix">

        <div class="tab-content">
          <div class="tab-pane active fade in " id="produce">


      {% if user.is_authenticated %}
      {% if deliverables %}
      <div class="small alert alert-info" id="deliveries">
        <h5 style="margin-top: 0;"><i class="fa fa-truck"></i>  Deliveries</h5>
        {{deliverables|linebreaks}}
      </div>
      {% endif %}
      {% endif %}



          {% if user.is_authenticated %}
          <div class="row">
          <div class="col-md-12 ">
          <div class=" well well-sm clearfix">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-7">
              {% if user.is_authenticated %}
                  <div class="input-group">
                  <!-- link this to open food facts --> 
                        <!-- <input class="typeahead form-control" name="addfood" data-source='' data-provide="typeahead" autocomplete="off" id = "addfood_id" style="width:400px;" placeholder="Add foods you can buy here."> -->
                        <div class='pull-left'>
                        <select id="myselect" data-placeholder="Add foods you can buy here." style="height:30px; width: 192px" multiple class="chosen-select" >
                        <option value=""></option>
<!--                             {% for each in food_list %}
                        <optgroup label={{each.node}}>
                        {% if each.children %}
                        {% for eachchild in each.children %}
                        <option>{{eachchild}}</option>
                        {% endfor %}
                        {% else %}
                        <option>{{each.node}}</option>
                        {% endif %}
                        </optgroup>
                        {% endfor %}
-->
                       {% for each in all_tags %}
                          <optgroup label={{each.node}}>
                          {% if each.childrens %}
                          {% for eachchild in each.childrens %}
                          <option>{{eachchild.node}}</option>
                          {% endfor %}
                        {% else %}
                          <option>{{each.node}}</option>
                        {% endif %}
                          </optgroup>
                        {% endfor %}
                        </select></div>

                          <div class="pull-left">
                        <span class="input-group-btn">
                
                            <button class="btn btn-success" id="adfoo_id" onClick="add_food({{profile_id}}, {{user_id}})" {% if not user.is_authenticated %} title="Please log in to use this feature." {% endif %} > Add</button>
                        </span></div>
                      </div>  
              {% endif %}
            </div> 

            <div class="col-md-4 col-sm-4 col-xs-5">
             <form action="#" method="get">
              <div class="input-group">
                  <input class="form-control" id="system-search" name="q" placeholder="Search foods..." required>
                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                  </span>
              </div>
             </form>
            </div>
            </div>

          </div>
          </div>
          </div>
          {% endif %}


      <table class="table table-list-search table-condensed">
        {% if not user.is_authenticated %}
          <thead>
            <tr>
              <td colspan="2">
                <p class="alert alert-warning"><a href="{% provider_login_url "twitter" process="login" %}" class="">Login</a> or <a href="{% provider_login_url "twitter" process="login" %}" class="">sign up free</a> to see all their full profile. </p>
              </td>
            </tr>
          </thead>
          {% endif %}
          <tbody id="food_tbody">
            {% for eachfood in all_foods %}
              <tr id="row{{forloop.counter}}">
                  <td>

                  <div class="clearfix">   
          

                <a href="/activity/?f={{eachfood.food_name}}" >  
                  
                  {{eachfood.food_name}}
                </a>   

                  </div>
 
                  </td>
 
                  <td nowrap="nowrap">  
                   <div class="pull-right">

                   {% ifequal profile_id user_id %}
                      {% if prof_subscribed %}

                     <a href="" data-toggle="modal" data-target="#modal_food_detail" class="btn btn-sm btn-default" data-container="body" onClick="get_food_detail('{{profile_id}}', '{{eachfood.food_name}}', '{{eachfood.description}}', '{{eachfood.food_tags}}', '{{eachfood.photo_url}}', '{{eachfood.recomm_tags|safe}}')"><i class="fa fa-edit" title="Edit" ></i></a>
                     {% else %}
                     <a class="btn btn-sm btn-default" data-container="body" rel="tooltip" title="Upgrade your account to add details"><i class="fa fa-edit" title="Edit" ></i></a>
                     {% endif %}
                     <a class="btn btn-danger btn-sm"><i class="fa fa-trash-o" title="Delete" onClick="delete_food({{profile_id}}, '{{eachfood.food_name}}', this)"></i></a>

                   {% endifequal %}


                   {% if user.is_authenticated %}

                     {% ifnotequal profile_id user_id %}
                       <div class="btn-block" data-toggle="buttons">
                       {% if eachfood.logged_recommender %}
                            <label class="fa fa-thumbs-o-up tltip btn btn-default btn-sm active" title="Recommend this to others">
                              <input type="checkbox" checked="checked" onchange="recommend_food({{user_id}}, '{{eachfood.food_name}}', {{profile_id}}, '{{screen_name}}', this); return null;">
                            </label>
                        {% else %}
                            <label class="fa fa-thumbs-o-up tltip btn btn-default btn-sm" title="Recommend this to others" data-toggle="modal" data-target="#modal_tweet_recomm">
                              <input type="checkbox" onchange="recommend_food({{user_id}}, '{{eachfood.food_name}}', {{profile_id}}, '{{screen_name}}', this); return null;">
                            </label>
                        {% endif %}
                        </div>

                     {% endifnotequal %}
                   {% endif %}
                     
                   
                   </div>
                   
                   {% for eachdet in eachfood.recomm_details %}
                    <div class="pull-right">
                      <img class="pull-left" style="margin:0px 4px 0 0; width:25px" src={{eachdet.photo}} title="{{eachdet.name}}"/>
                    </div>
                   {% endfor %}
                 {% ifnotequal eachfood.vouch_count 0 %}
                   <div class="pull-right">
                     <span class="badge badge-default tltip" style="margin:3px 4px 0 0;" title="{{eachfood.vouch_count}} recommendations on {{eachfood.food_name}}">{{eachfood.vouch_count}}</span>
                  </div>
                  {% endifnotequal %}
              

                   </div>
                  </td>  
              </tr> 

              {% if eachfood.description %}
              <tr>
                <td colspan="3">
                  <div class="produce_detail">  
                    <img src="{{eachfood.photo_url}}" alt="{{eachfood.food_name}}" class="img-rounded img-responsive produce_large img-thumbnail " /> 

                    <span class="text-muted   ">{{eachfood.description}}</span>
                  </div> 
                </td>
              </tr>
              {% endif %} 

              {% endfor %}
          </tbody>
          
      </table>    


          </div> <!-- end produce -->

          <div class="tab-pane fade" id="connections">
          {% if user.is_authenticated %}
            <div class="well well-sm">  
            <div class="form-inline"  role="form">
              <div class="form-group">
                 

                 <img 
                 style="width: 35px; margin-right: 5px;" 
                 class="" src={{pic_url}}  />
      
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="checkbox" name="options" id="option1_conn"> Buys from 
                  </label> 
                  <label class="btn btn-default">
                    <input type="checkbox" name="options" id="option2_conn"> Sells to
                  </label> 
                </div> 
              </div> 
              <div class="form-group">
                <!-- <label class="sr-only" for="exampleInputEmail2">Trade partnter</label>
                <input type="text" class="form-control" style="min-width:250px;" id="trade" placeholder="Type business..."> -->
                <!-- <select id="ddl_try">
                  {% for each in all_business %}
                  <option value="{{each.id}}">{{each.name}}</option>
                  {% endfor %}
              </select> -->
              <select id="buss_chosen" data-placeholder="Type business..." class="chosen-select col-xs-4 col-sm-4" multiple>
                            <option value=""></option>
                            {% for each in all_business %}
                            
                              <option value={{each.id}}>{{each.name}}</option>
                            
                            {% endfor %}
                            </select>              
                  

              </div>
              
              <button class="btn btn-success" id="ad_cons_id" {% if not user.is_authenticated %} title="Please login to use this feature" {% endif %} onClick="third_party_connection({{profile_id}})" >Add</button>

     
            </div>
          </div>
          {% endif %}
                      
<div id="all-connections">
<div class="clearfix">
          <h4>We buy from <small>these suppliers</small></h4>
          <hr /> 
           <div class="pull-left" id="buyers-cards">
          {% for each in connections %}
              {% if each.relation == "buyer" or each.relation == "both" %}
                  <div class="card card-business">
                    <div class="content">
                      <div class="pull-left">
                        <img src="{{each.photo}}" alt="{{each.name}}"
                        class="img-rounded img-responsive" style="width:40px;" /> 
                
                      </div>
                      <div class="text">
                      {% ifequal profile_id user_id %}
                      <button type="button" class="close" aria-hidden="true" onclick="conn_handler('close_buy_from', {{profile_id}}, {{each.id}})">&times;</button>
                      
                      <!-- <button type="button" class="close" aria-hidden="true">&times;</button> -->
                      {% endifequal %}
                        <h5><a href="/profile/{{each.username}}">{{each.name}}</a> 
                        </h5>  
                        <p class="small">{{each.description|truncatechars:80}}</p>
                      </div>
                    </div>
                    <div class="numbers clearfix">
                      {% if each.type|length == 0 or each.type|first == '' %}
                      {% else %}
                      <div class="tags tags-biztype pull-left">  
                        {% for e in each.type %}
                       <a href="/activity/?b={{e}}">{{e}}</a>
                       {% endfor %}
                      </div>{% endif %}
                      <p class="small pull-right">
                        <span rel="tooltip" title="{{each.food_no}} foods"><i class="fa fa-cutlery"></i> {{each.food_no}}</span>
                        <span rel="tooltip" title="{{each.trade_conn_no}} connections"><i class="fa fa-link"></i> {{each.trade_conn_no}}</span>
                        <span rel="tooltip" title="{{each.org_conn_no}} organisations"><i class="fa fa-group"></i> {{each.org_conn_no}}</span> 
                      </p>
                    </div>
                  </div> 
                  {% endif %}
                  {% endfor %}
                </div>
          </div>

          <div class="clearfix">
          <h4 style="margin-top: 50px;">We sell to <small>these stockists</small></h4> 
          <hr /> 
           <div class="pull-left" id="seller-cards">
          {% for each in connections %}
              {% if each.relation == "seller" or each.relation == "both" %}
                  <div class="card card-business">
                    <div class="content">
                      <div class="pull-left">
                        <img src="{{each.photo}}" alt="{{each.name}}"
                        class="img-rounded img-responsive" style="width:40px;" /> 
                
                      </div>
                      <div class="text">
                    {% ifequal profile_id user_id %}
                      <button type="button" class="close" aria-hidden="true" onclick="conn_handler('close_sell_to', {{profile_id}}, {{each.id}})">&times;</button>
                      
                      <!-- <button type="button" class="close" aria-hidden="true">&times;</button> -->
                      {% endifequal %}
                        <h5><a href="/profile/{{each.username}}">{{each.name}}</a> 
                        </h5>  
                        <p class="small">{{each.description|truncatechars:80}}</p>
                      </div>
                    </div>
                    <div class="numbers clearfix">
                      {% if each.type|length == 0 or each.type|first == '' %}
                      {% else %}
                      <div class="tags tags-biztype pull-left">  
                        {% for e in each.type %}
                       <a href="/activity/?b={{e}}">{{e}}</a>
                       {% endfor %}
                      </div>{% endif %}
                      <p class="small pull-right">
                        <span rel="tooltip" title="{{each.food_no}} foods"><i class="fa fa-cutlery"></i> {{each.food_no}}</span>
                        <span rel="tooltip" title="{{each.trade_conn_no}} connections"><i class="fa fa-link"></i> {{each.trade_conn_no}}</span>
                        <span rel="tooltip" title="{{each.org_conn_no}} organisations"><i class="fa fa-group"></i> {{each.org_conn_no}}</span> 
                      </p>
                    </div>
                  </div> 
                  {% endif %}
                  {% endfor %}
                </div></div>
</div>  <!-- end all-connections -->

          </div> <!--  end connections -->

          <div class="tab-pane fade" id="organisations">
          {% if user.is_authenticated %}
            <div class="well well-sm">  
            <div class="form-inline"  role="form">
              <div class="form-group">
              <select id="org_chosen" data-placeholder="Type organisation..." class="chosen-select col-xs-4 col-sm-4" multiple>
                            <option value=""></option>
                            {% for each in all_organisation %}
                            
                              <option value={{each.id}}>{{each.name}}</option>
                            
                            {% endfor %}
                            </select>              
                  

              </div>
              
              <button class="btn btn-success" id="ad_cons_id" {% if not user.is_authenticated %} title="Please login to use this feature" {% endif %} onClick="add_org_to_biz({{profile_id}})">Add</button>

     
            </div>
            </div>
            {% endif %}

          <div id="organisations_list">
            {% if user.is_authenticated %}
            {% else %}
             <p class="alert alert-warning"><a href="{% provider_login_url "twitter" process="login" %}" class="">Login</a> or <a href="{% provider_login_url "twitter" process="login" %}" class="">sign up free</a> to see the organisations or groups they belong to. </p>

            {% endif %}
          {% for each in organisations %}
                <div class="card card-organisation">
                  <div class="content">
                    <div class=" pull-left">
                      <img src="{{each.photo}}" alt="{{each.name}}"
                      class="img-rounded img-responsive" style="width:40px;" /> 
                    </div>

                    <div class="text">
                      {% ifequal profile_id user_id %}
                      <button type="button" class="close" aria-hidden="true" onclick="del_org_from_biz({{profile_id}}, {{each.id}})">&times;</button>
                      
                      <!-- <button type="button" class="close" aria-hidden="true">&times;</button> -->
                      {% endifequal %}

                      <h5><a href="/profile/{{each.username}}">{{each.name}}</a></h5> 
                      <p class="small">{{each.description}}</p> 
                    </div>
                  </div>
                  <div class="numbers clearfix">
                    <i class="fa fa-group"></i> <small class="text-muted">Organisation</small>
                  </div>
                </div> 
                {% endfor %}
            </div>
          </div> <!-- end organisations -->

          <div class="tab-pane fade" id="customers">
        {% if user.is_authenticated %}
          {% else %} 
            <p class="alert alert-warning"><a href="{% provider_login_url "twitter" process="login" %}" class="">Login</a> or <a href="{% provider_login_url "twitter" process="login" %}" class="">sign up free</a> to see where their customers live. Maybe they'll do home deliveries if you ask nicely! </p> 
        {% endif %}
<div class="pull-left">
           {% for each in customers %}

              <div class="card card-individual">
                <div class="content">
                  <img src="{{each.photo}}" alt="{{each.name}}"
                  class="img-rounded img-responsive pull-left" style="width:40px;" />
                  <div class="text">
                    <h5><a href="/profile/{{each.username}}">{{each.name}}</a></h5> 
                    <p class="small">
                    {{each.description}}</p>
                  </div> 
                </div>
                <div class="numbers clearfix">
                  <i class="fa fa-user"></i> <small class="t ext-muted">Person</small>
                </div>
               
          </div>
          {% endfor %}
          </div>
          </div> <!-- end customers -->

          <div class="tab-pane fade" id="activity">

          <div class="container-responsive">
          <div class="row">
           <div class="col-md-12">
            {% if user.is_authenticated %}
                  <div class="">

                      <!-- if this is the profile of the logged in user -->
                      <!-- <div class="well well-sm">
                          <div class="input-group">
                              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Send an update..." />
                              <span class="input-group-btn">
                                  <button class="btn btn-warning btn-sm" id="btn-chat">
                                      Send</button>
                              </span>
                          </div>
                      </div> -->
                      <!-- // if this is the profile of the logged in user -->
                      <div class="">
                          <ul class="chat">
                          {% for eachUpdate in updates %}
                              <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="{{userprof.profileimg}}" />
                              </span>
                                  <div class="chat-body clearfix">
                                      <div class="header">
                                          <strong class="primary-font">{{eachUpdate.user.name}}</strong> 
                                          <small class="pull-right text-muted">
                                          <a href="/{{username}}/post/{{eachUpdate.tweetuid}}/"><span class="glyphicon glyphicon-time"></span>{{eachUpdate.time_elapsed}} ago</a></small>
                                      </div>
                                      <p>
                                         {{eachUpdate.status}}
                                      </p>
                                  </div>
                              </li>
                          {% endfor %}    
                          </ul>
                      </div>
                  </div>
              {% else %}
                <p class="alert alert-warning"><a href="{% provider_login_url "twitter" process="login" %}" class="">Login</a> or <a href="{% provider_login_url "twitter" process="login" %}" class="">sign up free</a> to see updates and activity. </p>
              {% endif %}

              </div>

          </div>

          </div>
        </div>
    
      </div>
 
 
        </div><!-- container responsive -->
  
      
 
   
      </div><!-- end col --> 
 
    </div><!-- row -->


   
    </div><!-- col --> 
 


    <div class="col-md-4 col-sm-3">
       <div style="width:100%; z-index: 100;" id="map">
       </div> 
    </div>

  

   {% endblock %}
   {% block footer %}
<script src="/static/js/chosen.jquery.min.js" type="text/javascript"></script>
  <script src="/static/css/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
     <script src="{% static "js/hogan-2.0.0.js" %}"></script>
     <script src="{% static "js/typeahead.min.js" %}"></script>

  <script type="text/javascript">
// document.observe('dom:loaded', function(evt) {
//     var config = {
//       '.chosen-select'           : {create_option: true, skip_no_results: true},
//       '.chosen-select-deselect'  : {allow_single_deselect:true},
//       '.chosen-select-no-single' : {disable_search_threshold:10},
//       '.chosen-select-no-results': {no_results_text: "Oops, nothing found!"},
//       '.chosen-select-width'     : {width: "95%"}
//     }
//     var results = [];
//     for (var selector in config) {
//       var elements = $$(selector);
//       for (var i = 0; i < elements.length; i++) {
//         results.push(new Chosen(elements[i],config[selector]));
//       }      
//     }
//     return results;
// });

$( document ).ready(function() {
// $('.create-option').on('click', '.active-result', function(e){
  // alert('sdkdkfj');
  

// });  


  $("#myTags").tagit({
      placeholderText: 'Add tags to your food...',
      allowSpaces: true
    });

  tweetlistener('email_message', 'contact_counter', 'contact_tweet');
// activating tooltips
    $('.tltip').tooltip();
    $('#adfoo_id').tooltip();
// food popover

// food_detail();
$('#buss_chosen').chosen();
$('#org_chosen').chosen();

// $("#buss_chosen").chosen({max_selected_options: 1});
$('#myselect').chosen({create_option: true, skip_no_results: true, create_option_text: 'Add'});
// chosen on change event
    $('#myselect').chosen().change(function(){
    add_food({{profile_id}});
    });
    
    $('#myselect').chosen().ready(function(){
      $('.search-field input').attr('style', 'width:192px;height:30px;');
    });
    // document.getElementById('#myselect').addEventListener("DOMSubtreeModified", function(){alert('dom changed of select');}, false);
    // $('#myselect').bind("DOMSubtreeModified", function() {
      // alert('hahaha');
    // });
document.getElementById("myselect").addEventListener("DOMSubtreeModified", function(e) {
  // Record the occurrence
  
    var text = $('.create-option').text();
    var word = text.split('"')[1];
    //alert(word);
    // add the word to new collection of unapproved foods
    var data = {useruid: {{profile_id|safe}}, food_name: word, created_by: {{user_id|safe}}};
    ajax_request("addnewfood", 'empty', {data: JSON.stringify(data)}); 
}, false);
// chosen config code
// var config = {
//       '.chosen-select'           : {},
//       '.chosen-select-deselect'  : {allow_single_deselect:true},
//       '.chosen-select-no-single' : {disable_search_threshold:10},
//       '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
//       '.chosen-select-width'     : {width:"95%"},
//       '.chosen-select-height'     : {height: "30px"}
//     }

  //     $(".chosen-select").chosen({
  //   // disable_search_threshold: 10,
  //   // no_results_text: "Oops, nothing found!",
  //   // width: "95%",
  //   create_option: true,
  //   // persistent_create_option decides if you can add any term, even if part
  //   // of the term is also found, or only unique, not overlapping terms
  //   persistent_create_option: true,
  //   // with the skip_no_results option you can disable the 'No results match..' 
  //   // message, which is somewhat redundant when option adding is enabled
  //   skip_no_results: false,
  //   create_option_text: 'Create category'
  // });
    // for (var selector in config) {
    //   $(selector).chosen(config[selector]);
    // }
// chosen config code ends

});

function set_width(){
  $('#buss_chosen_chosen').attr("style", "width:350px;");
}

function get_food_detail(profile_id, food_name, description, food_tags, photo_url, recomm_tags){
    $("#myTags").tagit("removeAll");
    $('#food_detail_title').text('Add details to '+ food_name);
    var placeholder = "What makes your " + food_name + " special? This is where it's completely fine to show-off! Remember to name any variety names, special techniques, or unique properties - and how it tastes is the most important thing."
    $('#id_food_description').attr('placeholder', placeholder);
    $('#id_food_description').addClass('food_details_counted');
    $('#id_food_description').attr('rows', 5);
    // document.getElementsByName('food_name').value = food_name;
    // document.getElementsByName('profile_id').value = profile_id;
    $('#id_food_name').val(food_name);
    $('#id_profile_id').val(profile_id);
    $('#id_food_description').val(description);
    var tags_list = food_tags.split(',');
    for(i=0;i<tags_list.length;i++){
      $("#myTags").tagit('createTag', tags_list[i]);
    }
    $('#food_photo').attr('src', photo_url);
    $(".food_details_counted").charCounter(300,{container: "#counter"});    
    $('#id_food_duplicate').val(photo_url);
    $('#recommend_main').show();
    var recomm_tags_list = recomm_tags.split(',');
    $('#recomm_tags').html('');
    console.log('recomm_tags_list', recomm_tags_list);
    console.log('tags_list', tags_list);
    var count = 0;
    for(i=0;i<recomm_tags_list.length;i++){
      
        if(tags_list.indexOf(recomm_tags_list[i]) == -1){
          count = count+1;
          $('#recomm_tags').append('<span class="myowntagit">'+ String(recomm_tags_list[i]) + '</span> ');
        }
    }
    if(count != 0 && $('#recomm_help_text').text() == ''){
    $('#recommend_main').append('<p id="recomm_help_text" class="help-block small">Recommend Tags for your food. Click to add.</p>');}
    $('#recomm_tags').on('click', '.myowntagit', function(e){
        var tag_text =$(this).html();
        $(this).remove();
        $("#myTags").tagit('createTag', tag_text);
    });
    // $('#recomm_tags').append(appendtext);

}
    
  </script>

        <script type="text/javascript">
    map_lat={{ loc.lat }};
    map_lon = {{ loc.lon }};

connections = {{connections_str | safe}};
customers = {{customers_str | safe}};
      var name = "{{userprof.full_name}}";
      var description = "{{userprof.description}}";
      var photo =  "{{userprof.profileimg}}";
      var username = "{{userprof.username}}";
      var type = "{{userprof.type}}".split(',');
      var latitude =  {{userprof.lat}};
          var longitude =  {{userprof.lon}};


      var current_lat = parseFloat(latitude);
      var current_lon = parseFloat(longitude);
    </script>
     <script src="{% static "js/business-map.js" %}"></script>
     <script src="{% static "js/contact.js" %}"></script>
     
 {% endblock %}