{% extends 'tbase.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% load recognise_name %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}

 
{% block ogtype %}{% if userprof.user_type == "Business" %}business.business{%endif%}{% if userprof.user_type == "Individual" %}Profile{%endif%}{% if userprof.user_type == "Organisation" %}business.business{%endif%}{% endblock %}

{% block titlecontent %}{{userprof.full_name}}{% endblock %}
{% block titlemain %}{{userprof.full_name}}{% endblock %}

{% block description %}{{userprof.description}}{% endblock %}

{% block fblat %}{{userprof.lat}}{% endblock %}
{% block fblon %}{{userprof.lon}}{% endblock %}
{% block fbzipcode %}{{userprof.zip_code}}{% endblock %}
{% block fbcountry %}{{userprof.country}}{% endblock %}
{% block ogimg %}{{userprof.profileimg}}{% endblock %}

{% block metatitle %}{{userprof.full_name}}{% endblock %}
{% block metadescription %}{{userprof.description}}{% endblock %}

{% block contact %}
  {% if userprof.user_type == 'Business' or userprof.user_type == 'Organisation' %}
  <meta property="business:contact_data:postal_code"    content="{{userprof.zip_code}}" /> 
  <meta property="business:contact_data:country_name"   content="{{userprof.country}}" /> 
  <meta property="business:contact_data:street_address" content="{{userprof.address}}" /> 
  <meta property="business:contact_data:locality"       content="{{userprof.address}}" /> 
  {% endif %}
{% endblock %}

{% block content %}
{% include 'modal_invite.html' %}
    <div class="col-md-6 col-sm-7  {% if not user.is_authenticated %} col-md-offset-1 {% endif %}" id="single">

 



    <div class="container-responsive">
    <img class="img-responsive" src="{{banner_url}}" />
     
    <div id="header_box innerAll half bg-gray" class="clearfix organisation">

       <div class="col-md-2 hidden-sm hidden-xs" id="avatar">
        <img class="img-thumbnail center-block" src="{{pic_url}}"  />
      </div>
      
     
      <div class="col-md-6 col-sm-8 col-xs-8 whitewash"> 
        <!-- certificate -->
          {% if prof_subscribed %}
          <span class="fa-stack fa-lg pull-right" id="verified" rel="tooltip" title="Verified profile">
            <i class="fa fa-certificate fa-stack-2x" style="color: #1DBD3C;"></i>
            <i class="fa fa-check fa-stack-1x" style="color: #fff;"></i>
          </span>
          {% endif %}
          <!-- certificate -->
          
         <h3 class="margin-none">{{name}}</h3>
     
         <div class="innerTB">
           <p>{{description}}</p>         
         </div> 
     
         <div class="meta small text-muted">
            {% if loc.lat == -82.86275189999999 and loc.lon == -135.10000000000002 %}
              <i class="fa fa-map-marker"></i> <a > NA</a>
              <i class="fa fa-location-arrow" style="margin-left: 20px;"></i> NA
            {% else %}
            <i class="fa fa-map-marker"></i> <a href="http://maps.google.com/maps?saddr={{loggedin_coord.lat}},{{loggedin_coord.lon}}&daddr={{loc.lat}},{{loc.lon}}" target="_blank" data-placement="top" data-toggle="tooltip" title="Get directions" class="text-muted">
              {{address}}
          </a>      
            <!-- if logged in or you've allows html5 browser location -->
            <i class="fa fa-location-arrow" style="margin-left: 20px;"></i> {{distance}} miles  
            {% endif %}
            <!--  // if logged in or you've allows html5 browser location -->
  
         </div> <!-- meta -->


  
      </div><!-- end header middle -->
      <div id="contact_info" class="col-md-4 col-sm-4  col-xs-4">
       {% ifequal profile_id user_id %}
        <a href="/editprofile/{{userinfo.username}}" class="btn btn-danger btn-block">
           Edit my profile
        </a>
      {% endifequal %}


{% ifnotequal profile_id user_id %} 
  
      {% if user.is_authenticated %}  

      <!-- are you a member -->
      <div class="btn-group btn-block" data-toggle="buttons">
        {% if logged_member %}
          <label class="fa fa-smile-o btn btn-default active" style="width:100%; padding: 8px 12px;" title="{{userinfo.full_name}} is member of {{name}}" >
          <input type="checkbox" checked="checked" class="member-chkbx" onchange="add_member({{profile_id}}, {{user_id}}, 'self')">
          <span>I'm a member!</span>
          </label>
        {% else %}
          <label class="fa fa-smile-o fa-fw btn btn-default " style="width:100%;" title="{{userinfo.full_name}} is member of {{name}}" >
          <input type="checkbox" class="member-chkbx" onchange="add_member({{profile_id}}, {{user_id}}, 'self')">
          <span>I'm a member!</span>
          </label>
        {% endif %}
      </div> 
      <!-- /are you a member -->


      <!-- Button trigger modal -->
      {% ifequal is_unknown_profile 'false' %}
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_contact"><i class="fa fa-fw fa-envelope-o"></i> Contact</button>
      {% else %}
        <button class="btn btn-primary btn-block" style="margin-top:40px;" data-toggle="modal" data-target="#modal_invite">Invite to connect</button> 
      {% endifequal %}

      {% if user.is_superuser %}
            <a href="/editprofile/{{username}}/" class="btn btn-primary btn-block">Edit</a>
      {% endif %}

      {% else %}
      <!-- if not logged in show login prompt -->
      <div class="btn-group btn-block" rel="tooltip" data-placement="top" title="Login to be a member of {{name}}">
      <button class="fa fa-smile-o fa-fw text-muted btn btn-default btn-block" style="width:100%;" disabled>
      I'm a member!
     </button>
     </div>

      <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-primary btn-block">Login for more</a>
      {% endif %}
{% endifnotequal %} 
      <button class="btn btn-default btn-block" data-toggle="modal" data-target="#sharer">
        <i class="fa fa-share-square-o text-muted"></i> Share
      </button>
      <!--SHARER  Modal -->
      <div class="modal fade" id="sharer" tabindex="-1" role="dialog" aria-labelledby="sharer" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body"> 
        <div class="container-responsive">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="btn btn-block  btn-social btn-facebook" onclick="window.open(
              'https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;p[images][0]='+encodeURIComponent('{{pic_url}}')+'&amp;p[title]='+encodeURIComponent('{{name}} on FoodTrade')+'&amp;p[summary]='+encodeURIComponent('Hey, see my profile on FoodTrade')+'&amp;u='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;t='+encodeURIComponent('{{name}} on FoodTrade'),
                    'facebook-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">

                <i class="fa fa-facebook"></i>  Share on Facebook
              </a>
              <a href="#" class="btn btn-block  btn-social btn-twitter" onclick="window.open(
                    'https://twitter.com/share?url='+encodeURIComponent('{{ request.build_absolute_uri }}')+'&amp;text='+encodeURIComponent('{{screen_name}} on @foodtradeHQ') + '&amp;count=none/', 
                    'twitter-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">
                <i class="fa fa-twitter"></i>  Share on Twitter
              </a>
  
              <a class="btn  btn-block  btn-social btn-pinterest" href="http://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri|urlencode }}&media={{pic_url|urlencode}}&description={{screen_name|urlencode}}{{' on FoodTrade'|urlencode}}" class="pin-it-button" count-layout="horizontal">
                <i class="fa fa-pinterest"></i>
                Share on Pinterest
              </a>
            </div>
            <div class="col-sm-6">
              <a  class="btn btn-social btn-block btn-google-plus" href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}">
                <i class="fa fa-google-plus"></i>
                Share on Google+
              </a>
              <a  class="btn btn-block btn-social btn-tumblr" href="http://www.tumblr.com/share" title="Share on Tumblr">
                <i class="fa fa-tumblr"></i>
                Share on Tumblr
              </a>
                 
              <a  class="btn btn-block  btn-social btn-bitbucket" href="http://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|urlencode}}&title={{screen_name}} on FOodTrade&summary=Hey, view my profile on Foodtrade.&source=">
                <i class="fa fa-linkedin"></i>
                Share on LinkedIn
              </a>
            </div>
            </div>
            </div>
              <script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
            </div> 
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      

      <div class="icons text-center" style="font-size:25px">

      {% if facebook_page %}
        <a href="{{facebook_page}}"><i class="fa fa-facebook-square"></i></a>
      {% endif %} 
      {% if userinfo.username %}
        <a href="http://twitter.com/{{userprof.username}}"><i class="fa fa-twitter-square"></i></a> 
      {% endif %} 
      {% if phone_number %}
        <a href="callto:{{phone_number}}"><i class="fa fa-phone-square"></i></a>  
      {% endif %}   
      {% if website_url %}
        <a href="{{website_url}}"><i class="fa fa-globe"></i></a>  
      {% endif %} 
      {% if company_num %}
        <a href="https://www.duedil.com/company/{{company_num}}"><i class="fa fa-legal"></i></a>  
      {% endif %} 
 
      </div>  

      
     <!-- modal_contact -->
      <div class="modal fade" id="modal_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Contact {{userinfo.name}}</h4>              
            </div>
            <div class="modal-body">
            <div class="container-responsive">
              <div class="row">
                <div class="col-sm-4">
             
                  <address>
                    
          <a href="mailto:{{email}}" class="dotdotdot" target="_blank"><i class="fa fa-envelope text-muted fa-fw"></i> {{email}} </a><br />
          <a href="http://twitter.com/{{screen_name}}"  target="_blank"><i class="fa fa-twitter text-muted fa-fw"></i> {{screen_name}}</a><br />
          {% if phone_number %}
          <a href="callto:{{phone_number}}"><i class="fa fa-phone text-muted fa-fw"></i> {{phone_number}}</a>
          {% endif %}
                  </address>
                </div>
                
                <div class="col-sm-8 contact-form">
                  <form id="contact" method="post" class="form" role="form">
                    <div class="row">
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_name" name="name" placeholder="Name" type="text" required autofocus value = "{{userinfo.full_name}}"/>
                      </div>
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_email" name="email" placeholder="Email" type="email" required value = "{{userinfo.email}}" />
                      </div>
                    </div> 
                    <textarea class="form-control" id="email_message" placeholder="Type in your message" rows="5"></textarea>
                    <h6 class="pull-right" id="contact_counter">120 characters remaining</h6>
                     
                  </form>
                </div>
              </div>
            </div>
 
   
            </div>
            <div class="modal-footer"> 
              <button type="button" id="contact_tweet" class="btn btn-info" onclick="post_contact_tweet('{{screen_name}}')"><i class="fa fa-fw fa-twitter"></i> Tweet it</button>
              <button type="button" class="btn btn-success" onclick="send_email('{{email}}')"><i class="fa fa-envelope fa-fw"></i> Email it</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- modal_customer -->

      {% if request.user.is_authenticated %}
      <div class="modal fade" id="modal_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">You're a member of {{name}}?</h4>
            </div>
            <div class="modal-body">
 
            <p><strong>Thanks!</strong> Knowing where customers are is a win-win. BUSINESS NAME understands how it can better serve you, and in time we'll help them keep you informed about special local offers. </p> 
            <p>Examples might include home deliveries from your local shops, later opening hours, or working together with other local business to make things better. </p>
            <p>We'll show you as being a customer and put a small dot on the map near your location.</p>
   
            </div>
            <div class="modal-footer"> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onClick="add_member({{profile_id}}, {{user_id}})" data-dismiss="modal">Yes, I'm a happy member!</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
 {% endif %}
      </div><!-- end header last -->
    </div>
    </div>
  
<div class="widget widget-tabs widget-tabs-double-2 widget-tabs-responsive">
   
    <!-- Tabs Heading -->
    <div class="widget-head">

      <ul class="clearfix">

          <li class="active">
            <a href="#members" class="glyphicons log_in" data-toggle="tab">
            <i></i>
            <span>Members</span>
            {% if members|length != 0 %}<span class="label label-default pull-number ">{{members|length}}</span>{% endif %}
            </a></li>
          <li>
            <a href="#foods" data-toggle="tab" class="glyphicons cutlery">
            <i></i>
            <span>Foods</span>
            {% if food_count != 0 %}<span class="label label-default pull-number">{{food_count}}</span>{% endif %}
            </a></li> 
          <li>
            <a href="#people" data-toggle="tab" class="glyphicons group">
            <i></i>
            <span>Team</span>
            {% if teams|length != 0 %}<span class="label label-default pull-number ">{{teams|length}}</span>{% endif %}
            </a></li>
          <li>
            <a href="#updates" data-toggle="tab" class="glyphicons bullhorn">
            <i></i>
            <span>Updates</span>
            {% if updates_count != 0 %}<span class="label label-default pull-number ">{{updates_count}}</span>{% endif %}
            </a></li>
        
      </ul>
    </div>
    <!-- // Tabs Heading END -->

    
    <div class="widget-body">

      <div class="tab-content">


    <div class="row">
      <div class="col-md-12">
        <div class="container-responsive clearfix">
        <div class="tab-content">
          <div class="tab-pane active fade in " id="members">
{% if user.is_superuser or userinfo.name == screen_name %}
<div id="member_remote" class="well well-sm">
<input class="typeahead form-control" id="new_member_typeahead" {% if not user.is_authenticated %} rel="tooltip" title="Please login to use this feature" {% endif %} style="width:310px;" type="text" placeholder="add a member"></div>                  
{% endif %}
            <div class="clearfix isotope js-isotope" data-isotope-options='{ "itemSelector": ".card" }' id="member_ajax"> 

                    {% for each_mem in members %}
                        <div class="card card-business">
                   
                          <div class="content" style="background:url('{{each_mem.banner_url}}');">
                            <div class="text-center">
                              <img src="{{each_mem.photo}}" alt="{{each_mem.name}}"
                              class="img-thumbnail img-responsive" style="width:73px; height:73px;" /> 
                      
                            </div>
                            <div class="text">
                              {% if user.is_superuser or userinfo.name == screen_name %}
                            <button type="button" class="close" aria-hidden="true" onclick="add_member({{profile_id}}, {{each_mem.id}}, 'third_delete')">&times;</button>
                            {% endif %}
                              <h5><a href="/profile/{{each_mem.username}}">{{each_mem.name}}</a> 
                              </h5>  
                              <p class="small">{{each_mem.description}}</p>
                            </div>
                          </div> 
 

                          <div class="row row-merge border-top">

                            <!-- number of foods sold -->
                            <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                              <a href="" class="innerAll half text-center display-block text-muted" data-original-title="{{each_mem.food_no}} foods" rel="tooltip"><i class="fa fa-fw fa fa-cutlery"></i> {{each_mem.food_no}}</a>
                            </div>

                            <!-- number of vouches across all produce --> 
                            <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                              <a href=""  rel="tooltip" title="{{each_mem.total_vouches}} of vouches for all produce"  class="innerAll half text-center display-block text-muted"><i class="fa fa-fw fa-thumbs-o-up"></i> {{each_mem.total_vouches}}</a>
                            </div> 

                            <!-- number of trade connections --> 
                            <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                              <a href=""  rel="tooltip" title="{{each_mem.trade_conn_no}} of trade connections" class="innerAll half text-center display-block text-muted"><i class="fa fa-fw fa-link"></i> {{each_mem.trade_conn_no}}</a>
                            </div>

                            <!-- number of group membershpis -->  
                            <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                              <a href=""  rel="tooltip" title="Member of {{each_mem.org_conn_no}} groups or organisations"  class="innerAll half text-center display-block text-muted"><i class="fa fa-fw fa-group"></i> {{each_mem.org_conn_no}}</a>
                            </div> 

                          </div> 


           

                          {% if each_mem.type|length == 0 or each_mem.type|first == '' %}
                          {% else %}
                          <div class="bg-gray border-top innerAll half text-center">  
                            {% for e in each_mem.type %}
                           <a href="/activity/?q={{e}}">{{e}}</a>
                           {% endfor %}
                          </div>
                          {% endif %}


                        </div> 
                        {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="foods">
            <div class="container-responsive">
              <div class="row"> 
                <div class="col-md-12">
                  <form action="#" method="get">
                      <div class="input-group well well-sm">
                          <input class="form-control" id="system-search" name="q" placeholder="Search foods from {{name}} members..."  required>
                          <span class="input-group-btn">
                              <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                          </span>
                      </div>
                  </form>
                   <table class="table table-list-search">
                      <tbody>
                              {% for each in members_foods %}
                                  {% for eachfood in each.foods%}
                          <tr>
                              <!-- <td>{{eachfood.food_name}}</td> -->
                            <td><a href="/profile/{{each.username}}/"> <img class="pull-left" style="margin:0 50px 0 5px; width:25px;" src={{each.photo}} title="{{each.username}}"/></a><a href="/activity/?f={{eachfood.food_name}}">{{eachfood.food_name}}</a></td>
                          </tr> 
                                {% endfor %}
                              {% endfor %}
                      </tbody>
                      
                  </table>   
                </div>
              </div>
            </div>
          </div> 
          <div class="tab-pane fade" id="people">
{% ifequal loggedin_signupas "Individual" %}
           <!-- <button class="btn btn-default">
              <i class="fa fa-smile-o "></i> Do you work here?
            </button>  -->
<!--             <button class="btn btn-success" onClick="add_team({{profile_id}}, {{user_id}})">
              <i class="fa fa-check "></i> I work here
            </button>  -->
            <div class="btn-group btn-block" data-toggle="buttons">
        {% if logged_team %}
      <label class="fa fa-check btn btn-default btn-block active" style="width:30%;">
      <input type="checkbox" checked="checked" id="team-chkbx" onchange="add_team({{profile_id}}, {{user_id}})">I work here
      {% else %}
      <label class="btn btn-default btn-block" style="width:30%;" >
      <input type="checkbox" id="team-chkbx" onchange="add_team({{profile_id}}, {{user_id}})">I work here
  {% endif %}
 </label></div>
{% endifequal %}
            <div class="clearfix">
          {% for each in teams %}
                <div class="card card-individual">
                  <!-- Use the banner url as {{each.banner_url}} -->
                  <div class="content"  style="background:url('{{each.banner_url}}');">
                    <img src="{{each.photo}}" alt="{{each.name}}"
                    class="img-rounded img-responsive pull-left" style="width:40px;" />
                    <div class="text">
                      <h5><a href="/profile/{{each.username}}">{{each.name}}</a> <span class="label label-success pull-right">Role</span></a></h5> 
                      <p class="small">
                      {{each.description}}
                    </div>
                  </div>
                 
                </div> 
                {% endfor %}
            </div> <!-- end clearfix  -->
          </div>
          <div class="tab-pane fade" id="updates">
          <div class="container-responsive">
          <div class="row">
              <div class="col-md-12">
            {% if user.is_authenticated %}
                  <div class="">

                      <!-- if this is the profile of the logged in user -->
                      <!-- <div class="well well-sm">
                          <div class="input-group">
                              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Send an update..." />
                              <span class="input-group-btn">
                                  <button class="btn btn-warning btn-sm" id="btn-chat">
                                      Send</button>
                              </span>
                          </div>
                      </div> -->
                      <!-- // if this is the profile of the logged in user -->
                      <div class="">
                          <ul class="chat">
                          {% for eachUpdate in updates %}
                              <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="{{userprof.profileimg}}" />
                              </span>
                                  <div class="chat-body clearfix">
                                      <div class="header">
                                          <strong class="primary-font">{{eachUpdate.user.name}}</strong> 
                                          <small class="pull-right text-muted">
                                          <a href="/{{username}}/post/{{eachUpdate.tweetuid}}/"><span class="glyphicon glyphicon-time"></span>{{eachUpdate.time_elapsed}} ago</a></small>
                                      </div>
                                      <p>
                                         {{eachUpdate.status|recognise_name|safe}}
                                      </p>
                                  </div>
                              </li>
                          {% endfor %}    
                          </ul>
                      </div>
                  </div>
              {% else %}
                <p class="alert alert-warning"><a href="{% provider_login_url "twitter" process="login" %}" class="">Login</a> or <a href="{% provider_login_url "twitter" process="login" %}" class="">sign up free</a> to see updates and activity. </p>
              {% endif %}

              </div>

          </div>

          </div>
        </div>
     
        
      </div>
 
 
        </div><!-- container responsive -->
  
      
 
   
      </div><!-- end col8 --> 
    </div><!-- col6 --> 


  </div>



</div>
</div>
</div>



      <div class="col-md-6 col-sm-5 {% if loc.lat == -82.86275189999999 and loc.lon == -135.10000000000002 %} hidden {% endif %}">
        <div style="position: fixed; width:50%; height: 100%; " id="map"></div> 
     </div>
      
   
{% endblock %}
{% block footer %}  
{% include "includes/not_logged_in_modal.html" %}

   
     <script src="{% static "js/contact.js" %}"></script>
        <script type="text/javascript">

$('#members').on('click', '.tt-suggestion', function(){
  var member_id = this.getElementsByClassName('result-name')[0];
  var member_var = $(member_id).attr('data-id');
  if(member_var == 'search'){
    $('#my_invite_twitter').click();
  }
  else{
    add_member({{profile_id}}, member_var, 'third_add')
    $('#new_member_typeahead').val('');
    $('.tt-hint').val('');
  }
});
$('#new_member_typeahead').on('blur', function(){
  $('#new_member_typeahead').val('');
});


    map_lat={{ loc.lat }};
    map_lon = {{ loc.lon }};
connections = {{members_str | safe}};

var name = "{{userprof.full_name}}";
      var description = "{{userprof.description}}";
      var photo =  "{{userprof.profileimg}}";
      var username = "{{userprof.username}}";
      var type = "{{userprof.type}}".split(',');
      var latitude =  {{userprof.lat}};
          var longitude =  {{userprof.lon}};
  tweetlistener('email_message', 'contact_counter', 'contact_tweet');
    </script>


{% endblock %}
{% block javascript%}
     <script src="{% static "js/organisation-map.js" %}"></script>
{% endblock %}