{% extends 'tbase.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}

{% block titlecontent %}{{userprof.full_name}}{% endblock %}
{% block fblat %}{{userprof.lat}}{% endblock %}
{% block fblon %}{{userprof.lon}}{% endblock %}
{% block fbzipcode %}{{userprof.zip_code}}{% endblock %}
{% block fbcountry %}{{userprof.country}}{% endblock %}
{% block content %}
    <div class="col-md-6 col-sm-7  {% if not user.is_authenticated %} col-md-offset-1 {% endif %}" id="single">
    <div class="container-responsive">
    <div id="header_box" class="clearfix organisation">
      <div class="col-md-2" id="avatar">
        <img class="img-thumbnail center-block" src={{pic_url}}  />
      </div>
     
      <div class="col-md-7">
         <h1><a href="#">{{name}}</a></h1>
     
         <hr />
         <p>{{description}}</p>        
  <!--         <div class="tags">  
           <a href="/tag/TAG">Box Scheme</a>
           <a href="/tag/TAG">Butcher</a>
           <a href="/tag/TAG">family</a>
           <a href="/tag/TAG">organic</a> 
          </div> -->
         <hr /> 
     
         <div class="meta small text-muted">
            
            <i class="fa fa-map-marker"></i> <a href="http://maps.google.com/maps?saddr={{loggedin_coord.lat}},{{loggedin_coord.lon}}&daddr={{loc.lat}},{{loc.lon}}" target="_blank" data-placement="top" data-toggle="tooltip" title="Get directions" class="text-muted">{{address}}</a>  
            
            <!-- if logged in or you've allows html5 browser location -->
            <i class="fa fa-location-arrow" style="margin-left: 20px;"></i> {{distance}} miles  
            <!--  // if logged in or you've allows html5 browser location -->
  
         </div> <!-- meta -->
  
      </div><!-- end header middle -->
      <div id="contact_info" class="col-md-3">
{% ifnotequal profile_id user_id %}
      <!-- if they dont't have an account yet --> 
<!--       {% if not user.is_authenticated %}
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_invite">
         Invite to connect
      </button> 
      {% endif %} -->
  
      {% if user.is_authenticated %}
<!--       <button class="btn btn-default btn-block" data-toggle="modal" data-target="#modal_customer">
        <i class="fa fa-smile-o text-muted"></i> I'm a member
      </button>   -->
<div class="btn-group btn-block" data-toggle="buttons">
        {% if logged_member %}
      <label class="fa fa-smile-o text-muted btn btn-default btn-block active" style="width:100%;
  padding: 8px 12px;" title="{{userinfo.full_name}} is member of {{name}}" >
      <input type="checkbox" checked="checked" class="member-chkbx" onchange="add_member({{profile_id}}, {{user_id}})"><span>I'm a member!</span>
      {% else %}
      <label class="fa fa-smile-o text-muted btn btn-default btn-block" style="width:100%;" title="{{userinfo.full_name}} is member of {{name}}" >
      <input type="checkbox" class="member-chkbx" onchange="add_member({{profile_id}}, {{user_id}})"><span>I'm a member!</span>
  {% endif %}
 </label></div>
      <!-- Button trigger modal -->
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_contact">
        Contact
      </button>  
      {% else %}
      <!-- if not logged in show login prompt -->
      <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-primary btn-block">Login for more</a>
      {% endif %}
{% endifnotequal %} 
      <button class="btn btn-default btn-block" data-toggle="modal" data-target="#sharer">
        <i class="fa fa-share-square-o text-muted"></i> Share
      </button>
      <!--SHARER  Modal -->
      <div class="modal fade" id="sharer" tabindex="-1" role="dialog" aria-labelledby="sharer" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body"> 
        <div class="container-responsive">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="btn btn-block  btn-social btn-facebook" onclick="window.open(
              'https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;p[images][0]='+encodeURIComponent('{{pic_url}}')+'&amp;p[title]='+encodeURIComponent('{{name}} on FoodTrade')+'&amp;p[summary]='+encodeURIComponent('Hey, see my profile on FoodTrade')+'&amp;u='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;t='+encodeURIComponent('{{name}} on FoodTrade'),
                    'facebook-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">

                <i class="fa fa-facebook"></i>  Share on Facebook
              </a>
              <a href="#" class="btn btn-block  btn-social btn-twitter" onclick="window.open(
                    'https://twitter.com/share?url='+encodeURIComponent('{{ request.build_absolute_uri }}')+'&amp;text='+encodeURIComponent('{{screen_name}} on @foodtradeHQ') + '&amp;count=none/', 
                    'twitter-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">
                <i class="fa fa-twitter"></i>  Share on Twitter
              </a>
  
              <a class="btn  btn-block  btn-social btn-pinterest" href="http://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri|urlencode }}&media={{pic_url|urlencode}}&description={{screen_name|urlencode}}{{' on FoodTrade'|urlencode}}" class="pin-it-button" count-layout="horizontal">
                <i class="fa fa-pinterest"></i>
                Share on Pinterest
              </a>
            </div>
            <div class="col-sm-6">
              <a  class="btn btn-social btn-block btn-google-plus" href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}">
                <i class="fa fa-google-plus"></i>
                Share on Google+
              </a>
              <a  class="btn btn-block btn-social btn-tumblr" href="http://www.tumblr.com/share" title="Share on Tumblr">
                <i class="fa fa-tumblr"></i>
                Share on Tumblr
              </a>
                 
              <a  class="btn btn-block  btn-social btn-bitbucket" href="http://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|urlencode}}&title={{screen_name}} on FOodTrade&summary=Hey, view my profile on Foodtrade.&source=">
                <i class="fa fa-linkedin"></i>
                Share on LinkedIn
              </a>
            </div>
            </div>
            </div>
              <script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
            </div> 
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- <div class="icons text-center" style="font-size:25px">
        <a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-twitter-square"></i></a> 
        <a href="#"><i class="fa fa-phone-square"></i></a> 
        <a href="#"><i class="fa fa-rss-square"></i></a> 
        <a href="#"><i class="fa fa-envelope"></i></a> 
        <a href="#"><i class="fa fa-globe"></i></a> 
        <a href="#"><i class="fa fa-youtube"></i></a> 
        <a href="#"><i class="fa fa-linkedin-square"></i></a> 
      </div>  -->
      
     <!-- modal_contact -->
      <div class="modal fade" id="modal_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Contact {{userinfo.name}}</h4>
            </div>
            <div class="modal-body">
            <div class="container-responsive">
              <div class="row">
                <div class="col-sm-4">
             
                  <address>
                    
          <a href="mailto:{{email}}" target="_blank"><i class="fa fa-envelope text-muted"></i> {{email}} </a><br />
          <a href="http://twitter.com/{{screen_name}}"  target="_blank"><i class="fa fa-twitter text-muted"></i> {{screen_name}}</a><br />
          <a href="callto:{{phone_number}}"><i class="fa fa-phone text-muted"></i> {{phone_number}}</a>
                  </address>
                </div>
                
                <div class="col-sm-8 contact-form">
                  <form id="contact" method="post" class="form" role="form">
                    <div class="row">
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_name" name="name" placeholder="Name" type="text" required autofocus value = "{{userinfo.full_name}}"/>
                      </div>
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_email" name="email" placeholder="Email" type="email" required value = "{{userinfo.email}}" />
                      </div>
                    </div> 
                    <textarea class="form-control counted" id="email_message" placeholder="Type in your message" rows="5"></textarea>
                    <h6 class="pull-right" id="counter">320 characters remaining</h6>
                     
                  </form>
                </div>
              </div>
            </div>
 
   
            </div>
            <div class="modal-footer"> 
              <button type="button" class="btn btn-success" onclick="post_contact_tweet('{{screen_name}}')">Tweet it</button>
              <button type="button" class="btn btn-success" onclick="send_email('{{email}}')">Email it</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- modal_customer -->
      <div class="modal fade" id="modal_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">You're a member of {{name}}?</h4>
            </div>
            <div class="modal-body">
 
            <p><strong>Thanks!</strong> Knowing where customers are is a win-win. BUSINESS NAME understands how it can better serve you, and in time we'll help them keep you informed about special local offers. </p> 
            <p>Examples might include home deliveries from your local shops, later opening hours, or working together with other local business to make things better. </p>
            <p>We'll show you as being a customer and put a small dot on the map near your location.</p>
   
            </div>
            <div class="modal-footer"> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onClick="add_member({{profile_id}}, {{user_id}})" data-dismiss="modal">Yes, I'm a happy member!</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
 
      </div><!-- end header last -->
    </div>
    </div>
    <div class="row">
     <div class="col-md-12">
        <ul class="nav nav-tabs ">
          <li class="active"><a href="#members" data-toggle="tab">Members <span class="badge ">{{members|length}}</span></a></li>
          <li><a href="#foods" data-toggle="tab">Foods  <span class="badge">{{food_count}}</span></a></li> 
          <li><a href="#people" data-toggle="tab">Team <span class="badge ">{{teams|length}}</span></a></li>
          <li><a href="#updates" data-toggle="tab">Updates <span class="badge ">{{updates_count}}</span></a></li>
        </ul>
     </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="container-responsive clearfix">
        <div class="tab-content">
          <div class="tab-pane active fade in " id="members">
  <!--     {% if user.is_authenticated %}
<div>
  
      <div class="btn-group btn-block" data-toggle="buttons">
        {% if logged_member %}
      <label class="fa fa-check btn btn-default btn-block active" style="width:30%%;" title="{{userinfo.full_name}} is member of {{name}}" >
      <input type="checkbox" checked="checked" class="member-chkbx" onchange="add_member({{profile_id}}, {{user_id}})">I'm a member!
      {% else %}
      <label class="btn btn-default btn-block" style="width:30%;" title="{{userinfo.full_name}} is member of {{name}}" >
      <input type="checkbox" class="member-chkbx" onchange="add_member({{profile_id}}, {{user_id}})">I'm a member!
  {% endif %}
 </label></div></div>
        
            {% endif %} -->
            <div class="clearfix"> 
                    {% for each_mem in members %}
                        <div class="card card-business">
                          <div class="content">
                            <div class="pull-left">
                              <img src="{{each_mem.photo}}" alt="{{each_mem.name}}"
                              class="img-rounded img-responsive" style="width:40px;" /> 
                      
                            </div>
                            <div class="text">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                              <h5><a href="/profile/{{each_mem.username}}">{{each_mem.name}}</a> 
                              </h5>  
                              <p class="small">{{each_mem.description}}</p>
                            </div>
                          </div>
                          <div class="numbers clearfix">
                    {% if each_mem.type|length == 0 or each_mem.type|first == '' %}
                      {% else %}
                      <div class="tags tags-biztype pull-left">  
                        {% for e in each_mem.type %}
                       <a href="/activity/?q={{e}}">{{e}}</a>
                       {% endfor %}
                      </div>{% endif %}
                            <p class="small pull-right">
                              <a href="#" title="{{each_mem.food_no}} Foods"><i class="fa fa-cutlery"></i> {{each_mem.food_no}}</a>
                              <a href="#" title="{{each_mem.trade_conn_no}} conn"><i class="fa fa-link"></i> {{each_mem.trade_conn_no}}</a>
                              <a href="#" title="{{each_mem.org_conn_no}} Organisations"><i class="fa fa-group"></i> {{each_mem.org_conn_no}}</a> 
                            </p>
                          </div>
                        </div> 
                        {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="foods">
            <div class="container-responsive">
              <div class="row"> 
                <div class="col-md-12">
                  <form action="#" method="get">
                      <div class="input-group well well-sm">
                          <input class="form-control" id="system-search" name="q" placeholder="Search foods from {{name}} members..."  required>
                          <span class="input-group-btn">
                              <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                          </span>
                      </div>
                  </form>
                   <table class="table table-list-search">
                      <tbody>
                              {% for each in members_foods %}
                                  {% for eachfood in each.foods%}
                          <tr>
                              <!-- <td>{{eachfood.food_name}}</td> -->
                            <td><a href="/profile/{{each.username}}/"> <img class="pull-left" style="margin:0 50px 0 5px; width:25px;" src={{each.photo}} title="{{each.username}}"/>{{eachfood.food_name}}</a></td>
                          </tr> 
                                {% endfor %}
                              {% endfor %}
                      </tbody>
                      
                  </table>   
                </div>
              </div>
            </div>
          </div> 
          <div class="tab-pane fade" id="people">
{% ifequal loggedin_signupas "Individual" %}
           <!-- <button class="btn btn-default">
              <i class="fa fa-smile-o "></i> Do you work here?
            </button>  -->
<!--             <button class="btn btn-success" onClick="add_team({{profile_id}}, {{user_id}})">
              <i class="fa fa-check "></i> I work here
            </button>  -->
            <div class="btn-group btn-block" data-toggle="buttons">
        {% if logged_team %}
      <label class="fa fa-check btn btn-default btn-block active" style="width:30%;">
      <input type="checkbox" checked="checked" id="team-chkbx" onchange="add_team({{profile_id}}, {{user_id}})">I work here
      {% else %}
      <label class="btn btn-default btn-block" style="width:30%;" >
      <input type="checkbox" id="team-chkbx" onchange="add_team({{profile_id}}, {{user_id}})">I work here
  {% endif %}
 </label></div>
{% endifequal %}
            <div class="clearfix">
          {% for each in teams %}
                <div class="card card-individual">
                  <div class="content">
                    <img src="{{each.photo}}" alt="{{each.name}}"
                    class="img-rounded img-responsive pull-left" style="width:40px;" />
                    <div class="text">
                      <h5><a href="/profile/{{each.username}}">{{each.name}}</a> <span class="label label-success pull-right">Role</span></a></h5> 
                      <p class="small">
                      {{each.description}}
                    </div>
                  </div>
                 
                </div> 
                {% endfor %}
            </div> <!-- end clearfix  -->
          </div>
          <div class="tab-pane fade" id="updates">
          <div class="container-responsive">
          <div class="row">
              <div class="col-md-12">
            {% if user.is_authenticated %}
                  <div class="">

                      <!-- if this is the profile of the logged in user -->
                      <!-- <div class="well well-sm">
                          <div class="input-group">
                              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Send an update..." />
                              <span class="input-group-btn">
                                  <button class="btn btn-warning btn-sm" id="btn-chat">
                                      Send</button>
                              </span>
                          </div>
                      </div> -->
                      <!-- // if this is the profile of the logged in user -->
                      <div class="">
                          <ul class="chat">
                          {% for eachUpdate in updates %}
                              <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="{{eachUpdate.user.profile_img}}" />
                              </span>
                                  <div class="chat-body clearfix">
                                      <div class="header">
                                          <strong class="primary-font">{{eachUpdate.user.name}}</strong> <small class="pull-right text-muted">
                                              <span class="glyphicon glyphicon-time"></span>{{eachUpdate.time_elapsed}} ago</small>
                                      </div>
                                      <p>
                                         {{eachUpdate.status}}
                                      </p>
                                  </div>
                              </li>
                          {% endfor %}    
                          </ul>
                      </div>
                  </div>
              {% else %}
                <p class="alert alert-warning"><a href="{% provider_login_url "twitter" process="login" %}" class="">Login</a> or <a href="{% provider_login_url "twitter" process="login" %}" class="">sign up free</a> to see updates and activity. </p>
              {% endif %}

              </div>

          </div>

          </div>
        </div>
     
        
      </div>
 
 
        </div><!-- container responsive -->
  
      
 
   
      </div><!-- end col8 --> 
    </div><!-- col6 --> 
  </div>
  <div class="col-md-4 col-sm-3">
    <div style="width:100%; z-index: 100;" id="map">
      <div class="alert alert-warning">
          <p>This map shows 
          Customers as points
          Stockist as organge lines and 
          Supplieras as purple lines</p>
          <p>There are radius lines at 15, 30, and 100 miles.</p>
        </div>
           </div> 
           </div>
      
   
        
        <script type="text/javascript">
    map_lat={{ loc.lat }};
    map_lon = {{ loc.lon }};
connections = {{members_str | safe}};

var name = "{{userprof.full_name}}";
      var description = "{{userprof.description}}";
      var photo =  "{{userprof.profileimg}}";
      var username = "{{userprof.username}}";
      var type = "{{userprof.type}}".split(',');
      var latitude =  {{userprof.lat}};
          var longitude =  {{userprof.lon}};
    </script>
    <script src="{% static "js/organisation-map.js" %}"></script>
     <script src="{% static "js/contact.js" %}"></script>

{% endblock %}
