{% load recognise_name %}
{{request.user.username}}
    <li class="left clearfix singleresult {{result.result_class}}" data-id="{% if result_type == "status" %}{{result.tweetuid}} {% else %}{{result.user.username}}{% endif %}"><span class="chat-img pull-left">
    <img src="{{result.user.profile_img}}" alt="{{result.user.name}}" class="img-thumbnail" />
    </span>
        <div class="chat-body clearfix">
 
           
        <div class="btn-group pull-right  " style="margin-left: 5px;">
              <button type="button" class="btn btn-info btn-xs">Reply</button>
              <button type="button" class="btn btn-info  btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">  
              <li><a href="http://www.facebook.com/sharer/sharer.php?u=http://foodtrade.com/{% if result_type == "status" %}{{result.user.username}}/post/{{result.tweetuid}}{% else %}profile/{{result.user.username}}{% endif %}" target="_blank"><i class="fa fa-facebook fa-fw"></i> Share on Facebook</a></li>
              <li><a href="http://twitter.com/home?status={{result.status|urlencode}}%20http://foodtrade.com/{% if result_type == "status" %}{{result.user.username}}/post/{{result.tweetuid}}{% else %}profile/{{result.user.username}}{% endif %}" target="_blank"><i class="fa fa-twitter fa-fw"></i> Share on Twitter</a></li>
              <li class="divider"></li>
              {%  if userinfo.user_type == "Business" and result.sign_up_as == "Business" and result.user.username != userinfo.username %}
              <li><a href="#" onclick="click_activity('buyFrom','{{result.useruid}}')">I buy from</a></li>
              <li><a href="#"onclick="click_activity('sellTo','{{result.useruid}}')">I sell to</a></li> 
              <li class="divider"></li>
              {% endif %}
              {% if result.sign_up_as == "Organisation" %}
              <li><a href="#" onclick="click_activity('markMember', '{{result.useruid}}')">I'm a member</a></li>
              {% endif %}
              {% if userinfo.user_type == "Individual" and result.sign_up_as == "Business" %}
              <li><a href="#" onclick="click_activity('markCustomer', '{{result.user.username}}')">I'm a customer</a></li>
              {% endif %}
              <li class="divider"></li>
              {% if result.user.username == userinfo.username or userinfo.is_superuser %}
              <li><a href="#" class="deletetweet" data-tweet-id = "{{result.tweetuid}}">Delete</a></li>
              {% endif %}
              {% if result.user.username != userinfo.username %}
              <li><a href="#" onclick="click_activity('spam','{% if result_type == "status" %}{{result.tweetuid}} {% else %}{{result.user.username}}{% endif %}')">Flag as spam</a></li>
              <li><a href="#" onclick="click_activity('follow','{{result.user.username}}')">Follow on Twitter</a></li>
              {% endif %}
              <li><a href="/profile/{{result.user.username}}/">View full profile</a></li> 
            </ul> 
          </div>  


            <div class="header">
            <!-- certificate -->
          {% if result.subscribed %}
          <span class="fa-stack pull-right verified" rel="tooltip" title="Verified profile">
            <i class="fa fa-certificate fa-stack-2x" style="color: #1DBD3C;"></i>
            <i class="fa fa-check fa-stack-1x" style="color: #fff;"></i>
          </span>
          {% endif %}
          <!-- certificate -->
                <strong class="pull-left" style="margin-right: 10px;">
                <a href="/profile/{{result.user.username}}">
                  {% if result.user.business_org_name != None %}
                      {% if result.sign_up_as == "Business" and result.user.business_org_name != '' or result.sign_up_as == "Organisation" and result.user.business_org_name != '' %}
                        {{result.user.business_org_name}}
                      {% else %}
                        {{result.user.name}}
                      {% endif %}
                {% else %}
                    {{result.user.name}}
                {% endif %}
                </a> 
                </strong> 

          {% if type_user|length == 0 or type_user|first == '' %}
          {% else %}
          {% if result.sign_up_as == "Business" %}
            <div class="tags tags-biztype">  
              {% for tag in result.type_user  %}
                <a href="/activity/?b={{tag}}">{{tag}}</a>
              {% endfor %}
            </div> 
            {% endif %}
          {% endif %}
            </div>

            <p>
                {{result.status|recognise_name|safe}}
            </p>

              <div class="meta small text-muted">
                <span class="hidden-sm hidden-xs">
                  <i class="fa fa-map-marker"></i>
                  {{result.user.address}}
                </span>

                 <!-- if logged in or you've allows html5 browser location -->
                 {% if result.distance_text != "NA" %}

                 <a href="http://maps.google.com/maps?saddr={{userinfo.lat}},{{userinfo.lon}}&daddr={{result.location.coordinates.1}},{{result.location.coordinates.0}}" 
                    target="_blank" data-placement="top" data-toggle="tooltip" 
                    class="text-muted" 
                    rel="tooltip" 
                    title="Get directions"> 
                 <i class="fa fa-location-arrow"></i> {{result.distance_text}}  
                 </a>
                 {% else %}
                 <i class="fa fa-location-arrow"></i> {{result.distance_text}}  
                 {% endif %}

                <!--  // if logged in or you've allows html5 browser location -->
                {% if result_type == "status" %}
                <span class="pull-right time_ago">
                   <a href="/{{result.user.username}}/post/{{result.tweetuid}}" class="text-muted"><i class="fa fa-clock-o"></i> {{result.time_elapsed}}</a> 
                </span>
                {% endif %}
              </div> 

              <!--- To show images from tweet !-->
              {% if result_type == "status" %}
              <div class="tweet-picture">
              <ul>
                {% for picture in result.tweet_pictures %}
                <li><img src="{{picture}}"></li>
                {% endfor %}
              </ul>
              </div>
              {% endif %}
              <!--- end tweet images !-->

        </div>

        <div class="reply well well-sm" style="margin:0;"> 
          <input class="form-control input-sm enterhandler reply_input" {% if result_type == "status" %}data-tweet-id = "{{result.tweetuid}}" {% endif %} data-main = "{{position}}"   {% if not userinfo.username %} data-toggle="tooltip" data-placement="top" title="Please login to use this feature." {% endif %} type="text" placeholder="Reply to {{result.mentions}}" data-mentions = "{{result.mentions}}">
        </div>
    </li>