{% extends 'tbase.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% load recognise_name %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}

 
{% block ogtype %}{% if userprof.user_type == "Business" %}business.business{%endif%}{% if userprof.user_type == "Individual" %}Profile{%endif%}{% if userprof.user_type == "Organisation" %}business.business{%endif%}{% endblock %}

{% block titlecontent %}{{userprof.full_name}}{% endblock %}
{% block titlemain %}{{userprof.full_name}}{% endblock %}

{% block description %}{{userprof.description}}{% endblock %}

{% block fblat %}{{userprof.lat}}{% endblock %}
{% block fblon %}{{userprof.lon}}{% endblock %}
{% block fbzipcode %}{{userprof.zip_code}}{% endblock %}
{% block fbcountry %}{{userprof.country}}{% endblock %}
{% block ogimg %}{{userprof.profileimg}}{% endblock %}

{% block metatitle %}{{userprof.full_name}}{% endblock %}
{% block metadescription %}{{userprof.description}}{% endblock %}

{% block contact %}
  {% if userprof.user_type == 'Business' or userprof.user_type == 'Organisation' %}
  <meta property="business:contact_data:postal_code"    content="{{userprof.zip_code}}" /> 
  <meta property="business:contact_data:country_name"   content="{{userprof.country}}" /> 
  <meta property="business:contact_data:street_address" content="{{userprof.address}}" /> 
  <meta property="business:contact_data:locality"       content="{{userprof.address}}" /> 
  {% endif %}
{% endblock %}

{% block content %}
{% include 'modal_invite.html' %}

<div id="organisation">




<div class="row row-merge bizSummary border-left border-top  bg-gray" data-spy="affix" data-offset-top="45">
<div class="ftstrip"></div>
<div class="col-xs-9 bg-gray border-right">
   <div class="innerAll">
      <div class="media">
      <img src="{{pic_url}}"  alt="{{name}} logo" class="pull-left avatar">
      <div class="media-body"> 
        <h2 class="margin-none">{{name}}</h2>
        <span class="tags tags-biztype  ">   
         <a href="#">Organisation</a> 
        </span>  
      </div> 
      </div>
    </div>
</div>

<div class="col-xs-3 bg-gray border-right ">
  <div class="{% if not user.is_authenticated %} hidden {% endif %}  clearfix" id="distanceAway">   
      <span class="lead bold"> {{distance}} miles  </span>
      <small class="small clearfix margin0 hidden-xs">away from you</small> 
  </div> 
</div>

</div>

{% if loc.lat == -82.86275189999999 and loc.lon == -135.10000000000002 %}
{% else %} 
<div class="row row-merge bizSummary">
  <div class="col-xs-12">
    <div class="map-biz" id="map"></div> 
  </div><!-- col map --> 
</div>
{% endif %}



<div class="row row-merge bizSummary hidden">
<div class="col-xs-12">

<div class="row row-merge border-bottom border-right">
  <div class="col-sm-7 col-xs-8 border-left">
    <div class="innerAll">
       

      <p class="">{{description}}</p>  
      {% if user.is_superuser %}
        <a href="/editprofile/{{username}}/" class="btn btn-info btn-xs">Edit</a>
      {% endif %}

    </div> 
  </div>
  <div class="col-sm-3 ">
    <div class="innerAll">


    
      <!-- EDIT / CONTACT -->
        
      
      {% ifequal profile_id user_id %}
        <a href="/editprofile/{{userinfo.username}}" class="btn btn-info btn-block btn-sm ">
           Edit
        </a>       
      {% endifequal %}
      
      {% if request.user.is_authenticated %}
        <button class="btn btn-primary text-center normal btn-block" data-toggle="modal" data-target="#modal_contact"><i class="fa fa-envelope-o fa-fw"></i> Contact</button>
      {% endif %} 

      {% ifequal is_unknown_profile 'false' %}
      {% else %}
        <button class="btn btn-primary btn-stroke btn-block"  data-toggle="modal" data-target="#modal_invite">Invite to connect</button> 
      {% endifequal %} 
      <!-- EDIT / CONTACT -->


      <!-- CONNECT AS BUSINESS OR CUSTOMER --> 
      {% ifnotequal profile_id user_id %}
        {% if user.is_authenticated %}      

         <!-- are you a member -->
          <div class="btn-group btn-block" data-toggle="buttons">
            {% if logged_member %}
              <label class="fa fa-smile-o btn btn-default active" style="width:100%; padding: 8px 12px;" title="{{userinfo.full_name}} is member of {{name}}" >
              <input type="checkbox" checked="checked" class="member-chkbx" onchange="add_member({{profile_id}}, {{user_id}}, 'self')">
              <span class="fav">I'm a member!</span>
              </label>
            {% else %}
              <label class="fa fa-smile-o fa-fw btn btn-default " style="width:100%;" title="{{userinfo.full_name}} is member of {{name}}" >
              <input type="checkbox" class="member-chkbx" onchange="add_member({{profile_id}}, {{user_id}}, 'self')">
              <span class="fav">I'm a member!</span>
              </label>
            {% endif %}
          </div> 
          <!-- /are you a member -->

        {% else %}

          <!-- if not logged in show login prompt -->
          <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-primary btn-icon-stacked btn-block text-center"><i class="fa fa-2x fa-twitter"></i> <span>Login free <br><span class="normal">for more details</span>
          </a>

        {% endif %}

      {% endifnotequal %}
      <!-- / CONNECT AS BUSINESS OR CUSTOMER --> 



      <!-- VERIFIED PROFILE -->
      {% if prof_subscribed %}
      <button class="btn btn-primary btn-block btn-sm btn-stroke">
        <i class="fa fa-check"></i>
        <span>Verified</span>
      </button> 
      {% endif %}  
      <!-- VERIFIED PROFILE -->


  

    </div>  

    </div> 

 
  <div class="col-sm-2 hidden-xs">
    
    
  

    <div class="innerAll "> 

    <!-- SHARE -->
 
        <div class="btn-group btn-block" >
          <button type="button"  class="btn btn-default btn-block dropdown-toggle normal" data-toggle="dropdown"  ><i class="fa fa-fw fa-share-alt text-black "></i> share</button>
            <ul class="dropdown-menu ">
             <li> <a href="#" class="" onclick="window.open(
              'https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;p[images][0]='+encodeURIComponent('{{pic_url}}')+'&amp;p[title]='+encodeURIComponent('{{name}} on FoodTrade')+'&amp;p[summary]='+encodeURIComponent('Hey, see my profile on FoodTrade')+'&amp;u='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;t='+encodeURIComponent('{{name}} on FoodTrade'),
                    'facebook-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">

                <i class="fa fa-facebook fa-lg fb fa-fw"></i> Share on facebook 
              </a></li>
              <li>
              <a href="#" class="  " onclick="window.open(
                    'https://twitter.com/share?url='+encodeURIComponent('{{ request.build_absolute_uri }}')+'&amp;text='+encodeURIComponent('{{screen_name}} on @foodtradeHQ') + '&amp;count=none/', 
                    'twitter-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">
                <i class="fa fa-twitter fa-lg tw fa-fw"></i> Tweet this
              </a></li><li>
  
              <a class=" " href="http://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri|urlencode }}&media={{pic_url|urlencode}}&description={{screen_name|urlencode}}{{' on FoodTrade'|urlencode}}" class="pin-it-button" count-layout="horizontal">
                <i class="fa fa-pinterest fa-lg pinterest fa-fw"></i> Pin to pinterest
              </a> </li><li>
              <a  class="" href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}">
                <i class="fa fa-google-plus fa-lg google fa-fw"></i>  Share on Google+
              </a></li><li>
              <a  class=" " href="http://www.tumblr.com/share" title="Share on Tumblr">
                <i class="fa fa-tumblr fa-lg tumblr fa-fw"></i> Post to Tumblr
              </a>
                 </li><li>
              <a  class=" " href="http://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|urlencode}}&title={{screen_name}} on FoodTrade&summary=Hey, view my profile on Foodtrade.&source=">
                <i class="fa fa-linkedin fa-lg linkin fa-fw"></i>  Share on LinkedIn
              </a></li> 
              <script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
            </ul>
          </div>

          {% if request.user.is_authenticated %}
          <div class="btn-group btn-block" data-toggle="buttons">
            <label class="btn btn-default btn-block  {% if fav_profile %} active {% else %}{% endif %}">
              <input type="checkbox" id="favourite_btn" {% if fav_profile %} checked="checked" {% endif %} onchange="save_favourites('{{profile_id}}', '{{user_id}}'); return null;"> <i class="fa fa-star-o fa-fw text-black"></i> 
              <span class="fav">Favourite</span>
            </label> 
          </div>
          {% endif %}

      </div>
    </div>
  </div><!-- col2 -->
</div>
</div>  
<!-- contact -->  

</div><!-- row --> 






<!-- Nav tabs -->
<ul class="nav nav-tabs text-center" role="tablist" id="singleTabs">
  <li class="active"><a href="#produce" role="tab" data-toggle="tab">Members &amp; produce</a></li>
  <li><a href="#tradeswith" role="tab" data-toggle="tab">Marketplace</a></li> 
  <li><a href="#about" role="tab" data-toggle="tab">About</a></li>  
</ul>


<div class="row innerLR ">
  <div class="container" id="panelContainer">


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="produce">

  <div class="text-center">
    <!-- CONNECT AS BUSINESS OR CUSTOMER --> 
      {% ifnotequal profile_id user_id %}
        {% if user.is_authenticated %}      

         <!-- are you a member -->
          <div class="btn-group btn-block" data-toggle="buttons">
            {% if logged_member %}
              <label class="fa fa-smile-o btn btn-default active" style="width:100%; padding: 8px 12px;" title="{{userinfo.full_name}} is member of {{name}}" >
              <input type="checkbox" checked="checked" class="member-chkbx" onchange="add_member({{profile_id}}, {{user_id}}, 'self')">
              <span class="fav">I'm a member!</span>
              </label>
            {% else %}
              <label class="fa fa-smile-o fa-fw btn btn-default " style="width:100%;" title="{{userinfo.full_name}} is member of {{name}}" >
              <input type="checkbox" class="member-chkbx" onchange="add_member({{profile_id}}, {{user_id}}, 'self')">
              <span class="fav">I'm a member!</span>
              </label>
            {% endif %}
          </div> 
          <!-- /are you a member -->

        {% else %}

          <!-- if not logged in show login prompt -->
          <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-primary btn-icon-stacked btn-block text-center"><i class="fa fa-2x fa-twitter"></i> <span>Login free <br><span class="normal">for more details</span>
          </a>

        {% endif %}

      {% endifnotequal %}
      <!-- / CONNECT AS BUSINESS OR CUSTOMER --> 

  </div>

    <!-- MEMBERS --> 
    <div class="panel panel-default" id="panelMembers">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="fa fa-group"></i> <strong>Members</strong>
          {% if user.is_superuser or profile_id == user_id  %}
          &middot; <a href="#" class="small" data-target="#member_remote" data-toggle="collapse" >Add</a>
          <span data-target="#searchMembers" data-toggle="collapse" class="border-left innerL pull-right">
            <i class="glyphicon glyphicon-search"></i>
          </span>
          {% endif %}
          {% if members|length != 0 %}<span class="badge pull-right">{{members|length}}</span>{% endif %}
        </div>
      </div>  
 
      {% if user.is_superuser or profile_id == user_id  %}
      <div id="member_remote" class="well well-sm collapse">
      <input class="typeahead form-control" id="new_member_typeahead" {% if not user.is_authenticated %} rel="tooltip" title="Please login to use this feature" {% endif %} style="width:310px;" type="text" placeholder="add a member"></div>                  
      {% endif %}   

      <div class="collapse-in well-sm well" id="searchMembers">
        <input type="text" class="form-control" id="filterMembers" placeholder="Find a member" />
      </div>

       <div class="mCustomScrollbar scroll600">
        <table class="table table-hover table-condensed footable" id="membersTable" data-filter="#filterMembers" data-filter-text-only="true"> 
        
          <tbody>
          {% for each_mem in members %}  

            <tr data-toggle="collapse" data-target="#trMember{{each_mem.id}}" class="accordion-toggle">
              <td width="15">
                <a class="act" data-toggle="collapse"  data-target="#trMember{{each_mem.id}}">
                    <i class="fa fa-caret-down"></i>
                </a>
              </td>

              <td width="40">
                <a href="/profile/{{each_mem.username}}">
                  <img src="{{each_mem.photo}}" alt="{{each_mem.name}}" class="img-responsive" style="width:40px" />
                </a>
              </td>
              <td class=" "> 

                <a href="/profile/{{each_mem.username}}" class="black"><strong>{{each_mem.name}}</strong></a> 

                {% if user.is_superuser or userinfo.name == screen_name %}
                  <button type="button" class="close pull-right" aria-hidden="true" onclick="add_member({{profile_id}}, {{each_mem.id}}, 'third_delete')">
                    <i class="fa fa-trash-o"></i>
                  </button>
                {% endif %}  
              </td>
            </tr>
            <tr>
            <td colspan="3" class="hiddenRow">
              <div class="accordian-body collapse innerAll" id="trMember{{each_mem.id}}">

 
              <p class="">{{each_mem.description}}</p>
          

              {% if each_mem.type|length == 0 or each_mem.type|first == '' %}
                {% else %} 
                <p class="ellipsis  margin0">
                 {% for e in each_mem.type %}
                 <a href="/activity/?b={{e}}" class="label label-default label-stroke label-tag">{{e}}</a>
                 {% endfor %} 
                 </p>
               {% endif %} 
           
            {% if each_mem.banner_url %}
              <img src='{{each_mem.banner_url}}' title='{{each_mem.username}}' class='img-responsive'>
            {% endif %}  
           
              <div class='row row-merge border-top'>
                <!-- number of foods sold -->
                <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                  <a href="/profile/{{each_mem.username}}" class="innerAll half text-center display-block " data-original-title="{{each_mem.food_no}} foods" rel="tooltip"><i class="fa fa-fw fa fa-cutlery"></i> {{each_mem.food_no}}</a>
                </div>

                <!-- number of vouches across all produce --> 
                <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                  <a href="/profile/{{each_mem.username}}"  rel="tooltip" title="{{each_mem.total_vouches}} of vouches for all produce"  class="innerAll half text-center display-block "><i class="fa fa-fw fa-thumbs-o-up"></i> {{each_mem.total_vouches}}</a>
                </div> 

                <!-- number of trade connections --> 
                <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                  <a href="/profile/{{each_mem.username}}"  rel="tooltip" title="{{each_mem.trade_conn_no}} of trade connections" class="innerAll half text-center display-block "><i class="fa fa-fw fa-link"></i> {{each_mem.trade_conn_no}}</a>
                </div>

                <!-- number of group membershpis -->  
                <div class="{% if show_foods %}col-xs-3{% else %}col-xs-6{% endif %}">
                  <a href="/profile/{{each_mem.username}}"  rel="tooltip" title="Member of {{each_mem.org_conn_no}} groups or organisations"  class="innerAll half text-center display-block "><i class="fa fa-fw fa-group"></i> {{each_mem.org_conn_no}}</a>
                </div> 
              </div>  
            </div>
            </td>

          </tr>
          {% endfor %}
          </tbody>
          </table>
          </div>
 
    </div>
    <!-- MEMBERS -->


    <!-- FOODS -->
    <div class="panel panel-default" id="panelFoods">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="fa fa-truck"></i> <strong>Produce</strong> from members
          <div class="pull-right">
            {% if userprof.food_no != 0 %}<span class="badge">{{userprof.food_no}}</span>{% endif %}
            <span data-target="#searchFoods" data-toggle="collapse" class="border-left innerL">
              <i class="glyphicon glyphicon-search"></i>
            </span>
          </div>
          {% if food_count != 0 %}<span class="badge pull-right">{{food_count}}</span>{% endif %}
        </div>
      </div> 
      <div class="collapse-in well-sm well" id="searchFoods">
        <input type="text" class="form-control" id="filterFoods" placeholder="Find a food" />
      </div>
      <div class="mCustomScrollbar scroll600">
        <table class="table table-hover table-condensed footable toggle-arrow-circle-filled" id="foodTable" data-filter="#filterFoods" data-filter-text-only="true"> 
        <thead class="hidden">
            <tr> 
              <th data-hide="" data-class="vcenter" >
                image
              </th>
              <th data-hide=" " data-class="vcenter">
                food
              </th>
              <th data-hide="" data-class="vcenter" >
                name
              </th> 
            </tr>
          </thead>
          <tbody> 
            {% for each in members_foods %}
              {% for eachfood in each.foods%}
              <tr> 
                <td>
                  <a href="/profile/{{each.username}}/"> 
                    <img style="width:25px;" src={{each.photo}} title="{{each.username}}"/>  
                  </a>
                </td>
                <td>
                  <a href="/profile/{{each.username}}/">{{eachfood.food_name}}</a>
                </td>
                <td>
                  <a href="/profile/{{each.username}}/" class="text-muted pull-right"> 
                    {{each.username}}
                  </a>
                </td>
              </tr> 
              {% endfor %}
            {% endfor %}
          </tbody>
          
      </table>   
      </div> 
    </div>
    <!-- FOODS -->

  </div><!-- produce and members -->
  <div class="tab-pane fade" id="tradeswith">
     <!-- ACTIVITY -->
    <div class="panel panel-default" id="panelMarketplace" style="width: 100% !important;">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="fa fa-bullhorn"></i> <strong>Marketplace</strong>
        
          {% if updates_count != 0 %}<span class="badge pull-right">{{updates_count}}</span>{% endif %}
        </div>   
      </div> 

      <div class="collapse-in well-sm well" id="searchMarket">
        <input type="text" class="form-control" id="filterMarket" placeholder="Find a trade" />
      </div>

      <div class="mCustomScrollbar scroll600">
        <table class="table table-hover footable table-condensed" id="foodTable" data-filter="#filterMarket" data-filter-text-only="true"> 
       
          <tbody>   
          {% for eachUpdate in updates %}
 
              <tr data-toggle="collapse" 
                  class="accordion-toggle {{eachUpdate.eachUpdate_class}} {% if eachUpdate.subscribed %} verified {% endif %}" 
                  data-id="{% if eachUpdate_type == "status" %}{{eachUpdate.tweetuid}} {% else %}{{username}}{% endif %}"
                  data-target="#{{eachUpdate.tweetuid}}"> 
                <td width="15">
                  <a class="act" data-toggle="collapse"  data-target="#{{eachUpdate.tweetuid}}">
                      <i class="fa fa-caret-down"></i>
                  </a>
                </td>
                <td width="30">
                  <a href="/profile/{{eachUpdate.user.name}}/"> 
                    <img src="{{eachUpdate.user.profile_img}}" alt="{{eachUpdate.user.name}}" class="img-responsive" />
                  </a>
                </td>
                <td> 
                  {% if eachUpdate.subscribed %}<i class="fa fa-check text-primary" rel="tooltip" title="Verified profile"></i>{% endif %}
                </td>
                <td>
                  {% if eachUpdate.status %} 
                    {{eachUpdate.status|recognise_name|safe}} 
                  {% endif %}
                </td> 
                <td nowrap="nowrap">
                  <a href="/{{username}}/post/{{eachUpdate.tweetuid}}" class="pull-right text-muted">
                    <i class="fa fa-clock-o text-muted"></i> {{eachUpdate.time_elapsed}}</a>
                </td>

              </tr>
              <tr>

                <td colspan="5" class="hiddenRow">
                <div class="accordian-body collapse innerAll" id="{{eachUpdate.tweetuid}}">

            
                  <a href="/profile/{{eachUpdate.user.name}}" class="bold">
                  {% if eachUpdate.user.business_org_name != None %}
                      {% if eachUpdate.sign_up_as == "Business" and eachUpdate.user.business_org_name != '' or eachUpdate.sign_up_as == "Organisation" and eachUpdate.user.business_org_name != '' %}
                        {{eachUpdate.user.business_org_name}}
                      {% else %}
                        {{eachUpdate.user.name}}
                      {% endif %}
                  {% else %}
                      {{eachUpdate.user.name}}
                  {% endif %}
                  </a>
             
                  <span class="truncate100 address" > 
                    {{eachUpdate.user.address}}
                  </span> 
                
                  <a type="button" class="btn btn-primary btn-xs" href="/{{eachUpdate.user.username}}/post/{{eachUpdate.tweetuid}}/">
                    View update 
                  </a> 
                </div>
                </td>
              </tr>  
          {% endfor %}
          </tbody>
          
      </table>   
      </div>  
    </div>  
    <!-- ACTIVITY -->



  </div><!-- marketplace --> 
  <div class="tab-pane fade" id="about">
 
    
       

    <!-- contact etc -->
    <div class="panel panel-default" id="panelTeam">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="fa fa-comment"></i> <strong>About us</strong> 
        </div>
      </div> 
      <div class="panel-body" id="">

      <p class="">{{description}}</p>  


         <address>

          <a href="mailto:{{email}}" class="dotdotdot" target="_blank"><i class="fa fa-envelope text-muted fa-fw"></i> {{email}} </a><br />
          <a href="http://twitter.com/{{screen_name}}"  target="_blank"><i class="fa fa-twitter text-muted fa-fw"></i> {{screen_name}}</a><br />
          {% if phone_number %}
          <a href="callto:{{phone_number}}"><i class="fa fa-phone text-muted fa-fw"></i> {{phone_number}}</a>
          {% endif %}

           {% if loc.lat == -82.8627519 and loc.lon == -135.0 %}
              <i class="fa fa-map-marker"></i> <a > NA</a>
              <i class="fa fa-location-arrow"></i> NA
            {% else %}
            <i class="fa fa-map-marker fa-fw"></i> <a href="http://maps.google.com/maps?saddr={{loggedin_coord.lat}},{{loggedin_coord.lon}}&daddr={{loc.lat}},{{loc.lon}}" target="_blank" data-placement="top" data-toggle="tooltip" title="Get directions">
              {{address}}
          </a>      <br />
            <!-- if logged in or you've allows html5 browser location -->
            <i class="fa fa-location-arrow fa-fw"></i> {{distance}} miles  
            {% endif %}
            <!--  // if logged in or you've allows html5 browser location -->
  
                  </address>

     
         <button class="btn btn-primary normal" data-toggle="modal" data-target="#modal_contact"><i class="fa fa-envelope-o fa-fw"></i> Contact</button>
                    
       
        



      {% if user.is_superuser %}
        <a href="/editprofile/{{username}}/" class="btn btn-info btn-xs">Edit</a>
      {% endif %}


      
      {% ifequal profile_id user_id %}
        <a href="/editprofile/{{userinfo.username}}" class="btn btn-info btn-block btn-sm ">
           Edit
        </a>       
      {% endifequal %}
      


    


      <!-- VERIFIED PROFILE -->
      {% if prof_subscribed %}
      <button class="btn btn-primary btn-block btn-sm btn-stroke">
        <i class="fa fa-check"></i>
        <span>Verified</span>
      </button> 
      {% endif %}  
      <!-- VERIFIED PROFILE -->



      </div>

      <hr />
       {% ifequal loggedin_signupas "Individual" %} 
          <div class="btn-group btn-block clearfix text-center innerAll" data-toggle="buttons">
          {% if logged_team %}
              <label class="fa fa-check btn btn-default btn-block active">
              <input type="checkbox" checked="checked" id="team-chkbx" onchange="add_team({{profile_id}}, {{user_id}})">I work here
              {% else %}
              <label class="btn btn-default btn-block">
              <input type="checkbox" id="team-chkbx" onchange="add_team({{profile_id}}, {{user_id}})">I work here
          {% endif %}
              </label>
          </div>
        {% endifequal %}
      <div class="panel-body groupsGrid" id="people">

 
        <div class="clearfix">
          {% for each in teams %}    
            <div class="groupItem clearfix">
              <div class="text-center">
                <a href="/profile/{{each.username}}"><img src="{{each.photo}}" alt="{{each.name}}"
                class="img-thumbnail img-responsive img-circle" style="width:50px; height:50px;" /></a>
                <strong class="clearfix"><a href="/profile/{{each.username}}" class="text-black">{{each.name}}</a></strong> 
              </div>
              <p class='small'>{{each.description|truncatechars:80}}</p>
             
              {% ifequal profile_id user_id %}
              <button type="button" class="btn btn-danger btn-xs pull-right" aria-hidden="true" onclick="conn_handler('close_buy_from', {{profile_id}}, {{each.id}})"><i class="fa-trash-o fa"></i> Remove</button> 
              {% endifequal %}
            </div>  
          {% endfor %}
        </div>
      </div>  
    </div>
    <!-- contact etc --> 



    <!-- PHOTO --> 
    {% ifnotequal banner_url '' %}
      <div class="panel panel-default">
        <img src="{{banner_url}}" class="img-responsive" style="height:100%;">
      </div>
    {% endifnotequal %} 
    <!-- PHOTO --> 

  </div><!-- about --> 

</div>
 

  </div>
 
</div> 
 


<!-- modals -->

    
<!--SHARER  Modal -->
<div class="modal fade" id="sharer" tabindex="-1" role="dialog" aria-labelledby="sharer" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"> 
        <div class="container-responsive">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="btn btn-block  btn-social btn-facebook" onclick="window.open(
              'https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;p[images][0]='+encodeURIComponent('{{pic_url}}')+'&amp;p[title]='+encodeURIComponent('{{name}} on FoodTrade')+'&amp;p[summary]='+encodeURIComponent('Hey, see my profile on FoodTrade')+'&amp;u='+encodeURIComponent('{{ request.build_absolute_uri }}') +'&amp;t='+encodeURIComponent('{{name}} on FoodTrade'),
                    'facebook-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">

                <i class="fa fa-facebook"></i>  Share on Facebook
              </a>
              <a href="#" class="btn btn-block  btn-social btn-twitter" onclick="window.open(
                    'https://twitter.com/share?url='+encodeURIComponent('{{ request.build_absolute_uri }}')+'&amp;text='+encodeURIComponent('{{screen_name}} on @foodtradeHQ') + '&amp;count=none/', 
                    'twitter-share-dialog', 
                    'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                  return false;">
                <i class="fa fa-twitter"></i>  Share on Twitter
              </a>
  
              <a class="btn  btn-block  btn-social btn-pinterest" href="http://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri|urlencode }}&media={{pic_url|urlencode}}&description={{screen_name|urlencode}}{{' on FoodTrade'|urlencode}}" class="pin-it-button" count-layout="horizontal">
                <i class="fa fa-pinterest"></i>
                Share on Pinterest
              </a>
            </div>
            <div class="col-sm-6">
              <a  class="btn btn-social btn-block btn-google-plus" href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}">
                <i class="fa fa-google-plus"></i>
                Share on Google+
              </a>
              <a  class="btn btn-block btn-social btn-tumblr" href="http://www.tumblr.com/share" title="Share on Tumblr">
                <i class="fa fa-tumblr"></i>
                Share on Tumblr
              </a>
                 
              <a  class="btn btn-block  btn-social btn-bitbucket" href="http://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|urlencode}}&title={{screen_name}} on FOodTrade&summary=Hey, view my profile on Foodtrade.&source=">
                <i class="fa fa-linkedin"></i>
                Share on LinkedIn
              </a>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal_contact -->
      <div class="modal fade" id="modal_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Contact {{userinfo.name}}</h4>              
            </div>
            <div class="modal-body">
            <div class="container-responsive">
              <div class="row">
                <div class="col-sm-4">
             
                  <address>
                    
          <a href="mailto:{{email}}" class="dotdotdot" target="_blank"><i class="fa fa-envelope text-muted fa-fw"></i> {{email}} </a><br />
          <a href="http://twitter.com/{{screen_name}}"  target="_blank"><i class="fa fa-twitter text-muted fa-fw"></i> {{screen_name}}</a><br />
          {% if phone_number %}
          <a href="callto:{{phone_number}}"><i class="fa fa-phone text-muted fa-fw"></i> {{phone_number}}</a>
          {% endif %}
                  </address>

     
         <div class="meta">
            {% if loc.lat == -82.8627519 and loc.lon == -135.0 %}
              <i class="fa fa-map-marker"></i> <a > NA</a>
              <i class="fa fa-location-arrow"></i> NA
            {% else %}
            <i class="fa fa-map-marker fa-fw"></i> <a href="http://maps.google.com/maps?saddr={{loggedin_coord.lat}},{{loggedin_coord.lon}}&daddr={{loc.lat}},{{loc.lon}}" target="_blank" data-placement="top" data-toggle="tooltip" title="Get directions">
              {{address}}
          </a>      <br />
            <!-- if logged in or you've allows html5 browser location -->
            <i class="fa fa-location-arrow fa-fw"></i> {{distance}} miles  
            {% endif %}
            <!--  // if logged in or you've allows html5 browser location -->
  
         </div> <!-- meta -->


                </div>
                
                <div class="col-sm-8 contact-form">
                  <form id="contact" method="post" class="form" role="form">
                    <div class="row">
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_name" name="name" placeholder="Name" type="text" required autofocus value = "{{userinfo.full_name}}"/>
                      </div>
                      <div class="col-xs-6 col-md-6 form-group">
                        <input class="form-control" id="sender_email" name="email" placeholder="Email" type="email" required value = "{{userinfo.email}}" />
                      </div>
                    </div> 
                    <textarea class="form-control" id="email_message" placeholder="Type in your message" rows="5"></textarea>
                    <h6 class="pull-right" id="contact_counter">120 characters remaining</h6>
                     
                  </form>
                </div>
              </div>
            </div>
 
   
            </div>
            <div class="modal-footer"> 
              <button type="button" id="contact_tweet" class="btn btn-info" onclick="post_contact_tweet('{{screen_name}}')"><i class="fa fa-fw fa-twitter"></i> Tweet it</button>
              <button type="button" class="btn btn-success" onclick="send_email('{{email}}')"><i class="fa fa-envelope fa-fw"></i> Email it</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- modal_customer -->

      {% if request.user.is_authenticated %}
      <div class="modal fade" id="modal_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">You're a member of {{name}}?</h4>
            </div>
            <div class="modal-body">
 
            <p><strong>Thanks!</strong> Knowing where customers are is a win-win. BUSINESS NAME understands how it can better serve you, and in time we'll help them keep you informed about special local offers. </p> 
            <p>Examples might include home deliveries from your local shops, later opening hours, or working together with other local business to make things better. </p>
            <p>We'll show you as being a customer and put a small dot on the map near your location.</p>
   
            </div>
            <div class="modal-footer"> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onClick="add_member({{profile_id}}, {{user_id}})" data-dismiss="modal">Yes, I'm a happy member!</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
     {% endif %}


      
   
{% endblock %}
{% block footer %}  
{% include "includes/not_logged_in_modal.html" %}
    


 



     <script src="{% static "js/contact.js" %}"></script>
        <script type="text/javascript">

$('#member_remote').on('click', '.tt-suggestion', function(){
  var member_id = this.getElementsByClassName('result-name')[0];
  var member_var = $(member_id).attr('data-id');
  if(member_var == 'search'){
    $('#my_invite_twitter').click();
  }
  else{
    add_member({{profile_id}}, member_var, 'third_add')
    $('#new_member_typeahead').val('');
    $('.tt-hint').val('');
  }
});
$('#new_member_typeahead').on('blur', function(){
  $('#new_member_typeahead').val('');
});

var showcon = '{{showcon}}';
    map_lat={{ loc.lat }};
    map_lon = {{ loc.lon }};
connections = {{members_str | safe}};

var name = "{{userprof.full_name}}";
      var description = "{{userprof.description}}";
      var photo =  "{{userprof.profileimg}}";
      var username = "{{userprof.username}}";
      var type = "{{userprof.type}}".split(',');
      var latitude =  {{userprof.lat}};
          var longitude =  {{userprof.lon}};
  tweetlistener('email_message', 'contact_counter', 'contact_tweet');
    </script>


{% endblock %}
{% block javascript%}

     <script src="{% static "js/organisation-map.js" %}"></script>
{% endblock %}