{% load staticfiles %}
{% load staticfiles %}  
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% include "socialaccount/snippets/login_extra.html" %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="FoodTrade">
    <meta name="title" content="{% block metatitle %}Home{% endblock %} - FoodTrade" />
    <meta name="description" content="{% block metadescription %} FoodTrade is the tool foodies, artisans, and real food businesses have been waiting for. It helps you find your nearest producers and stockists, connect with collaborators, map your local food web, share knowledge about provenance, and trade in real-time. {% endblock %}" />

    <meta property="og:site_name" content="FoodTrade" />
    <meta property="og:description" content="{% block description %} FoodTrade is the tool foodies, artisans, and real food businesses have been waiting for. It helps you find your nearest producers and stockists, connect with collaborators, map your local food web, share knowledge about provenance, and trade in real-time. {% endblock %}" />
    <meta property="og:type" content="{% block ogtype %}website{% endblock %}" />
    <meta property="fb:admins" content="732525050" />
    <meta property="fb:app_id" content="1400801613504478" /> 
    <meta property="og:url" content="http://{{request.META.HTTP_HOST}}{{request.path}}" />
    <meta property="og:image" content="{% block ogimg %}http://{{request.META.HTTP_HOST}}/static/images/foodtrade_og_default.gif{% endblock %}" />
    <meta property="og:title" content="{% block titlecontent %}Home{% endblock %} - FoodTrade" />
    <meta property="og:latitude" content="{% block fblat %}{{userinfo.lat}}{% endblock %}" />
    <meta property="og:longitude" content="{% block fblon %}{{userinfo.lon}}{% endblock %}" />
    <meta property="og:postal-code" content="{% block fbzipcode %}{{userinfo.zip_code}}{% endblock %}" />
    <meta property="og:country-name" content="{% block fbcountry %}{{userinfo.country}}{% endblock %}" />
    


    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <title>{% block titlemain %}{% if 'activity' in request.path %}{% else %}Home {% endif %}{% endblock %} {% if 'activity' not in request.path %}-{% endif %} FoodTrade</title>
    <!-- CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/foodtrade.css" %}" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/css/docsupport/prism.css">
    <link rel="stylesheet" href="/static/css/chosen.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <style type="text/css">
      .margin-invite{
          margin-left: 77%;
          margin-top: -19%;
        }
        
      .margin-ta{
        margin-top: 1.5%;
      }
    </style>
    {% block contact %}
      
    {% endblock %}

    
   
    
    
 {% block head %}
{% endblock %}
 <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" /> -->
     <link rel="stylesheet" href="{% static "css/leaflet.css" %}" /> 
  <link rel="stylesheet" href="{% static "css/label-leaflet.css" %}" /> 

<!-- <script src="{% static "js/leaflet.js" %}"></script> -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js"></script>

 
<script src="{% static "js/label-leaflet.js" %}"></script> 
<script type="text/javascript">

   var RedIcon = L.Icon.Default.extend({
            options: {
                  iconUrl:'/static/images/map_marker.png',

                  iconRetinaUrl:'/static/images/map_marker.png',
                  iconSize:[18, 18],
                  iconAnchor:[9, 18],
                   popupAnchor:[0, -18],
                  shadowURL: '/static/images/shadow-map_marker.png',
                  shadowRetinaUrl: '/static/images/shadow-map_marker.png',
                  shadowSize:[28, 18],
                  shadowAnchor: [9,18], 
            }
         });
         var redIcon = new RedIcon();
</script>

 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="ftstrip"></div>
      <div class="container-responsive">

        <div class="navbar-header col-xs-2 col-sm-2 col-md-3"> 

          <div class="visible-xs visible-sm">
            <span data-toggle="offcanvas" style="top: 10px; position:relative;">
                  <span class="sr-only">Toggle navigation</span>
                  <img src="{% static "images/logo_icon_menu.png" %}" alt="FoodTrade logo" width="" />
            </span>
          </div>

          <a href="/" class="navbar-brand visible-md visible-lg">
            <img src="{% static "images/logo.png" %}" alt="FoodTrade logo"   />
          </a>

        </div> 
         
        <div class="col-sm-5 col-md-4 visible-sm visible-md visible-lg">
          <form action="/activity" class="navbar-form"  onsubmit="return formSubmit(this);"  role="search" data-step="1" data-intro="Search for anyhing, anywhere"
          style="border: 0;">
 
            <div class="form-group" style="margin-right:5px;"> 
              <input type="text" name="q" id="keyword" class="form-control  pac-input" value="{{ search.query }}" placeholder="Search for.."> 
            </div> 
            <div class="form-group" style="margin-right:5px;">
              <input type="text" name="location" id="pac-input" value="{% if search %}{{ search.place }}{% endif %}{% if not search %}{{userinfo.zip_code}}{% endif %}" class="pac-input form-control  " placeholder="Where?">
            </div>
            <input type="hidden" name="lon" id="lon" value="{{search.lon}}"/>
            <input type="hidden" name="lat" id="lat" value="{{search.lat}}"/>
 

            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
 
            
          </form>
        </div>

        <div class="col-xs-4 visible-xs "> 
          <form action="/activity"   onsubmit="return formSubmit(this);"  class="navbar-form" role="search" style="border: 0;">
          <div class="input-group"> 
              <input type="text" name="q" id="keyword" class="form-control" value="{{ search.query }}" placeholder="Search">  


              <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div> 
          </div>
          <input type="hidden" name="location" id="pac-input" value="{% if search %} {{ search.place }} {% endif %} {% if not search %} {{userinfo.zip_code}}{% endif %} ">
          <input type="hidden" name="lon" id="lon" value="{{search.lon}}"/>
          <input type="hidden" name="lat" id="lat" value="{{search.lat}}"/>
          </form>
        </div>


        {% if user.is_authenticated %}
        <div class="col-xs-4 col-sm-5  text-right">
          <ul class="nav navbar-nav pull-right">

                <li class="visible-md visible-lg"><a href="/pricing">Pricing</a></li> 


    <li class="dropdown" data-step="5" data-intro="See what's active">
 
      <a href="#" class="dropdown-toggle visible-md visible-lg" data-toggle="dropdown">
      Trending
      </a>

      <ul class="dropdown-menu">
        <li><a href="#"><h5>Trends this week</h5></a></li>
          {% for eachVal in userinfo.hashtagsthis %}
            <li><a href="/activity/?q=%23{{eachVal.uid|slice:"1:"}}&location=++None+&lon=&lat=">{{eachVal.uid}} <span class="badge pull-right">{{eachVal.value|floatformat:"0"}}</span></a></li>
          {% endfor %}


          <li><a href="#"><h5>Trends all time</h5></a></li>
          {% for eachVal in userinfo.hashtagsall %}
            <li><a href="/activity/?q=%23{{eachVal.uid|slice:"1:"}}&location=++None+&lon=&lat=">{{eachVal.uid}} <span class="badge pull-right">{{eachVal.value|floatformat:"0"}}</span></a></li>
          {% endfor %}
      </ul>
    </li>
  

      <li class="">
        <button data-step="2" data-intro="Post an update from any screen" data-position="left" type="button" class="btn btn-default navbar-btn" id="newpost"  data-toggle="modal" data-target="#newtwitterpost">
          <i class="fa fa-edit fa-fw"></i>  
        </button> 
      </li>

      <li id="divNotification" onclick="clear_notification()" class="hidden">
        <button  class="btn btn-default navbar-btn  dropdown-toggle margin-notices" data-toggle="dropdown" type="button" class="dropdown-toggle" data-toggle="dropdown">
           <i class="fa fa-bell-o" title="Notifications"></i> {{notification.notification_count}} 
        </button>
        <!-- <a id= "notification" href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{notification.notification_count}} <b class="caret"></b></a> -->
        <ul id="liNotification" class="dropdown-menu">
          <li><a href="#">No notifications.</a></li>
        </ul>
      </li><!-- /btn-group -->

      <li class="dropdown">

      <!-- bigger screens --> 
      <a href="#" class="dropdown-toggle visible-md visible-lg" data-toggle="dropdown" style="padding: 5px">
      <img class="img-thum bnail  img-round ed" style="  width:40px"  src="{{userinfo.profileimg}}"  /> <b class="caret"></b>
      </a>

      <!-- smaller screens --> 
      <a href="#" class="dropdown-toggle visible-sm visible-xs" data-toggle="dropdown" style="padding: 2px;" >
      <img class="img-thumbnail" style=" width:40px" style="padding: 2px;"  src="{{userinfo.profileimg}}"  />  <b class="caret"></b>
      </a>

          <ul class="dropdown-menu">
              <li class=" pull-left"><a href="/editprofile/{{userinfo.username}}"><i class="fa fa-user fa-fw"></i> Edit profile</a></li>

              <li class=" pull-left"><a href="/payments"><i class="fa fa-credit-card fa-fw"></i> Account &amp; billing</a></li> 
              <li class=" pull-left">
                <a src = "/accounts/logout" onclick="logout()" >
              <i class="fa fa-power-off fa-fw"></i> Logout</a></li>
          </ul>
      </li>
  </ul>  
</div>

            <script type="text/javascript">
            function logout()
            {
              window.location = '/accounts/logout';
            }
            </script>
      
        {% endif %}
         
          
          
 
         {% if not user.is_authenticated %} 
          <a type="button" class="btn btn-success navbar-btn navbar-right" style="margin-right: 15px;" data-toggle="modal" data-target="#modal_signup">
            <i class="fa fa-user fa-fw"></i><strong>Sign up</strong>
          </a>
         <a type="button" href="{% provider_login_url "twitter" process="login" %}" class="btn btn-success navbar-btn navbar-right" style="margin-right: 15px;">
            <i class="fa fa-user fa-fw"></i> <strong>Login</strong>
          </a>
         {% endif %}
          
      </div>

    <div class="ftstrip ftstrip-mini"></div>
    </nav>
    
   {% if user.is_authenticated %} 
    <div id="beta">
     Please <a href="/invite">invite your friends</a> - and then why not upgrade? <a href="/payments">Membership from just &pound;45</a>. We're stronger when we're connected.
    </div>
   {% endif %}


       <!-- New post Modal -->
      <div class="modal fade" id="modal-tweeter-user" tabindex="-1" role="dialog" aria-labelledby="newtwitterpost" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content"> 
            <div class="modal-body">
              <h2>Know someone who should be on FoodTrade? Invite them here:</h2>
        <span class="input-group-btn">
              <div class='pull-left twitter-user-suggestions' id="my_twitter_search">

  <input class="typeahead form-control" id="invite_tweeter_user" style="width:310px;" type="text" placeholder="Search Twitter users">
                         
                        </div>
          <button type="submit" id="btnSearchTweeterUsers" onclick="search_tweeter_users()" class="btn btn-default pull-left">
          <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
            <textarea id="invite_tweeter_user_text"  onkeyup="check_limit()" class="form-control counted-invite margin-ta" name="message" placeholder="Type in your message" rows="3">Join the #realfood search engine:  </textarea>
            </div>

            <div class="modal-footer">
              <button id="btnClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="dropdown-tweeter-user" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">Invite<b class="caret"></b></button>
                  <ul class="dropdown-menu margin-invite" role="menu" aria-labelledby="drop2">
                    <li role="presentation"><a role="menuitem" onclick="invite_tweeter_user('Individual')" tabindex="-1">As Individual</a></li>
                    <li role="presentation"><a role="menuitem" onclick="invite_tweeter_user('Business')" tabindex="-1">As Business</a></li>
                    <li role="presentation"><a role="menuitem" onclick="invite_tweeter_user('Organisation')" tabindex="-1">As Organisation</a></li>
                    <li role="presentation" class="divider"></li>
                  </ul>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

       <!-- New post Modal -->
          <div class="modal fade" id="newtwitterpost" tabindex="-1" role="dialog" aria-labelledby="newtwitterpost" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content"> 
                <div class="modal-body">               
                  <form accept-charset="UTF-8" action="" method="POST">
                      <textarea id="tweetMessage" class="form-control counted" name="message" placeholder="Type in your message" rows="5" ></textarea>
                  </form> 
                </div>
                <div class="modal-footer">
                  <h6 class="pull-left" id="counter">120 characters remaining</h6> 
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button id="newtweet_btn" type="button" class="btn btn-primary" onclick="UpdateStatus('tweetMessage')">Post update</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
<!-- modal_invite -->
<div class="modal fade hidden" id="modal_login_old" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
   
      <div class="modal-body">
<div class="container-responsive">
  <div class="row">
    <div class="main">
 
      <div class="row">  
        <div class="col-md-12 text-center">
          <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-lg btn-info btn-block"><i class="fa fa-twitter"></i> Sign in with Twitter</a>
        </div> 
<!-- USE THIS LATER!! 
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
        </div> -->
      </div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div>
      <form role="form">
        <div class="form-group">
          <label for="inputUsernameEmail">Username or email</label>
          <input type="text" class="form-control" id="inputUsernameEmail">
        </div>
        <div class="form-group">
          <a class="pull-right" href="#">Forgot password?</a>
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
        <div class="checkbox pull-right">
          <label>
            <input type="checkbox">
            Remember me </label>
        </div>
        <button type="submit" class="btn btn btn-primary">
          Log In
        </button>
      </form>
    
    </div>
    
  </div>
</div>
 
      </div>
 
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container-responsive clearfix" id="main_page">
 
<div class="row row-offcanvas row-offcanvas-left row-offcanvas-right" id="main_row">

<div id="sidebar" class="col-xs-6 col-sm-2 sidebar sidebar-offcanvas
{% if not user.is_authenticated %} 
hidden
{% endif %}
" role="navigation">

{% if not user.is_authenticated %} 
<div class="alert alert-info  ">
<a type="button" href="{% provider_login_url "twitter" process="login" %}"  class="btn text-center btn-primary btn-lg btn-block" style="  margin-top: 1em;"><i class="fa fa-twitter fa-fw"></i> Sign in</a>
</a>
</div>
{% endif %}


{% if user.is_authenticated or search.query %}
 {% if user.is_authenticated %}
        <!-- show the logged in users account --> 
        <div id="account_info">
        
        <div class="clearfix" style="margin-bottom: 10px;">
          <!-- twitter 78px image - 'large' -->
          <!--https://dev.twitter.com/docs/user-profile-images-and-banners -->
          <img class="pull-left img-rounded" style="margin:0 8px 0 0; width:30px"  src="{{userinfo.profileimg}}"  />
          <div class="content">
            <h4 style="margin:0;"><a href="/profile/{{userinfo.username}}">{{userinfo.full_name}}</a></h4>
            <small><a href="/editprofile/{{userinfo.username}}" class="text-muted">Edit your profile</a></small>
          </div>
        </div> 

        <div style="margin-left: 18px;">
   
          <p><a href="/activity"><i class="fa fa-dot-circle-o fa-fw"></i> Near me</a></p> 
 
          <p data-step="4" data-intro="Building a better food system is going to take all of us. Please invite your suppliers, stockists, customers, friends.. everyone! For everyone you invite who signs up, we'll give you a month free, too." rel="tooltip" title="For everyone you invite who signs up, we'll give you a month free!">
            <a data-toggle="modal" id="my_invite_twitter" data-target="#modal-tweeter-user"><i class="fa fa-twitter fa-fw"></i> Invite</a>
          </p>
          
          <p><a href="#" id="help"><i class="fa fa-question-circle fa-fw"></i> Help</a></p> 
          <p><a href="/inbox/" id="inbox" title="Inbox"><i class="fa fa-envelope fa-fw"></i> Inbox <span id="spanInbox" class="badge pull-right">{{userinfo.notification_count}}</span></a></p>
          {% if user.is_superuser %}
          <p><a href="/unclaimed-profiles/" id="unclaimed" title="Unclaimed Profiles"><i class="glyphicon glyphicon-certificate"></i> Unclaimed Profiles <!-- <span id="spanInbox" class="badge pull-right">{{userinfo.notification_count}}</span> --></a></p>  
          {% endif %}

        </div>



         {% if search.query == "" or not search.query %}
           
 
    <!--    {% ifequal userinfo.user_type 'Business' %}
              <p><a href="#">Connections <span class="badge pull-right">{{userinfo.trade_connections_no}}</span></a></p>
              <p><a href="#">Foods <span class="badge pull-right">{{userinfo.food_no}}</span></a></p>
              <p><a href="#">Organisations <span class="badge pull-right">{{userinfo.organisation_connection_no}}</span></a></p>
            {% endifequal %} -->

        <!-- 
        ADD IN AWARDS FUNCTIONALITY
        <p><a href="#">Awards <span class="badge pull-right">{{userinfo.organisation_connection_no}}</span></a></p>
         -->
          
          <!-- PUT EMPTY ONES AT THE BOTTOM OF THE LIST -->
          <!-- if ZERO ON ANY OF THESE -->
        
       <!--  <div class="alert alert-info small"> 
          <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
          <p><b>Want a great profile?</b></p>

        </div> -->
        {% endif %}
        </div><!-- /account_info -->

<!-- {% if search.query == "" or not search.query %}
    <hr /> 
   
      <h4>Who's nearby</h4>
 
        <p><a href="#">Individuals <span class="badge pull-right">{{userinfo.nearby_individuals_no}}</span></a></p>
        <p><a href="#">Businesses <span class="badge pull-right">{{userinfo.nearby_businesses_no}}</span></a></p> 
         {% endif %} -->
 {% endif %}

 
    {% if search %}
    <div class="foodtrade-sidebar">
    
    <hr>
     
    <div data-step="3" data-intro="Just start typing to search for specific foods, business type, or filter by organisation membership" data-position="right">
    <form role="form" >
      <div class="form-group"> 
        <input type="text" class="form-control" id="food_filter" placeholder="Refine by food or drink">
      </div>
    </form>
    
    <ul class="foodtrade-tag-list">
    <li data-id="ALL" class="foodtrade-tag foodtrade-tag-click foodtrade-tag-all"><div class="foodtrade-tag-checkbox-column"><input type="checkbox" id="all_foods" checked="checked" onclick="make_search()" aria-label="All Partners" class="foodtrade-tag-checkbox"></div><div class="foodtrade-tag-text">All Foods</div><div class="foodtrade-tag-count">{{food_count}}</div></li>
    </ul>

    <ul class="foodtrade-tag-list" id="food_filter_results">
   
    </ul>
     <hr>
 
    
    <form role="form">
      <div class="form-group"> 
        <input type="email" class="form-control " id="business_filter" placeholder="Filter by business type">
      </div>
    </form>
    <ul class="foodtrade-tag-list">
    <li data-id="ALL" class="foodtrade-tag foodtrade-tag-click foodtrade-tag-all"><div class="foodtrade-tag-checkbox-column"><input type="checkbox" id="all_businesses" checked="checked" onclick="make_search()" aria-label="All Partners" class="foodtrade-tag-checkbox"></div><div class="foodtrade-tag-text">All Businesses</div><div class="foodtrade-tag-count">{{business_count}}</div></li>
</ul>

<ul class="foodtrade-tag-list" id="business_filter_results">
    </ul>
    </div><!-- charding overlay -->
    <hr />
     



     <form role="form">
      <div class="form-group"> 
        <input type="email" class="form-control " id="organisation_filter" placeholder="Show only members of...">
      </div>
    </form>
    <ul class="foodtrade-tag-list">
    <li data-id="ALL" class="foodtrade-tag foodtrade-tag-click foodtrade-tag-all"><div class="foodtrade-tag-checkbox-column"><input type="checkbox" id="all_organisations" checked="checked" onclick="make_search()" aria-label="All Partners" class="foodtrade-tag-checkbox"></div><div class="foodtrade-tag-text">All Organisations</div><div class="foodtrade-tag-count">{{organisation_count}}</div></li>
    </ul>


    <ul class="foodtrade-tag-list" id="organisation_filter_results">
    </ul>


    </div><!--sidebar-->

    <hr /> 
    <!-- <div data-step="5" data-intro="See what's active">
      <div id="trendsThisWeek">
          <h5>Trends this week</h5>
          {% for eachVal in userinfo.hashtagsthis %}
            <p><a href="/activity/?q=%23{{eachVal.uid|slice:"1:"}}&location=++None+&lon=&lat=">{{eachVal.uid}} <span class="badge pull-right">{{eachVal.value|floatformat:"0"}}</span></a></p>
          {% endfor %}
      </div>
      <div id="trendsThisWeek">
          <h5>Trends all time</h5>
          {% for eachVal in userinfo.hashtagsall %}
            <p><a href="/activity/?q=%23{{eachVal.uid|slice:"1:"}}&location=++None+&lon=&lat=">{{eachVal.uid}} <span class="badge pull-right">{{eachVal.value|floatformat:"0"}}</span></a></p>
          {% endfor %}
      </div>
    </div> -->

    {% endif %}

       {% endif %}
    </div>
 {% block content %}
 {% endblock %}  
</div>
</div> 

<div class="modal fade" id="modal_signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Signup to FoodTrade</h4>
            </div>
            <div class="modal-body">
              <p><strong>Twitter is about to ask for some permissions from you. </strong></p><p>We want to assure you that we will only post tweets for you when you say so.</p>
   
            </div>
            <div class="modal-footer"> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              
          <!-- <a href="{% provider_login_url "twitter" process="login" %}" class="btn btn-lg btn-info btn-block"><i class="fa fa-twitter"></i> Continue Login</a> -->
                       <a href="{% provider_login_url "twitter" process="login" %}"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-twitter"></i> Continue Registration</button></a>
              
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="ftstrip" style="margin-bottom:40px;"></div>

<div class="row" id="logos">  
  <div class="text-center block-center clearfix">
    <div class="thumbnail pull-le ft "> 
      <img class="img-responsive" alt="Wired Magazine top 100 edition" src="/static/images/logos/wired.jpg" >
    </div> 
    <div class="thumbnail pull-le ft "> 
      <img class="img-responsive" alt="The Grocer" src="/static/images/logos/grocer.jpg" >
    </div>
    <div class="thumbnail pull- left "> 
      <img class="img-responsive" alt="Huffington Post" src="/static/images/logos/huffpo.png" > 
    </div>
    <div class="thumbnail pul -left "> 
      <img class="img-responsive" alt="Fast Company" src="/static/images/logos/fastcompany.jpg" >  
    </div>
    <div class="thumbnail pull -left "> 
      <img class="img-responsive" alt="Virgin Unite" src="/static/images/logos/virgin.png" >  
    </div>
    <div class="thumbnail pul l-left "> 
      <img class="img-responsive" alt="Modern Farmer" src="/static/images/logos/modernfarmer.png" >  
    </div>
    <div class="thumbnail pul l-left "> 
      <img class="img-responsive" alt="BBC Food Programme" src="/static/images/logos/bbcr4.png" >  
    </div>
    <div class="thumbnail pul l-left "> 
      <img class="img-responsive" alt="Financial Times" src="/static/images/logos/financialtimes.png" >  
    </div>
  </div>
</div>


<!-- FOOTER --> 
<div class="container-responsive clearfix" id="footer">    
  <div class="row">
    <div class="col-lg-12">
        <div class="ftstrip ftstrip-mini"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="footer_container">
      <div class="col-md-3">
      <h5>About FoodTrade </h5>
        <ul class="list-unstyled"> 
          <li><a href="/pages/about">About us</a></li>
          <li><a href="http://digest.foodtrade.com/" target="_blank">Blog</a></li>
          <li><a href="http://foodtrade.uservoice.com/" target="_blank">Contact & support</a></li>
         </ul>
      </div>
      <div class="col-md-3">
      <!-- 
      developers
      timeline -->
      <h5>Features</h5>
        <ul class="list-unstyled">  
          <li><a href="/pages/individuals">Individuals</a></li>
          <li><a href="/pages/business">Business</a></li>
          <li><a href="/pages/organisations">Organisations</a></li>
          <li><a href="/pages/foodwaste">Food surplus &amp; waste</a></li>
          <li><a href="/pages/pricing">Pricing</a></li>            
        </ul> 
      </div>
      <div class="col-md-3">
       <!--  <ul class="list-unstyled">
          <li>Services<li>
          <li><a href="#">Web analytics</a></li>
          <li><a href="#">Presentations</a></li>
          <li><a href="#">Code snippets</a></li>
          <li><a href="#">Job board</a></li>              
        </ul> -->
      </div>
      <div class="col-md-3">
      <h5>Stay connected</h5>
        <ul class="list-unstyled list-inline">
          <li>
            <a href="http://www.facebook.com/foodtradeHQ"><i class="fa fa-facebook-square fa-2x"></i></a></li><li> 
            <a href="http://www.twitter.com/foodtradeHQ"><i class="fa fa-twitter-square fa-2x"></i></a></li> 
        </ul>

           <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://sustaination.us2.list-manage1.com/subscribe/post?u=79e1467c02512dbd83bddab5f&amp;id=eeea3ac4c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="input-group"> 
      <input type="email" value="" name="EMAIL"  class="form-control required" id="mce-EMAIL" placeholder="Email Address"> 
      <span class="input-group-btn">
          <button type="submit" class="btn btn-success"> Subscribe</button>
      </span>
    </div>
      <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_79e1467c02512dbd83bddab5f_eeea3ac4c6" value=""></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
</form>
 </div> 
      
<!--End mc_embed_signup-->     
       
      </div>  
    </div>
  </div>
  <hr>
  <div class="row" style="margin-bottom: 20px;"> 
    <div class="col-sm-4">
      <a href="/pages/terms">Terms of Service</a>    | 
      <a href="/pages/privacy">Privacy</a>  
    </div>
    <div class="col-sm-8">
      <p class="text-muted pull-right">&copy; 2012 - {% now "Y" %} Sustaination Ltd. All rights reserved. All data remains the property of its creator. </p>
    </div> 
  </div>
</div>

<!-- Button trigger modal -->
<button id="btn_must_be_logged" style="display:none" data-toggle="modal" data-target="#myModal_must_be_logged">
</button>

<!-- Modal -->
<div class="modal fade" id="myModal_must_be_logged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title" id="myModalLabel">You must be <a href="/accounts/twitter/login/?process=login">logged</a> in to use this feature</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/HloB2aRxdk7fbhWMOI5AlQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#ff9900',
  link_color: '#7fc836',
  default_mode: 'feedback',
  forum_id: 231923,
  tab_label: 'Feedback & Support',
  tab_color: '#66A12B',
  tab_position: 'bottom-left',
  tab_inverted: false
}]);
</script>
<script type="text/javascript">
function checktweet(input, counter, button){
        var tweettext = $("#"+input).val();
        var char = 120- parseInt(tweettext.length);
        if(char <= 0){
            $("#"+counter).text('');
            $('#'+button).attr('disabled', 'disabled');
        }
        else{
            $("#"+counter).text(char+' characters remaining');
            $('#'+button).removeAttr('disabled');
        }
    }
function tweetlistener(input, counter, button){
    $('#'+input).change(function(){
        checktweet(input, counter, button);
    });
    $('#'+input).keyup(function(){
        checktweet(input, counter, button);
    });
}

</script>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/foodtrade.js" %}"></script>
    <script src="{% static "js/ajax-handle.js" %}"></script> 
    <script src="{% static "js/intro.min.js" %}"></script>
    <script src="{% static "js/jquery.geocomplete.js" %}"></script>
     <script src="http://twitter.github.io/typeahead.js/js/handlebars.js"></script>

    <script src="{% static "js/tag-it.js" %}"></script>
    <script src="{% static "js/twitter-typeahead.js" %}"></script>
    <script src="/static/js/chosen.jquery.min.js" type="text/javascript"></script>
<script src="/static/css/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>


 {% block footer %}
 {% endblock %}

 {% block javascript %}
 {% endblock %}

 <script type="text/javascript">
$(".img-thumbnail").bind('error', function (e) {
  var img_src = this.src;
  console.log(img_src);
    $.post( "/update-image/", { img: img_src });
});
 </script>
 <script type="text/javascript">
var invite_id = String('{{invite_id|safe}}');
var tweet = String('{{invite_tweet|safe}}');
var input_val;
$(document).ready(function(){
  $('#select-invite').chosen({skip_no_results: true});
  $('#invite_tweeter_user_text').html(tweet);
  $('#select-invite').chosen().ready(function(){
      $('.search-field input').attr('style', 'width:192px;height:30px;');
    });
});

$('#select-invite').on('chosen:ready', function(evt, params) {
  /*$('#select_invite_chosen ul li input').attr('onkeyup', 'search_tweeter_users()');*/
    // $('.default').attr('onkeyup', 'search_tweeter_users()');
    $('#select_invite_chosen ul li input').attr('id', 'tUserSearch');
  });
function search_tweeter_users(){
  q = $('#tUserSearch').val();
  /*if (q.length>=3){*/
  ajax_request('search_users', 'search_users_success', {'q':q});
  /*}*/
    
}

function search_users_success(data){
  data = jQuery.parseJSON(data);
  results = data['results'];
  // str = $('#select-invite').html();
  // $('#select-invite').html('');
  var str = "";
  $('#select-invite').trigger('chosen:updated');


  for (var i=0;i<results.length;i++){
    str = str + '<option value="' + String(results[i].screen_name) + '">' + String(results[i].screen_name) + '</option>';
  }
  $('#select-invite').html(str);
 
 $('#select-invite').trigger('chosen:updated');
  $('#tUserSearch').val(input_val);
  $('#tUserSearch').focus();
  document.getElementById("tUserSearch").focus();
  var input_width = (input_val.length * 11) +"px";
  
  $('#tUserSearch').css( "width", input_width );


var keyEvent = jQuery.Event("keydown");
keyEvent.keyCode = 18;
$('#tUserSearch').trigger(keyEvent);
}

function add_user(username){

    var text = $('#invite_tweeter_user_text').html();
   

    var new_text = text + ' @' + username;
    if (new_text.length < 140){     
      $('#invite_tweeter_user_text').html(new_text);
      // $('#invite_tweeter_user').val("");      
    }
    
}


$('#select-invite').on('chosen:no_results', function(evt, params) {
    input_val = $('#tUserSearch').val();
    ajax_request('search_users', 'search_users_success', {'q':input_val});
});

function invite_tweeter_user(sign_up_as){
  text = $('#invite_tweeter_user_text').val();
  var invite_users = [];
  text_content = text.split(' ');
  for (var i =0; i<text_content.length; i++){
      if (text_content[i].indexOf('@')!=-1){
        invite_users.push(text_content[i]);
      }
    }
  if (invite_users.length >0){   
    ajax_request(
      'post_tweet','success_tweeter_user_invite',
      {'message':text, 'invite':'true', 'friend_invite':'false',
      'to':String(invite_users), 'invite_id':invite_id,'noappend':'noappend', 'sign_up_as':sign_up_as}
      ); 
  }
  else{
    alert('Please search and select someone to invite !!');
  }
}
function success_tweeter_user_invite(data){
  data = jQuery.parseJSON(data);
  if (data['status'] == "1"){
    tweet = data['new_invite_tweet'];
    invite_id = data['new_invite_id'];
    $('#invite_tweeter_user_text').val(data['new_invite_tweet']);
    $('#btnClose').click();
  }
  var url = document.URL;
  if (url.indexOf("invite") != -1){
    $('#tweetMessage1').val(tweet);
  }
}
</script> 
<script type="text/javascript">
$(document).ready(function() {

tweetlistener('tweetMessage', 'counter', 'contact_tweet', 'newtweet_btn');

    var activeSystemClass = $('.list-group-item.active');
    //something is entered in search form
    $('#system-search').keyup( function() {
       var that = this;
        // affect all table rows on in systems table
        var tableBody = $('.table-list-search tbody');
        var tableRowsClass = $('.table-list-search tbody tr');
        $('.search-sf').remove();
        tableRowsClass.each( function(i, val) {
        
            //Lower text for case insensitive
            var rowText = $(val).text().toLowerCase();
            var inputText = $(that).val().toLowerCase();
            if(inputText != '')
            {
                $('.search-query-sf').remove();
                tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                    + $(that).val()
                    + '"</strong></td></tr>');
            }
            else
            {
                $('.search-query-sf').remove();
            }
            if( rowText.indexOf( inputText ) == -1 )
            {
                //hide rows
                tableRowsClass.eq(i).hide();
                
            }
            else
            {
                $('.search-sf').remove();
                tableRowsClass.eq(i).show();
            }
        });
        //all tr elements are hidden
        if(tableRowsClass.children(':visible').length == 0)
        {
            tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
        }
    });
});
    </script>

<!--Start of Zopim Live Chat Script
<script type="text/javascript">window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set._.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');$.src='//cdn.zopim.com/?1MlPpsDpWc6md7n2dz3Sp1n9UEpY0Og7';z.t=+new Date;$.type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');</script><script>$zopim(function(){$zopim.livechat.set({name:'Ed Dowding',email:'ed@foodtrade.com'});});$zopim(function(){})</script>End of Zopim Live Chat Script-->

    <script type="text/javascript">
      $('.tip').tooltip();
      $('[rel=tooltip]').tooltip({container: 'body'});

   

      $('[data-toggle=offcanvas]').click(function() {
        $('.row-offcanvas').toggleClass('active');
      });

       $('#media').carousel({
          interval: 7000,
        });



      /**
 *
 * jquery.charcounter.js version 1.2
 * requires jQuery version 1.2 or higher
 * Copyright (c) 2007 Tom Deater (http://www.tomdeater.com)
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 * 
 */
 
(function($) {
    /**
   * attaches a character counter to each textarea element in the jQuery object
   * usage: $("#myTextArea").charCounter(max, settings);
   */
  
  $.fn.charCounter = function (max, settings) {
    max = max || 100;
    settings = $.extend({
      container: "<span></span>",
      classname: "charcounter",
      format: "(%1 characters remaining)",
      pulse: true,
      delay: 0
    }, settings);
    var p, timeout;
    
    function count(el, container) {
      el = $(el);
      if (el.val().length > max) {
          el.val(el.val().substring(0, max));
          if (settings.pulse && !p) {
            pulse(container, true);
          };
      };
      if (settings.delay > 0) {
        if (timeout) {
          window.clearTimeout(timeout);
        }
        timeout = window.setTimeout(function () {
          container.html(settings.format.replace(/%1/, (max - el.val().length)));
        }, settings.delay);
      } else {
        container.html(settings.format.replace(/%1/, (max - el.val().length)));
      }
    };
    
    function pulse(el, again) {
      if (p) {
        window.clearTimeout(p);
        p = null;
      };
      el.animate({ opacity: 0.1 }, 100, function () {
        $(this).animate({ opacity: 1.0 }, 100);
      });
      if (again) {
        p = window.setTimeout(function () { pulse(el) }, 200);
      };
    };
    
    return this.each(function () {
      var container;
      if (!settings.container.match(/^<.+>$/)) {
        // use existing element to hold counter message
        container = $(settings.container);
      } else {
        // append element to hold counter message (clean up old element first)
        $(this).next("." + settings.classname).remove();
        container = $(settings.container)
                .insertAfter(this)
                .addClass(settings.classname);
      }
      $(this)
        .unbind(".charCounter")
        .bind("keydown.charCounter", function () { count(this, container); })
        .bind("keypress.charCounter", function () { count(this, container); })
        .bind("keyup.charCounter", function () { count(this, container); })
        .bind("focus.charCounter", function () { count(this, container); })
        .bind("mouseover.charCounter", function () { count(this, container); })
        .bind("mouseout.charCounter", function () { count(this, container); })
        .bind("paste.charCounter", function () { 
          var me = this;
          setTimeout(function () { count(me, container); }, 10);
        });
      if (this.addEventListener) {
        this.addEventListener('input', function () { count(this, container); }, false);
      };
      count(this, container);
    });
  };
})(jQuery);
$(function() {
    $(".counted").charCounter(120,{container: "#counter"});
    $(".counted-invite").charCounter(140,{container: "#counter"});
});
    </script>




<!-- TOUR SCRIPT --> 
<script type="text/javascript">
  document.getElementById('help').onclick = function() {
    introJs().setOption('doneLabel', 'Next page').start().oncomplete(function() {
      window.location.href = '/activity?multipage=true';
    });
  };
</script>
<!-- // TOUR SCRIPT --> 




<script type="text/javascript">
// This example adds a search box to a map, using the Google Place Autocomplete
// feature. People can enter geographical searches. The search box will return a
// pick list containing a mix of places and predicted search terms.

{% if user.is_authenticated %}
  window.setInterval(function(){
    show_notifications();
  }, 1500000);
{% endif %}
function  show_notifications(){
  ajax_request('get_notification_counts', 'update_inbox');
}

function update_inbox(data){
  data = jQuery.parseJSON(data);
  $('#spanInbox').html('');
  $('#spanInbox').html(data['unread']);
}

function validate_login(){
  {% if user.is_authenticated %}
    return {'status':'1'}
  {% endif %}
  {% if not user.is_authenticated %}
    return {'status':'0'}
  {% endif %}
  /*
  ajax_request('validate_logged_in', 'ajax_success_validate_logged_in','');*/
}



function formSubmit(form) {

  var input = (document.getElementById('pac-input'));
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({'address': input.value}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              if (results[0]) {
                var formatted_address = results[0].formatted_address;

                 $("#lon").val(results[0].geometry.location.lng());
      $("#lat").val(results[0].geometry.location.lat());
              } 
            } 
          });

    setTimeout(function() {   
        form.submit();
    }, 3000);  // 3 seconds
    return false;
}

</script>

<script type="text/javascript">

   $(function() {
    var hash = window.location.hash;

    // do some validation on the hash here

    hash && $('ul.nav a[href="' + hash + '"]').tab('show');
});
</script>    

<script type="text/javascript">
  var $mcGoal = {'settings':{'uuid':'79e1467c02512dbd83bddab5f','dc':'us2'}};
  (function() {
     var sp = document.createElement('script'); sp.type = 'text/javascript'; sp.async = true; sp.defer = true;
    sp.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/downloads.mailchimp.com' : 'http://downloads.mailchimp.com') + '/js/goal.min.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sp, s);
  })(); 
</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3315919-37', 'foodtrade.com');
  ga('send', 'pageview');

</script>
</body>
</html>
