{% extends 'tbase.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="/static/css/docsupport/prism.css">
<link rel="stylesheet" href="/static/css/chosen.min.css">
<style type="text/css"> 
	  .chosen-rtl .chosen-drop { left: -9000px; }
  .typeempty{
  display:none;
  }   
  .ip_address{

  }
    .panel-body input[type=checkbox]:checked + label { 
        color: #c00; 
    } 
    .my-margin{
    	margin-top:5%;
    }
    .newmargin{
    	margin-right: 1.5%;
    }
    .modal-address-margin{
    	margin-left: 5%;
    	margin-top: 5%;
    	width: 90%;
    }
    .margin-sua{
    	margin-left: 5%;
    	width: 90%;
    }
    .li-height{
    }
    .margin-button{
    	margin-top: 2%;
    }
    .margin-type{
		float: left;
		width: 100%;
		margin-top: 5%;
    }

</style>
{% endblock %}
{% block content %}
<div class="col-md-10" >
	<div class="panel panel-default">
	<div class="panel-heading clearfix">

	<!-- <div class="col-md-6">
	  <div class="input-group">
	    <input class="form-control" id="inputFindFriends" name="q" placeholder="Search for" required>
	    <span class="input-group-btn">
	        <button  type="submit" id="btnFindFriends" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
	    </span>
	  </div>
	</div> -->

 	<button id="btnBulkUpdate1" onclick="update_clicked()" class="btn btn-primary pull-right">Bulk Update</button>		    
	<ul class="list-group"> 
	  <ul class="list-group-item my-margin" id ="myFriendsLi">
	  <div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Edit Unclaimed Profiles</div>
		  <!-- Table -->
		  <table class="table">
		    <thead>
		    	<tr>
				  	<th>#</th>
				  	<th> </th>
				  	<th>Name</th>
				  	<th>Sign Up As</th>
				  	<!-- <th>Business Type</th> -->
				  	<th>Address</th>
				</tr>
			</thead>
		  	<tbody>
	   		{% for each in unclaimed_profiles %} 		        	
		    	<tr id = "li{{each.username}}">
		    		<td>{{forloop.counter}}</td>
			  		<td>
			  			<a href="/profile/{{each.username}}/"><img src="{{each.profile_img}}" title="{{each.name}}" class="img-responsive pull-left" style="width:20px; margin-right: 5px;" />
			  			</a>
			  		</td>
			  		<td>
			  			<input type="text" id='ip_name{{each.username}}' class="form-control" value="{{each.name}}"/>
			  		</td>
			  		<td>
					    <div class="form-group">
					      <div class="col-sm-5">
					        <div class="btn-group" style="width: 301px;" data-toggle="buttons">
					          <label id="label_option_1_{{each.username}}" class="btn btn-default active"> 
					              <input type="radio" name="sign_up_as_{{each.username}}" checked="checked" id="option_1_{{each.username}}" value="Individual" onchange="dataradio('Individual', '{{each.username}}')"> Individual 
					          </label> 
					          <label id="label_option_2_{{each.username}}" class="btn btn-default">  
					              <input type="radio"  id="option_2_{{each.username}}" value="Business" onchange="dataradio('Business', '{{each.username}}')"> Business 
					          </label>
					          <label id="label_option_3_{{each.username}}" class="btn btn-default">
					              <input type="radio" name="sign_up_as_{{each.username}}" id="option_3_{{each.username}}" value="Organisation" onchange="dataradio('Organisation', '{{each.username}}')"> Organisation
					          </label>
					        </div>
					      </div>
					      </div>

						  <div class="form-group margin-type typeempty" id="type_user_id_{{each.username}}"> 
						        <label for="id_type_user_{{each.username}}" class="col-sm-2 control-label">Business type</label>
						        <div class="col-sm-5">
						          <select id= "dropdown_{{each.username}}" data-placeholder="Farm, wholesaler, restaurant..." multiple  class="chosen-select" tabindex="6">
						              <option value=""></option>
						              {% for each in all_tags %}
						              <optgroup label={{each.node}}>
						                {% if each.childrens %}
						                  {% for eachchild in each.childrens %}
						                  <option>{{eachchild.node}}</option>
						                  {% endfor %}
						                {% else %}
						                <option>{{each.node}}</option>
						                {% endif %}
						              </optgroup>
						              {% endfor %}
						            </select>
						        </div>
					      </div>
			  		</td>
			  		<td>
					  	<div class="form-group">
						      <input type="text" id="address_{{each.username}}" required class="form-control ip_address" placeholder="Enter your address" value="{{each.address}}">
					    </div>
			  		</td>
		  		</tr>
		  	{% endfor %}
		  	</tbody>
		  </table>
	  </div>
	  </ul>

	  <li class="list-group-item clearfix" style="background: #eee;">
		<ul class="pagination">
			<li class="pull-left"><a id="page_dec" title="previous" onclick="get_new_page('0')">&laquo;</a></li>
			<li class="pull-right"><a id="page_inc" title="next" onclick="get_new_page('1')">&raquo;</a></li>
		</ul>
		<ul class="pull-right margin-button"><button id="btnBulkUpdate1" onclick="update_clicked()" class="btn btn-primary pull-right">Bulk Update</button></ul>
      </li>

	  </ul> 
</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/chosen.jquery.min.js" type="text/javascript"></script>
<script src="/static/css/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
  

<script type="text/javascript">

function dataradio(value, username){
    business_type = value;
    if (value == "Business"){
        if ( $('#type_user_id_' + String(username)).hasClass('typeempty') ){
          $('#type_user_id_' + String(username)).removeClass('typeempty');
        }
    }
    else{
        if ( $('#type_user_id_' + String(username)).hasClass('typeempty') ){
          }
        else{
            $('#type_user_id_' + String(username)).addClass('typeempty');
        }
    }
}
var config = {
      '.chosen-select'           : {max_selected_options: 3},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"350px"}
    }
for (var selector in config) {
  $(selector).chosen(config[selector]);
}


 $(function(){
      $(".ip_address").geocomplete({details: "form "});
  });


function update_clicked(){
	var myData = {};
	var uname = [];
	var unclaimed_profiles = jQuery.parseJSON(JSON.stringify({{unclaimed_profiles_json|safe}}));
	for (var i =0; i < unclaimed_profiles.length;i++){
		var newDict = {};
		newDict['name'] = $('#ip_name' + String(unclaimed_profiles[i]['username'])).val();
		newDict['address'] = $('#address_' + String(unclaimed_profiles[i]['username'])).val();
		if($('#option_1_'+ String(unclaimed_profiles[i]['username']))[0].checked){
			newDict['sign_up_as'] = 'Individual';
		}
		else if($('#option_2_'+ String(unclaimed_profiles[i]['username']))[0].checked){
			newDict['sign_up_as'] = 'Business';
		}
		else{
			newDict['sign_up_as'] = 'Organisation';
		}
		 var type_ = '';
		for (var j =0; j <$('#dropdown_' + unclaimed_profiles[i]['username'] + '_chosen')[0].children[0].children.length; j++){
			
			type_ = type_ + String($('#dropdown_' + unclaimed_profiles[i]['username'] + '_chosen')[0].children[0].children[j].children[0].innerHTML)+',';
		}
		type_ = type_.substring(0,type_.length-1)
		newDict['type'] = type_;
		myData[String(unclaimed_profiles[i]['username'])] = newDict;
		uname.push(String(unclaimed_profiles[i]['username']));
	}
	ajax_request('unclaimed_profiles_bulk_update','update_bulk_success', {'data':JSON.stringify(myData), 'uname':String(uname)});
}

function update_bulk_success(data){
	data = jQuery.parseJSON(data);
	if (data['status'] == '1'){
		window.location = '.';
	}
}

var current_page = {{page|safe}};
function get_new_page(page){
	if(page==1){
		current_page = current_page + 1;
	}
	else{
		if(current_page <= 0){
			current_page = 1;
		}
		else{
		current_page = current_page -1;	
		}
	}
	window.location = '/unclaimed-profiles/?' + 'page=' + String(current_page);
}

$(document).ready(function(){
	var unclaimed_profiles = jQuery.parseJSON(JSON.stringify({{unclaimed_profiles_json|safe}}));
	for (var i =0; i < unclaimed_profiles.length;i++){
		if(unclaimed_profiles[i]['sign_up_as'] == 'Individual'){
			$('#option_1_'+ String(unclaimed_profiles[i]['username'])).checked = true;
			$('#label_option_1_'+ String(unclaimed_profiles[i]['username'])).addClass('active');
			$('#option_2_'+ String(unclaimed_profiles[i]['username'])).checked = false;
			$('#label_option_2_'+ String(unclaimed_profiles[i]['username'])).removeClass('active');
			$('#option_3_'+ String(unclaimed_profiles[i]['username']))[0].checked = false;
			$('#label_option_3_'+ String(unclaimed_profiles[i]['username'])).removeClass('active');			

		}
		else if(unclaimed_profiles[i]['sign_up_as'] == 'Business'){

			$('#option_1_'+ String(unclaimed_profiles[i]['username'])).checked = false;
			$('#label_option_1_'+ String(unclaimed_profiles[i]['username'])).removeClass('active');
			$('#option_2_'+ String(unclaimed_profiles[i]['username'])).checked = true;
			$('#label_option_2_'+ String(unclaimed_profiles[i]['username'])).addClass('active');
			$('#option_3_'+ String(unclaimed_profiles[i]['username'])).checked = false;
			$('#label_option_3_'+ String(unclaimed_profiles[i]['username'])).removeClass('active');
		}
		else{

			$('#option_1_'+ String(unclaimed_profiles[i]['username'])).checked = false;
			$('#label_option_1_'+ String(unclaimed_profiles[i]['username'])).removeClass('active');
			$('#option_2_'+ String(unclaimed_profiles[i]['username'])).checked = false;
			$('#label_option_2_'+ String(unclaimed_profiles[i]['username'])).removeClass('active');
			$('#option_3_'+ String(unclaimed_profiles[i]['username'])).checked = true;
			$('#label_option_3_'+ String(unclaimed_profiles[i]['username'])).addClass('active');
		}
	}
});
</script>
{% endblock %}