{% extends 'tbase.html' %}
{% load staticfiles %}
{% load recognise_name %}
{% block titlemain %}Visitors stats {% endblock %}

{% block content %}
{% load activity_tags %}
<div id="activity_single">
<div class="col-sm-12 {% if not user.is_authenticated %} col-md-offset-1 {% endif %}" id="single">
  <div class="row">
  <div class="col-lg-9 col-md-8">
  <div class="timeline-cover">            
  <div class="cover ">
    <div class="top">
        <div id="carousel-1" class="carousel slide"> 
          <div class="carousel-inner">
              <div class="item active">
                  <div style="width:100%; height: 350px; " id="map"></div> 
              </div> 
          </div>
      </div> 
    </div>

    <ul class="list-unstyled">
      <li><a href="#" data-target="#carousel-1" data-slide-to="1"><i class="icon-photo-camera"></i> <span>Posted 7th May</span> </a></li>   
 
      {% if prof_subscribed %}
      <li class="pull-right" style="background: #88BC62;"><a href="#">
      <i class="fa fa-check" style="color: #fff;"></i>
      <span>Verified</span></a>
      </li> 
      {% endif %} 

       {% for each in organisations %} 
      <li class="pull-right" style="background: rgba(0,0,0,0.3);">
        <a href="#tabMemberships" data-toggle="tab" rel="tooltip" title="{{each.name}}"><img src="{{each.photo}}" alt="{{each.name}}" class="img-responsive" style="margin-top: 5px; width:30px; height:30px;" /></a> </li>
        {% endfor %}
 
    </ul>
  </div>
  <div class="widget cover image">  
    <div class="widget-body padding-none margin-none">
      <div class="photo col-sm-1">
        <img src="{{parent_tweet.user.profile_img}}" class="img-circle"> 
      </div>
      <div class="innerAll border-right col-sm-3">
        <h3 class="margin-none">
          {% ifequal parent_tweet.user.business_org_name None %}
              {{parent_tweet.user.name}}
          {% else %}
              {% if parent_tweet.sign_up_as == "Business" and parent_tweet.user.business_org_name != '' or parent_tweet.sign_up_as == "Organisation" and parent_tweet.user.business_org_name != '' %}
                {{parent_tweet.user.business_org_name}}
              {% else %}
                {{parent_tweet.user.name}}
              {% endif %}  
          {% endifequal %}
        </h3> 
          {% if parent_tweet.type_user|length == 0 or parent_tweet.type_user|first == '' %}
          {% else %}
          <span class="tags tags-biztype  ">  
            {% for eachtype in parent_tweet.type_user %}
           <a href="/activity/?b={{eachtype}}">{{eachtype}}</a>
           {% endfor %}
          </span> {% endif %}  


      </div>
      <div class="innerAll col-sm-6">
        <span class="margin-none">{{description}}</span>  
        <div class="{% if loc.lat == -82.86275189999999 and loc.lon == -135.10000000000002 %} hidden {% endif %}">
          <div class="meta">
            {% if loc.lat == -82.86275189999999 and loc.lon == -135.10000000000002 %}
              <i class="fa fa-map-marker text-muted"></i> <a > NA</a>
              <i class="fa fa-location-arrow text-muted" style="margin-left: 20px;"></i> NA
            {% else %}
            <i class="fa fa-map-marker text-muted"></i> <a href="http://maps.google.com/maps?saddr={{loggedin_coord.lat}},{{loggedin_coord.lon}}&daddr={{loc.lat}},{{loc.lon}}" target="_blank" data-placement="top" data-toggle="tooltip" title="Get directions" class="" style="margin-right:20px;">
              {{address}}
            </a>   
            <!-- if logged in or you've allows html5 browser location -->
            <i class="fa fa-location-arrow text-muted"></i> {{distance}} miles  
            {% endif %} 
          </div> <!-- meta --> 
      </div>  

    </div>
    <div class="clearfix"></div>
  </div>
</div>
</div>





<!-- / new --> 
<!-- old --> 


    <div class="container-responsive">
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-6 col-xs-8 reply_text" id="single_post_content">

    <!-- #ed Get pictures in the tweets as this 
    {% for pic in parent_tweet.tweet_pictures %}
    <img src="{{ pic }}" />
    {% endfor %}

    -->


        <div class="container-responsive clearfix">
          <div id="activity"> 
           
        <ul class="timeline-activity list-unstyled " id="update_content">
            {% if results %}
              {% for result in results %}
                  {% if result.user.username == result.result_type %}


<!--Single Activity Template -->                      
  <li class="{{result.result_class}} singleresult {% if result.subscribed %} verified {% endif %}" data-id="{% if result_type == "status" %}{{result.tweetuid}} {% else %}{{result.user.username}}{% endif %}">

    <div class="block block-inline"> 
      <span class="marker"></span>
      <div class="caret"></div>
        <div class="box-generic">

            <div class="timeline-top-info   border-bottom" {% if result.subscribed %} rel="tooltip" title="Verified profile" {% endif %}>
            
            <div class="  pull-right" style="margin-left: 5px;">
  

              <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-cog fa-lg"></i>
                <span class="sr-only">Toggle Dropdown</span>
              </a>

              {% if result_type == "status" %} 
              <a type="button" class="btn btn-primary btn-xs" href="/{{result.user.username}}/post/{{result.tweetuid}}">
                <i class="fa fa-arrow-right fa-lg" style="color:#fff;"></i> 
              </a>
              {% else %}
              <a type="button" class="btn btn-primary btn-xs" href="/{{result.user.username}}">
                <i class="fa fa-arrow-right fa-lg" style="color:#fff;"></i> 
              </a>
              {% endif %}

              <ul class="dropdown-menu" role="menu">  
                <li><a href="http://www.facebook.com/sharer/sharer.php?u=http://foodtrade.com/{% if result_type == "status" %}{{result.user.username}}/post/{{result.tweetuid}}{% else %}profile/{{result.user.username}}{% endif %}" target="_blank"><i class="fa fa-facebook fa-fw facebook"></i> Share on Facebook</a></li>
                <li><a href="http://twitter.com/home?status={{result.status|urlencode}}%20http://foodtrade.com/{% if result_type == "status" %}{{result.user.username}}/post/{{result.tweetuid}}{% else %}profile/{{result.user.username}}{% endif %}" target="_blank"><i class="fa fa-twitter fa-fw twitter "></i> Share on Twitter</a></li>
                <li><a type="button" href="/profile/{{result.user.username}}/">
                <i class="fa fa-info-circle fa-lg fa-fw"></i> View profile</a></li> 
                {%  if userinfo.user_type == "Business" and result.sign_up_as == "Business" and result.user.username != userinfo.username %}
                <li><a href="#" onclick="click_activity('buyFrom','{{result.useruid}}')"><i class="fa fa-sign-in fa-lg fa-fw"></i> I buy from</a></li>
                <li><a href="#"onclick="click_activity('sellTo','{{result.useruid}}')"><i class="fa fa-sign-out fa-lg fa-fw"></i> I sell to</a></li>  
                {% endif %}
                {% if result.sign_up_as == "Organisation" %}
                <li><a href="#" onclick="click_activity('markMember', '{{result.useruid}}')"><i class="fa fa-fw fa-group"></i>  I'm a member</a></li>
                {% endif %}
                {% if userinfo.user_type == "Individual" and result.sign_up_as == "Business" %}
                <li><a href="#" onclick="click_activity('markCustomer', '{{result.user.username}}')"><i class="fa fa-fw fa-shopping-cart"></i>  I'm a customer</a></li>
                {% endif %} 
                {% if result.user.username != userinfo.username %}
                <li><a href="#" onclick="click_activity('follow','{{result.user.username}}')"><i class="fa fa-star-o fa-fw"></i>  Follow on Twitter</a></li>
                {% endif %} 
              </ul>  

          </div>  
  
 
                <img src="{{result.user.profile_img}}" alt="{{result.user.name}}" class="img-responsive pull-left" style="width:20px; margin-right: 5px;" />
                <a href="/profile/{{result.user.username}}" class="text-inverse">
                  {% if result.user.business_org_name != None %}
                      {% if result.sign_up_as == "Business" and result.user.business_org_name != '' or result.sign_up_as == "Organisation" and result.user.business_org_name != '' %}
                        {{result.user.business_org_name}}
                      {% else %}
                        {{result.user.name}}
                      {% endif %}
                {% else %}
                    {{result.user.name}}
                {% endif %}
                </a> 
            </div>

            <!-- status --> 
            <div class="media margin-none status" {% if result.result_class = 'business profile' %} style="background: url('{{result.user.banner_url}}'); {% endif %}" />  

            {% if result.result_class = 'business profile' %}  

              {% if result.user.intro_video %}
              <div class="content" style="background:  url('{{result.user.banner_url}}');">
               
                <div style="height: 300px">
                  {{result.user.intro_video|safe}}
                </div>


                <div class="text bg-white-wash innerAll half"> 
                  <p class="">{{result.user.description|truncatechars:200}}</p>
                </div>
              </div>  
              {% else %} 

              <div class="content" style="background:  url('{{result.user.banner_url}}');">
                <div class="text-center innerAll">
                  <a href="/profile/{{result.user.username}}"><img src="{{result.user.profile_img}}" alt="{{result.user.name}}" 
                  class="img-thumbnail img-responsive" style="width:73px; height:73px;" /></a>
                </div> 

                <div class="text bg-white-wash innerAll half"> 
                  <p class="">{{result.user.description|truncatechars:200}}</p>
                </div>
              </div>  

            {% endif %} 
 
      
            {% else %}


            {% if result.result_class = 'organisation profile' %}  
            <div class="innerAll text-center">
              <img src="{{result.user.profile_img}}" alt="{{result.user.name}}" class="img-responsive img-circle img-thumbnail" style="width:73px;" />
            </div>
            {% endif %} 

              {% if result.status %}
              <div class="lead innerAll">
                {{result.status|recognise_name|safe}}
              </div>
              {% endif %}

              <!-- images !-->
              {% if result_type == "status" %}
              <div class="media innerAll half">
                {% for picture in result.tweet_pictures %}
                <img src="{{picture}}" class="img-post">
                {% endfor %} 
              </div>
              {% endif %}
              <!-- /images !-->

            {% endif %}

            </div>

            <div class="timeline-bottom innerAll border-top clearfix">

              {% if result.distance_text != "NA" %}
               <a href="http://maps.google.com/maps?saddr={{userinfo.lat}},{{userinfo.lon}}&daddr={{result.location.coordinates.1}},{{result.location.coordinates.0}}" 
                  target="_blank" data-placement="top" data-toggle="tooltip" 
                  class="pull-right" 
                  rel="tooltip" 
                  title="Get directions"> 
               <i class="fa fa-location-arrow fa-fw"></i> {{result.distance_text}}  
               </a>
               {% else %}
               <i class="fa fa-location-arrow fa-fw"></i> {{result.distance_text}}  
              {% endif %}

              {% if result_type == "status" %} 
                 <a href="/{{result.user.username}}/post/{{result.tweetuid}}">
                 <i class="fa fa-clock-o  fa-fw"></i> {{result.time_elapsed}} ago</a>
                 <br />
              {% endif %}  
 
              <!-- tags --> 
              {% if type_user|length == 0 or type_user|first == '' %}
                {% else %}
                {% if result.sign_up_as == "Business" %} 
                <i class="fa fa-home fa-fw"></i>
                  {% for tag in result.type_user  %}
                    <a href="/activity/?b={{tag}}" class="innerR half">{{tag}}</a>
                  {% endfor %}  
                {% endif %}
              {% endif %}   

              {% if result_type == "status" %} 
              <span class="hidden-sm hidden-xs truncate100 address" >
                <i class="fa fa-map-marker fa-fw"></i>
                {{result.user.address}}
              </span>
              {% endif %}
 
            </div> 
        </div>
    </div>

    
  </li>   
<!--Single Activity Template ends -->











                        {% if result.replies  %}
                        <li>
                          <ul class="">
                              {% for reply_result in result.replies %}
                                {% single_activity userinfo reply_result "status" "main" %}
                              {% endfor %}        
                          </ul>
                        </li>
                        {% endif %}
                  {% endif %}
              {% endfor %}
            {% endif %}
        </ul> 


          </div> 
         </div>
      </div><!-- end col8 --> 
    </div><!-- row -->

   


        


    </div><!-- col10 --> 
    </div>
    </div>


        <script type="text/javascript">
    map_lat={{parent_tweet.location.coordinates.1}};
    map_lon = {{parent_tweet.location.coordinates.0}};
    self_info = {{parent_json |safe}};



connections = {% if results %}{{json_data | safe}}{% else %} [];
{% endif %}
   
    </script>
     <script src="{% static "js/singlepost-map.js" %}"></script>

   {% endblock %}


          {% block footer %}
    {% include "includes/not_logged_in_modal.html" %}
           <script src="{% static "js/activity.js" %}"></script>
           <script type="text/javascript">
$( document ).ready(function() {
    tweetlistener('email_message', 'contact_counter', 'contact_tweet');
});
</script>
 {% endblock %}