{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <title>Location Tool</title>
  <meta charset="UTF-8">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="{% static 'js/jquery.geocomplete.js' %}"></script>
  <script src="{% static 'js/location.js' %}"></script>
</head>

<body>
  <div class="container">
  {% for obj in objs %}
  <div class="row" id="row_{{obj.id}}">
  <input id="geocomplete_{{obj.id}}" type="text" placeholder="Type in an address" />
  <form id="form_{{obj.id}}">
    <fieldset>
      <h3>{{obj.name}}</h3>
      <label>Location Name</label>
      <input name="name" type="text" readonly>

      <label>Latitude</label>
      <input name="lat" type="text" value="{{obj.lat}}" readonly>

      <label>Longitude</label>
      <input name="lng" type="text" value="{{obj.lng}}" readonly>

      <label>Address</label>
      <textarea name="address">{{obj.address}}</textarea>
    </fieldset>
  </form>
  <button data-id="{{obj.id}}" class="save-btn">Save</button>
  <button data-id="{{obj.id}}" class="ignore-btn">Ignore</button>
  <hr/>
  </div>
  {% endfor %}
</div>
</body>
<script>
{% for obj in objs %}
$("#geocomplete_" + '{{obj.id}}').geocomplete({
  details: "#form_" + '{{obj.id}}',
  types: ["geocode"],
});
{% endfor %}
</script>
</html>
