{% extends 'menu_base.html' %}
{% load staticfiles %} 
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% load account %}

{% block body_class %}skin-black  pace-done{% endblock %}
{% block header %}{% endblock %}
{% block main_content %}

<a href="javascript:window.print()" id="printPage"><i class="fa fa-print fa-fw fa-lg"></i> Print this page</a>
<div id="printed">
         
            <!-- Main content -->
            <section class="content">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-sm-12">
                        <div id="output">
                            <h2>{{ menu.name }}</h2>
                            {% for section in menu.get_menu_sections %}
                            <h3>{{ section.name }}</h3>
                                     
                                {% for dish in section.get_section_dishes %}
                                    <div class="dish_wrapper">
                                        
                                        <span class="dish_name">{{ dish.name }}</span> 
                                        &mdash; 
                                        <span class="dish_price">
                                            &pound;
                                            {{ dish.price }}
                                        </span>

                                        <!-- <div class="pu ll-right"> -->
                                            <span class="allergen flagged {% if dish.is_allergen %}active{% endif %}" title="Allergen" data-original-title="Allergen">A</span>
                                            <span class="meat flagged  {% if dish.is_meat %}active{% endif %}" title="Meat">M</span>
                                            <span class="gluten flagged  {% if dish.is_gluten %}active{% endif %}" title="Gluten">G</span>
                                        <!-- </div> -->


                                        <span class="allergen_detail">
                                        {% for parent in dish.get_ingredient_tree %}
                                             
                                           <!--      {% if parent.is_meat %}
                                                    <span  class="meat  flagged">M</span>
                                                {% endif %}
                                                {% if parent.is_gluten %}
                                                    <span  class="gluten flagged">G</span>
                                                {% endif %} -->
                                                
                                                        
                                                       <span class="ingredient_parent ingredient {% if parent.is_allergen %} strong {% endif %}">{{ parent.name }}</span>
                                     

                                                {% if parent.children %}
                                                    <div class="has_children">
                                                    {% for child in parent.children %}
                                                    <!--      {% if child.is_meat %}
                                                            <span  class="meat  flagged">M</span>
                                                        {% endif %}
                                                        {% if child.is_gluten %}
                                                            <span  class="gluten flagged">G</span>
                                                        {% endif %}
                                                        {% if child.is_allergen %}
                                                            <span  class="allergens  flagged">A</span>
                                                        {% endif %}
 -->
                                                        <span class="ingredient_child ingredient {% if parent.is_allergen %} strong {% endif %}">{{ child.name }}</span>
                                                    {% endfor %}
                                                    </div>
                                                {% endif %}
                                        {% endfor %}
                                        </span>

                                       
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </section>
                    <!-- /.Left col -->
                    </div>
                    <!-- /.row (main row) -->
            </section> 
</div>
{% endblock %}
