{% extends 'menu_base.html' %} {% load staticfiles %} {% load socialaccount %} {% load url from future %} {% load i18n %} {% load account %} {% block body_class %}skin-black pace-done{% endblock %} {% block header %}{% endblock %} {% block main_content %}
{% load menu_render %}

<!-- <a href="javascript:window.print()" id="printPage"><i class="fa fa-print fa-fw fa-lg"></i> Print this page</a> -->
<style type="text/css">
    @media print {
            .noprint {
            display: none;
            }
            #tawkchat-iframe-container {
                display: none !important;
            }
        }
    body, html {
        background: #fff;
        padding: 0;
    }
    .content {
        background: #fff;
    }
    .noprint {
        margin: 2em;
    }
</style>
<script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
  analytics.load("FVQBpRqubj7q6USVKrGrPeLG08SmADaC");
  analytics.page()
  }}();
</script>
<div class="noprint alert alert-warning lead">
 <h1>Before you print...</h1>
 <p>Without wishing to be <em>too</em> melodramatic, the information you're about to print could kill someone.</p><p>
We're covered by our disclaimers and insurance, but you're not! So before you hand this out, please check it.</p>
<p>By printing this, your businesses takes full responsibility for the information given to customers.
</p>
<p><a href="#" onClick="window.print();return false" class="btn btn-success btn-lg" style="margin-top: 1em;"><i class="fa fa-print fa-fw fa-lg"></i>  Agree &amp; Print</a></p>
<p><strong>PS. It's okay, this message will not show up when you print!</strong></p>

</div>
<div id="printed">

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12">
                <div id="output">
                    <h2>{{ menu.name }}</h2> {% for section in menu.get_menu_sections %}
                    <h3>{{ section.name }}</h3> {% for dish in section.get_section_dishes %}
                    <div class="dish_wrapper">

                        <div class="clearfix">
                            <span class="dish_name">{{ dish.name }}</span>

                            <span class="dish_price">
                                &pound;
                                {{ dish.price|floatformat:2 }}
                            </span>
                        </div>
                        <!--
                                        <div class="dish_mag">

                                            <span class="allergen flagged {% if dish.is_allergen %}active{% endif %}" title="Allergen" data-original-title="Allergen">Allergens</span>
                                            <span class="meat flagged  {% if dish.is_meat %}active{% endif %}" title="Meat">Meat</span>
                                            <span class="gluten flagged  {% if dish.is_gluten %}active{% endif %}" title="Gluten">Gluten</span>

                                        </div>
                                         -->
                        <span class="dish_description">{{dish.description}}</span>

                        <span class="dish_ingredients">{% render_menu_print dish %}</span>

                    </div>
                    {% endfor %} {% endfor %}
                </div>
            </section>
            <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
        <div style="position: fixed; bottom: 0;">
            <p class="small" style="font-family: georgia; font-style: italic;">Created with FoodTrade.menu
                <br />
                <img src="http://www.foodtrade.com/static/images/logo_28.png" alt="Created with FoodTrade.menu" />
            </p>
        </div>
    </section>
</div>
<!-- <script type="text/javascript">
window.onload = function() {
    self.print();
}
</script> -->
{% endblock %}
