{% extends 'menu_base.html' %}
{% load staticfiles %} 
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% load account %}

{% block html_class %}bg-black{% endblock %}
{% block title %}AdminLTE | Registration Page {% endblock %}
{% block body_class %}bg-black lockscreen{% endblock %}
{% block header %} 
 
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock extra_js %}
{% block main_content %}
    <div class="form-box" id="login-box">
            <div class="header">Create a new account</div>
            <form action="{% url 'menu_register' %}" method="post">{% csrf_token %}
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="first_name" class="form-control" placeholder="First name"/>
                        <span class="help-text"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="last_name" class="form-control" placeholder="Last name"/>
                        <span class="help-text"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username"/>
                        <span class="help-text"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password"/>
                        <span class="help-text"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password2" class="form-control" placeholder="Retype password"/>
                        <span class="help-text"></span>
                    </div>
                </div>
                <div class="footer">                    
                    <button type="button" class="btn bg-olive btn-block signup">Sign me up</button>
    
                    <a href="/" class="text-center">I'm already a member</a>
                </div>
            </form>
            {% comment %}
            <div class="margin text-center">
                <span>Register using social networks</span>
                <br/>
                <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
                <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
                <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>
    
            </div>
            {% endcomment %}
    </div>
{% endblock %}
