{% extends 'menu_base.html' %}
{% load staticfiles %} 
{% load socialaccount %}
{% load url from future %}
{% load i18n %}
{% load account %}

{% block html_class %}bg-black{% endblock %}
{% block title %}FoodTrade Menu - sign up {% endblock %}
{% block body_class %}bg-black lockscreen{% endblock %}
{% block header %} 
 
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock extra_js %}
{% block main_content %}
    <div class="form-box" id="login-box">
            <div class="header">Create a new account</div>
            <form action="{% url 'menu_register' %}" method="post">{% csrf_token %}
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="first_name" class="form-control" placeholder="First name"/>
                        <span class="help-text"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="last_name" class="form-control" placeholder="Last name"/>
                        <span class="help-text"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username"/>
                        <span class="help-text"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password"/>
                        <span class="help-text"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password2" class="form-control" placeholder="Retype password"/>
                        <span class="help-text"></span>
                    </div>
                    <div class="checkbox">
                        <label for="terms">
                        <input type="checkbox" name="terms" /> I accept the 
                        <a href="#" data-toggle="modal" data-target="#terms">
                        terms &amp; conditions of use</a>
                        </label>
                    </div>
                </div>
                <div class="footer">                    
                    <button type="button" class="btn bg-olive btn-block signup">Sign me up</button>
    
                    <a href="/" class="text-center">I'm already a member</a>
                </div>
            </form>
            {% comment %}
            <div class="margin text-center">
                <span>Register using social networks</span>
                <br/>
                <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
                <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
                <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>
    
            </div>
            {% endcomment %}
    </div>



<div class="modal fade" id="terms">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-black">Terms &amp; conditions</h4>
      </div>
      <div class="modal-body text-black">

<h1>For humans</h1>        
<ul class="lead">
<li>
<strong>Ultimate responsibility lies with you.</strong> We'll do our best to provide a great service, but when it comes down to it, it's your food and your food business so please double check everything. 
</li>
<li>
<strong>Only run a food business you have insurance cover.</strong>
Serving food is a risky business and can have very severe - even fatal - effects if you get it wrong. Because of this you should have good insurance cover already. If you don't, please get it, for your sake even if not ours. If you use this service you are declaring that you have adequate public liabilty cover for allergen errors.
</li>
</ul>


<h1>For lawyers</h1>

<p>
    These terms of use ('Terms of Use') are a legal agreement concluded between you ('User') and Sustaination Ltd of Farthing Corner, West Tytherley, Salisbury, Wilts, SP5 1NR ('FoodTrade') for the online service, FoodTrade Menu ('Service'). Users may make use of the Service subject to agreeing to be bound by these Terms of Use.
</p>
<p>
    Given the critically important nature of the Service, please pay special attention to the disclaimer (Section 5) and limitation of liability (Section 6).
</p>
<p>
    If the User does not agree to the Terms of Use, don't use the Service.
</p>
<ol type="">
    <li>Scope
        <ol>
            <li>
                FoodTrade grants to the User rights to use the Service on these Terms of Use for the duration of payment of fees, unless otherwise terminated.
            </li>
            <li>
                The User may register and use the Service for the User's business purposes.
            </li>
            <li>
                FoodTrade reserves the right to change, suspend, remove, or disable access to the Service at any time without notice. In no event will FoodTrade be liable for loss of Service. Service fees may be refunded pro-rata at our discretion.
            </li>
        </ol>
    </li>
    <li>Consent to use and processing of data
        <br> The User agrees that the FoodTrade may handle personal information in accordance with the Privacy Policy which forms part of these Terms of Use.
    </li>
    <li>Restrictions
        <br> The User shall not:
        <ol>
            <li> duplicate the Service</li>
            <li> sell, re-sell, rent, lease, lend, redistribute or financially exploit the Service</li>
            <li> permit the Service to be combined with or incorporated into any other service or program, unless with prior written consent</li>
            <li>use the Service for illegal activities</li>
            <li>behave fraudulently</li>
        </ol>
    </li>
    <li>Intellectual Property
        <ol>
            <li>The User acknowledges that:
                <ol>
                    <li>all intellectual property rights in the Service belong to the FoodTrade</li>
                    <li>they have no rights in the Service</li>
                    <li>they have no right to have access to the Service in source code form</li>
                </ol>
            </li>
            <li>FoodTrade will be responsible for the investigation, defence, or settlement of any intellectual property infringement claim.  
            </li>
        </ol>
    </li>
    <li>No warranty
    <br>    
        The User agrees that use of the Service is at the User's sole risk, and that the entire responsibility for accuracy ends with the User. 
        To the maximum extent permitted by applicable law, the Services are provided without warranty of any kind, and FoodTrade hereby disclaims all warranties and conditions with respect to the Services - either express, implied or statutory - including, but not limited to, the implied warranties and/ or conditions of merchantability, of satisfactory quality, of fitness for a particular purpose, of accuracy, and non-infringement of third party rights.  FoodTrade does not warrant that the Service will meet the requirements of the User, that the operation of the Service will be uninterrupted, nor free from errors, nor that defects in the Service will be corrected. No information given by the FoodTrade or its authorised representatives will create a warranty. 
</li>
<li>
Limitation of liability
<br>
The User acknowledges that it is their responsibility to ensure that the outputs and functions of the Service meet their requirements. 
</p>
<p>
6.2 The FoodTrade is not in any way responsible for the use made by the User of the Service. The User understands that certain risks are inherent in the identification of food allergens, and the User assumes sole responsibility for any data entry or amendments made to existing data held against the User’s account, relating to food allergens.
</p>
<p>
6.3 To the extent not prohibited by law, in no event shall the FoodTrade be liable for personal injury, or any incidental, special, indirect, consequential or punitive damages whatsoever, including, without limitation:
</p>
<p>
(a) loss of profit.
<br>
(b) loss of business,
<br>
(c) business interruption,
<br>
(d) loss of business opportunity,
<br>
(e) loss of data or
<br>
(f) any other commercial damages or losses
<br>
arising out of or related to the User's use or inability to use the Service, however caused, whether in contract, tort or otherwise and even if the FoodTrade has been advised of the possibility of such damages.
</p>
<p>
6.4 In no event shall the FoodTrade's total liability to the User for all damages exceed the amount of fifty euros (50.00).
</p>
<p>
6.5 The FoodTrade is responsible for addressing any claims of the User or any third party relating to the Service or the User's possession and/ or use of the Service, including, but not limited to: (a) product liability claims, (b) any claim that the Service fails to conform to any applicable legal or regulatory requirement and (c) claims arising under consumer protection or similar legislation.
</li>
<li>
7. Conditions precedent
<br>
7.1 The User represents and warrants that he or she:
</p>
<p>
(a) is legally competent;
<br>
(b) if legally incompetent, has obtained a verifiable consent from his or her legal guardian(s), as required under applicable law to accept the terms and conditions of these Terms of Use;
<br>
(c) is not located in a country that is subject to a UK. Government embargo or that has been designated by the UK. Government as a 'terrorist supporting' country; and
<br>
(d) is not listed on any UK. Government list of prohibited or restricted parties.
</li>
<li>
8. Termination
<br>
8.1 The Service is effective until terminated by the User or the FoodTrade. The User's rights under the Service shall terminate automatically without notice from the FoodTrade if the User fails to comply with any term or condition of these Terms of Use.
</p>
<p>
8.2 If any Service fees have been paid by the User for use of the Service, termination shall take effect 30 days after the notice of termination was sent to the other party in writing. Otherwise the termination shall take effect immediately.
</p>
<p>
8.3 Upon termination of the Service, the User shall cease all use of the Service and destroy all copies, full or partial, of the Service in the User's possession.
</p>
<p>
8.4 If any fees have been paid by the User for use of the Service and the Service is terminated by the FoodTrade, the FoodTrade shall recompense the User pro rata for his or her loss.
</li>
<li>
9. Other terms
<br>
9.1 The FoodTrade may transfer its rights and obligations under these Terms of Use to another person. The User may not transfer his or her rights or obligations under these Terms of Use to another person.
</p>
<p>
9.2 Each of the conditions of these Terms of Use operates separately. If any court or competent authority decided that any of them are unlawful or unenforceable, the remaining conditions will remain in full force and effect.
</p>
<p>
9.3 The laws of England, govern these Terms of Use and the User's use of the Service. The User's use of the Service may also be subject to other local, state, national or international laws. To the extent not prohibited by applicable law, the courts of England shall have jurisdiction.
</p>
</li>
<li>
10. Variations
<br>
10.1 The FoodTrade is entitled to revise these Terms of Use at any time. The FoodTrade shall notify the User of any revisions with reasonable notice, at the FoodTrade's sole discretion, through the Service, but email, via an online service or otherwise, or using any combination of the foregoing.
</p>
<p>
10.2 If the User does not agree to the revised Terms of Use, he or she will not be bound by them If the User ceases all use of the Service and destroys all copies, full or partial, of the Service in the User's possession prior to the revision's becoming effective. The fourth paragraph of Section 8.4 shall apply to the refund of Service fees.
</p>
</li>
<li>
11. Disclaimer
<br>
vitalCustomer provides through its service the provision to store food/ menu lists with the associated food allergen profile of the food item. Sustaination Ltd through its provision of the vitalCustomer service takes no responsibility or liability for the allergen profile content captured, stored and maintained in the vitalCustomer system. It is the responsibility of the User to ensure the accuracy of the allergen data held.
</li>
<li>
12. Developer name and address
<br>
The FoodTrade is solely responsible for the Service and its content. Any questions, complaints or claims with respect to the Service should be directed to:
</li>
<p>
    Sustaination Ltd, Farthing Corner, West Tytherley, Salisbury, Wilts, SP5 1NR </p>
    <p>
E-mail:
<a href="mailto:ed@foodtrade.com">ed@foodtrade.com</a>
</p> 







      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
